LoadPlugin			openvpn
<Plugin openvpn>
    StatusFile			"{{ openvpn_log_dir }}/openvpn-status.log"
    ImprovedNamingSchema	false
    CollectCompression		{{ collectd_openvpn_compress }}
    CollectIndividualUsers	{{ collectd_openvpn_individuals }}
    CollectUserCount		{{ collectd_openvpn_usercount }}
</Plugin>
