<LDAP>
    URL		ldaps://{{ dirhost }}
    BindDN	cn=openvpn,ou=services,{{ dirbase }}
    Password	{{ ldap_openvpn_psk }}
    Timeout	15
</LDAP>

<Authorization>
    BaseDN		"ou=users,{{ dirbase }}"
    SearchFilter	"(uid=%u)"
    RequireGroup	false
</Authorization>
