{{ openvpn_log_dir }}/openvpn.log {
    delaycompress
    missingok
    notifempty
    rotate {{ openvpn_log_week_retention }}
    sharedscripts
    weekly
    postrotate
	{{ service_bin }} openvpn restart >/dev/null 2>&1 || true
    endscript
}
