client-cert-not-required
comp-lzo
{% if vpn_openbar is defined %}
duplicate-cn
{% endif %}
persist-key
persist-tun
username-as-common-name

ca			{{ openvpn_conf_dir }}/ssl/service-chain.crt
cert			{{ openvpn_conf_dir }}/ssl/server.crt
dev			tun0
dh			{{ openvpn_conf_dir }}/ssl/dh4096.pem
;group			nogroup
ifconfig-pool-persist	{{ openvpn_conf_dir }}/server-persistent-pool.txt
keepalive		10 120
key			{{ openvpn_conf_dir }}/ssl/server.key
log-append		{{ openvpn_log_dir }}/openvpn.log
mute			20
plugin			/usr/lib/openvpn/openvpn-auth-ldap.so {{ openvpn_conf_dir }}/auth/auth-ldap.conf
port			{{ openvpn_port }}
proto			{{ openvpn_proto }}
push			"redirect-gateway def1"
{% if vpn_with_dns is defined %}
push			"dhcp-option DNS {{ dns_one }}"
{% endif %}
server			{{ openvpn_base_net }}
status			{{ openvpn_log_dir }}/openvpn-status.log
;user			nobody
verb			3
