#!/bin/sh

{% if mrtg_web_front == "apache" or mrtg_rrdtool or mrtg_weathermap %}
{% set usecgi = true %}
{% else %}
{% set usecgi = false %}
{% endif %}
MRTG_ROOT={{ apache_serverroot }}/mrtg
{% if usecgi %}
BASE_URL="http://mrtg.{{ ansible_domain }}/cgi-bin/14all.cgi?log="
{% else %}
BASE_URL="http://mrtg.{{ ansible_domain }}/"
{% endif %}
unset http_proxy

cd $MRTG_ROOT
for node in `find . -name '*.cfg' | sed 's|\./[^/]*/\([^.]*\).cfg|\1|'`
do
    for probe in `grep '^Target\[' $node/$node.cfg | sed 's|^Target.\([^_]*_[0-9]*\).*|\1|'`
    do
{% if usecgi %}
	basefile="$BASE_URL$probe&cfg=$node.cfg&png="
	sfx=
{% else %}
	basefile="$BASE_URL$node/$probe-"
	sfx=.png
{% endif %}
	for period in daily weekly monthly yearly
	do
	    check=false
	    case $period in
		daily)
		    check=true
		    ;;
		weekly)
		    check=`date +%w`
		    test "$check" = {{ mrtg_weekday_wbackup }} && check=true
		    ;;
		monthly)
		    check=`date +%d`
		    test "$check" = {{ mrtg_monthday_mbackup }} -o "$check" = 0{{ mrtg_monthday_mbackup }} && check=true
		    ;;
		yearly)
		    check=`date +%m%d`
		    test "$check" = "0101" && check=true
		    ;;
	    esac
	    if $check; then
		out=$MRTG_ROOT/vortex/$probe-`date +%y%m%d`-$period.png
		if ! test -s $out; then
		    wget --no-proxy "$basefile$period$sfx" -O $out
		fi
	    fi
	done
    done
done

exit 0
