var head = '<ul class="groupview">';
var marcday = {{ mrtg_monthday_mbackup }};
var tail = '</ul>';
var usecgi = {% if mrtg_web_front == "apache" or mrtg_rrdtool or mrtg_weathermap %}true{% else %}false{% endif %};
var weathermap = '{% if mrtg_web_proto is defined %}{{ mrtg_web_proto }}{% else %}http{% endif %}://{% if weathermap_vhost_alias is defined %}{{ weathermap_vhost_alias }}{% elif mrtg_vhost_alias is defined %}{{ mrtg_vhost_alias }}{% else %}{{ ansible_fqdn }}{% endif %}/weathermap.png';
var warcday = {{ mrtg_weekday_wbackup }};
