<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
          "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css" type="text/css" /> 
    <link rel="stylesheet" href="./css/lightbox.css" type="text/css" /> 
    <title>[M]ulti [R]outer [T]raffic [G]rapher</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
    <meta http-equiv="expires" content="Wed, 01 Jan 1970 00:00:42 GMT" />
    <meta http-equiv="pargma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="author" content="Bibi-copypasta from Munin" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="./favicon.ico" />
    <link rel="SHORTCUT ICON" href="./favicon.ico" />
    <script language="javascript" src="./js/jquery-1.10.2.min.js"></script>
    <script language="javascript" src="./js/lightbox-2.6.min.js"></script>
    <script language="javascript" src="./js/sources.js"></script>
    <script language="javascript" src="./js/config.js"></script>
    <script language="javascript" src="./js/mrtg.js"></script>
</head>
<body onload='loadindex()'>
    <div id="header">
	<h1><a href="."><span class="logo"></span></a> <span class="currentpage">{{ keyorg }}</span></h1>
    </div>
    <div id="main">
	<div id="nav">
	</div>
	<div id="content">
	</div>
    </div>
    <div id="footer">
	<p class="tagline">Static page inspired from <a href="http://www.munin-monitoring.org/">Munin</a></p>
    </div>
</body>
</html>
