#!/bin/sh

SRVROOT={{ apache_serverroot }}/mrtg
community={{ mrtg_community }}
doimport=true

while test "$1"
do
    case x$1 in
	x[0-9]*.[0-9]*.[0-9]*.[0-9]*)
	    addr=$1
	    if test -z "$hostname"; then
		hostname=$1
	    fi
	    ;;
	donotimport)
	    doimport=false
	    ;;
	x[a-zA-Z0-9]*)
	    if test -z "$hostname"; then
		hostname=$1
		if test -z "$addr"; then
		    addr=`host $1 | awk '/has address/{print $4; exit;}'`
		fi
	    else
		community=$1
	    fi
	    ;;
    esac
    shift
done

if test "$hostname" -a "$addr"; then
    mkdir -p $SRVROOT/$hostname
    if ! cfgmaker --global "WorkDir: $SRVROOT/$hostname/" \
		  --global 'Options[_]:bits,growright' \
{% if mrtg_rrdtool or mrtg_weathermap %}
		  --global 'LogFormat: rrdtool' \
{% endif %}
		  --output $SRVROOT/$hostname/$hostname.cfg \
		  $community@$addr; then
	echo Failed declaring $hostname >&2
	exit 1
{% if mrtg_rrdtool or mrtg_weathermap %}
    else
	ln -sf $SRVROOT/$hostname/$hostname.cfg /usr/lib/cgi-bin/$hostname.cfg
{% endif %}
    fi

    if $doimport; then
	LANG=C mrtg $SRVROOT/$hostname/$hostname.cfg
	indexmaker --output=$SRVROOT/$hostname/index.html \
	    $SRVROOT/$hostname/$hostname.cfg
    fi

    exit 0
fi

exit 1
