#!/bin/sh

export PATH=/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin
MRTG_ROOT={{ apache_serverroot }}/mrtg

cd $MRTG_ROOT
for node in `find . -name '*.cfg' | sed 's|\./[^/]*/\([^.]*\).cfg|\1|'`
do
    env LANG=C mrtg $MRTG_ROOT/$node/$node.cfg
    genindex=false
    if ! test -e $MRTG_ROOT/$node/index.html; then
	genindex=true
    elif find $MRTG_ROOT -name $node.cfg -newer $node/index.html | grep $node; then
	genindex=true
    fi
    if $genindex; then
	indexmaker --output=$MRTG_ROOT/$node/index.html $MRTG_ROOT/$node/$node.cfg
    fi
done

{% if mrtg_weathermap %}
weathermap

exit $?
{% else %}
exit 0
{% endif %}
