$ModLoad imfile
{% for channel in subsonic_rsyslog_channels %}

$InputFileName		{{ subsonic_srvroot }}/{{ channel }}.log
$InputFileTag		{{ channel }}:
$InputFileStateFile	{{ channel }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
