{% for itf in carp_definition %}
{% if itf['dhcp'] is defined %}
{% if itf['dhcp'] == true %}
command[check_dhcrelay{{ itf['ifname'] }}]={{ nagios_probe_dir }}/check_dhcrelay {{ itf['ifname'] }}
{% endif %}
{% endif %}
{% endfor %}
