#!/bin/sh

ITFLIST="{% for itf in carp_definition %}{% if itf['dhcp'] is defined %}{% if itf['dhcp'] == true %}{{ itf['ifname'] }} {% endif %}{% endif %}{% endfor %}"

for vlan in $ITFLIST
do
    if ps ax | grep "d[h]crelay -i $vlan " >/dev/null; then
	continue
    fi
    dhcrelay -i $vlan {{ dhcp_one }} {{ dhcp_too }}
done

exit 0
