LOG_RENDERING_PERFORMANCE = True
LOG_CACHE_PERFORMANCE = True
LOG_METRIC_ACCESS = True
DEBUG = False
#FLUSHRRDCACHED = 'unix:/var/run/rrdcached.sock'
MEMCACHE_HOSTS = [{% if graphite_memcache_cluster is defined %}{% for remote in graphite_memcache_cluster %}'{{ remote }}',{% endfor %}'{{ memcache_bind_addr }}:{{ memcache_port }}'{% else %}'{{ memcache_bind_addr }}:{{ memcache_port }}'{% endif %}]
DEFAULT_CACHE_DURATION = 60
GRAPHITE_ROOT = '/opt/graphite'
CONF_DIR = '/opt/graphite/conf'
STORAGE_DIR = '/opt/graphite/storage'
CONTENT_DIR = '/opt/graphite/webapp/content'
#DASHBOARD_CONF = '/opt/graphite/conf/dashboard.conf'
#GRAPHTEMPLATES_CONF = '/opt/graphite/conf/graphTemplates.conf'
#WHISPER_DIR = '/opt/graphite/storage/whisper'
#RRD_DIR = '/opt/graphite/storage/rrd'
#DATA_DIRS = [WHISPER_DIR, RRD_DIR] # Default: set from the above variables
#LOG_DIR = '/opt/graphite/storage/log/webapp'
#INDEX_FILE = '/opt/graphite/storage/index'  # Search index file
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'localhost'
EMAIL_PORT = 25
EMAIL_USE_TLS = False
{% if graphite_ldap_psk is defined %}
USE_LDAP_AUTH = True
LDAP_URI = "ldaps://{{ dirhost }}:636"
LDAP_SEARCH_BASE = "ou=users,{{ dirbase }}"
LDAP_BASE_USER = "cn=graphite,ou=services,{{ dirbase }}"
LDAP_BASE_PASS = "{{ graphite_ldap_psk }}"
LDAP_USER_QUERY = "(cn=%s)"
#ldap.set_option(ldap.OPT_X_TLS_DEMAND, True)
#ldap.set_option(ldap.OPT_X_TLS_CACERTDIR, "/etc/ssl/certs")
#ldap.set_option(ldap.OPT_X_TLS_CERTFILE, "/etc/ssl/certs/UTGB.pem")
{% endif %}
#USE_REMOTE_USER_AUTHENTICATION = True
#LOGIN_URL = '/account/login'

#DATABASES = {
#    'default': {
#        'NAME': '/opt/graphite/storage/graphite.db',
#        'ENGINE': 'django.db.backends.sqlite3',
#        'USER': '',
#        'PASSWORD': '',
#        'HOST': '',
#        'PORT': ''
#    }
#}

# (To avoid excessive DNS lookups you want to stick to using IP addresses only in this entire section)
#CLUSTER_SERVERS = ["10.0.2.2:80", "10.0.2.3:80"]
#REMOTE_STORE_FETCH_TIMEOUT = 6   # Timeout to fetch series data
#REMOTE_STORE_FIND_TIMEOUT = 2.5  # Timeout for metric find requests
#REMOTE_STORE_RETRY_DELAY = 60    # Time before retrying a failed remote webapp
#REMOTE_FIND_CACHE_DURATION = 300 # Time to cache remote metric find results
#REMOTE_RENDERING = True
#RENDERING_HOSTS = []
#REMOTE_RENDER_CONNECT_TIMEOUT = 1.0
#CARBONLINK_HOSTS = ["127.0.0.1:7002:a", "127.0.0.1:7102:b", "127.0.0.1:7202:c"]
#CARBONLINK_TIMEOUT = 1.0
