    local-zone: "0-breastsex.com" redirect
    local-data: "0-breastsex.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0-vs-codec-pro.com" redirect
    local-data: "0-vs-codec-pro.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "000-000.cn" redirect
    local-data: "000-000.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0027.info" redirect
    local-data: "0027.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0029.info" redirect
    local-data: "0029.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0a4.ru" redirect
    local-data: "0a4.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0a9.ru" redirect
    local-data: "0a9.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0aq.ru" redirect
    local-data: "0aq.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ax.ru" redirect
    local-data: "0ax.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0b8.ru" redirect
    local-data: "0b8.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0bartsd.com" redirect
    local-data: "0bartsd.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0bc.ru" redirect
    local-data: "0bc.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0c8.ru" redirect
    local-data: "0c8.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0c9.ru" redirect
    local-data: "0c9.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0cg.ru" redirect
    local-data: "0cg.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0cj.ru" redirect
    local-data: "0cj.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ck.ru" redirect
    local-data: "0ck.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0cn.ru" redirect
    local-data: "0cn.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0cq.ru" redirect
    local-data: "0cq.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0d2.ru" redirect
    local-data: "0d2.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0dk.ru" redirect
    local-data: "0dk.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0e3.ru" redirect
    local-data: "0e3.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0eb.ru" redirect
    local-data: "0eb.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ec.ru" redirect
    local-data: "0ec.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ev.ru" redirect
    local-data: "0ev.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ey.ru" redirect
    local-data: "0ey.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0f4.ru" redirect
    local-data: "0f4.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0fb.ru" redirect
    local-data: "0fb.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0fc.ru" redirect
    local-data: "0fc.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0fd.ru" redirect
    local-data: "0fd.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0fg.ru" redirect
    local-data: "0fg.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0fj.ru" redirect
    local-data: "0fj.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ft.ru" redirect
    local-data: "0ft.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0g6.ru" redirect
    local-data: "0g6.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0g7.ru" redirect
    local-data: "0g7.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0gu.ru" redirect
    local-data: "0gu.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0gv.ru" redirect
    local-data: "0gv.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0hn.ru" redirect
    local-data: "0hn.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0i4.ru" redirect
    local-data: "0i4.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ia.ru" redirect
    local-data: "0ia.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ij.ru" redirect
    local-data: "0ij.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0j1.ru" redirect
    local-data: "0j1.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0jb.ru" redirect
    local-data: "0jb.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0jf.ru" redirect
    local-data: "0jf.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0jl.ru" redirect
    local-data: "0jl.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0jt.ru" redirect
    local-data: "0jt.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0jx.ru" redirect
    local-data: "0jx.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0knife.ru" redirect
    local-data: "0knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0lk.ru" redirect
    local-data: "0lk.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0lq.ru" redirect
    local-data: "0lq.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0m5.ru" redirect
    local-data: "0m5.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0n4.ru" redirect
    local-data: "0n4.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0n8.ru" redirect
    local-data: "0n8.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0nlinerxmarket.com" redirect
    local-data: "0nlinerxmarket.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0nlinerxstore.com" redirect
    local-data: "0nlinerxstore.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0nlinerxstores.com" redirect
    local-data: "0nlinerxstores.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0nlinerxstoretoday.com" redirect
    local-data: "0nlinerxstoretoday.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ob.ru" redirect
    local-data: "0ob.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0pop.com" redirect
    local-data: "0pop.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0ptin0ffers.net" redirect
    local-data: "0ptin0ffers.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0qf.ru" redirect
    local-data: "0qf.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0rdermeds0nline.com" redirect
    local-data: "0rdermeds0nline.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0rderyourmeds0nline.com" redirect
    local-data: "0rderyourmeds0nline.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0rderyourmedsnow.com" redirect
    local-data: "0rderyourmedsnow.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "0xt1ikrevevww.cn" redirect
    local-data: "0xt1ikrevevww.cn A {{ ansible_default_ipv4["address"] }}"
