    local-zone: "1-2-0-0-play.net" redirect
    local-data: "1-2-0-0-play.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1-buy-internet-security-2010.com" redirect
    local-data: "1-buy-internet-security-2010.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1-central.org" redirect
    local-data: "1-central.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1-datanet.com" redirect
    local-data: "1-datanet.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1-open-davinci.com" redirect
    local-data: "1-open-davinci.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1-vs-codec-pro.com" redirect
    local-data: "1-vs-codec-pro.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "10-open-davinci.com" redirect
    local-data: "10-open-davinci.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "100-open-davinci.com" redirect
    local-data: "100-open-davinci.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1001drug.com" redirect
    local-data: "1001drug.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1001question.info" redirect
    local-data: "1001question.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "100topbest.com" redirect
    local-data: "100topbest.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "101inks.com" redirect
    local-data: "101inks.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "102watches.com" redirect
    local-data: "102watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "103watches.com" redirect
    local-data: "103watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "105watches.com" redirect
    local-data: "105watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "106watches.com" redirect
    local-data: "106watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "109.95.114.251" redirect
    local-data: "109.95.114.251 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "10inchesbig.com" redirect
    local-data: "10inchesbig.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "10knife.ru" redirect
    local-data: "10knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11-44.com" redirect
    local-data: "11-44.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11-55.cn" redirect
    local-data: "11-55.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "111sax.co.uk" redirect
    local-data: "111sax.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "119.207.71.42" redirect
    local-data: "119.207.71.42 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11availableworld.com" redirect
    local-data: "11availableworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11cheapguide.com" redirect
    local-data: "11cheapguide.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11dnscheap.com" redirect
    local-data: "11dnscheap.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11dnsfreedirect.com" redirect
    local-data: "11dnsfreedirect.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11dnsfreeworld.com" redirect
    local-data: "11dnsfreeworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11dnsunoccupied.com" redirect
    local-data: "11dnsunoccupied.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11dnsunrestricted.com" redirect
    local-data: "11dnsunrestricted.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11f1lk1.net" redirect
    local-data: "11f1lk1.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11f1lkh.com" redirect
    local-data: "11f1lkh.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11f1lki.com" redirect
    local-data: "11f1lki.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11f1lki.net" redirect
    local-data: "11f1lki.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11f1lkl.com" redirect
    local-data: "11f1lkl.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11f1lkl.net" redirect
    local-data: "11f1lkl.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11hilf.com" redirect
    local-data: "11hilf.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11hilf.net" redirect
    local-data: "11hilf.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11knife.ru" redirect
    local-data: "11knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "11nameservicefree.com" redirect
    local-data: "11nameservicefree.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1200euro-free.net" redirect
    local-data: "1200euro-free.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12107273vn0uf1c5j688.com" redirect
    local-data: "12107273vn0uf1c5j688.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1210tfarml8t9r9o0r710.com" redirect
    local-data: "1210tfarml8t9r9o0r710.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12117ba81boguhesrih7.com" redirect
    local-data: "12117ba81boguhesrih7.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1211eugkqlp70jpxf2a7.com" redirect
    local-data: "1211eugkqlp70jpxf2a7.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1212b0anuykot08vmyr4.com" redirect
    local-data: "1212b0anuykot08vmyr4.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1212koqf6v65goujnvb7.com" redirect
    local-data: "1212koqf6v65goujnvb7.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1213auglci7wt6ewl4d6.com" redirect
    local-data: "1213auglci7wt6ewl4d6.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1213xrrl6eaw3zg73kz3.com" redirect
    local-data: "1213xrrl6eaw3zg73kz3.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12149nsoxtb3bqjlqq65.com" redirect
    local-data: "12149nsoxtb3bqjlqq65.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1214zapopddfcxcaosf2.com" redirect
    local-data: "1214zapopddfcxcaosf2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12153rr2azv3ee295go10.com" redirect
    local-data: "12153rr2azv3ee295go10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1215phx118fw1c2ztff3.com" redirect
    local-data: "1215phx118fw1c2ztff3.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1215q04k8y9b7szjpyi6.com" redirect
    local-data: "1215q04k8y9b7szjpyi6.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1215qhb0jc1c3nn2ydb2.com" redirect
    local-data: "1215qhb0jc1c3nn2ydb2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1216hflve47abwg5cvm2.com" redirect
    local-data: "1216hflve47abwg5cvm2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1216xrgqcaika5ajixs8.com" redirect
    local-data: "1216xrgqcaika5ajixs8.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12170hx8j31qsqmaybq1.com" redirect
    local-data: "12170hx8j31qsqmaybq1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1217912m48xf5djh97k3.com" redirect
    local-data: "1217912m48xf5djh97k3.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1217e0uc46eewy1mo6h6.com" redirect
    local-data: "1217e0uc46eewy1mo6h6.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1217igr9ckowuvpj3dq4.com" redirect
    local-data: "1217igr9ckowuvpj3dq4.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1217m5hrxhrgeq5yz3c10.com" redirect
    local-data: "1217m5hrxhrgeq5yz3c10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1217mcryuyun49jocxy6.com" redirect
    local-data: "1217mcryuyun49jocxy6.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1218ktvfrg4lpbhc09y4.com" redirect
    local-data: "1218ktvfrg4lpbhc09y4.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1218tmtw56k337vcshr4.com" redirect
    local-data: "1218tmtw56k337vcshr4.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1219adlbq54c8ufsdtk5.com" redirect
    local-data: "1219adlbq54c8ufsdtk5.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1219g0w7n0l17yavqp23.com" redirect
    local-data: "1219g0w7n0l17yavqp23.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1219gyg1uth9qxcfi2p8.com" redirect
    local-data: "1219gyg1uth9qxcfi2p8.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1219n3m34gjqlfkyvd13.com" redirect
    local-data: "1219n3m34gjqlfkyvd13.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1219pap7ujq41bav8y82.com" redirect
    local-data: "1219pap7ujq41bav8y82.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1219sfc7adshmmcc47a8.com" redirect
    local-data: "1219sfc7adshmmcc47a8.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121a8s1sq8dr7eph1uc5.com" redirect
    local-data: "121a8s1sq8dr7eph1uc5.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121ai533ptewbv7du0j2.com" redirect
    local-data: "121ai533ptewbv7du0j2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121am83bg0xnf7iswrv6.com" redirect
    local-data: "121am83bg0xnf7iswrv6.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121ax6khhktj9hl8uwo2.com" redirect
    local-data: "121ax6khhktj9hl8uwo2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121b4851x8bf8mjefii10.com" redirect
    local-data: "121b4851x8bf8mjefii10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121bd6hoj066wiizot58.com" redirect
    local-data: "121bd6hoj066wiizot58.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121bpq3u967i92i0ed07.com" redirect
    local-data: "121bpq3u967i92i0ed07.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121ca0jh8nz3wvqgbkq2.com" redirect
    local-data: "121ca0jh8nz3wvqgbkq2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121dec6buwr0nw8myjb10.com" redirect
    local-data: "121dec6buwr0nw8myjb10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121do86btc625eqd6wy10.com" redirect
    local-data: "121do86btc625eqd6wy10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121dqkldbh2ljbyi3fo6.com" redirect
    local-data: "121dqkldbh2ljbyi3fo6.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121dqmrjlmodw6mwoqi1.com" redirect
    local-data: "121dqmrjlmodw6mwoqi1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121dzyb9rspmrgv4gq57.com" redirect
    local-data: "121dzyb9rspmrgv4gq57.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121e9qzzbo6l9vinwt37.com" redirect
    local-data: "121e9qzzbo6l9vinwt37.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121ee1pkqwtfj08sp8o4.com" redirect
    local-data: "121ee1pkqwtfj08sp8o4.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121elg93ma8adrw1m8h9.com" redirect
    local-data: "121elg93ma8adrw1m8h9.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121evnlc2djrl3r4kje5.com" redirect
    local-data: "121evnlc2djrl3r4kje5.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121fb8esklqb7iga2z41.com" redirect
    local-data: "121fb8esklqb7iga2z41.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121fq0mej8eq6olwdmv3.com" redirect
    local-data: "121fq0mej8eq6olwdmv3.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121fzmnqfdc7t900zda7.com" redirect
    local-data: "121fzmnqfdc7t900zda7.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121g7nisxq3ahzb58sy10.com" redirect
    local-data: "121g7nisxq3ahzb58sy10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121h77atg626o3jmnva9.com" redirect
    local-data: "121h77atg626o3jmnva9.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121h9psyqoqkv97o9f79.com" redirect
    local-data: "121h9psyqoqkv97o9f79.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121hhdk88y4iu0vojft2.com" redirect
    local-data: "121hhdk88y4iu0vojft2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121hpjtsp97l779vcp06.com" redirect
    local-data: "121hpjtsp97l779vcp06.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121hq5oloeoppykxxrf2.com" redirect
    local-data: "121hq5oloeoppykxxrf2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121i8qzfdzhav9q7sge2.com" redirect
    local-data: "121i8qzfdzhav9q7sge2.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121iaajl0fnoupxz6ma10.com" redirect
    local-data: "121iaajl0fnoupxz6ma10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121j5ye9j3oo1i6l5wg5.com" redirect
    local-data: "121j5ye9j3oo1i6l5wg5.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121k2q6b6tzzixyoj0x10.com" redirect
    local-data: "121k2q6b6tzzixyoj0x10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121kp2y90czf2lbf88j3.com" redirect
    local-data: "121kp2y90czf2lbf88j3.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121l48kq1dt9ieesehr1.com" redirect
    local-data: "121l48kq1dt9ieesehr1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121lklcwwuh8yrqhpjt8.com" redirect
    local-data: "121lklcwwuh8yrqhpjt8.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121loktpvh6pykiq3z27.com" redirect
    local-data: "121loktpvh6pykiq3z27.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121lp7ysn0v8oi2dykb9.com" redirect
    local-data: "121lp7ysn0v8oi2dykb9.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121mikq8xwygy3shwbj4.com" redirect
    local-data: "121mikq8xwygy3shwbj4.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121ntdfaq1wru7ims199.com" redirect
    local-data: "121ntdfaq1wru7ims199.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121o0h13u65yjuboqav10.com" redirect
    local-data: "121o0h13u65yjuboqav10.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121o3vqxj1ry144k0as9.com" redirect
    local-data: "121o3vqxj1ry144k0as9.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121oj80r6h3ba3vz1dv6.com" redirect
    local-data: "121oj80r6h3ba3vz1dv6.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121p96rv4log5ythklq5.com" redirect
    local-data: "121p96rv4log5ythklq5.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121p99q438ct6o9npyc9.com" redirect
    local-data: "121p99q438ct6o9npyc9.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121qduh9d3pthfcgy5f1.com" redirect
    local-data: "121qduh9d3pthfcgy5f1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121rt3oc4gb4kentpfj9.com" redirect
    local-data: "121rt3oc4gb4kentpfj9.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121s5rea7p80onfr9f14.com" redirect
    local-data: "121s5rea7p80onfr9f14.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121sbel3myutdjaddmr5.com" redirect
    local-data: "121sbel3myutdjaddmr5.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121sq4my0tghuyq0czu7.com" redirect
    local-data: "121sq4my0tghuyq0czu7.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121stp1qly7k1z2xal64.com" redirect
    local-data: "121stp1qly7k1z2xal64.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121sy4iygc7yrlr64ji1.com" redirect
    local-data: "121sy4iygc7yrlr64ji1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121t633ef2tgm6wucfs3.com" redirect
    local-data: "121t633ef2tgm6wucfs3.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121t6adqx35t8qpwh9o1.com" redirect
    local-data: "121t6adqx35t8qpwh9o1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121ulk4zmss496k70z41.com" redirect
    local-data: "121ulk4zmss496k70z41.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121uok39nrwo03adyqg5.com" redirect
    local-data: "121uok39nrwo03adyqg5.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121ux0tnyj9urfjzupe9.com" redirect
    local-data: "121ux0tnyj9urfjzupe9.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121ve1a7her7p9jzhis5.com" redirect
    local-data: "121ve1a7her7p9jzhis5.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121vhmyl3hcnxwmtamm4.com" redirect
    local-data: "121vhmyl3hcnxwmtamm4.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121vyb7pg02n5hfhaz75.com" redirect
    local-data: "121vyb7pg02n5hfhaz75.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121vzsga2o1gfjsyxa46.com" redirect
    local-data: "121vzsga2o1gfjsyxa46.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121wgqmv5z2x9b88phm7.com" redirect
    local-data: "121wgqmv5z2x9b88phm7.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121wpz5ufl6fasebhr31.com" redirect
    local-data: "121wpz5ufl6fasebhr31.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121wzjs5pc7rj24cjui4.com" redirect
    local-data: "121wzjs5pc7rj24cjui4.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121x2qgbtltr91mp0em8.com" redirect
    local-data: "121x2qgbtltr91mp0em8.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121x8lwj035iyn7vg0r8.com" redirect
    local-data: "121x8lwj035iyn7vg0r8.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121xphypoemoqook4453.com" redirect
    local-data: "121xphypoemoqook4453.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121xzet4du2m79uvqgt8.com" redirect
    local-data: "121xzet4du2m79uvqgt8.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121y62ala99qfribieh6.com" redirect
    local-data: "121y62ala99qfribieh6.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121yo02rgdlm2t0qsmh9.com" redirect
    local-data: "121yo02rgdlm2t0qsmh9.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121yq4ltai0fwtw5zhd3.com" redirect
    local-data: "121yq4ltai0fwtw5zhd3.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "121zy9uetzu5r0g01j51.com" redirect
    local-data: "121zy9uetzu5r0g01j51.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "123grow.cn" redirect
    local-data: "123grow.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "123medicine.info" redirect
    local-data: "123medicine.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "123meds.info" redirect
    local-data: "123meds.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "123pharmacy.info" redirect
    local-data: "123pharmacy.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "123pharmacyrx.com" redirect
    local-data: "123pharmacyrx.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszh.com.pl" redirect
    local-data: "12aszh.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszi.com.pl" redirect
    local-data: "12aszi.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszk.com.pl" redirect
    local-data: "12aszk.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszl.com.pl" redirect
    local-data: "12aszl.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszo.com.pl" redirect
    local-data: "12aszo.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszp.com.pl" redirect
    local-data: "12aszp.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszr.com.pl" redirect
    local-data: "12aszr.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszt.com.pl" redirect
    local-data: "12aszt.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszw.com.pl" redirect
    local-data: "12aszw.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12aszy.com.pl" redirect
    local-data: "12aszy.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12knife.ru" redirect
    local-data: "12knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "12meds.com" redirect
    local-data: "12meds.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "13knife.ru" redirect
    local-data: "13knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "13men.info" redirect
    local-data: "13men.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "13women.info" redirect
    local-data: "13women.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "140.112.143.207" redirect
    local-data: "140.112.143.207 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "145.236.228.89" redirect
    local-data: "145.236.228.89 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "14knife.ru" redirect
    local-data: "14knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "152.74.16.10" redirect
    local-data: "152.74.16.10 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "15hostgooddirect.com" redirect
    local-data: "15hostgooddirect.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "15knife.ru" redirect
    local-data: "15knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "163.30.180.155" redirect
    local-data: "163.30.180.155 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "163.32.57.6" redirect
    local-data: "163.32.57.6 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "168.144.100.218" redirect
    local-data: "168.144.100.218 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "168.144.85.49" redirect
    local-data: "168.144.85.49 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1816.info" redirect
    local-data: "1816.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "187.45.222.182" redirect
    local-data: "187.45.222.182 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "188.40.226.24" redirect
    local-data: "188.40.226.24 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "188.40.226.81" redirect
    local-data: "188.40.226.81 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "18knife.ru" redirect
    local-data: "18knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "193.104.110.124" redirect
    local-data: "193.104.110.124 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "193.104.110.80" redirect
    local-data: "193.104.110.80 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "193.104.110.81" redirect
    local-data: "193.104.110.81 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "193.124.243.200" redirect
    local-data: "193.124.243.200 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "193.200.113.196" redirect
    local-data: "193.200.113.196 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "193.255.124.7" redirect
    local-data: "193.255.124.7 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "193.28.86.104" redirect
    local-data: "193.28.86.104 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "198.76.224.169" redirect
    local-data: "198.76.224.169 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "19knife.ru" redirect
    local-data: "19knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1andonly-stage-2victory.cn" redirect
    local-data: "1andonly-stage-2victory.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1daycasinos.net" redirect
    local-data: "1daycasinos.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1dayplaying.com" redirect
    local-data: "1dayplaying.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1domainworld.com" redirect
    local-data: "1domainworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1federal.net" redirect
    local-data: "1federal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1federal.org" redirect
    local-data: "1federal.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1federalreservebank.org" redirect
    local-data: "1federalreservebank.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1hitgambling.net" redirect
    local-data: "1hitgambling.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ijaeeta.com" redirect
    local-data: "1ijaeeta.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ijaeeta.net" redirect
    local-data: "1ijaeeta.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1iki1.com" redirect
    local-data: "1iki1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1iki1.net" redirect
    local-data: "1iki1.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ikik.com" redirect
    local-data: "1ikik.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ikik.net" redirect
    local-data: "1ikik.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ikil.com" redirect
    local-data: "1ikil.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ikil.net" redirect
    local-data: "1ikil.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1knife.ru" redirect
    local-data: "1knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1lj1ki1.com" redirect
    local-data: "1lj1ki1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1lji1i1.com" redirect
    local-data: "1lji1i1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ljik11.com" redirect
    local-data: "1ljik11.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ljiki1.com" redirect
    local-data: "1ljiki1.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1llijk.com" redirect
    local-data: "1llijk.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1llijk.net" redirect
    local-data: "1llijk.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ncrease.com" redirect
    local-data: "1ncrease.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ncrease0c8.ru" redirect
    local-data: "1ncrease0c8.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1onlinepharmacy.org" redirect
    local-data: "1onlinepharmacy.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1ptfiill.com" redirect
    local-data: "1ptfiill.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1pudasz.com.pl" redirect
    local-data: "1pudasz.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1pudasz.net.pl" redirect
    local-data: "1pudasz.net.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1pudasz.pl" redirect
    local-data: "1pudasz.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1qwa1d.co.uk" redirect
    local-data: "1qwa1d.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1qwa1d.com" redirect
    local-data: "1qwa1d.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1qwa1h.co.uk" redirect
    local-data: "1qwa1h.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1qwa1h.com" redirect
    local-data: "1qwa1h.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1sthotsex.com" redirect
    local-data: "1sthotsex.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1stmedsrx.com" redirect
    local-data: "1stmedsrx.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1stplacesite.com" redirect
    local-data: "1stplacesite.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1tusc.com" redirect
    local-data: "1tusc.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1u3adiyemiskp.cn" redirect
    local-data: "1u3adiyemiskp.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "1way2-global-improvement.cn" redirect
    local-data: "1way2-global-improvement.cn A {{ ansible_default_ipv4["address"] }}"
