    local-zone: "2-open-davinci.com" redirect
    local-data: "2-open-davinci.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2-u.info" redirect
    local-data: "2-u.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2-vs-codec-pro.com" redirect
    local-data: "2-vs-codec-pro.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "200.180.4.175" redirect
    local-data: "200.180.4.175 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "200.25.193.17" redirect
    local-data: "200.25.193.17 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "200.35.92.99" redirect
    local-data: "200.35.92.99 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "200.38.11.78" redirect
    local-data: "200.38.11.78 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "200.58.112.153" redirect
    local-data: "200.58.112.153 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "200.80.30.202" redirect
    local-data: "200.80.30.202 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "200.99.25.7" redirect
    local-data: "200.99.25.7 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2000recipes.info" redirect
    local-data: "2000recipes.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2006jubilee.com" redirect
    local-data: "2006jubilee.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2009getnews.com" redirect
    local-data: "2009getnews.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "201.209.223.86" redirect
    local-data: "201.209.223.86 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "201.34.35.160" redirect
    local-data: "201.34.35.160 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2010goldpurchasedirect.com" redirect
    local-data: "2010goldpurchasedirect.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2010goldpurchaseonline.com" redirect
    local-data: "2010goldpurchaseonline.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2010inexpensiveapp.com" redirect
    local-data: "2010inexpensiveapp.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2010insa.co.za" redirect
    local-data: "2010insa.co.za A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2010meds.com" redirect
    local-data: "2010meds.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2010purchasesite.com" redirect
    local-data: "2010purchasesite.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "201watches.com" redirect
    local-data: "201watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "202.120.113.205" redirect
    local-data: "202.120.113.205 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "202.129.187.235" redirect
    local-data: "202.129.187.235 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "202.148.1.23" redirect
    local-data: "202.148.1.23 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "202.181.239.68" redirect
    local-data: "202.181.239.68 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "202.201.13.159" redirect
    local-data: "202.201.13.159 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "202.225.40.33" redirect
    local-data: "202.225.40.33 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "202.44.8.40" redirect
    local-data: "202.44.8.40 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "202.96.25.44" redirect
    local-data: "202.96.25.44 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.115.31.108" redirect
    local-data: "203.115.31.108 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.16.214.120" redirect
    local-data: "203.16.214.120 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.166.47.216" redirect
    local-data: "203.166.47.216 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.188.241.118" redirect
    local-data: "203.188.241.118 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.193.135.74" redirect
    local-data: "203.193.135.74 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.193.139.110" redirect
    local-data: "203.193.139.110 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.199.135.47" redirect
    local-data: "203.199.135.47 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.200.229.34" redirect
    local-data: "203.200.229.34 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.204.147.40" redirect
    local-data: "203.204.147.40 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.208.198.125" redirect
    local-data: "203.208.198.125 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "203.69.69.41" redirect
    local-data: "203.69.69.41 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "208.35.210.69" redirect
    local-data: "208.35.210.69 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "208.85.4.122" redirect
    local-data: "208.85.4.122 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "209.188.84.40" redirect
    local-data: "209.188.84.40 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "20knife.ru" redirect
    local-data: "20knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "20refills.com" redirect
    local-data: "20refills.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "21-secret.info" redirect
    local-data: "21-secret.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "210.112.165.251" redirect
    local-data: "210.112.165.251 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "210.125.224.10" redirect
    local-data: "210.125.224.10 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "210.21.221.242" redirect
    local-data: "210.21.221.242 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "210.77.218.175" redirect
    local-data: "210.77.218.175 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.100.237.198" redirect
    local-data: "211.100.237.198 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.139.6.233" redirect
    local-data: "211.139.6.233 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.182.96.130" redirect
    local-data: "211.182.96.130 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.20.29.26" redirect
    local-data: "211.20.29.26 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.21.52.197" redirect
    local-data: "211.21.52.197 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.22.8.3" redirect
    local-data: "211.22.8.3 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.233.7.128" redirect
    local-data: "211.233.7.128 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.43.207.180" redirect
    local-data: "211.43.207.180 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.52.83.131" redirect
    local-data: "211.52.83.131 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "211.94.240.21" redirect
    local-data: "211.94.240.21 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "212.175.241.50" redirect
    local-data: "212.175.241.50 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "212.5.170.78" redirect
    local-data: "212.5.170.78 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "213.228.140.20" redirect
    local-data: "213.228.140.20 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "216.15.237.107" redirect
    local-data: "216.15.237.107 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "216.224.124.114" redirect
    local-data: "216.224.124.114 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "217.144.192.4" redirect
    local-data: "217.144.192.4 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "217.197.153.235" redirect
    local-data: "217.197.153.235 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "217.34.213.131" redirect
    local-data: "217.34.213.131 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "217.66.200.131" redirect
    local-data: "217.66.200.131 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "218.111.122.155" redirect
    local-data: "218.111.122.155 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "218.249.90.34" redirect
    local-data: "218.249.90.34 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "218.71.239.118" redirect
    local-data: "218.71.239.118 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "218.75.144.9" redirect
    local-data: "218.75.144.9 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "21eurodice.net" redirect
    local-data: "21eurodice.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "21knife.ru" redirect
    local-data: "21knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "22-44.cn" redirect
    local-data: "22-44.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "22-44.com" redirect
    local-data: "22-44.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "22-77.cn" redirect
    local-data: "22-77.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "22-99.cn" redirect
    local-data: "22-99.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "220.231.36.18" redirect
    local-data: "220.231.36.18 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "221.137.133.243" redirect
    local-data: "221.137.133.243 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "221.194.137.55" redirect
    local-data: "221.194.137.55 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "221.194.139.249" redirect
    local-data: "221.194.139.249 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "221.6.38.206" redirect
    local-data: "221.6.38.206 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "222.121.76.203" redirect
    local-data: "222.121.76.203 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "222.234.1.104" redirect
    local-data: "222.234.1.104 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "222.40.22.38" redirect
    local-data: "222.40.22.38 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "22drugshostworld.com" redirect
    local-data: "22drugshostworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "22drugsserverguide.com" redirect
    local-data: "22drugsserverguide.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "22hostsite.com" redirect
    local-data: "22hostsite.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "22knife.ru" redirect
    local-data: "22knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "23knife.ru" redirect
    local-data: "23knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24-7usapharmacy.com" redirect
    local-data: "24-7usapharmacy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24-health.com" redirect
    local-data: "24-health.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24-hour-viagra.com" redirect
    local-data: "24-hour-viagra.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24.119.150.74" redirect
    local-data: "24.119.150.74 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24.122.135.141" redirect
    local-data: "24.122.135.141 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24.139.11.80" redirect
    local-data: "24.139.11.80 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24.172.137.213" redirect
    local-data: "24.172.137.213 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "242426.com" redirect
    local-data: "242426.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "247-meds.com" redirect
    local-data: "247-meds.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "247pharma.net" redirect
    local-data: "247pharma.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24h-et-shop.com" redirect
    local-data: "24h-et-shop.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "24knife.ru" redirect
    local-data: "24knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "25knife.ru" redirect
    local-data: "25knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "25vip-2010.com" redirect
    local-data: "25vip-2010.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "26knife.ru" redirect
    local-data: "26knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "27knife.ru" redirect
    local-data: "27knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "282715.com" redirect
    local-data: "282715.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "28knife.ru" redirect
    local-data: "28knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "29knife.ru" redirect
    local-data: "29knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2army.name" redirect
    local-data: "2army.name A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2drugdirect.com" redirect
    local-data: "2drugdirect.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2drugonline.com" redirect
    local-data: "2drugonline.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2drugshop.com" redirect
    local-data: "2drugshop.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2kingsns.com" redirect
    local-data: "2kingsns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2knife.ru" redirect
    local-data: "2knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2plus2-software.com" redirect
    local-data: "2plus2-software.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2us.co.il" redirect
    local-data: "2us.co.il A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2yourgoodhealth.info" redirect
    local-data: "2yourgoodhealth.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "2yourgoodhealths.info" redirect
    local-data: "2yourgoodhealths.info A {{ ansible_default_ipv4["address"] }}"
