    local-zone: "3-open-davinci.com" redirect
    local-data: "3-open-davinci.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3-vs-codec-pro.com" redirect
    local-data: "3-vs-codec-pro.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "30175.at" redirect
    local-data: "30175.at A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3074.com" redirect
    local-data: "3074.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "30knife.ru" redirect
    local-data: "30knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "30nt.com" redirect
    local-data: "30nt.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3126.net" redirect
    local-data: "3126.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "31knife.ru" redirect
    local-data: "31knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "323332.com" redirect
    local-data: "323332.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "32knife.ru" redirect
    local-data: "32knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "33-66.com" redirect
    local-data: "33-66.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "33-99.com" redirect
    local-data: "33-99.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "33343.net" redirect
    local-data: "33343.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "333fiestaclub.net" redirect
    local-data: "333fiestaclub.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3500-greatwin.net" redirect
    local-data: "3500-greatwin.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3500-mustwin.net" redirect
    local-data: "3500-mustwin.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3500-pastwin.net" redirect
    local-data: "3500-pastwin.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "353335.com" redirect
    local-data: "353335.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "353435.com" redirect
    local-data: "353435.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "366meds.com" redirect
    local-data: "366meds.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3706135570" redirect
    local-data: "3706135570 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "39eastmotion.com" redirect
    local-data: "39eastmotion.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3bartsd.com" redirect
    local-data: "3bartsd.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3d-family-orgies.com" redirect
    local-data: "3d-family-orgies.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3incheslonger.com" redirect
    local-data: "3incheslonger.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3iscompany.in" redirect
    local-data: "3iscompany.in A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3knife.ru" redirect
    local-data: "3knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3openingforce.info" redirect
    local-data: "3openingforce.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3servdnsx.com" redirect
    local-data: "3servdnsx.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "3whalehealth.info" redirect
    local-data: "3whalehealth.info A {{ ansible_default_ipv4["address"] }}"
