    local-zone: "4-dear.com" redirect
    local-data: "4-dear.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "411-lookup.com" redirect
    local-data: "411-lookup.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "42113.ru" redirect
    local-data: "42113.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "43lojoto12.com" redirect
    local-data: "43lojoto12.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "44-11.cn" redirect
    local-data: "44-11.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "44-88.com" redirect
    local-data: "44-88.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "44-99.com" redirect
    local-data: "44-99.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "44434.net" redirect
    local-data: "44434.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "44454.org" redirect
    local-data: "44454.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "45meds.com" redirect
    local-data: "45meds.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "45meds.net" redirect
    local-data: "45meds.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "47213.ru" redirect
    local-data: "47213.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "486money.net" redirect
    local-data: "486money.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "4knife.ru" redirect
    local-data: "4knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "4thplanetmars.com" redirect
    local-data: "4thplanetmars.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "4wellnessrx.com" redirect
    local-data: "4wellnessrx.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "4yourmeds.net" redirect
    local-data: "4yourmeds.net A {{ ansible_default_ipv4["address"] }}"
