    local-zone: "5-open-davinci.com" redirect
    local-data: "5-open-davinci.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "505drugs.com" redirect
    local-data: "505drugs.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "506drugs.com" redirect
    local-data: "506drugs.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "510151.com" redirect
    local-data: "510151.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "53ebanking.org" redirect
    local-data: "53ebanking.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55-11.cn" redirect
    local-data: "55-11.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "555-software.net" redirect
    local-data: "555-software.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55ll.ru" redirect
    local-data: "55ll.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55nn.ru" redirect
    local-data: "55nn.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55pp.ru" redirect
    local-data: "55pp.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55qq.ru" redirect
    local-data: "55qq.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55rr.ru" redirect
    local-data: "55rr.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55ss.ru" redirect
    local-data: "55ss.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55tt.ru" redirect
    local-data: "55tt.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55uu.ru" redirect
    local-data: "55uu.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55vv.ru" redirect
    local-data: "55vv.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55ww.ru" redirect
    local-data: "55ww.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55yy.ru" redirect
    local-data: "55yy.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "55zz.ru" redirect
    local-data: "55zz.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5bsnzxyemiskp.cn" redirect
    local-data: "5bsnzxyemiskp.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5cheapdownload.com" redirect
    local-data: "5cheapdownload.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5clearpics.com" redirect
    local-data: "5clearpics.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5drugsbargain.com.es" redirect
    local-data: "5drugsbargain.com.es A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5drugscheap.com.es" redirect
    local-data: "5drugscheap.com.es A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5drugsonline.net" redirect
    local-data: "5drugsonline.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5drugssite.net" redirect
    local-data: "5drugssite.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5drugsworld.net" redirect
    local-data: "5drugsworld.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5freeserverguide.com" redirect
    local-data: "5freeserverguide.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5freeserverworld.com" redirect
    local-data: "5freeserverworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5freewebhostguide.com" redirect
    local-data: "5freewebhostguide.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5freewebhostworld.com" redirect
    local-data: "5freewebhostworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5hostingguide.com" redirect
    local-data: "5hostingguide.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5kchinans.com" redirect
    local-data: "5kchinans.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5knife.ru" redirect
    local-data: "5knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5onlinedrugs.net" redirect
    local-data: "5onlinedrugs.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5pillsguide.net" redirect
    local-data: "5pillsguide.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5plus-software.com" redirect
    local-data: "5plus-software.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5serversite.com" redirect
    local-data: "5serversite.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5site5.net" redirect
    local-data: "5site5.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5thblushbrand.com" redirect
    local-data: "5thblushbrand.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5wellbeing.com" redirect
    local-data: "5wellbeing.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "5wellness.com" redirect
    local-data: "5wellness.com A {{ ansible_default_ipv4["address"] }}"
