    local-zone: "6-open-davinci.com" redirect
    local-data: "6-open-davinci.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "60q.ru" redirect
    local-data: "60q.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "61.19.213.82" redirect
    local-data: "61.19.213.82 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "61.19.251.104" redirect
    local-data: "61.19.251.104 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "61.221.123.171" redirect
    local-data: "61.221.123.171 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "61.243.43.185" redirect
    local-data: "61.243.43.185 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "61.57.160.88" redirect
    local-data: "61.57.160.88 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "61.63.9.12" redirect
    local-data: "61.63.9.12 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "62.232.4.211" redirect
    local-data: "62.232.4.211 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "62.81.142.158" redirect
    local-data: "62.81.142.158 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "62v.ru" redirect
    local-data: "62v.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "63.255.67.27" redirect
    local-data: "63.255.67.27 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "64.25.11.38" redirect
    local-data: "64.25.11.38 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "64.254.66.41" redirect
    local-data: "64.254.66.41 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66-44.cn" redirect
    local-data: "66-44.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66.117.217.154" redirect
    local-data: "66.117.217.154 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66.199.246.26" redirect
    local-data: "66.199.246.26 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66.232.142.47" redirect
    local-data: "66.232.142.47 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66.40.10.147" redirect
    local-data: "66.40.10.147 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66.49.243.99" redirect
    local-data: "66.49.243.99 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66.49.249.38" redirect
    local-data: "66.49.249.38 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66.68.35.225" redirect
    local-data: "66.68.35.225 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66.72.187.102" redirect
    local-data: "66.72.187.102 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66aa.ru" redirect
    local-data: "66aa.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66bb.ru" redirect
    local-data: "66bb.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66cc.ru" redirect
    local-data: "66cc.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66dd.ru" redirect
    local-data: "66dd.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66ee.ru" redirect
    local-data: "66ee.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66ff.ru" redirect
    local-data: "66ff.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66hh.ru" redirect
    local-data: "66hh.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66ii.ru" redirect
    local-data: "66ii.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "66jj.ru" redirect
    local-data: "66jj.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "67.216.89.170" redirect
    local-data: "67.216.89.170 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "67.62.9.130" redirect
    local-data: "67.62.9.130 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "67h.ru" redirect
    local-data: "67h.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "67q.ru" redirect
    local-data: "67q.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "67u.ru" redirect
    local-data: "67u.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "68.99.57.245" redirect
    local-data: "68.99.57.245 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "68h.ru" redirect
    local-data: "68h.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "68vip-2010.com" redirect
    local-data: "68vip-2010.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "68w.ru" redirect
    local-data: "68w.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "68y.ru" redirect
    local-data: "68y.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "69.15.171.62" redirect
    local-data: "69.15.171.62 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6a5.ru" redirect
    local-data: "6a5.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6a7.ru" redirect
    local-data: "6a7.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6aq.ru" redirect
    local-data: "6aq.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6aw.ru" redirect
    local-data: "6aw.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6bg.ru" redirect
    local-data: "6bg.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6bh.ru" redirect
    local-data: "6bh.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6bv.ru" redirect
    local-data: "6bv.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6cb.ru" redirect
    local-data: "6cb.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6cq.ru" redirect
    local-data: "6cq.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6cu.ru" redirect
    local-data: "6cu.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6d2.ru" redirect
    local-data: "6d2.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6d4.ru" redirect
    local-data: "6d4.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6df.ru" redirect
    local-data: "6df.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6ds.ru" redirect
    local-data: "6ds.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6dt.ru" redirect
    local-data: "6dt.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6e4.ru" redirect
    local-data: "6e4.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6e5.ru" redirect
    local-data: "6e5.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6f0.ru" redirect
    local-data: "6f0.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6f1.ru" redirect
    local-data: "6f1.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6fc.ru" redirect
    local-data: "6fc.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6fd.ru" redirect
    local-data: "6fd.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6fz.ru" redirect
    local-data: "6fz.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6gc.ru" redirect
    local-data: "6gc.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6gy.ru" redirect
    local-data: "6gy.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6knife.ru" redirect
    local-data: "6knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6oc.ru" redirect
    local-data: "6oc.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6of.ru" redirect
    local-data: "6of.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6oq.ru" redirect
    local-data: "6oq.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6ow.ru" redirect
    local-data: "6ow.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6ox.ru" redirect
    local-data: "6ox.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6p1.ru" redirect
    local-data: "6p1.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6p4.ru" redirect
    local-data: "6p4.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6ph.ru" redirect
    local-data: "6ph.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6pj.ru" redirect
    local-data: "6pj.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6pn.ru" redirect
    local-data: "6pn.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6pw.ru" redirect
    local-data: "6pw.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6r1.ru" redirect
    local-data: "6r1.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6r9.ru" redirect
    local-data: "6r9.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6rl.ru" redirect
    local-data: "6rl.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6s5.ru" redirect
    local-data: "6s5.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6s7.ru" redirect
    local-data: "6s7.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6s8.ru" redirect
    local-data: "6s8.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6sb.ru" redirect
    local-data: "6sb.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "6sf.ru" redirect
    local-data: "6sf.ru A {{ ansible_default_ipv4["address"] }}"
