    local-zone: "72.52.167.170" redirect
    local-data: "72.52.167.170 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "74.220.207.130" redirect
    local-data: "74.220.207.130 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "74vip-2010.com" redirect
    local-data: "74vip-2010.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "75.127.94.109" redirect
    local-data: "75.127.94.109 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "77-33.cn" redirect
    local-data: "77-33.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "77-33.com" redirect
    local-data: "77-33.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "77-55.com" redirect
    local-data: "77-55.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "77-99.com" redirect
    local-data: "77-99.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "77.92.148.23" redirect
    local-data: "77.92.148.23 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "77557.net" redirect
    local-data: "77557.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777-software.net" redirect
    local-data: "777-software.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777casinoglobal.net" redirect
    local-data: "777casinoglobal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777casinolux.net" redirect
    local-data: "777casinolux.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777casinoroyal.net" redirect
    local-data: "777casinoroyal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777casinostars.net" redirect
    local-data: "777casinostars.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777casinox.net" redirect
    local-data: "777casinox.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777diceeuro.net" redirect
    local-data: "777diceeuro.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777euroking.net" redirect
    local-data: "777euroking.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777europlay.net" redirect
    local-data: "777europlay.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777gameglobal.net" redirect
    local-data: "777gameglobal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777gamelux.net" redirect
    local-data: "777gamelux.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777gamestars.net" redirect
    local-data: "777gamestars.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777globalcasino.net" redirect
    local-data: "777globalcasino.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777globalgame.net" redirect
    local-data: "777globalgame.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777globalplay.net" redirect
    local-data: "777globalplay.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777kingeuro.net" redirect
    local-data: "777kingeuro.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777luxcasino.net" redirect
    local-data: "777luxcasino.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777luxgame.net" redirect
    local-data: "777luxgame.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777luxplay.net" redirect
    local-data: "777luxplay.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777playeuro.net" redirect
    local-data: "777playeuro.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777playglobal.net" redirect
    local-data: "777playglobal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777playlux.net" redirect
    local-data: "777playlux.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777playvegas.net" redirect
    local-data: "777playvegas.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777starscasino.net" redirect
    local-data: "777starscasino.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777starsgame.net" redirect
    local-data: "777starsgame.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777vegasking.net" redirect
    local-data: "777vegasking.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777vegasplay.net" redirect
    local-data: "777vegasplay.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "777yo777.cn" redirect
    local-data: "777yo777.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "77shop.org" redirect
    local-data: "77shop.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "77tokeiya.com" redirect
    local-data: "77tokeiya.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "79dvt6revevww.cn" redirect
    local-data: "79dvt6revevww.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "7canadapharmacy.com" redirect
    local-data: "7canadapharmacy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "7knife.ru" redirect
    local-data: "7knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "7magic-palace.net" redirect
    local-data: "7magic-palace.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "7mat3.com" redirect
    local-data: "7mat3.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "7moii0fajomxt.cn" redirect
    local-data: "7moii0fajomxt.cn A {{ ansible_default_ipv4["address"] }}"
