    local-zone: "80.100.215.119" redirect
    local-data: "80.100.215.119 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "80.24.192.250" redirect
    local-data: "80.24.192.250 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "80.250.14.122" redirect
    local-data: "80.250.14.122 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "800medsrx.net" redirect
    local-data: "800medsrx.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "80rxme.com" redirect
    local-data: "80rxme.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "812jid.com" redirect
    local-data: "812jid.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "82.223.192.110" redirect
    local-data: "82.223.192.110 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "82.33.105.134" redirect
    local-data: "82.33.105.134 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "84.246.6.72" redirect
    local-data: "84.246.6.72 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "84701site.com" redirect
    local-data: "84701site.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "84gnk.com" redirect
    local-data: "84gnk.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "852159.com" redirect
    local-data: "852159.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "87.98.235.63" redirect
    local-data: "87.98.235.63 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "87jonsonfd.com" redirect
    local-data: "87jonsonfd.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "88.80.7.248" redirect
    local-data: "88.80.7.248 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888-software.net" redirect
    local-data: "888-software.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888casinoglobal.net" redirect
    local-data: "888casinoglobal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888casinolux.net" redirect
    local-data: "888casinolux.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888casinoroyal.net" redirect
    local-data: "888casinoroyal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888casinostars.net" redirect
    local-data: "888casinostars.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888diceeuro.net" redirect
    local-data: "888diceeuro.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888eurodice.net" redirect
    local-data: "888eurodice.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888europlay.net" redirect
    local-data: "888europlay.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888fiestaclub.net" redirect
    local-data: "888fiestaclub.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888gameglobal.net" redirect
    local-data: "888gameglobal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888gamelux.net" redirect
    local-data: "888gamelux.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888gameroyal.net" redirect
    local-data: "888gameroyal.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888gamestars.net" redirect
    local-data: "888gamestars.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888gamevegas.net" redirect
    local-data: "888gamevegas.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888globalcasino.net" redirect
    local-data: "888globalcasino.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888globalgame.net" redirect
    local-data: "888globalgame.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888luxcasino.net" redirect
    local-data: "888luxcasino.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888luxgame.net" redirect
    local-data: "888luxgame.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888luxplay.net" redirect
    local-data: "888luxplay.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888playeuro.net" redirect
    local-data: "888playeuro.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888playlux.net" redirect
    local-data: "888playlux.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888playstars.net" redirect
    local-data: "888playstars.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888playvegas.net" redirect
    local-data: "888playvegas.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888royalcasino.net" redirect
    local-data: "888royalcasino.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888royalgame.net" redirect
    local-data: "888royalgame.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888starscasino.net" redirect
    local-data: "888starscasino.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888starsgame.net" redirect
    local-data: "888starsgame.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888starsplay.net" redirect
    local-data: "888starsplay.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888vegasgame.net" redirect
    local-data: "888vegasgame.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "888vegasplay.net" redirect
    local-data: "888vegasplay.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "89364.info" redirect
    local-data: "89364.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "89364.net" redirect
    local-data: "89364.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "8knife.ru" redirect
    local-data: "8knife.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "8wns.net" redirect
    local-data: "8wns.net A {{ ansible_default_ipv4["address"] }}"
