    local-zone: "90rxme.com" redirect
    local-data: "90rxme.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "90watchs.com" redirect
    local-data: "90watchs.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "91.121.157.199" redirect
    local-data: "91.121.157.199 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "91.204.160.205" redirect
    local-data: "91.204.160.205 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "91.206.201.30" redirect
    local-data: "91.206.201.30 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "911lookup.com" redirect
    local-data: "911lookup.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "914822.com" redirect
    local-data: "914822.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "91suppports.com" redirect
    local-data: "91suppports.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "91ukraine.com" redirect
    local-data: "91ukraine.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "91watches.com" redirect
    local-data: "91watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "92.48.83.216" redirect
    local-data: "92.48.83.216 A {{ ansible_default_ipv4["address"] }}"
    local-zone: "92suppports.com" redirect
    local-data: "92suppports.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "92watches.com" redirect
    local-data: "92watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "93watches.com" redirect
    local-data: "93watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "948148.com" redirect
    local-data: "948148.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "94watches.com" redirect
    local-data: "94watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "95watches.com" redirect
    local-data: "95watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "96watches.com" redirect
    local-data: "96watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "96yp8ogicuynr.cn" redirect
    local-data: "96yp8ogicuynr.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "97watches.com" redirect
    local-data: "97watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "98watches.com" redirect
    local-data: "98watches.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "99-22.cn" redirect
    local-data: "99-22.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "99-44.cn" redirect
    local-data: "99-44.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "999-software.net" redirect
    local-data: "999-software.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "9999ns.com" redirect
    local-data: "9999ns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "9knife.ru" redirect
    local-data: "9knife.ru A {{ ansible_default_ipv4["address"] }}"
