    local-zone: "ads.horyzon-media.com" redirect
    local-data: "ads.horyzon-media.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "amazon-adsystem.com" redirect
    local-data: "amazon-adsystem.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "amazon.com" redirect
    local-data: "amazon.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "auditude.com" redirect
    local-data: "auditude.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "bing.com" redirect
    local-data: "bing.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "canalplus.fr" redirect
    local-data: "canalplus.fr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "feedsportal.com" redirect
    local-data: "feedsportal.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "google-analytics.com" redirect
    local-data: "google-analytics.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "googleadservices.com" redirect
    local-data: "googleadservices.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "googlesyndication.com" redirect
    local-data: "googlesyndication.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "facebook.com" redirect
    local-data: "facebook.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "images-amazon.com" redirect
    local-data: "images-amazon.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "sap.ittoolbox.com" redirect
    local-data: "sap.ittoolbox.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "tubemogul.com" redirect
    local-data: "tubemogul.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "twitter.com" redirect
    local-data: "twitter.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "www-google-analytics.l.google.com" redirect
    local-data: "www-google-analytics.l.google.com A {{ ansible_default_ipv4["address"] }}"
