    local-zone: "u-lav.net" redirect
    local-data: "u-lav.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "u-lav.org" redirect
    local-data: "u-lav.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uaalozil.cn" redirect
    local-data: "uaalozil.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uadoasos.cn" redirect
    local-data: "uadoasos.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uadobity.cn" redirect
    local-data: "uadobity.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uadodfhh.cn" redirect
    local-data: "uadodfhh.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uadoicde.cn" redirect
    local-data: "uadoicde.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uadoiveu.cn" redirect
    local-data: "uadoiveu.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uaifriend.com" redirect
    local-data: "uaifriend.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uakzisea.cn" redirect
    local-data: "uakzisea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uaojdibt.cn" redirect
    local-data: "uaojdibt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uapqueqs.com" redirect
    local-data: "uapqueqs.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uasawtea.cn" redirect
    local-data: "uasawtea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uavyebkep.com" redirect
    local-data: "uavyebkep.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubaqufhyzi.com" redirect
    local-data: "ubaqufhyzi.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubhecamy.com" redirect
    local-data: "ubhecamy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubhswjl.cn" redirect
    local-data: "ubhswjl.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubosadil.cn" redirect
    local-data: "ubosadil.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubosewsx.cn" redirect
    local-data: "ubosewsx.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubosicvs.cn" redirect
    local-data: "ubosicvs.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubosidad.cn" redirect
    local-data: "ubosidad.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubosreit.cn" redirect
    local-data: "ubosreit.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubr34ns.com" redirect
    local-data: "ubr34ns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubuqokta.cn" redirect
    local-data: "ubuqokta.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubuskertv.net" redirect
    local-data: "ubuskertv.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ubwkedei.cn" redirect
    local-data: "ubwkedei.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucantell.info" redirect
    local-data: "ucantell.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucelenio.cn" redirect
    local-data: "ucelenio.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uchrhzea.cn" redirect
    local-data: "uchrhzea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucoleeut.cn" redirect
    local-data: "ucoleeut.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucordetionses.net" redirect
    local-data: "ucordetionses.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucordetionss.com" redirect
    local-data: "ucordetionss.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucordetionstes.net" redirect
    local-data: "ucordetionstes.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucpbecea.cn" redirect
    local-data: "ucpbecea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uctf1itll.be" redirect
    local-data: "uctf1itll.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucuruoaj.cn" redirect
    local-data: "ucuruoaj.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ucyenbx.cn" redirect
    local-data: "ucyenbx.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udagagaq.cn" redirect
    local-data: "udagagaq.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udaswy.cz" redirect
    local-data: "udaswy.cz A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udberyf.com" redirect
    local-data: "udberyf.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uddipane.cn" redirect
    local-data: "uddipane.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udeplan.net" redirect
    local-data: "udeplan.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udepvaitwi.com" redirect
    local-data: "udepvaitwi.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udgoxwx.cn" redirect
    local-data: "udgoxwx.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udgspzt.cn" redirect
    local-data: "udgspzt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udguinjia.com" redirect
    local-data: "udguinjia.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udiloat.com" redirect
    local-data: "udiloat.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udizved.net" redirect
    local-data: "udizved.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udkliaz.com" redirect
    local-data: "udkliaz.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udrienf.com" redirect
    local-data: "udrienf.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udrinse.com" redirect
    local-data: "udrinse.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udxbehv.cn" redirect
    local-data: "udxbehv.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "udzyfol.com" redirect
    local-data: "udzyfol.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ueaconline.net" redirect
    local-data: "ueaconline.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uecawsnr.cn" redirect
    local-data: "uecawsnr.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uegsybmixl.com" redirect
    local-data: "uegsybmixl.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ueijfik.cn" redirect
    local-data: "ueijfik.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ueiscwom.cn" redirect
    local-data: "ueiscwom.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ueou.info" redirect
    local-data: "ueou.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ueraxolwya.com" redirect
    local-data: "ueraxolwya.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ueraxolwya.net" redirect
    local-data: "ueraxolwya.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uerducugwy.com" redirect
    local-data: "uerducugwy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uevnwsq.cn" redirect
    local-data: "uevnwsq.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uexrtpnh.cn" redirect
    local-data: "uexrtpnh.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ufcipesa.com" redirect
    local-data: "ufcipesa.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ufejvegvu.com" redirect
    local-data: "ufejvegvu.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uferdns.com" redirect
    local-data: "uferdns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ufkojfyo.com" redirect
    local-data: "ufkojfyo.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uflurort.com" redirect
    local-data: "uflurort.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ufoifvq.cn" redirect
    local-data: "ufoifvq.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ufostories.info" redirect
    local-data: "ufostories.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ufubkho.cn" redirect
    local-data: "ufubkho.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ug7.net" redirect
    local-data: "ug7.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ug9.us" redirect
    local-data: "ug9.us A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ugcacopce.com" redirect
    local-data: "ugcacopce.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ugnmfcea.cn" redirect
    local-data: "ugnmfcea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ugoladns.com" redirect
    local-data: "ugoladns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ugretas.com" redirect
    local-data: "ugretas.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ugruwumpaj.com" redirect
    local-data: "ugruwumpaj.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ugtawint.com" redirect
    local-data: "ugtawint.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhanohan.cn" redirect
    local-data: "uhanohan.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhcapequi.net" redirect
    local-data: "uhcapequi.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhcauwganca.com" redirect
    local-data: "uhcauwganca.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhfiowegju.net" redirect
    local-data: "uhfiowegju.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhfueet.cn" redirect
    local-data: "uhfueet.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhikqslm.cn" redirect
    local-data: "uhikqslm.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhmorkidax.com" redirect
    local-data: "uhmorkidax.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhmyflyv.com" redirect
    local-data: "uhmyflyv.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhmyflyv.net" redirect
    local-data: "uhmyflyv.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhnpiwdm.cn" redirect
    local-data: "uhnpiwdm.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhosasip.cn" redirect
    local-data: "uhosasip.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhti.net" redirect
    local-data: "uhti.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyettiqus.com" redirect
    local-data: "uhyettiqus.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuha.be" redirect
    local-data: "uhyuha.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuhd.be" redirect
    local-data: "uhyuhd.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuhe.be" redirect
    local-data: "uhyuhe.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuhg.be" redirect
    local-data: "uhyuhg.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuhj.be" redirect
    local-data: "uhyuhj.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuhl.be" redirect
    local-data: "uhyuhl.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuho.be" redirect
    local-data: "uhyuho.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuhq.be" redirect
    local-data: "uhyuhq.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuht.be" redirect
    local-data: "uhyuht.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uhyuhu.be" redirect
    local-data: "uhyuhu.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ui9ood.kr" redirect
    local-data: "ui9ood.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ui9ool.kr" redirect
    local-data: "ui9ool.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ui9ooo.kr" redirect
    local-data: "ui9ooo.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ui9oos.kr" redirect
    local-data: "ui9oos.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiieecia.cn" redirect
    local-data: "uiieecia.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiioaa.cz" redirect
    local-data: "uiioaa.cz A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiioat.cz" redirect
    local-data: "uiioat.cz A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiioau.cz" redirect
    local-data: "uiioau.cz A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uijghy.cz" redirect
    local-data: "uijghy.cz A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uikylvea.cn" redirect
    local-data: "uikylvea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uilnoeztedj.com" redirect
    local-data: "uilnoeztedj.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uilyuneysl.com" redirect
    local-data: "uilyuneysl.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uimyfdituj.com" redirect
    local-data: "uimyfdituj.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiogbhzo.cn" redirect
    local-data: "uiogbhzo.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiooo1.com.sc" redirect
    local-data: "uiooo1.com.sc A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiooo2.com.sc" redirect
    local-data: "uiooo2.com.sc A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiooo3.com.vc" redirect
    local-data: "uiooo3.com.vc A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uipqroho.cn" redirect
    local-data: "uipqroho.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uitiyita.cn" redirect
    local-data: "uitiyita.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiureyqo.cn" redirect
    local-data: "uiureyqo.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiwhqmea.cn" redirect
    local-data: "uiwhqmea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uixadhnh.cn" redirect
    local-data: "uixadhnh.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uixdjgfh.cn" redirect
    local-data: "uixdjgfh.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uixdjlvgfh.cn" redirect
    local-data: "uixdjlvgfh.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uixrzeng.cn" redirect
    local-data: "uixrzeng.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uixrzynh.cn" redirect
    local-data: "uixrzynh.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uiymdmmo.cn" redirect
    local-data: "uiymdmmo.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uizbhzro.cn" redirect
    local-data: "uizbhzro.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uj222e.co.uk" redirect
    local-data: "uj222e.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uj2f2e.co.uk" redirect
    local-data: "uj2f2e.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uj2k2e.co.uk" redirect
    local-data: "uj2k2e.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uj2k2e.org.uk" redirect
    local-data: "uj2k2e.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uj2o2e.co.uk" redirect
    local-data: "uj2o2e.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uj2o2e.org.uk" redirect
    local-data: "uj2o2e.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujasipun.cn" redirect
    local-data: "ujasipun.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujazazn.co.uk" redirect
    local-data: "ujazazn.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujbhga.be" redirect
    local-data: "ujbhga.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujbhgc.be" redirect
    local-data: "ujbhgc.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujbhgj.be" redirect
    local-data: "ujbhgj.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujbhgm.be" redirect
    local-data: "ujbhgm.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujbhgq.be" redirect
    local-data: "ujbhgq.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujbhgv.be" redirect
    local-data: "ujbhgv.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujbhgx.be" redirect
    local-data: "ujbhgx.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujbhgz.be" redirect
    local-data: "ujbhgz.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujedocec.cn" redirect
    local-data: "ujedocec.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujhytra.com.pl" redirect
    local-data: "ujhytra.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujhytrd.com.pl" redirect
    local-data: "ujhytrd.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujhytrd.net.pl" redirect
    local-data: "ujhytrd.net.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujhytrf.com.pl" redirect
    local-data: "ujhytrf.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujhytrf.net.pl" redirect
    local-data: "ujhytrf.net.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujhytrq.net.pl" redirect
    local-data: "ujhytrq.net.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujhytrq.pl" redirect
    local-data: "ujhytrq.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujhytrr.pl" redirect
    local-data: "ujhytrr.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujiikoa.org.uk" redirect
    local-data: "ujiikoa.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujiikog.co.uk" redirect
    local-data: "ujiikog.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujiikog.org.uk" redirect
    local-data: "ujiikog.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujiikor.co.uk" redirect
    local-data: "ujiikor.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujiikor.org.uk" redirect
    local-data: "ujiikor.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujiikot.co.uk" redirect
    local-data: "ujiikot.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujillb.be" redirect
    local-data: "ujillb.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujillc.be" redirect
    local-data: "ujillc.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujilld.be" redirect
    local-data: "ujilld.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujille.be" redirect
    local-data: "ujille.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujillf.be" redirect
    local-data: "ujillf.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujilln.be" redirect
    local-data: "ujilln.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujillr.be" redirect
    local-data: "ujillr.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujills.be" redirect
    local-data: "ujills.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujillv.be" redirect
    local-data: "ujillv.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujillw.be" redirect
    local-data: "ujillw.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujillx.be" redirect
    local-data: "ujillx.be A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjiks.co.im" redirect
    local-data: "ujjiks.co.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjiks.com.im" redirect
    local-data: "ujjiks.com.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjiks.im" redirect
    local-data: "ujjiks.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjiks.net.im" redirect
    local-data: "ujjiks.net.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjiks.org.im" redirect
    local-data: "ujjiks.org.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjikx.co.im" redirect
    local-data: "ujjikx.co.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjikx.com.im" redirect
    local-data: "ujjikx.com.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjikx.im" redirect
    local-data: "ujjikx.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjikx.net.im" redirect
    local-data: "ujjikx.net.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujjikx.org.im" redirect
    local-data: "ujjikx.org.im A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujno-sahalinsk.ru" redirect
    local-data: "ujno-sahalinsk.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujsefbl.cn" redirect
    local-data: "ujsefbl.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaq1.co.uk" redirect
    local-data: "ujtqwaq1.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaq1.org.uk" redirect
    local-data: "ujtqwaq1.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaqb.co.uk" redirect
    local-data: "ujtqwaqb.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaqb.org.uk" redirect
    local-data: "ujtqwaqb.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaqk.co.uk" redirect
    local-data: "ujtqwaqk.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaqk.org.uk" redirect
    local-data: "ujtqwaqk.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaqm.co.uk" redirect
    local-data: "ujtqwaqm.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaqm.org.uk" redirect
    local-data: "ujtqwaqm.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaqo.co.uk" redirect
    local-data: "ujtqwaqo.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujtqwaqo.org.uk" redirect
    local-data: "ujtqwaqo.org.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhf.co.kr" redirect
    local-data: "ujyhf.co.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhf.kr" redirect
    local-data: "ujyhf.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhf.ne.kr" redirect
    local-data: "ujyhf.ne.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhf.or.kr" redirect
    local-data: "ujyhf.or.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhl.co.kr" redirect
    local-data: "ujyhl.co.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhl.kr" redirect
    local-data: "ujyhl.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhl.ne.kr" redirect
    local-data: "ujyhl.ne.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhl.or.kr" redirect
    local-data: "ujyhl.or.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyho.co.kr" redirect
    local-data: "ujyho.co.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyho.kr" redirect
    local-data: "ujyho.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyho.ne.kr" redirect
    local-data: "ujyho.ne.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyho.or.kr" redirect
    local-data: "ujyho.or.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhs.co.kr" redirect
    local-data: "ujyhs.co.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhs.kr" redirect
    local-data: "ujyhs.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujyhs.or.kr" redirect
    local-data: "ujyhs.or.kr A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ujzstqm.cn" redirect
    local-data: "ujzstqm.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uk-ed-med.com" redirect
    local-data: "uk-ed-med.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukbapimdytu.com" redirect
    local-data: "ukbapimdytu.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukbeuar.cn" redirect
    local-data: "ukbeuar.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukcohykk.com" redirect
    local-data: "ukcohykk.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukdrugsite.net" redirect
    local-data: "ukdrugsite.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukdyxhybjei.com" redirect
    local-data: "ukdyxhybjei.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukfreehome.info" redirect
    local-data: "ukfreehome.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukgedsa.com.hn" redirect
    local-data: "ukgedsa.com.hn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukgedsr.com.sc" redirect
    local-data: "ukgedsr.com.sc A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukliit.net" redirect
    local-data: "ukliit.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uklotterry.com" redirect
    local-data: "uklotterry.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uklywhar.com" redirect
    local-data: "uklywhar.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukmedspharmacy.com" redirect
    local-data: "ukmedspharmacy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukmqtnsc.cn" redirect
    local-data: "ukmqtnsc.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uknethost.ru" redirect
    local-data: "uknethost.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uknii.com" redirect
    local-data: "uknii.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukserverdns.com" redirect
    local-data: "ukserverdns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukspecialoffer.com" redirect
    local-data: "ukspecialoffer.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukwedsites.com" redirect
    local-data: "ukwedsites.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukwisebuy.com" redirect
    local-data: "ukwisebuy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ukwothuico.net" redirect
    local-data: "ukwothuico.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ulbohin.com" redirect
    local-data: "ulbohin.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ulfdsdab.cn" redirect
    local-data: "ulfdsdab.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ulgopdei.cn" redirect
    local-data: "ulgopdei.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ulins45.com" redirect
    local-data: "ulins45.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ulmagciki.com" redirect
    local-data: "ulmagciki.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uloiukl.com.pl" redirect
    local-data: "uloiukl.com.pl A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ulqgadei.cn" redirect
    local-data: "ulqgadei.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimate-replicas.net" redirect
    local-data: "ultimate-replicas.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatecanadianvital.com" redirect
    local-data: "ultimatecanadianvital.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatediamond-replica.com" redirect
    local-data: "ultimatediamond-replica.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatedrugbasic.com" redirect
    local-data: "ultimatedrugbasic.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatedrugfinest.com" redirect
    local-data: "ultimatedrugfinest.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatedrugguide.net" redirect
    local-data: "ultimatedrugguide.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatedrugscent.com" redirect
    local-data: "ultimatedrugscent.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatedrugstore.com" redirect
    local-data: "ultimatedrugstore.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatefabrik.ru" redirect
    local-data: "ultimatefabrik.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatehealthmedicineresource.net" redirect
    local-data: "ultimatehealthmedicineresource.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatemedicalago.com" redirect
    local-data: "ultimatemedicalago.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatemedroot.com" redirect
    local-data: "ultimatemedroot.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatemedsiron.com" redirect
    local-data: "ultimatemedsiron.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatepharmacyguide.com" redirect
    local-data: "ultimatepharmacyguide.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatepharmacyguide.net" redirect
    local-data: "ultimatepharmacyguide.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatepharmdrive.com" redirect
    local-data: "ultimatepharmdrive.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatepharmsgather.com" redirect
    local-data: "ultimatepharmsgather.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatepillshome.com" redirect
    local-data: "ultimatepillshome.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatepillsspot.com" redirect
    local-data: "ultimatepillsspot.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatereplicas.net" redirect
    local-data: "ultimatereplicas.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultimatereplicashop.com" redirect
    local-data: "ultimatereplicashop.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrabird.com" redirect
    local-data: "ultrabird.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultracrop.ru" redirect
    local-data: "ultracrop.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrajewel.ru" redirect
    local-data: "ultrajewel.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrajoin.com" redirect
    local-data: "ultrajoin.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrajoyful.ru" redirect
    local-data: "ultrajoyful.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultramade.com" redirect
    local-data: "ultramade.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultramedies.com" redirect
    local-data: "ultramedies.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultramonth.com" redirect
    local-data: "ultramonth.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultraopen.com" redirect
    local-data: "ultraopen.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultraplan.ru" redirect
    local-data: "ultraplan.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultraplant.ru" redirect
    local-data: "ultraplant.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrareplicaguru.com" redirect
    local-data: "ultrareplicaguru.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrasafety.ru" redirect
    local-data: "ultrasafety.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultraspicy.ru" redirect
    local-data: "ultraspicy.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultratoast.com" redirect
    local-data: "ultratoast.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultratold.ru" redirect
    local-data: "ultratold.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultratrees.com" redirect
    local-data: "ultratrees.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrawebsoft.net" redirect
    local-data: "ultrawebsoft.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrawhat.com" redirect
    local-data: "ultrawhat.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ultrayear.com" redirect
    local-data: "ultrayear.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umaaalii.co.uk" redirect
    local-data: "umaaalii.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umbyqweot.com" redirect
    local-data: "umbyqweot.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umenkov.com" redirect
    local-data: "umenkov.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umkdwuow.cn" redirect
    local-data: "umkdwuow.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umkygwilrog.com" redirect
    local-data: "umkygwilrog.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umkygwilrog.net" redirect
    local-data: "umkygwilrog.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umluctoalc.com" redirect
    local-data: "umluctoalc.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umnucutji.com" redirect
    local-data: "umnucutji.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umnucutji.net" redirect
    local-data: "umnucutji.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umqubriavy.com" redirect
    local-data: "umqubriavy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umrelfi.cn" redirect
    local-data: "umrelfi.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umsyonquacs.com" redirect
    local-data: "umsyonquacs.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umufires.cn" redirect
    local-data: "umufires.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "umvaqwawiv.com" redirect
    local-data: "umvaqwawiv.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unchangedwandered.net" redirect
    local-data: "unchangedwandered.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uncommonbuy.com" redirect
    local-data: "uncommonbuy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uncommondirect.com" redirect
    local-data: "uncommondirect.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uncommonoffer.net" redirect
    local-data: "uncommonoffer.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uncommonspecial.net" redirect
    local-data: "uncommonspecial.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undeaik.com" redirect
    local-data: "undeaik.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undejan.com" redirect
    local-data: "undejan.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "underadd.ru" redirect
    local-data: "underadd.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "underemploymentrabbets.cn" redirect
    local-data: "underemploymentrabbets.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undergameus.com" redirect
    local-data: "undergameus.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undergivetake.net" redirect
    local-data: "undergivetake.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "underhis.com" redirect
    local-data: "underhis.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "underleavestandx.com" redirect
    local-data: "underleavestandx.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "underrather.com" redirect
    local-data: "underrather.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "underseem.ru" redirect
    local-data: "underseem.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undersent.ru" redirect
    local-data: "undersent.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "underslave.ru" redirect
    local-data: "underslave.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undertasty.com" redirect
    local-data: "undertasty.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undertowonline.com" redirect
    local-data: "undertowonline.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undoableattending.net" redirect
    local-data: "undoableattending.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "undomergods.net" redirect
    local-data: "undomergods.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unduhos.cn" redirect
    local-data: "unduhos.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unearnedholding.net" redirect
    local-data: "unearnedholding.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unedomergods.net" redirect
    local-data: "unedomergods.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unequaledquestions.net" redirect
    local-data: "unequaledquestions.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unicoloreses.com" redirect
    local-data: "unicoloreses.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unicoloreses.net" redirect
    local-data: "unicoloreses.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unicolorestes.net" redirect
    local-data: "unicolorestes.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unionpillz.com" redirect
    local-data: "unionpillz.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unique-soft-market.com" redirect
    local-data: "unique-soft-market.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquebuyconnection.com" redirect
    local-data: "uniquebuyconnection.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquebuycorner.com" redirect
    local-data: "uniquebuycorner.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniqueelse.com" redirect
    local-data: "uniqueelse.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquefine.com" redirect
    local-data: "uniquefine.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniqueflowagesnow.com" redirect
    local-data: "uniqueflowagesnow.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniqueflower.ru" redirect
    local-data: "uniqueflower.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquehalf.com" redirect
    local-data: "uniquehalf.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniqueorder.ru" redirect
    local-data: "uniqueorder.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquerenown.com" redirect
    local-data: "uniquerenown.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquereply.com" redirect
    local-data: "uniquereply.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquespicy.ru" redirect
    local-data: "uniquespicy.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquestead.com" redirect
    local-data: "uniquestead.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniqueterm.ru" redirect
    local-data: "uniqueterm.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniqueuse.com" redirect
    local-data: "uniqueuse.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniquevoice.ru" redirect
    local-data: "uniquevoice.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uniqueyoung.com" redirect
    local-data: "uniqueyoung.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unisfjea.cn" redirect
    local-data: "unisfjea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitbar.ru" redirect
    local-data: "unitbar.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitdrop.com" redirect
    local-data: "unitdrop.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitduck.com" redirect
    local-data: "unitduck.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "united-card-processing.com" redirect
    local-data: "united-card-processing.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "united-groupnet.com" redirect
    local-data: "united-groupnet.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "united-pharmacy-support.info" redirect
    local-data: "united-pharmacy-support.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "united-pharmacy-support.net" redirect
    local-data: "united-pharmacy-support.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "united-pharmacy-support.org" redirect
    local-data: "united-pharmacy-support.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "united-secure-billing.com" redirect
    local-data: "united-secure-billing.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "united-states-russian-dating.ru" redirect
    local-data: "united-states-russian-dating.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitedkiss.ru" redirect
    local-data: "unitedkiss.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitedpharmacysupport.biz" redirect
    local-data: "unitedpharmacysupport.biz A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitedpharmacysupport.com" redirect
    local-data: "unitedpharmacysupport.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitedpharmacysupport.info" redirect
    local-data: "unitedpharmacysupport.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitedsupport.info" redirect
    local-data: "unitedsupport.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitedworks.ru" redirect
    local-data: "unitedworks.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitfirst.ru" redirect
    local-data: "unitfirst.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitpalate.ru" redirect
    local-data: "unitpalate.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitright.ru" redirect
    local-data: "unitright.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitsdns.com" redirect
    local-data: "unitsdns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unittook.com" redirect
    local-data: "unittook.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unitunique.ru" redirect
    local-data: "unitunique.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "universalhealthandwellness.com" redirect
    local-data: "universalhealthandwellness.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "universallyconstantly.net" redirect
    local-data: "universallyconstantly.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "univerton.com" redirect
    local-data: "univerton.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unjykmogiw.com" redirect
    local-data: "unjykmogiw.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unmannerlymount.net" redirect
    local-data: "unmannerlymount.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unnaxedy.com" redirect
    local-data: "unnaxedy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unoccupieddesert.info" redirect
    local-data: "unoccupieddesert.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unoccupiedfast.info" redirect
    local-data: "unoccupiedfast.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unoccupiedfree.net" redirect
    local-data: "unoccupiedfree.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unoccupiedhouse.info" redirect
    local-data: "unoccupiedhouse.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unoccupiedpeace.info" redirect
    local-data: "unoccupiedpeace.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unoccupiedtea.info" redirect
    local-data: "unoccupiedtea.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unrestricteddesert.info" redirect
    local-data: "unrestricteddesert.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unrestrictedfast.info" redirect
    local-data: "unrestrictedfast.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unrestrictedhouse.info" redirect
    local-data: "unrestrictedhouse.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unrestrictedtea.info" redirect
    local-data: "unrestrictedtea.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilalive.com" redirect
    local-data: "untilalive.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilat.com" redirect
    local-data: "untilat.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilbottom.com" redirect
    local-data: "untilbottom.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilcase.com" redirect
    local-data: "untilcase.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untildarksune.com" redirect
    local-data: "untildarksune.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untildarksuno.com" redirect
    local-data: "untildarksuno.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilensure.ru" redirect
    local-data: "untilensure.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilfood.com" redirect
    local-data: "untilfood.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilproductpowere.com" redirect
    local-data: "untilproductpowere.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilproductpowero.com" redirect
    local-data: "untilproductpowero.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilput.com" redirect
    local-data: "untilput.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilshape.ru" redirect
    local-data: "untilshape.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilshare.ru" redirect
    local-data: "untilshare.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilsharp.com" redirect
    local-data: "untilsharp.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilstaynumber.com" redirect
    local-data: "untilstaynumber.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untilsubtle.com" redirect
    local-data: "untilsubtle.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "untogbp.cn" redirect
    local-data: "untogbp.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "unyquzais.com" redirect
    local-data: "unyquzais.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoatribt.cn" redirect
    local-data: "uoatribt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uocjdibt.cn" redirect
    local-data: "uocjdibt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoguqgj.cn" redirect
    local-data: "uoguqgj.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoilukoh.cn" redirect
    local-data: "uoilukoh.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoni.co.uk" redirect
    local-data: "uoni.co.uk A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uooafhbt.cn" redirect
    local-data: "uooafhbt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoojdibt.cn" redirect
    local-data: "uoojdibt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoojhafhbt.cn" redirect
    local-data: "uoojhafhbt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoorowic.cn" redirect
    local-data: "uoorowic.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoosffbt.cn" redirect
    local-data: "uoosffbt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoosfkvfbt.cn" redirect
    local-data: "uoosfkvfbt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uootribt.cn" redirect
    local-data: "uootribt.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoperbu.com" redirect
    local-data: "uoperbu.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uopiukl.cz" redirect
    local-data: "uopiukl.cz A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uovqtkea.cn" redirect
    local-data: "uovqtkea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uoxefjr.cn" redirect
    local-data: "uoxefjr.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "up-day.ru" redirect
    local-data: "up-day.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upalvukobiz.com" redirect
    local-data: "upalvukobiz.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upand.ru" redirect
    local-data: "upand.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upblow.com" redirect
    local-data: "upblow.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upchick.com" redirect
    local-data: "upchick.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upchicken.com" redirect
    local-data: "upchicken.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upcojibze.com" redirect
    local-data: "upcojibze.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updateapothecary.com" redirect
    local-data: "updateapothecary.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatechase.com" redirect
    local-data: "updatechase.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatecomputerstore.com" redirect
    local-data: "updatecomputerstore.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatedrugstore.com" redirect
    local-data: "updatedrugstore.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatelowbuyworld.com" redirect
    local-data: "updatelowbuyworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatelowpurchase.com" redirect
    local-data: "updatelowpurchase.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatelowpurchaseonline.com" redirect
    local-data: "updatelowpurchaseonline.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatemedication.com" redirect
    local-data: "updatemedication.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatemedicine.com" redirect
    local-data: "updatemedicine.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "updatepurchaseworld.com" redirect
    local-data: "updatepurchaseworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upeehuv.cn" redirect
    local-data: "upeehuv.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uperiggyank.com" redirect
    local-data: "uperiggyank.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uperquals.com" redirect
    local-data: "uperquals.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uperudiar.com" redirect
    local-data: "uperudiar.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uperummerarts.com" redirect
    local-data: "uperummerarts.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upexpect.ru" redirect
    local-data: "upexpect.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upfinal.com" redirect
    local-data: "upfinal.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upgradepharmacy.com" redirect
    local-data: "upgradepharmacy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upgrowjust.net" redirect
    local-data: "upgrowjust.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uphalf.ru" redirect
    local-data: "uphalf.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uphs.info" redirect
    local-data: "uphs.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uphsupport.com" redirect
    local-data: "uphsupport.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uphsupport.info" redirect
    local-data: "uphsupport.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upinvent.com" redirect
    local-data: "upinvent.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upkishp.cn" redirect
    local-data: "upkishp.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uployal.com" redirect
    local-data: "uployal.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upmakey.com" redirect
    local-data: "upmakey.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upmevpuoto.com" redirect
    local-data: "upmevpuoto.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upmoon.ru" redirect
    local-data: "upmoon.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upofedea.cn" redirect
    local-data: "upofedea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upperget.com" redirect
    local-data: "upperget.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uppersoftware.com" redirect
    local-data: "uppersoftware.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uppervalleysoftware.net" redirect
    local-data: "uppervalleysoftware.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uppills.com" redirect
    local-data: "uppills.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uprather.ru" redirect
    local-data: "uprather.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upronio.net" redirect
    local-data: "upronio.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upseven.ru" redirect
    local-data: "upseven.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upstak.com" redirect
    local-data: "upstak.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uptan.ru" redirect
    local-data: "uptan.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uptimefather.com" redirect
    local-data: "uptimefather.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uptotrend.com" redirect
    local-data: "uptotrend.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uptowngoody.com" redirect
    local-data: "uptowngoody.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upveruea.cn" redirect
    local-data: "upveruea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "upwouldproduct.com" redirect
    local-data: "upwouldproduct.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uqecomeb.cn" redirect
    local-data: "uqecomeb.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uqjapuea.cn" redirect
    local-data: "uqjapuea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uqlepkd.cn" redirect
    local-data: "uqlepkd.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uqnabte.cn" redirect
    local-data: "uqnabte.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uqwamim.cn" redirect
    local-data: "uqwamim.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uqyshuew.cn" redirect
    local-data: "uqyshuew.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uqywuden.com" redirect
    local-data: "uqywuden.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uqzaulb.cn" redirect
    local-data: "uqzaulb.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ur-piccy-pics.com" redirect
    local-data: "ur-piccy-pics.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uranodvd.com" redirect
    local-data: "uranodvd.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urbanfractionals.com" redirect
    local-data: "urbanfractionals.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urbanfutbol.com" redirect
    local-data: "urbanfutbol.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urbanwearnews.com" redirect
    local-data: "urbanwearnews.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urbpvuea.cn" redirect
    local-data: "urbpvuea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uretoniafos.net" redirect
    local-data: "uretoniafos.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urgentfall.com" redirect
    local-data: "urgentfall.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urgentmeds-direct2u-now.com" redirect
    local-data: "urgentmeds-direct2u-now.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urgentroof.com" redirect
    local-data: "urgentroof.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urgonovias.net" redirect
    local-data: "urgonovias.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urgonovies.net" redirect
    local-data: "urgonovies.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uriagent.com" redirect
    local-data: "uriagent.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urikolp.net" redirect
    local-data: "urikolp.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urikota.net" redirect
    local-data: "urikota.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urinologic.ru" redirect
    local-data: "urinologic.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uristi.org" redirect
    local-data: "uristi.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urixifat.cn" redirect
    local-data: "urixifat.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urizewui.cn" redirect
    local-data: "urizewui.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urjlcpea.cn" redirect
    local-data: "urjlcpea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urketoniafos.net" redirect
    local-data: "urketoniafos.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urlclick104.net" redirect
    local-data: "urlclick104.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urlslive.com" redirect
    local-data: "urlslive.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urnnflq.cn" redirect
    local-data: "urnnflq.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urqnyqbd.cn" redirect
    local-data: "urqnyqbd.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ursmcsku.cn" redirect
    local-data: "ursmcsku.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urueomed.cn" redirect
    local-data: "urueomed.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "urybtnfb.cn" redirect
    local-data: "urybtnfb.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "us-contest.us" redirect
    local-data: "us-contest.us A {{ ansible_default_ipv4["address"] }}"
    local-zone: "us-irs.us" redirect
    local-data: "us-irs.us A {{ ansible_default_ipv4["address"] }}"
    local-zone: "us-medbox.com" redirect
    local-data: "us-medbox.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "us-rxstore.com" redirect
    local-data: "us-rxstore.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "us-vvesternunion.us" redirect
    local-data: "us-vvesternunion.us A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usa-irs.com" redirect
    local-data: "usa-irs.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usa-irs.net" redirect
    local-data: "usa-irs.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usa-irs.org" redirect
    local-data: "usa-irs.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usa-pharmacy.net" redirect
    local-data: "usa-pharmacy.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usabestguy.info" redirect
    local-data: "usabestguy.info A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usabeststars.com" redirect
    local-data: "usabeststars.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usadomainhost.com" redirect
    local-data: "usadomainhost.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usadrugmarket.com" redirect
    local-data: "usadrugmarket.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usadrugmarket.net" redirect
    local-data: "usadrugmarket.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usagenericviagra.com" redirect
    local-data: "usagenericviagra.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usahostdns.com" redirect
    local-data: "usahostdns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usapetmeds.net" redirect
    local-data: "usapetmeds.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usarxworld.com" redirect
    local-data: "usarxworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usasbestwebhost.com" redirect
    local-data: "usasbestwebhost.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usashost.com" redirect
    local-data: "usashost.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usatnoea.cn" redirect
    local-data: "usatnoea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usbornehost.com" redirect
    local-data: "usbornehost.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uscewkedo.com" redirect
    local-data: "uscewkedo.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usdhujhje.cn" redirect
    local-data: "usdhujhje.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usdrugsnet.com" redirect
    local-data: "usdrugsnet.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usdry.ru" redirect
    local-data: "usdry.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "useasyweb.com" redirect
    local-data: "useasyweb.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "useawake.ru" redirect
    local-data: "useawake.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usebottom.ru" redirect
    local-data: "usebottom.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usecarcold.com" redirect
    local-data: "usecarcold.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usedreamy.com" redirect
    local-data: "usedreamy.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usedsoftwareworld.com" redirect
    local-data: "usedsoftwareworld.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usehumane.com" redirect
    local-data: "usehumane.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "useleast.ru" redirect
    local-data: "useleast.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uselocate.ru" redirect
    local-data: "uselocate.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uselofty.com" redirect
    local-data: "uselofty.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uselog.ru" redirect
    local-data: "uselog.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "useotheruse.net" redirect
    local-data: "useotheruse.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "user-updates.com" redirect
    local-data: "user-updates.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "user5498.com" redirect
    local-data: "user5498.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "user5500.net" redirect
    local-data: "user5500.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "user5690.net" redirect
    local-data: "user5690.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "user6734.net" redirect
    local-data: "user6734.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "user7563.net" redirect
    local-data: "user7563.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "useregion.com" redirect
    local-data: "useregion.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "userentin.com" redirect
    local-data: "userentin.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "userrxrefill.net" redirect
    local-data: "userrxrefill.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usetook.ru" redirect
    local-data: "usetook.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usetrack.ru" redirect
    local-data: "usetrack.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usewellness.com" redirect
    local-data: "usewellness.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usexotic.ru" redirect
    local-data: "usexotic.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usfederalbanks.com" redirect
    local-data: "usfederalbanks.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usfederalbanks.org" redirect
    local-data: "usfederalbanks.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usfederalreserve.org" redirect
    local-data: "usfederalreserve.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usfederalreservebanks.net" redirect
    local-data: "usfederalreservebanks.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usfederalreservebanks.org" redirect
    local-data: "usfederalreservebanks.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usflaghost.com" redirect
    local-data: "usflaghost.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usfshdcs.cn" redirect
    local-data: "usfshdcs.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usfshdkdcs.cn" redirect
    local-data: "usfshdkdcs.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usfytfoublu.com" redirect
    local-data: "usfytfoublu.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usgenericviagra.com" redirect
    local-data: "usgenericviagra.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usgraphicsource.com" redirect
    local-data: "usgraphicsource.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ushand.com" redirect
    local-data: "ushand.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ushealthcare-sales.com" redirect
    local-data: "ushealthcare-sales.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ushidyea.cn" redirect
    local-data: "ushidyea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ushostclub.com" redirect
    local-data: "ushostclub.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usinch.com" redirect
    local-data: "usinch.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usinessrofessionalxchange.com" redirect
    local-data: "usinessrofessionalxchange.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usleave.ru" redirect
    local-data: "usleave.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usmedicalhome.net" redirect
    local-data: "usmedicalhome.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usozmapqux.com" redirect
    local-data: "usozmapqux.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uspower.ru" redirect
    local-data: "uspower.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uspreag.com" redirect
    local-data: "uspreag.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usrvalidation.cn" redirect
    local-data: "usrvalidation.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usrxdirect.com" redirect
    local-data: "usrxdirect.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usserverdirect.com" redirect
    local-data: "usserverdirect.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ussuit.ru" redirect
    local-data: "ussuit.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ustopmeds.com" redirect
    local-data: "ustopmeds.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ustopmeds24.com" redirect
    local-data: "ustopmeds24.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ustreasurynet.com" redirect
    local-data: "ustreasurynet.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ustreasurynet.net" redirect
    local-data: "ustreasurynet.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ustreasurynet.org" redirect
    local-data: "ustreasurynet.org A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usttruckns.com" redirect
    local-data: "usttruckns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualagree.com" redirect
    local-data: "usualagree.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualclear.com" redirect
    local-data: "usualclear.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualcool.com" redirect
    local-data: "usualcool.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualdrink.com" redirect
    local-data: "usualdrink.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualgentle.com" redirect
    local-data: "usualgentle.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usuallearn.ru" redirect
    local-data: "usuallearn.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualmind.ru" redirect
    local-data: "usualmind.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualprefer.ru" redirect
    local-data: "usualprefer.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualsite.com" redirect
    local-data: "usualsite.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualspice.com" redirect
    local-data: "usualspice.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualsummer.ru" redirect
    local-data: "usualsummer.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualsuspectsforums.com" redirect
    local-data: "usualsuspectsforums.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualtenone.com" redirect
    local-data: "usualtenone.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualwash.ru" redirect
    local-data: "usualwash.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usualwhiz.com" redirect
    local-data: "usualwhiz.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usurpingjuly.net" redirect
    local-data: "usurpingjuly.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "usworkingspace.com" redirect
    local-data: "usworkingspace.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "ut9.ru" redirect
    local-data: "ut9.ru A {{ ansible_default_ipv4["address"] }}"
    local-zone: "utondaremos.net" redirect
    local-data: "utondaremos.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "utondaremotes.net" redirect
    local-data: "utondaremotes.net A {{ ansible_default_ipv4["address"] }}"
    local-zone: "utoredua.cn" redirect
    local-data: "utoredua.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "utukize.com" redirect
    local-data: "utukize.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "utuyhpea.cn" redirect
    local-data: "utuyhpea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "utvaypoar.com" redirect
    local-data: "utvaypoar.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "utvorehdufa.com" redirect
    local-data: "utvorehdufa.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "utxvqyea.cn" redirect
    local-data: "utxvqyea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uu7ns.com" redirect
    local-data: "uu7ns.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uuheznx.cn" redirect
    local-data: "uuheznx.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uuvqfoea.cn" redirect
    local-data: "uuvqfoea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uuycrfea.cn" redirect
    local-data: "uuycrfea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uvaawiz.cn" redirect
    local-data: "uvaawiz.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uvdoqoy.cn" redirect
    local-data: "uvdoqoy.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uvitten.com" redirect
    local-data: "uvitten.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uvnabwenunn.com" redirect
    local-data: "uvnabwenunn.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uvvufjn.cn" redirect
    local-data: "uvvufjn.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uvwmaaea.cn" redirect
    local-data: "uvwmaaea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uwgsdho.cn" redirect
    local-data: "uwgsdho.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uwialdira.com" redirect
    local-data: "uwialdira.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uwonjackpots.com" redirect
    local-data: "uwonjackpots.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uwponkaqwis.com" redirect
    local-data: "uwponkaqwis.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uxjcrpea.cn" redirect
    local-data: "uxjcrpea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uyert11.com" redirect
    local-data: "uyert11.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uyert56.com" redirect
    local-data: "uyert56.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uylzupelyju.com" redirect
    local-data: "uylzupelyju.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uyrfyucli.com" redirect
    local-data: "uyrfyucli.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uysjrpea.cn" redirect
    local-data: "uysjrpea.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uytiwmaje.com" redirect
    local-data: "uytiwmaje.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uyvkhocs.cn" redirect
    local-data: "uyvkhocs.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uzderyx.com" redirect
    local-data: "uzderyx.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uzfbhofi.cn" redirect
    local-data: "uzfbhofi.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uzidoful.cn" redirect
    local-data: "uzidoful.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uziradio.com" redirect
    local-data: "uziradio.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uzkeojkol.com" redirect
    local-data: "uzkeojkol.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uzmezgg.cn" redirect
    local-data: "uzmezgg.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uznnzif.cn" redirect
    local-data: "uznnzif.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uznyvudedu.com" redirect
    local-data: "uznyvudedu.com A {{ ansible_default_ipv4["address"] }}"
    local-zone: "uzporid.com" redirect
    local-data: "uzporid.com A {{ ansible_default_ipv4["address"] }}"
