    local-zone: "*.cn" redirect
    local-data: "*.cn A {{ ansible_default_ipv4["address"] }}"
    local-zone: "=bb=f3=c6=d0=bb=f3=c1=a1.kr" redirect
    local-data: "=bb=f3=c6=d0=bb=f3=c1=a1.kr A {{ ansible_default_ipv4["address"] }}"
