# -*- coding: iso-8859-1 -*-

from farmconfig import FarmConfig

class Config(FarmConfig):
    sitename           = u'Wiki'
    interwikiname      = u'Wiki'
    page_front_page    = u"FrontPage"
    data_dir           = '/var/lib/moin/wiki/data'
    data_underlay_dir  = '/usr/share/moin/underlay'
    superuser          = [ u"{{ moin_superuser }}", ]
    acl_rights_before  = u"{{ moin_superuser }}:read,write,delete,revert,admin"
    acl_rights_default = u"All:read"
    mail_smarthost     = "{{ smtp_hostrelay }}"
    mail_from          = u"noreply@{{ dirdomain }}"
    page_front_page    = u"FrontPage"
