# setting PATH
PATH=/bin:/usr/bin:/usr/local/bin
if test -d /etc/X11R6/bin; then
    PATH=/etc/X11R6/bin:$PATH
fi
if test `id -u` -eq 0; then
    PATH=/sbin:/usr/sbin:/usr/local/sbin:$PATH
fi
export PATH

: ${HOME=/root}
export HOME
umask 022
case "$-" in
    *i*)
	if test -x /usr/bin/tset; then
	    if test -z "$XTERM_VERSION"; then
		eval `/usr/bin/tset -sQ '-munknown:?vt200' $TERM`
	    else
		eval `/usr/bin/tset -IsQ '-munknown:?vt200' $TERM`
	    fi
	fi
	;;

    *m*)
	stty susp '^z'
	;;
esac

# ceinture et bretelles
if test -z "$PWD"; then
    PWD=$HOME
    export PWD
fi
{% if webproxy is defined %}
export http_proxy=http://{{ webproxy }}:3128/
{% if webproxy_exceptions is defined %}
export no_proxy="{% for exception in webproxy_exceptions %}{{ exception }},{% endfor %}localhost"
{% else %}
export no_proxy="localhost"
{% endif %}
{% endif %}

if test -f $HOME/{{ shell_user_conf }} -a -r $HOME/{{ shell_user_conf }}; then
    ENV=$HOME
    export ENV
{% if shell_user == "csh" or shell_user == "tcsh" %}
    source $HOME/{{ shell_user_conf }}
    rehash
{% elif shell_user == "ksh" %}
    . $HOME/{{ shell_user_conf }}
{% else %}
    exec {{ shell_user }}
{% endif %}
fi
