#!/bin/sh

who | awk '{ print $1" "${% if ansible_distribution == "FreeBSD" or ansible_distribution == "OpenBSD" %}6{% else %}5{% endif %} {{ '}' }}' | sort | awk 'BEGIN{cnt=0}{if ($2 == last) {cnt=cnt+1} else { if (lastname != ""){print lastname" "last" ("cnt" sessions)";}lastname=$1;cnt=1;last=$2}}END{print lastname" "last" ("cnt" sessions)"}'
