#!/bin/sh

LOCK=/tmp/updatenewz
OUT=/tmp/grabbingbuffer.$$
DEST={{ contact }}
ret=0

if test -s $LOCK; then
    echo "running: `cat $LOCK`"
    ret=1
else
    echo $$ >$LOCK
    batchstt=`date +%s`
    cd {{ newznab_root }}/misc/update_scripts/
    echo " ---- Binaries ----"
    /usr/bin/php update_binaries_threaded.php
    echo
    echo " ---- Releases ----"
    /usr/bin/php update_releases.php
    echo
    echo " ---- Theaters ----"
    /usr/bin/php update_theaters.php
    echo
    echo " ---- TV Schedule ----"
    /usr/bin/php update_tvschedule.php
    echo
    echo " ---- DONE ----"
    batchstp=`date +%s`

    rm -f $LOCK
fi >$OUT 2>&1

if test $ret = 0; then
    cat $OUT | mail -s "[REPORT] updated nzb indexes $batchstt:$batchstp" $DEST
fi
rm -f $OUT

exit $ret
