	debug-level				{{ nscd_debug_level }}
	paranoia				{{ nscd_paranoia }}
{% if nscd_cache_passwd %}
	enable-cache		passwd		{{ nscd_enable_cache }}
	positive-time-to-live	passwd		{{ nscd_positive_passwd_ttl }}
	negative-time-to-live	passwd		{{ nscd_negative_passwd_ttl }}
	suggested-size		passwd		{{ nscd_suggested_size }}
	check-files		passwd		{{ nscd_check_files }}
	persistent		passwd		{{ nscd_persistent }}
	shared			passwd		{{ nscd_shared }}
	max-db-size		passwd		{{ nscd_max_db_size }}
	auto-propagate		passwd		{{ nscd_auto_propagate }}
{% endif %}
{% if nscd_cache_group %}
	enable-cache		group		{{ nscd_enable_cache }}
	positive-time-to-live	group		{{ nscd_positive_group_ttl }}
	negative-time-to-live	group		{{ nscd_negative_group_ttl }}
	suggested-size		group		{{ nscd_suggested_size }}
	check-files		group		{{ nscd_check_files }}
	persistent		group		{{ nscd_persistent }}
	shared			group		{{ nscd_shared }}
	max-db-size		group		{{ nscd_max_db_size }}
	auto-propagate		group		{{ nscd_auto_propagate }}
{% endif %}
{% if nscd_cache_hosts %}
	enable-cache		hosts		{{ nscd_enable_cache }}
	positive-time-to-live	hosts		{{ nscd_positive_hosts_ttl }}
	negative-time-to-live	hosts		{{ nscd_negative_hosts_ttl }}
	suggested-size		hosts		{{ nscd_suggested_size }}
	check-files		hosts		{{ nscd_check_files }}
	persistent		hosts		{{ nscd_persistent }}
	shared			hosts		{{ nscd_shared }}
	max-db-size		hosts		{{ nscd_max_db_size }}
{% endif %}
{% if nscd_cache_services %}
	enable-cache		services	{{ nscd_enable_cache }}
	positive-time-to-live	services	{{ nscd_positive_services_ttl }}
	negative-time-to-live	services	{{ nscd_negative_services_ttl }}
	suggested-size		services	{{ nscd_suggested_size }}
	check-files		services	{{ nscd_check_files }}
	persistent		services	{{ nscd_persistent }}
	shared			services	{{ nscd_shared }}
	max-db-size		services	{{ nscd_max_db_size }}
{% endif %}
