table	aliases	db:{{ opensmtpd_conf_dir }}/aliases.db
{% if mailrelay == false %}
bounce-warn	5d
expire		30d

{% endif %}
listen on {% if mailrelay %}{{ ansible_default_ipv4["address"] }}{% else %}lo0{% endif %} hostname {{ ansible_fqdn }}
{% if smtp_hostrelay %}
{% if mailrelay %}
accept for any relay via ssl://{{ smtp_hostrelay }}
{% else %}
accept from local for any relay via ssl://{{ smtp_hostrelay }}
{% endif %}
{% endif %}
