{% if sasyncd_control is defined %}
control {{ sasyncd_control }}
{% endif %}
flushmode {{ sasyncd_flushmode }}
interface {{ sasyncd_interface }}
{% if sasyncd_listen_on is defined %}
listen on {{ sasyncd_listen_on }}
{% endif %}
{% if sasyncd_peers is defined %}
{% for peer in sasyncd_peers %}
peer {{ peer }}
{% endfor %}
{% endif %}
sharedkey {{ sasyncd_sharedkey }}
