#!/bin/sh

ALLOW={{ apache_conf_dir }}/allow.conf
PWGEN=/usr/bin/pwgen
HTPASSWD=/usr/bin/htpasswd
CONFDIR={{ apache_conf_dir }}/sites-available/
PASSDIR={{ apache_conf_dir }}/htpasswd
APACHECTL=/usr/sbin/apache2ctl
ENSITE=/usr/sbin/a2ensite
IIS=0

if test -x /bin/dnsdomainname; then
    DOMAIN=`dnsdomainname`
fi

if ! test -x $PWGEN; then
    echo "pwgen is not installed, or binary not found"
    exit 1
elif ! test -x $APACHECTL; then
    echo "apachectl is not installed, or binary not found"
    exit 2
elif ! test -x $ENSITE; then
    echo "a2ensite is not installed, or binary not found"
    exit 3
elif ! test -x $HTPASSWD; then
    echo "htpasswd is not installed, or binary not found"
    exit 4
elif ! test -d $CONFDIR; then
    echo "Folder $CONFDIR does not exist"
    exit 5
elif ! test -d $PASSDIR; then
    echo "Folder $PASSDIR does not exist"
    exit 6
fi

if ! test "$1"; then
    echo "usage: $0 [--iis] reverse_name [URL] [PASSW]"
    echo " Create an external access http://reverse_name.{{ dirdomain }}/"
    echo " URL: optional parameter, to proxify requests to a specific VM addr (http://reverse_name.$DOMAIN/)"
    exit 7
fi

if test $1 = --iis; then
    IIS=y
    shift
fi
NAME=$1
URL=http://$NAME.$DOMAIN/

if test "$2"; then
    if test ${2#${2%?}} != "/"; then
        URL="$2/"
    else
        URL=$2
    fi
fi

if test "$3"; then
    PASS=$3
else
    PASS=`pwgen -nc`
fi

if test -f $CONFDIR/$NAME.conf; then
    echo "VirtualHost $NAME already exists" >&2
    exit 1
fi

cat <<EOF >$CONFDIR/$NAME.conf
<VirtualHost *:80>
    ServerName			$NAME.{{ dirdomain }}
EOF

if test -e /etc/apache2/ssl/server.key; then
    cat <<EOF >>$CONFDIR/$NAME.conf
    RewriteEngine		On
    RewriteRule		^/(.*)	https://$NAME.{{ dirdomain }}/\$1	[L,R]
</VirtualHost>
<VirtualHost *:443>
    ServerName			$NAME.{{ dirdomain }}
    SSLEngine			On
    SSLCertificateFile		/etc/apache2/ssl/server.crt
    SSLCertificateChainFile	/etc/apache2/ssl/service-chain.crt
    SSLCertificateKeyFile	/etc/apache2/ssl/server.key
EOF
fi

cat <<EOF >>$CONFDIR/$NAME.conf
    ProxyPass			/	$URL
    ProxyPassReverse		/	$URL
    ProxyPreserveHost		On
EOF

if test "$IIS" = y; then
    cat <<EOF >>$CONFDIR/$NAME.conf
    SetEnv			force-proxy-request-1.0 1
    SetEnv			proxy-nokeepalive 1
EOF
fi

cat <<EOF >>$CONFDIR/$NAME.conf

    <Location />
	AuthName		"Restricted Access"
	AuthUserFile		$PASSDIR/$NAME.htpasswd
	AuthType		Basic
	Require			valid-user
	Order			allow,deny
	Include			$ALLOW
	Satisfy			any
    </Location>
</VirtualHost>
EOF

$HTPASSWD -b -c $PASSDIR/$NAME.htpasswd $NAME $PASS >/dev/null 2>&1
$HTPASSWD -b -c -p $PASSDIR/$NAME.clear $NAME $PASS >/dev/null 2>&1

if ! $ENSITE $NAME.conf >/dev/null 2>&1; then
    echo "Unable to enable $NAME, rollback!" >&2
    rm -f $PASSDIR/$NAME.clear $PASSDIR/$NAME.htpasswd $CONFDIR/$NAME.conf $CONFDIR/../sites-available/$NAME.conf
    exit 1
elif ! $APACHECTL configtest >/dev/null 2>&1; then
    echo "Syntax error, rollback !" >&2
    rm -f $PASSDIR/$NAME.clear $PASSDIR/$NAME.htpasswd $CONFDIR/$NAME.conf $CONFDIR/../sites-available/$NAME.conf
    exit 1
elif ! $APACHECTL graceful; then
    echo "Configuration reload failed. WARNING!" >&2
fi
echo "http://$NAME.{{ dirdomain }}/"
echo "$NAME:$PASS"

exit 0
