#!/bin/sh

ALLOW={{ nginx_conf_dir }}/allow.conf
PWGEN=/usr/bin/pwgen
HTPASSWD=/usr/bin/htpasswd
CONFDIR={{ nginx_conf_dir }}/sites-available/
PASSDIR={{ nginx_conf_dir }}/htpasswd
NGINXCTL=/etc/init.d/nginx

if test -x /bin/dnsdomainname; then
    DOMAIN=`dnsdomainname`
fi

if ! test -x $PWGEN; then
    echo "pwgen is not installed, or binary not found"
    exit 1
elif ! test -x $NGINXCTL; then
    echo "nginxctl is not installed, or binary not found"
    exit 2
elif ! test -x $HTPASSWD; then
    echo "htpasswd is not installed, or binary not found"
    exit 4
elif ! test -d $CONFDIR; then
    echo "Folder $CONFDIR does not exist"
    exit 5
elif ! test -d $PASSDIR; then
    echo "Folder $PASSDIR does not exist"
    exit 6
fi

if ! test "$1"; then
    echo "usage: $0 reverse_name [URL] [PASSW]"
    echo " Create an external access http://reverse_name.{{ dirdomain }}/"
    echo " URL: optional parameter, to proxify requests to a specific VM addr (h
ttp://reverse_name.$DOMAIN/)"
    exit 7
fi

NAME=$1
URL=http://$NAME.$DOMAIN/

if test "$2"; then
    if test ${2#${2%?}} != "/"; then
        URL="$2/"
    else
        URL=$2
    fi
fi

if test "$3"; then
    PASS=$3
else
    PASS=`pwgen -nc`
fi

if test -f $CONFDIR/$NAME.conf; then
    echo "Reverse $NAME already exists" >&2
    exit 1
fi

cat <<EOF >$CONFDIR/$NAME.conf
server
{
    listen				80;
    server_name				$NAME.{{ dirdomain }};
    root				{{ nginx_home_dir }};
EOF

if test -e {{ nginx_conf_dir }}/ssl/server.key; then
    cat <<EOF >>$CONFDIR/$NAME.conf
    rewrite		^(.*)$		https://$NAME.{{ dirdomain }}\$1 permanent;
}

server
{
    listen				443;
    server_name				$NAME.{{ dirdomain }};
    ssl					on;
    ssl_certificate			{{ nginx_conf_dir }}/ssl/server.crt;
    ssl_certificate_key			{{ nginx_conf_dir }}/ssl/server.key;
    ssl_client_certificate		{{ nginx_conf_dir }}/ssl/service-chain.crt;
    ssl_ciphers				HIGH:!ADH:!MD5;
    ssl_protocols			SSLv3 TLSv1;
    ssl_session_timeout			5m;
    ssl_verify_client			optional;
EOF
fi

cat <<EOF >>$CONFDIR/$NAME.conf
    proxy_redirect			off;
    proxy_buffering			off;
    proxy_set_header	Host		\$host;
    proxy_set_header	X-Real-IP	\$remote_addr;
    proxy_set_header	X-Forwarded-For	\$proxy_add_x_forwarded_for;
    proxy_read_timeout			180;

    location /
    {
	auth_basic			"Restricted Access";
	auth_basic_user_file		$PASSDIR/$NAME.htpasswd;
	include				$ALLOW;
	satisfy				any;
	proxy_pass			http://$NAME.{{ dirdomain }}/;
	proxy_redirect			off;
    }
}
EOF

SALT="$(openssl rand -base64 3)"
SHA1=$(printf "$PASS$SALT" | openssl dgst -binary -sha1 | sed 's#$#'"$SALT"'#' | base64)

#$HTPASSWD -b -c $PASSDIR/$NAME.htpasswd $NAME $PASS >/dev/null 2>&1
$HTPASSWD -b -c -p $PASSDIR/$NAME.clear $NAME $PASS >/dev/null 2>&1
printf "$NAME:{SSHA}$SHA1\n" >$PASSDIR/$NAME.htpasswd

if ! ln -s $CONFDIR/$NAME.conf $CONFDIR/../sites-enabled/$NAME.conf >/dev/null 2>&1; then
    echo "Unable to enable $NAME, rollback!" >&2
    rm -f $PASSDIR/$NAME.clear $PASSDIR/$NAME.htpasswd $CONFDIR/$NAME.conf $CONFDIR/../sites-enabled/$NAME.conf
    exit 1
elif ! nginx -t >/dev/null 2>&1; then
    echo "Syntax error, rollback !" >&2
    rm -f $PASSDIR/$NAME.clear $PASSDIR/$NAME.htpasswd $CONFDIR/$NAME.conf $CONFDIR/../sites-enabled/$NAME.conf
    exit 1
elif ! $NGINXCTL restart; then
    echo "Configuration reload failed. WARNING!" >&2
fi
echo "http://$NAME.{{ dirdomain }}/"
echo "$NAME:$PASS"

exit 0
