command[check_unicorn_{{ service_name }}]={{ nagios_probe_dir }}/check_unicorn {{ unicorn_root }}
command[check_unicorn_processes_{{ service_name }}]={{ nagios_probe_dir }}/check_unicorn_processes {{ unicorn_root }}
