#!/bin/sh
### BEGIN INIT INFO
# Provides:		{{ service_name }}
# Required-Start:	$network
# Required-Stop:	$network
# Default-Start:	2 3 4 5
# Default-Stop:		0 1 6
# Short-Description:	{{ service_name }}
### END INIT INFO

export PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin
PRGDIR={{ unicorn_root }}

DAEMON=/usr/bin/unicorn
DAEMON_OPTS="-D -c$PRGDIR/unicorn.conf"
KILL=/bin/kill
PID=/var/run/{{ service_name }}/unicorn.pid

. /lib/lsb/init-functions
alias failure=log_failure_msg
alias success=log_success_msg

start()
{
    test -d $PRGDIR/tmp || mkdir -p $PRGDIR/tmp

    cd $PRGDIR
    echo -n "Entering whorehouse"
    if RAILS_ENV=production $DAEMON $DAEMON_OPTS; then
        success ; echo
    else
        failure ; echo
        return 1
    fi
}

stop()
{
    local value

    if ! test -s $PID; then
        $KILL `/bin/ps ax | /usr/bin/awk "/un[i]corn .*\/unicorn\.conf/{print \$2}"`
    fi
    value=`cat $PID`
    if $KILL $value; then
        success ; echo
    else
        failure ; echo
        return 1
    fi
}

status()
{
   if /bin/ps ax | /usr/bin/awk "/un[i]corn .*\/unicorn\.conf/{print \$1}" | grep 'u[n]icorn' >/dev/null; then
	if ! test -s $PID; then
	    echo "no pid file?" >&2
	    exit 2
	else
	    echo "graylog2-web-interface is running"
	fi
	exit 0
    elif test -s $PID; then
	echo "unclean shutdown, fixing"
	rm -f $PID
    fi
    echo "graylog2-web-interface is not running" >&2
    exit 3
}

case "$1" in
    status)
        status
        ;;

    start)
	if ! $0 status 2>/dev/null; then
	    start
	fi
        ;;

    stop)
	if $0 status >/dev/null; then
	    stop
	fi
        ;;

  restart)
        $0 stop
	sleep 2
        $0 start
	;;

  *)
        echo "Usage: $0 {start|stop|restart|status}"
	exit 1
esac

exit 0
