worker_processes {{ unicorn_worker_processes }}
    working_directory '{{ unicorn_root }}'
    listen '/var/run/{{ service_name }}/unicorn.sock', :backlog => {{ unicorn_backlog }}
    timeout {{ unicorn_timeout }}
    pid '/var/run/{{ service_name }}/unicorn.pid'

    preload_app true
    if GC.respond_to?(:copy_on_write_friendly=)
        GC.copy_on_write_friendly = true
    end

    before_fork do |server, worker|
        old_pid = "#{server.config[:pid]}.oldbin"
        if File.exists?(old_pid) && server.pid != old_pid
        begin
            Process.kill("QUIT", File.read(old_pid).to_i)
            rescue Errno::ENOENT, Errno::ESRCH
        end
    end
end
