{{ mongodb_log_dir }}/mongodb.log {
    compress
    daily
    missingok
    notifempty
    rotate {{ mongodb_log_retention }}
    postrotate
{% if ansible_system == "Linux" %}
	{{ service_bin }} mongodb restart >/dev/null 2>&1 || true
{% else %}
	/etc/rc.d/mongodb restart >/dev/null 2>&1 || true
{% endif %}
    endscript
}
