dbpath = {{ mongodb_lib_dir }}
logpath = {{ mongodb_log_dir }}/mongodb.log
logappend = true
bind_ip = {{ mongodb_bind_addr }}
port = {{ mongodb_bind_port }}
journal = true
oplogSize = {{ mongodb_op_logSize }}
{% if mongodb_replset_name is defined %}
replSet = {{ mongodb_replset_name }}
{% if mongodb_replset_master is defined %}
master = true
{% endif %}
{% endif %}
