set path = (/sbin /bin /usr/sbin /usr/bin /usr/local/sbin /usr/local/bin $HOME/bin)
if ($user == root) then
    set prompt="%{\033[{{ shell_prompt_style }};{{ shell_prompt_color }}m%}%m:%B%~%b%{\033[0;37m%}#%{\033[0;00m%} "
else
    set prompt="%{\033[{{ shell_prompt_style }};{{ shell_prompt_color }}m%}%n@%m:%B%~%b%{\033[0;37m%}\$%{\033[0;00m%} "
endif
set complete
set autolist
set nobeep
set rmstar
set history=100
set savehist=100
set filec
set history = 100
set savehist = 100
set mail = (/var/mail/$USER)
unset ignoreeof

if ($?tcsh) then
    bindkey "^W" backward-delete-word
    bindkey -k up history-search-backward
    bindkey -k down history-search-forward
endif

if ( -d /etc/profile.d ) then
    set nonomatch
    test -e /etc/profile.d/* >&/dev/null && set load=true
    if ( $?load ) then
	foreach config ( /etc/profile.d/* )
	    grep "^#\!/bin/[t]*csh" $config >/dev/null || continue
	    source $config
	end
    endif
endif

setenv BLOCKSIZE K
setenv CLICOLOR true
setenv EDITOR `which vim >&/dev/null || which vi`
setenv LC_CTYPE {{ lang_locale }}
setenv LC_MESSAGES {{ lang_locale }}
setenv LESS -X
setenv PAGER less
