case "$-" in
    *i*)
	USER=`whoami 2>/dev/null`
	USER=${USER:-`id | sed 's/^[^(]*(\([^)]*\)).*/\1/'`}

	case $LOGNAME in
	    root)
		PS1='`print "\033[{{ shell_prompt_style }};{{ shell_prompt_color }}m"``hostname -s`:`pwd``print "\033[0;37m"`#`print "\033[0;0m"` '
		;;
	    *)
		PS1='`print "\033[{{ shell_prompt_style }};{{ shell_prompt_color }}m"`$USER@`hostname -s`:`pwd``print "\033[0;37m"`\$`print "\033[0;0m"` '
		;;
	esac
	export PS1

	HOSTNAME=${HOSTNAME:-`uname -n`}
	HOST=${HOSTNAME%%.*}

	tty=`tty`
	tty=`basename $tty`
	TTY=${TTY:-$tty}

	set -o emacs

	case "$KSH_VERSION" in
	    *PD*)
		;;

	    *)
		test -r $HOME/.functions && . $HOME/.functions
		set -o trackall
		;;
	esac

	case "$TERM" in
	    sun*-s)
		if test "$tty" != "$console"; then
			ILS='\033]L'
			ILE='\033\\'
			WLS='\033]l'
			WLE='\033\\'
		fi
		;;

	    xterm*)
		ILS='\033]1;'
		ILE='\007'
		WLS='\033]2;'
		WLE='\007'
		parent="`ps -ax 2>/dev/null | grep $PPID | grep -v grep`"

		case "$parent" in
		    *telnet*)
			export TERM=xterms
			;;
		esac
		;;

	    *)
		;;
	esac

	if test "$ILS"; then
	    ilabel ()
	    {
		print -n "${ILS}$*${ILE}" >/dev/tty
	    }

	    label ()
	    {
		print -n "${WLS}$*${WLE}" >/dev/tty
	    }

	    alias stripe='label "$USER@$HOST ($tty) - $PWD"'
	    alias istripe='ilabel "$USER@$HOST ($tty)"'

	    wftp ()
	    {
		ilabel "ftp $*"
		"ftp" "$@"
		eval istripe
	    }

	    wcd ()
	    {
		\cd "$@" && eval stripe
	    }

	    wssh ()
	    {
		local rc

		"ssh" "$@"
		rc=$?
		eval istripe
		eval stripe
		return $rc
	    }

	    wtelnet ()
	    {
		local rc

		"telnet" "$@"
		rc=$?
		eval istripe
		eval stripe
		return $rc
	    }

	    wrlogin ()
	    {
		local rc

		"rlogin" "$@"
		rc=$?
		eval istripe
		eval stripe
		return $rc
	    }

	    wsu ()
	    {
		local rc

		"su" "$@"
		rc=$?
		eval istripe
		eval stripe
		return $rc
	    }

	    alias su=wsu
	    alias cd=wcd
	    alias ftp=wftp
	    alias ssh=wssh
	    alias telnet=wtelnet
	    alias rlogin=wrlogin
	    eval stripe
	    eval istripe
	fi

	OS=${OS:-`uname -s`}
	case $OS in
	    HP-UX)
		alias ls='ls -CF'
		;;

	    *BSD)
		alias df='df -k'
		alias du='du -k'
		;;
	esac
	;;

    *)
	;;
esac

#EDITOR=vim
LANG={{ lang_locale }}
LC_MESSAGES={{ lang_locale }}

no_path ()
{
    eval _v="\$${2:-PATH}"
    case :$_v: in
	*:$1:*)
	    return 1;;
    esac
    return 0
}

add_path ()
{
    test -d ${1:-.} && no_path $* && eval ${2:-PATH}="\$${2:-PATH}:$1"
}

pre_path ()
{
    test -d ${1:-.} && no_path $* && eval ${2:-PATH}="$1:\$${2:-PATH}"
}

del_path ()
{
    no_path $* || eval ${2:-PATH}=`eval echo :'$'${2:-PATH}: |
	sed -e "s;:$1:;:;g" -e "s;^:;;" -e "s;:\$;;"`
}
