zebra=yes
bgpd={{ quagga_with_bgp }}
ospfd={{ quagga_with_ospf }}
{% if i_strongly_believe_ipv6_would_die_before_ipv4 is not defined %}
ospf6d={{ quagga_with_ospf }}
{% else %}
ospf6d=no
{% endif %}
ripd={{ quagga_with_rip }}
ripngd={{ quagga_with_rip }}
isisd={{ quagga_with_isis }}
babeld={{ quagga_with_babel }}
