{% set dummyv4 = "127.0.0.1" %}
{% set dummyv6 = "::1" %}
vtysh_enable=yes
zebra_options="  --daemon -A {{ dummyv4 }}"
bgpd_options="   --daemon -A{% if quagga_with_bgp == "no" %} {{ dummyv4 }}{% else %}{% for host in quagga_listen_address %} {{ host }}{% endfor %}{% endif %}"
ospfd_options="  --daemon -A{% if quagga_with_ospf == "no" %} {{ dummyv4 }}{% else %}{% for host in quagga_listen_address %} {{ host }}{% endfor %}{% endif %}"
ospf6d_options=" --daemon -A {{ dummyv6 }}"
ripd_options="   --daemon -A{% if quagga_with_rip == "no" %} {{ dummyv4 }}{% else %}{% for host in quagga_listen_address %} {{ host }}{% endfor %}{% endif %}"
ripngd_options=" --daemon -A {{ dummyv6 }}"
isisd_options="  --daemon -A{% if quagga_with_isis == "no" %} {{ dummyv4 }}{% else %}{% for host in quagga_listen_address %} {{ host }}{% endfor %}{% endif %}"
babeld_options=" --daemon -A{% if quagga_with_babel == "no" %} {{ dummyv4 }}{% else %}{% for host in quagga_listen_address %} {{ host }}{% endfor %}{% endif %}"
watchquagga_enable=yes
watchquagga_options=(--daemon)
