/var/log/quagga/*.log {
    daily
    sharedscripts
    missingok
    compress
    rotate {{ quagga_log_retention }}
    create 0640 {{ quagga_user }} {{ quaggavty_group }}
    postrotate
	for i in zebra bgpd ripd ospfd ripngd ospf9d isisd babeld;
	do
	    if test -e {{ quagga_run_dir }}/$i.pid; then
		kill -USR1 `cat {{ quagga_run_dir }}/$i.pid`
	    fi
	done
    endscript
}
