{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
hostname ospfd
password {{ ospfd_password }}
enable password {{ ospfd_password }}
log file /var/log/quagga/ospfd.log
{% if ospf_interfaces is defined %}
{% for nic in ospf_interfaces if nic['name'] is defined %}
!
interface {{ nic['name'] }}
{% if nic['passive'] is not defined %}
{% if ospf_auth_type == "crypt" %}
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 {{ ospf_auth_pass }}
{% elif ospf_auth_type == "simple" %}
  ip ospf authentication-key {{ ospf_auth_pass }}
{% else %}
  no ip ospf authentication-key
  no ip ospf message-digest-key 1
{% endif %}
{% if nic['hello_time'] is defined %}
{% set helloitv = nic['hello_time'] %}
{% else %}
{% set helloitv = ospf_hello_interval %}
{% endif %}
{% if nic['dead_time'] is defined %}
{% set deaditv = nic['dead_time'] %}
{% else %}
{% set deaditv = ospf_router_dead_time %}
{% endif %}
{% if nic['tx_time'] is defined %}
{% set txitv = nic['tx_time'] %}
{% else %}
{% set txitv = ospf_retransmit_interval %}
{% endif %}
  ip ospf hello-interval {{ helloitv }}
  ip ospf dead-interval {{ deaditv }}
  ip ospf retransmit-interval {{ txitv }}
{% endif %}
{% if nic['priority'] is defined %}
{% set prio = nic['priority'] %}
{% else %}
{% set prio = ospf_router_priority %}
{% endif %}
  ip ospf priority {{ prio }}
{% if nic['metric'] is defined %}
  ip ospf cost {{ nic['metric'] }}
{% endif %}
{% endfor %}
{% endif %}
!
router ospf
{% if ospf_router_id is defined %}
  ospf router-id {{ ospf_router_id }}
{% endif %}
{% if ospf_interfaces is defined %}
  passive-interface default
{% for nic in ospf_interfaces if nic['name'] is defined and nic['passive'] is not defined %}
  no passive-interface {{ nic['name'] }}
{% endfor %}
{% endif %}
  log-adjacency-changes detail
{% if ospf_no_redistribute is defined %}
{% set redistribute = ospf_redistribute ~ " route-map filteredannounces" %}
{% else %}
{% set redistribute = ospf_redistribute %}
{% endif %}
  redistribute {{ redistribute }}
{% if ospf_originate is defined %}
  default-information originate always
{% endif %}
{% if ospf_areas is defined %}
{% for area in ospf_areas if area['identifier'] is defined and area['networks'] is defined %}
{% for network in area['networks'] %}
  network {{ network }} area {{ area['identifier'] }}
{% endfor %}
{% endfor %}
{% endif %}
