$ModLoad imfile

$InputFileName		/var/log/quagga/zebra.log
$InputFileTag		quagga-zebra:
$InputFileStateFile	quagga-zebra
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% if quagga_with_bgp == "yes" %}

$InputFileName		/var/log/quagga/bgpd.log
$InputFileTag		quagga-bgpd:
$InputFileStateFile	quagga-bgpd
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endif %}
{% if quagga_with_ospf == "yes" %}

$InputFileName		/var/log/quagga/ospfd.log
$InputFileTag		quagga-ospfd:
$InputFileStateFile	quagga-ospfd
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endif %}
{% if quagga_with_rip == "yes" %}

$InputFileName		/var/log/quagga/ripd.log
$InputFileTag		quagga-ripd:
$InputFileStateFile	quagga-ripd
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endif %}
{% if quagga_with_isis == "yes" %}

$InputFileName		/var/log/quagga/isisd.log
$InputFileTag		quagga-isisd:
$InputFileStateFile	quagga-isisd
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endif %}
{% if quagga_with_babel == "yes" %}

$InputFileName		/var/log/quagga/babeld.log
$InputFileTag		quagga-babeld:
$InputFileStateFile	quagga-babeld
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endif %}
