{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
hostname {{ ansible_hostname }}
password {{ zebra_password }}
enable password {{ zebra_password }}
log file /var/log/quagga/zebra.log
{% if zebra_default_route is defined and zebra_ext_net is defined %}
{% for net in zebra_ext_net %}
ip route {{ net }} {{ zebra_default_route }}
{% endfor %}
{% endif %}
{% if ospf_interfaces is defined %}
{% for nic in ospf_interfaces if nic['name'] is defined %}
!
interface {{ nic['name'] }}
{% if "gre" in nic['name'] %}
  multicast
  ipv6 nd suppress-ra
  ip forwarding
{% elif iface_source is defined %}
{% for iface in iface_source if iface['ifname'] == nic['name'] and iface['ip'] is defined %}
  ip address {{ iface['ip'] }}/32
  ipv6 nd suppress-ra
  ip forwarding
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if zebra_restrict_privates == true %}
ip prefix-list ALLOWED permit 10.0.0.0/8 ge 16 le 30
ip prefix-list ALLOWED permit 172.16.0.0/12 ge 16 le 30
ip prefix-list ALLOWED permit 192.168.0.0/16 ge 24 le 30
!
route-map filteredroutes permit 10
  match ip address prefix-list ALLOWED
!
ip protocol ospf route-map filteredroutes
{% endif %}
{% if ospf_no_redistribute is defined %}
{% for remote in ospf_no_redistribute %}
ip prefix-list FILTERED deny {{ remote }}
{% endfor %}
ip prefix-list FILTERED permit 0.0.0.0/0 ge 8
{% if ospf_originate is defined %}
ip prefix-list FILTERED permit 0.0.0.0
{% endif %}
!
route-map filteredannounces permit 10
  match ip address prefix-list FILTERED
{% endif %}
