/var/log/syslog
{
    compress
    daily
    delaycompress
    missingok
    notifempty
    rotate 2
    postrotate
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
	invoke-rc.d rsyslog rotate > /dev/null
{% else %}
	/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
{% endif %}
    endscript
}

/var/log/authlog
/var/log/cron
/var/log/daemon
/var/log/kern
/var/log/messages
/var/log/secure
/var/log/spooler
/var/log/user
{
    compress
    delaycompress
    missingok
    notifempty
    rotate 4
    weekly
    sharedscripts
    postrotate
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
	invoke-rc.d rsyslog rotate > /dev/null
{% else %}
	/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
{% endif %}
    endscript
}

/var/log/maillog
{
    compress
    delaycompress
    missingok
    notifempty
    rotate {{ mail_log_week_retention }}
    weekly
    sharedscripts
    postrotate
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
	invoke-rc.d rsyslog rotate > /dev/null
{% else %}
	/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
{% endif %}
    endscript
}
