$ActionFileDefaultTemplate RSYSLOG_FileFormat
$DirCreateMode 0755
$FileOwner root
$FileGroup {{ syslog_gid }}
$FileCreateMode 0640
$ModLoad imuxsock
$ModLoad imklog
{% if ansible_distribution != "OpenBSD" %}
$SystemLogRateLimitInterval 1
$SystemLogRateLimitBurst {{ rsyslog_burst_limit }}
{% endif %}
$Umask 0022

*.emerg *

$IncludeConfig /etc/rsyslog.d/*.conf
