#!/bin/sh

export PATH=/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin

if ! ps ax | grep '[r]syslog' >/dev/null; then
{% if ansible_distribution == "FreeBSD" %}
    /usr/local/etc/rc.d/rsyslogd restart
{% else %}
    /etc/{% if ansible_distribution == "OpenBSD" %}rc{% else %}init{% endif %}.d/rsyslog restart
{% endif %}
fi

exit 0
