## DNS declaration
define service {
    check_command			check_nsdec
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} DNS record
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			5
    host_name				{{ ansible_fqdn }}
    last_notification			10
    notification_interval		15
    service_description			{{ ansible_fqdn }} DNS record
}
{% if sip_gw is defined %}

define service {
    check_command			check_nsrev
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} DNS reverse record
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			5
    host_name				{{ ansible_fqdn }}
    last_notification			10
    notification_interval		15
    service_description			{{ ansible_fqdn }} DNS reverse record
}
{% endif %}

## Host alive
define service {
    check_command			check_ping
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} alive
    use					crit-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			5
    host_name				{{ ansible_fqdn }}
    last_notification			6
    notification_interval		5
    service_description			{{ ansible_fqdn }} alive
}

## NRPE service
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_nrpe_available
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} NRPE service
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		15
    service_description			{{ ansible_fqdn }} NRPE service
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} alive
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} NRPE service
}
{% if ( ansible_virtualization_role is defined and ansible_virtualization_role == "host" ) or ansible_virtualization_role is not defined %}

## Hardware status
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_hwstatus
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} hardware status
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			6
    host_name				{{ ansible_fqdn }}
    last_notification			7
    notification_interval		60
    service_description			{{ ansible_fqdn }} hardware status
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} hardware status
}
{% endif %}

## Network connectivity
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_ping
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} network connectivity
    use					crit-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			5
    host_name				{{ ansible_fqdn }}
    last_notification			6
    notification_interval		5
    service_description			{{ ansible_fqdn }} network connectivity
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} network connectivity

## DNS resolution
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_dns
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} DNS resolution
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		5
    service_description			{{ ansible_fqdn }} DNS resolution
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} network connectivity
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} DNS resolution
}

## Load
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_load
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} system load
    use					crit-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			5
    host_name				{{ ansible_fqdn }}
    last_notification			6
    notification_interval		10
    service_description			{{ ansible_fqdn }} system load
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} system load
}

## Processes
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_procs
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} processes
    use					def-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		10
    service_description			{{ ansible_fqdn }} processes
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} processes
}

## Running processes
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_rprocs
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} running processes
    use					def-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		5
    service_description			{{ ansible_fqdn }} running processes
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} running processes
}

## Uptime
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_uptime
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} uptime
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			20
    host_name				{{ ansible_fqdn }}
    last_notification			21
    notification_interval		60
    service_description			{{ ansible_fqdn }} uptime
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} uptime
}

## Memory usage
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_mem
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} memory usage
    use					def-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		10
    service_description			{{ ansible_fqdn }} memory usage
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} memory usage
}
{% if ansible_swaptotal_mb is defined and ansible_swaptotal_mb > 0 %}

## Swap
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_swap
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} swap usage
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		30
    service_description			{{ ansible_fqdn }} swap usage
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} swap usage
}
{% endif %}

## Users
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_users
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} logged in users
    use					def-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		15
    service_description			{{ ansible_fqdn }} logged in users
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} logged in users
}
{% if ansible_system == "Linux" %}

## File system checks
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_fsck
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} fsck
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			11
    host_name				{{ ansible_fqdn }}
    last_notification			12
    notification_interval		60
    service_description			{{ ansible_fqdn }} fsck
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} fsck
}
{% endif %}

## SSH
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_ssh
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} SSH
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		30
    service_description			{{ ansible_fqdn }} SSH
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} SSH
}

## Disks
{% if nagios_watch_partitions is not defined %}
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_all_disks
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} disks usage
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			10
    host_name				{{ ansible_fqdn }}
    last_notification			11
    notification_interval		30
    service_description			{{ ansible_fqdn }} disks usage
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} disks usage
}
{% else %}
{% for watch in nagios_watch_partitions %}

define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_disk_{{ watch }}
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} {{ watch }} disk usage
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			10
    host_name				{{ ansible_fqdn }}
    last_notification			11
    notification_interval		30
    service_description			{{ ansible_fqdn }} {{ watch }} disk usage
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} {{ watch }} disk usage
}
{% endfor %}
{% endif %}

## File descriptors
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_fdesc
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} file descriptors
    use					def-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			2
    host_name				{{ ansible_fqdn }}
    last_notification			3
    notification_interval		10
    service_description			{{ ansible_fqdn }} file descriptors
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} file descriptors
}
