define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_postfix
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} check postfix server status
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			3
    host_name				{{ ansible_fqdn }}
    last_notification			5
    notification_interval		15
    service_description			{{ ansible_fqdn }} check postfix server status
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} check postfix server status
}

define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_smtp
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} check postfix smtp service status
    use					def-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			3
    host_name				{{ ansible_fqdn }}
    last_notification			5
    notification_interval		15
    service_description			{{ ansible_fqdn }} check postfix smtp service status
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} check postfix server status
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} check postfix smtp service status
}

{% if mailrelay == true %}
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_smtps
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} check postfix smtps service status
    use					def-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			3
    host_name				{{ ansible_fqdn }}
    last_notification			5
    notification_interval		15
    service_description			{{ ansible_fqdn }} check postfix smtps service status
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} check postfix server status
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} check postfix smtps service status
}

{% endif %}
{% if authmailrelay is defined %}
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_smtp_submission
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} check postfix submission service status
    use					def-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			3
    host_name				{{ ansible_fqdn }}
    last_notification			5
    notification_interval		15
    service_description			{{ ansible_fqdn }} check postfix submission service status
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} check postfix server status
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} check postfix submission service status
}

{% endif %}
define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_mailq
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} check mail queues
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			3
    host_name				{{ ansible_fqdn }}
    last_notification			5
    notification_interval		15
    service_description			{{ ansible_fqdn }} check mail queues
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} check mail queues
}
