define service {
    check_command			check_nrpe{% if nagios_natted_port is defined %}_port!{{ nagios_natted_port }}{% endif %}!check_certificates
    host_name				{{ ansible_fqdn }}
    service_description			{{ ansible_fqdn }} check certificates
    use					jobs-services
}

define serviceescalation {
    contacts				{{ nagios_contacts_escalation }}
    escalation_options			u,w,c
    escalation_period			24x7
    first_notification			5
    host_name				{{ ansible_fqdn }}
    last_notification			8
    notification_interval		120
    service_description			{{ ansible_fqdn }} check certificates
}

define servicedependency {
    dependent_host_name			{{ ansible_fqdn }}
    dependent_service_description	{{ ansible_fqdn }} NRPE service
    execution_failure_criteria		u,w,c
    host_name				{{ ansible_fqdn }}
    notification_failure_criteria	u,w,c
    service_description			{{ ansible_fqdn }} check certificates
}
