*** Targets ***
probe  = FPing
menu   = Top
title  = Network Latency Grapher
remark = {{ keyorg }} Smokeping

+ Publics
menu  = Publics
title = Public Latency

++ GoogleNS1
menu  = GoogleNS1
title = GoogleNS1
host  = 8.8.8.8

++ GoogleNS2
menu  = GoogleNS2
title = GoogleNS2
host  = 8.8.4.4

++ FreeWWW
menu  = FreeWWW
title = FreeWWW
host  = www.free.fr

+ Private
menu  = Privates
title = Private Latency
{% for remote in smokeping_locals %}

++ {{ remote|replace(".", "-", 42) }}
menu  = {{ remote|replace(".", "-", 42) }}
title = {{ remote|replace(".", "-", 42) }}
host  = {{ remote }}
{% endfor %}
