[cache]
MAX_CACHE_SIZE = inf
MAX_UPDATES_PER_SECOND = 500
MAX_CREATES_PER_MINUTE = 50
LINE_RECEIVER_INTERFACE = {{ carbon_cache_linerec_addr }}
LINE_RECEIVER_PORT = {{ carbon_cache_linerec_port }}
ENABLE_UDP_LISTENER = False
PICKLE_RECEIVER_INTERFACE = {{ carbon_cache_picklerec_addr }}
PICKLE_RECEIVER_PORT = {{ carbon_cache_picklerec_port }}
USE_INSECURE_UNPICKLER = False
CACHE_QUERY_INTERFACE = {{ carbon_cache_query_addr }}
CACHE_QUERY_PORT = {{ carbon_cache_query_port }}
USE_FLOW_CONTROL = True
LOG_UPDATES = False
WHISPER_AUTOFLUSH = False
BIND_PATTERNS = {{ carbon_cache_bind_patterns }}

[relay]
LINE_RECEIVER_INTERFACE = {{ carbon_relay_linerec_addr }}
LINE_RECEIVER_PORT = {{ carbon_relay_linerec_port }}
PICKLE_RECEIVER_INTERFACE = {{ carbon_relay_picklerec_addr }}
PICKLE_RECEIVER_PORT = {{ carbon_relay_picklerec_port }}
RELAY_METHOD = rules
REPLICATION_FACTOR = {{ carbon_relay_replfactor }}
DESTINATIONS = {{ carbon_relay_destinations }}
MAX_DATAPOINTS_PER_MESSAGE = 500
MAX_QUEUE_SIZE = 10000
USE_FLOW_CONTROL = True

[aggregator]
LINE_RECEIVER_INTERFACE = {{ carbon_aggregator_linerec_addr }}
LINE_RECEIVER_PORT = {{ carbon_aggregator_linerec_port }}
PICKLE_RECEIVER_INTERFACE = {{ carbon_aggregator_picklerec_addr }}
PICKLE_RECEIVER_PORT = {{ carbon_aggregator_picklerec_port }}
DESTINATIONS = {{ carbon_aggregator_destinations }}
REPLICATION_FACTOR = {{ carbon_aggregator_replfactor }}
MAX_QUEUE_SIZE = 10000
USE_FLOW_CONTROL = True
MAX_DATAPOINTS_PER_MESSAGE = 500
MAX_AGGREGATION_INTERVALS = 5
