/var/log/php5-fpm.log {
    compress
    daily
    delaycompress
    missingok
    notifempty
    rotate {{ php_log_retention }}
    postrotate
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
	invoke-rc.d php5-fpm reopen-logs >/dev/null
{% else %}
	{{ service_bin }} php5-fpm reload >/dev/null 2>&1
{% endif %}
    endscript
}
