{% if ctld_authgroup_definition is defined %}
{% for chap in ctld_authgroup_definition %}
{% if ( item == "slave" and chap['use_carp'] is not defined ) or item == "master" %}
auth-group {{ chap['name'] }} {
    chap {{ chap['chap'] }}
}

{% endif %}
{% endfor %}
{% endif %}
{% for portal in ctld_pg_definition %}
{% if ( item == "slave" and portal['use_carp'] is not defined ) or item == "master" %}
portal-group {{ portal['name'] }} {
{% if portal['auth_type'] != "none" %}
    discovery-auth-group {{ portal['auth_type'] }}
{% else %}
    discovery-auth-group no-authentication
{% endif %}
{% if portal['listen_address'] is defined %}
    listen {{ portal['listen_address'] }}
{% else %}
    listen {{ ansible_default_ipv4['address'] }}
{% endif %}
}
{% endif %}
{% endfor %}
{% if ctld_shared_devices is defined %}
{% for target in ctld_shared_devices %}
{% if target['name'] is defined and target['iqn'] is defined and target['portal'] is defined and target['drive'] is defined %}
{% if ( item == "slave" and target['use_carp'] is not defined ) or item == "master" %}

target {{ target['iqn'] }}:{{ target['name'] }} {
{% if target['authgroup'] is defined %}
    auth-group {{ target['authgroup'] }}
{% else %}
    auth-group no-authentication
{% endif %}
    portal-group {{ target['portal'] }}
    lun 0 {
	path {{ target['drive'] }}
    }
}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
