/var/log/squid3/*.log
{
    compress
    daily
    delaycompress
    missingok
    nocreate
    rotate {{ squid_log_retention }}
    sharedscripts
    postrotate
	test ! -e /var/run/squid3.pid || /usr/sbin/squid3 -k rotate
    endscript
}
