$ModLoad imfile
{% for channel in squid_rsyslog_channels %}

$InputFileName		/var/log/{{ channel }}.log
$InputFileTag		{{ channel }}:
$InputFileStateFile	{{ channel }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
