http_port		{{ squid_http_port }}
http_port		{{ squid_transparent_port }} transparent

access_log		{{ squid_log_dir }}/access.log
cache_dir		{{ squid_store_backend }} {{ squid_cache_dir }} {{ squid_cache_size }} {{ squid_cache_l1 }} {{ squid_cache_l2 }}
cache_effective_group	{{ squid_group }}
cache_log		{{ squid_log_dir }}/cache.log
cache_mem		{{ squid_cache_memory }} MB
cache_mgr		{{ contact }}
cache_store_log		{{ squid_log_dir }}/store.log
coredump_dir		{{ squid_cache_dir }}
dns_nameservers		{{ dns_one }} {{ dns_too }}
error_directory		{{ squid_share_dir }}/errors/{{ lang_plain }}
hosts_file		/etc/hosts
{% if squid_use_logrotate == false %}
logfile_rotate		{{ squid_log_retention }}
{% endif %}
mail_from		squid@{{ ansible_fqdn }}

hierarchy_stoplist	cgi-bin ?

refresh_pattern	^ftp:				1440	20%	10080
refresh_pattern	^gopher:			1440	0%	1440
refresh_pattern	(Release|Package(.gz)*)$	0	20%	2880
refresh_pattern	.				0	20%	4320

{% if 0 == 1 %}
#to think back
#wouldn't it be wiser to start authenticating against kerberos in the first place?
squid_ldap_auth invoke from CLI seems to work, not tested krb5 yet
auth_param basic program {{ squid_lib_dir }}/squid_ldap_auth -b "ou=users,{{ dirbase }}" -f "cn=%s" -h {{ ldap_host }}
#acl ldap-auth proxy_auth REQUIRED
#http_access deny !ldap-auth
{% endif %}

#FIXME
acl			faust		src 10.42.42.0/24
acl			plaristote	src 10.42.43.0/24
#/FIXME
acl			manager		url_regex -i ^cache_object:// /squid-internal-mgr/
acl			localhost	src 127.0.0.1/32
{% for dest in ansible_all_ipv4_addresses %}
acl			localhost	src {{ dest }}/32
{% endfor %}
acl			to_localhost	dst 127.0.0.0/8
{% for dest in ansible_all_ipv4_addresses %}
acl			to_localhost	dst {{ dest }}/32
{% endfor %}
acl			localnet	src {{ lan_network }}

acl			SSL_ports	port 443
acl			SSL_ports	port 563	#snews
acl			SSL_ports	port 873	#rsync
acl			SSL_ports	port 8443	#devel

acl			safe_ports	port 21
acl			safe_ports	port 70	#gopher
acl			safe_ports	port 80
acl			safe_ports	port 443
acl			safe_ports	port 488	#gss-http
acl			safe_ports	port 631	#cups

acl			gray_ports	port 873
acl			gray_ports	port 8000-8500
acl			gray_ports	port 10000-65535

acl			purge		method PURGE
acl			CONNECT		method CONNECT

acl			apache		rep_header Server ^Apache
acl			QUERY		urlpath_regex	cgi-bin \?

http_access		allow	manager localhost
http_access		deny	manager
http_access		allow	purge localhost
http_access		deny	purge
#FIXME
http_access		allow	plaristote gray_ports
http_access		allow	faust gray_ports
#/FIXME
http_access		deny	!safe_ports
http_access		deny	CONNECT !SSL_ports
http_access		allow	localnet
http_access		allow	localhost
http_access		deny	all
http_reply_access	allow	all
