{{ nodejs_log_dir }}/*log {
    daily
    delaycompress
    missingok
    notifempty
    rotate {{ nodejs_log_retention }}
    sharedscripts
    postrotate
	{{ service_bin }} nodejs restart >/dev/null 2>&1 || true
    endscript
}
