#!/bin/sh
### BEGIN INIT INFO
# Provides:		nodejs
# Required-Start:	$network $syslog
# Required-Stop:	$network $syslog
# Default-Start:	2 3 4 5
# Default-Stop:		0 1 6
# Short-Description:	nodejs services
### END INIT INFO

DAEMON=/usr/bin/nodejs
SCRIPTSDIR={{ nodejs_conf_dir }}/sites-enabled/
LOGDIR={{ nodejs_log_dir }}
NAME="NodeJS Services"
err=0

case "$1" in
    start)
	if ps axww | grep '/[n]ode ' >/dev/null; then
	    echo "$NAME already running" >&2
	    exit 2
	fi
	echo Starting $NAME
	test -d $LOGDIR || mkdir -p $LOGDIR
	for i in $SCRIPTSDIR/*
	do
	    name=`basename $i | sed 's|\.nodejs||'`
	    logfile=$LOGDIR/$name.log
	    echo -n "  > starting $name: "
	    $DAEMON $i >>$logfile 2>&1 &
	    if test $? -ne 0; then
		echo failed
		err=1
	    else
		echo done
	    fi
	done
	if test $err -ne 0; then
	    echo Failed starting $failed.
	fi
	;;

    stop)
	if ! ps axww | grep '/[n]ode ' >/dev/null; then
	    echo "No $NAME running" >&2
	    exit 1
	fi
	echo -n "Stopping $NAME: "
	for i in `ps axww | grep '/[n]ode ' | awk '{print $1}'`
	do
	    kill $i || kill -9 $i || kill -6 $pid
	done >/dev/null 2>&1
	sleep 1
	if ps axww | grep '/[n]ode ' >/dev/null; then
	    echo "Failed" >&2
	    err=2
	else
	    echo done.
	fi
	;;

    restart)
	$0 stop
	$0 start
	;;

    status)
	if ps axww | grep '/[n]ode ' >/dev/null; then
	    echo "$NAME started"
	else
	    echo "$NAME stopped"
	fi
	;;
esac

exit $err
