$ModLoad imfile
{% for channel in nodejs_rsyslog_channels %}

$InputFileName		{{ nodejs_log_dir }}/{{ channel }}.log
$InputFileTag		nodejs-{{ channel }}:
$InputFileStateFile	nodejs-{{ channel }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
