config reference_file: {{ snort_conf_dir }}/reference.config
config classification_file: {{ snort_conf_dir }}/classification.config
#??config classification: shortname, short description, priority
config gen_file: {{ snort_conf_dir }}/gen-msg.map
config sid_file: {{ snort_conf_dir }}/sid-msg.map
config logdir: {{ snort_log_dir }}
config hostname: {{ ansible_fqdn }}
config alert_with_interface_name
config alert_on_each_packet_in_stream
config daemon
{% if barnyard_chrooted %}
config chroot: /var/snort
{% endif %}
config set_uid: {{ snort_user }}
config set_gid: {{ snort_group }}
#config decode_data_link
#config dump_payload
#config dump_chars_only
#config dump_payload_verbose
#config obfuscate
config show_year
config umask: 066
config quiet
config waldo_file: {% if barnyard_chrooted %}/log{% else %}{{ snort_log_dir }}{% endif %}/unified.waldo
config reference_net: {{ lan_network }}
config process_new_records_only

input unified2
{% if snorby_mysql_backend %}
output database: {% if barnyard_process_full %}log{% else %}alert{% endif %}, mysql, user={{ snorby_mysql_user }} password={{ snorby_mysql_password }} dbname=snorby host={{ snorby_mysql_backend }}
{% else %}
output alert_fast: stdout
{% endif %}
