[General]
DPD-check-interval={{ isakmpd_dpd_check_interval }}
Listen-on={{ isakmpd_listen_on }}
Default-phase-1-lifetime={{ isakmpd_default_p1_lifetime }}
Default-phase-2-lifetime={{ isakmpd_default_p2_lifetime }}
