snorby: &snorby
  adapter: mysql
  username: {{ snorby_mysql_user }}
  password: "{{ snorby_mysql_password  }}"
  host: {{ snorby_mysql_backend }}

development:
  database: snorby
  <<: *snorby

test:
  database: snorby
  <<: *snorby

production:
  database: snorby
  <<: *snorby
