ActionMailer::Base.delivery_method = :smtp
ActionMailer::Base.smtp_settings = {
    :address              => "{{ smtp_relay }}",
    :port                 => 25,
    :domain               => "{{ ansible_fqdn }}"
}
ActionMailer::Base.perform_deliveries = true
ActionMailer::Base.raise_delivery_errors = true
