production:
  domain: '{{ ansible_fqdn }}'
  wkhtmltopdf: {{ wkhtmltopdf_bin }}
  ssl: false
  mailer_sender: '{{ nocontact }}'
  geoip_uri: "http://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/"
  rules:
    - "{{ snort_conf_dir }}/preproc_rules"
    - "{{ snort_conf_dir }}/rules"
    - "{{ snort_conf_dir }}/so_rules"
  authentication_mode: database
  timezone_search: true
