{% for resource in hastd_resources %}
{% if resource['name'] is defined and resource['masternode'] is defined and resource['failovernode'] is defined and ( resource['device'] is defined or ( resource['masterdevice'] is defined and resource['failoverdevice'] is defined ) ) %}
{% if resource['masterhost'] is defined %}
{% set masterhost = resource['masterhost'] %}
{% else %}
{% set masterhost = resource['masternode'] %}
{% endif %}
{% if resource['failoverhost'] is defined %}
{% set failoverhost = resource['failoverhost'] %}
{% else %}
{% set failoverhost = resource['failovernode'] %}
{% endif %}
resource {{ resource['name'] }} {
{% if resource['device'] is defined %}
    local {{ resource['device'] }}
{% endif %}
    on {{ resource['masternode'] }} {
{% if resource['masterdevice'] is defined %}
	local {{ resource['masterdevice'] }}
{% endif %}
	source {{ masterhost }}
	remote {{ failoverhost }}
    }
    on {{ resource['failovernode'] }} {
{% if resource['failoverdevice'] is defined %}
	local {{ resource['failoverdevice'] }}
{% endif %}
	source {{ failoverhost }}
	remote {{ masterhost }}
    }
}
{% endif %}
{% endfor %}
