# For use with easy-rsa version 2.0

HOME			= .
RANDFILE		= $ENV::HOME/.rnd
openssl_conf		= openssl_init

[ openssl_init ]
oid_section		= new_oids
engines                 = engine_section

[ new_oids ]

[ ca ]
default_ca	= CA_default

[ CA_default ]
dir		= $ENV::KEY_DIR
certs		= $dir
crl_dir		= $dir
database	= $dir/index.txt
new_certs_dir	= $dir
certificate	= $dir/ca.crt
serial		= $dir/serial
crl		= $dir/crl.pem
private_key	= $dir/ca.key
RANDFILE	= $dir/.rand
x509_extensions	= usr_cert
default_days	= {{ keylifetime }}
default_crl_days= 30
default_md	= md5
preserve	= no
policy		= policy_anything

[ policy_match ]
countryName		= match
stateOrProvinceName	= match
organizationName	= match
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ req ]
default_bits		= $ENV::KEY_SIZE
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
attributes		= req_attributes
x509_extensions	= v3_ca
string_mask = nombstr

[ req_distinguished_name ]
countryName			= Country Name (2 letter code)
countryName_default		= $ENV::KEY_COUNTRY
countryName_min			= 2
countryName_max			= 2

stateOrProvinceName		= State or Province Name (full name)
stateOrProvinceName_default	= $ENV::KEY_PROVINCE

localityName			= Locality Name (eg, city)
localityName_default		= $ENV::KEY_CITY

0.organizationName		= Organization Name (eg, company)
0.organizationName_default	= $ENV::KEY_ORG

organizationalUnitName		= Organizational Unit Name (eg, section)

commonName			= Common Name (eg, your name or your server\'s hostname)
commonName_max			= 64

emailAddress			= Email Address
emailAddress_default		= $ENV::KEY_EMAIL
emailAddress_max		= 40
organizationalUnitName_default = $ENV::KEY_OU
commonName_default = $ENV::KEY_CN

[ req_attributes ]
challengePassword		= A challenge password
challengePassword_min		= 4
challengePassword_max		= 20
unstructuredName		= An optional company name

[ usr_cert ]
basicConstraints=CA:FALSE
nsComment			= "Client SSL"
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer:always
extendedKeyUsage=clientAuth
keyUsage = digitalSignature

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:true

[ crl_ext ]
authorityKeyIdentifier=keyid:always,issuer:always

[ engine_section ]

[ server ]
basicConstraints=CA:FALSE
nsCertType			= server
nsComment			= "Serveur SSL"
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer:always
extendedKeyUsage=serverAuth
keyUsage = digitalSignature, keyEncipherment
authorityInfoAccess = caIssuers;URI:http://{{ keypubaddr }}/ca.crt
subjectAltName=$ENV::KEY_SAN
