export EASY_RSA="/usr/local/bin/"
export OPENSSL="openssl"
export PKCS11TOOL="pkcs11-tool"
export GREP="grep"
export KEY_CONFIG=openssl.cnf
export KEY_DIR=.
export KEY_SIZE={{ keysize }}
export CA_EXPIRE={{ califetime }}
export KEY_EXPIRE={{ keylifetime }}
export KEY_COUNTRY={{ keycountry }}
export KEY_PROVINCE={{ keyprovince }}
export KEY_CITY={{ keycity }}
export KEY_ORG={{ keyorg }}
export KEY_EMAIL={{ contact }}
