#!/bin/sh

SSH_PORT={{ ssh_port }}
REMOTES="{% for remote in smtp_propagate_maps %}{{ remote }} {% endfor %}"
TMPROUTEFILE=/tmp/aliases
TMPBOXFILE=/tmp/mailboxes
TMPDOMAINFILE=/tmp/domains

test -s $TMPROUTEFILE && mv $TMPROUTEFILE $TMPROUTEFILE.orig
cp -p /etc/postfix/virtual_alias-flat $TMPROUTEFILE
test -s $TMPBOXFILE && mv $TMPBOXFILE $TMPBOXFILE.orig
cp -p /etc/postfix/virtual_mailbox-flat $TMPBOXFILE
test -s $TMPDOMAINFILE && mv $TMPDOMAINFILE $TMPDOMAINFILE.orig
cp -p /etc/postfix/virtual_domains-flat $TMPDOMAINFILE

if test -s $TMPROUTEFILE; then
    if ! cmp $TMPROUTEFILE $TMPROUTEFILE.orig; then
	for REMOTE in $REMOTES
	do
	    remote=
	    eval `echo "$REMOTE" | sed 's|\([^:]*\):\(.*\)|remote=\1 port=\2|'` 2>/dev/null
	    test -z "$port" && port=$SSH_PORT
	    test -z "$remote" && remote=$REMOTE
	    scp -pP$port $TMPROUTEFILE $remote:/etc/postfix/virtual_alias
	    ssh -p$port $remote '( cd /etc/postfix ; postmap virtual_alias ) 2>&1| grep -v duplicate'
	done
    fi
fi
if test -s $TMPBOXFILE; then
    if ! cmp $TMPBOXFILE $TMPBOXFILE.orig; then
	for REMOTE in $REMOTES
	do
	    eval `echo "$REMOTE" | sed 's|\([^:]*\):\(.*\)|remote=\1 port=\2|'`
	    test -z "$port" && port=$SSH_PORT
	    scp -pP$port $TMPBOXFILE $remote:/etc/postfix/virtual_mailbox
	    ssh -p$port $remote '( cd /etc/postfix ; postmap virtual_mailbox )'
	done
    fi
fi
if test -s $TMPDOMAINFILE; then
    if ! cmp $TMPDOMAINFILE $TMPDOMAINFILE.orig; then
	for REMOTE in $REMOTES
	do
	    eval `echo "$REMOTE" | sed 's|\([^:]*\):\(.*\)|remote=\1 port=\2|'`
	    test -z "$port" && port=$SSH_PORT
	    scp -pP$port $TMPDOMAINFILE $remote:/etc/postfix/virtual_domains
	    ssh -p$port $remote '( cd /etc/postfix ; postmap virtual_domains )'
	done
    fi
fi

exit $?
