$ModLoad imfile
{% for channel in bluemind_rsyslog_channels %}

$InputFileName		/var/log/{{ channel }}
$InputFileTag		{{ channel|replace("/", "-", 42)|replace(".log", "")|replace(".out", "") }}:
$InputFileStateFile	{{ channel|replace("/", "-", 42)|replace(".log", "")|replace(".out", "") }}
{% if channel == "bm-webmail/errors" %}
$InputFileSeverity	warning
{% else %}
$InputFileSeverity	info
{% endif %}
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
