{{ minidlna_lib_dir }}/minidlna.log {
    daily
    delaycompress
    missingok
    notifempty
    rotate {{ minidlna_log_retention }}
    sharedscripts
    postrotate
	/etc/init.d/minidlna restart >/dev/null 2>&1
    endscript
}
