{% if minidlna_audio_dir is defined %}
{% for folder in minidlna_audio_dir %}
media_dir=A{{ folder }}
{% endfor %}
{% endif %}
{% if minidlna_pictures_dir is defined %}
{% for folder in minidlna_pictures_dir %}
media_dir=P{{ folder }}
{% endfor %}
{% endif %}
{% if minidlna_video_dir is defined %}
{% for folder in minidlna_video_dir %}
media_dir=V{{ folder }}
{% endfor %}
{% endif %}
log_level={{ minidlna_log_level }}
db_dir={{ minidlna_lib_dir }}
root_container=B{{ minidlna_srvroot }}
{% if minidlna_interface is defined %}
network_interface={{ minidlna_interface }}
{% endif %}
port=8200
presentation_url=http://{% if minidlna_srvname is defined %}{{ minidlna_srvname }}{% else %}{{ ansible_fqdn }}{% endif %}:80
friendly_name={{ minidlna_friendly_name }}
{% if minidlna_serial is defined %}
serial={{ minidlna_serial }}
{% endif %}
model_name=MiniDLNA
model_number=1
album_art_names={{ minidlna_coverart }}
enable_tivo={{ minidlna_enabletivo }}
notify_interval={{ minidlna_notify_interval }}
