$ModLoad imfile

$InputFileName		{{ minidlna_lib_dir }}/minidlna.log
$InputFileTag		minidlna:
$InputFileStateFile	minidlna
$InputFileSeverity	{{ minidlna_log_level }}
$InputFileFacility	local7
$InputRunFileMonitor
