{% if webtrusted_ip is defined %}
my_ip="{% for trust in webtrusted_ip %}{{ trust }},{% endfor %}127.0.0.1"
{% endif %}
{% if pf_mailpub is defined %}
trusted_mail="{% for remote in pf_mailpub %}{{ remote }},{% endfor %}127.0.0.1"
{% endif %}
{% if pf_nspub is defined %}
trusted_ns="{% for remote in pf_nspub %}{{ remote }},{% endfor %}127.0.0.1"
{% endif %}
