LOGDROP=no

ACCEPT_TRAFFIC="
all:all:$ADMIP
{% if smtp_firewall is defined %}
25:tcp
{% endif %}
{% if dns_firewall is defined %}
53:tcp
{% if dns_firewall_acl %}
53:udp:$DNSFILTER
{% else %}
53:udp
{% endif %}
{% endif %}
{% if http_firewall is defined %}
{{ http_port }}:tcp
{% endif %}
{% if pop_firewall is defined %}
110:tcp
{% endif %}
{% if imap_firewall is defined %}
143:tcp
{% endif %}
{% if https_firewall is defined %}
{{ https_port }}:tcp
{% endif %}
{% if smtps_firewall is defined %}
465:tcp
{% endif %}
{% if submission_firewall is defined %}
487:tcp
{% endif %}
{% if ldap_firewall is defined %}
636:tcp:$LDAPFILTER
{% endif %}
{% if ldap_altfirewall is defined %}
636:tcp:$LAN_NET
{% endif %}
{% if imaps_firewall is defined %}
993:tcp
{% endif %}
{% if pops_firewall is defined %}
995:tcp
{% endif %}
{% if openvpn_firewall is defined %}
{{ openvpn_port }}:{{ openvpn_proto }}
{% endif %}
{% if ssh_firewall is defined %}
{{ ssh_port }}:tcp
{% endif %}
{% if munin_monitored == true %}
{{ munin_port }}:tcp:$MUNINFILTER
{% endif %}
{% if nagios_monitored == true %}
{{ nagios_port }}:tcp:$NAGIOSFILTER
{% endif %}
{% if transmission_firewall is defined %}
1024-65535:tcp
1024-65535:udp
{% endif %}
"
{% if dns_firewall is defined and dns_firewall_acl is not defined %}

CUSTOM_RULES()
{
    iptables -A INPUT -i eth0 --protocol udp -m string --hex-string "|03697363036f726700|" --algo bm --to 65535 -j DROP
    iptables -A INPUT -i eth0 --protocol udp -m string --hex-string "|0372697065036e657400|" --algo bm --to 65535 -j DROP
    iptables -A INPUT -i eth0 --protocol udp --sport 25057 -j DROP
    iptables -A INPUT -i eth0 --protocol udp --sport 25345 -j DROP
    iptables -A INPUT -i eth0 --protocol udp --sport 36814 -j DROP
    iptables -A INPUT -i eth0 --protocol udp --sport 49940 -j DROP
    iptables -A INPUT -i eth0 --protocol udp --sport 50768 -j DROP
    iptables -A INPUT -i eth0 --protocol udp --sport 50886 -j DROP
    iptables -A INPUT -i eth0 --protocol udp --sport 59048 -j DROP
    iptables -A INPUT -i eth0 --protocol udp --dport 53 -m limit --limit 1/s -j ACCEPT
}
{% endif %}
{% if openvpn_firewall is defined %}

CUSTOM_RULES()
{
    iptables -A FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
    iptables -A FORWARD -s 10.242.0.0/16 -j ACCEPT
    iptables -A FORWARD -j REJECT
    iptables -t nat -A POSTROUTING -s 10.242.0.0/16 -o eth0 -j MASQUERADE
}
{% endif %}
