{% for nic in gre_definition if nic['ifname'] is defined %}
iptables --append FORWARD --in-interface {{ nic['ifname'] }} --proto tcp --tcp-flags SYN,RST SYN --jump TCPMSS --clamp
iptables --append INPUT --in-interface {{ nic['ifname'] }} --jump ACCEPT
{% endfor %}
{% if 0 == 1 %}
WTF WTF WTF
{% endif %}
{% for nic in iface_definition if nic['gw'] is defined and nic['ifname'] is defined %}
{% for rem in iface_definition if rem['gw'] is not defined and rem['ip'] is defined %}
iptables --append INPUT --in-interface {{ nic['ifname'] }} --proto tcp --src $my_ip --dst {{ rem['ip'] }} --dport {{ ssh_port }} --jump ACCEPT
{% endfor %}
{% endfor %}
