{% for tunnel in ipsec_tunnels if tunnel['localgw'] is defined %}
{% for nic in iface_definition if nic['ip'] is defined %}
{% if tunnel['localgw'] == nic['ip'] %}
{% if tunnel['remotegw'] is defined %}
{% set source = " --src " ~ tunnel['remotegw'] %}
{% else %}
{% set source = "" %}
{% endif %}
iptables --append INPUT --proto esp{{ source }} --in-interface {{ nic['ifname'] }} --jump ACCEPT
iptables --append INPUT --proto udp{{ source }} --source-port 500 --destination-port 500 --in-interface {{ nic['ifname'] }} --jump ACCEPT
iptables --append INPUT --proto udp{{ source }} --source-port 4500 --destination-port 4500 --in-interface {{ nic['ifname'] }} --jump ACCEPT
{% endif %}
{% endfor %}
{% endfor %}
