{% for nic in iface_definition %}
{% if nic['gw'] is defined %}
iptables --table nat --append POSTROUTING \! --dst 10.0.0.0/8 --out-interface {{ nic['ifname'] }} --jump MASQUERADE
{% endif %}
{% if nic['rdr'] is defined %}
{% for rdr in nic['rdr'] if rdr['pub'] is defined and rdr['target'] is defined %}
iptables --table nat --append POSTROUTING --src {{ rdr['target'] }} \! --dst 10.0.0.0/8 --out-interface {{ nic['ifname'] }} --jump SNAT --to-source {{ rdr['pub'] }}
{% endfor %}
{% endif %}
{% endfor %}
