{% for nic in iface_definition if nic['rdr'] is defined %}
{% for rdr in nic['rdr'] if rdr['proto'] is defined and rdr['target'] is defined %}
{% if rdr['from'] is defined %}
{% set source = " --src " ~ rdr['from'] %}
{% else %}
{% set source = "" %}
{% endif %}
{% if rdr['port'] is defined %}
{% if rdr['pubport'] is defined %}
{% set pubtrail = " --dport " ~ rdr['pubport'] %}
{% else %}
{% set pubtrail = " --dport " ~ rdr['port'] %}
{% endif %}
{% set dsttrail = ":" ~ rdr['port'] %}
{% else %}
{% set pubtrail = "" %}
{% set dsttrail = "" %}
{% endif %}
{% if rdr['pub'] is defined %}
{% set pubdst = " --dst " ~ rdr['pub'] ~ pubtrail %}
{% else %}
{% set pubdst = " --dst " ~ nic['ip'] ~ pubtrail %}
{% endif %}
{% set dst = " --to-destination " ~ rdr['target'] ~ dsttrail %}
{% set short = "iptables --table nat --append PREROUTING " %}
{% if gre_definition is defined %}
{% for fallback in gre_definition if fallback['ifname'] is defined %}
{% set header = short ~ "--in-interface " ~ fallback['ifname'] %}
{% if rdr['proto'] == "$tui" or rdr['proto'] == "{ tcp udp icmp }" %}
{{ header }} --proto tcp{{ pubdst }} --jump DNAT{{ dst }}
{{ header }} --proto udp{{ pubdst }} --jump DNAT{{ dst }}
{{ header }} --proto icmp{{ pubdst }} --jump DNAT{{ dst }}
{% elif rdr['proto'] == "$tu" or rdr['proto'] == "{ tcp udp }" %}
{{ header }} --proto tcp{{ pubdst }} --jump DNAT{{ dst }}
{{ header }} --proto udp{{ pubdst }} --jump DNAT{{ dst }}
{% elif rdr['proto'] == "$tu" or rdr['proto'] == "{ udp icmp }" %}
{{ header }} --proto udp{{ pubdst }} --jump DNAT{{ dst }}
{{ header }} --proto icmp{{ pubdst }} --jump DNAT{{ dst }}
{% elif rdr['proto'] == "$t" or rdr['proto'] == "tcp" %}
{{ header }} --proto tcp{{ pubdst }} --jump DNAT{{ dst }}
{% else %}
{{ header }}{{ pubdst }} --jump DNAT{{ dst }}
{% endif %}
{% endfor %}
{% endif %}
{% set header = short ~ "--in-interface " ~ nic['ifname'] %}
{% if rdr['proto'] == "$tui" or rdr['proto'] == "{ tcp udp icmp }" %}
{{ header }} --proto tcp{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{{ header }} --proto udp{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{{ header }} --proto icmp{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{% elif rdr['proto'] == "$tu" or rdr['proto'] == "{ tcp udp }" %}
{{ header }} --proto tcp{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{{ header }} --proto udp{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{% elif rdr['proto'] == "$tu" or rdr['proto'] == "{ udp icmp }" %}
{{ header }} --proto udp{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{{ header }} --proto icmp{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{% elif rdr['proto'] == "$t" or rdr['proto'] == "tcp" %}
{{ header }} --proto tcp{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{% else %}
{{ header }}{{ source }}{{ pubdst }} --jump DNAT{{ dst }}
{% endif %}
{% endfor %}
{% endfor %}
