#!/bin/bash
### BEGIN INIT INFO
# Provides: firewall
# Required-start: $network
# Required-stop:
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Firewall init script
# Description:       Firewall init script
### END INIT INFO
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}

. /etc/rc.d/init.d/functions
. /etc/sysconfig/network
{% endif %}
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}

. /lib/lsb/init-functions

function failure()
{
    log_failure_msg
}

function success()
{
    log_success_msg
}
{% endif %}

function mlog()
{
    echo -n $@
}

DESC="Firewall init script"
SCRIPTNAME=$0
NAME=`basename $SCRIPTNAME`
CONFFILE={{ iptables_conf_dir }}/firewall.conf
HDRFILE={{ iptables_conf_dir }}/firewall.vars

function do_init()
{
    if test `id -u` -ne 0; then
	echo "This script must be run as root"
	exit 1
    fi >&2

    if test "$HDRFILE" -a -f $HDRFILE; then
	. $HDRFILE
    fi

    if test -f $CONFFILE; then
	. $CONFFILE
    else
	echo "Warning: no conffile $CONFFILE"
	exit 1
    fi >&2

    IP6TABLES=`which ip6tables 2>/dev/null || echo /etc/fstab`
    if test -x $IP6TABLES -a -d //proc/sys/net/ipv6 && $IP6TABLES -nL; then
	ipv6=yes
    fi >/dev/null

    IPTABLES=`which iptables`
    SAVE=`which iptables-save`
    RESTORE=`which iptables-restore`
    EXELIST="IPTABLES SAVE RESTORE"
    if test x$ipv6 = xyes; then
	SAVE6=`which ip6tables-save`
	RESTORE6=`which ip6tables-restore`
	EXELIST="$EXELIST IP6TABLES SAVE6 RESTORE6"
    fi
    for x in ${EXELIST}
    do
	if ! test -x "${!x}"; then
	    echo "Command for $x -> ${!x} not found"
	    exit 1
	fi
    done >&2
}

function ip4to6
{
    local adr msk

    adr=$(echo $1 |awk -F/ '{ print $1 }')
    msk=$(echo $1 |awk -F/ '{ print $2 }')
    #hex=$(printf '%02X' ${adr//./ }) # FULL-IPV6 addressing
    if test -z "${msk}"; then
	#echo "2002:${hex:0:4}:${hex:4}::" # FULL-IPV6 addressing
	echo "::FFFF:$adr"
    else
	msk6=$(($msk+96))
	echo "::FFFF:$adr/$msk6"
	#echo "2002:${hex:0:4}:${hex:4}::/$msk6" # FULL-IPV6 addressing
    fi
}

function basic_protection_kernel
{
    for f in /proc/sys/net/ipv4/{conf/*/rp_filter,icmp_echo_ignore_broadcasts}
    do
	test -w $f && echo 1 >$f
    done

    if test -w /proc/sys/net/ipv4/tcp_syncookies; then
	echo 0 >/proc/sys/net/ipv4/tcp_syncookies
    fi

    for f in /proc/sys/net/ipv4/conf/*/{send_redirects,accept_redirects,accept_source_route}
    do
	test -w $f && echo 0 >$f
    done

    if test x$ipv6 = xyes; then
	for f in /proc/sys/net/ipv6/conf/*/{send_redirects,accept_redirects,accept_source_route}
	do
	    test -w $f && echo 0 >$f
	done
    fi
}

function do_start
{
    basic_protection_kernel

    if test x$ipv6 = xyes; then
	commandlist="$IPTABLES $IP6TABLES"
    else
	commandlist="$IPTABLES"
    fi

    for ipt in $commandlist
    do
	$ipt -P INPUT DROP
	$ipt -P FORWARD ACCEPT
	$ipt -P OUTPUT ACCEPT

	$ipt -A INPUT -m state --state INVALID -j DROP
	$ipt -A INPUT -p tcp --tcp-flags ALL NONE -j DROP
	$ipt -A INPUT -p tcp --tcp-flags SYN,FIN SYN,FIN -j DROP
	$ipt -A INPUT -p tcp --tcp-flags SYN,RST SYN,RST -j DROP
	$ipt -A INPUT -p tcp --tcp-flags FIN,RST FIN,RST -j DROP
	$ipt -A INPUT -p tcp --tcp-flags ACK,FIN FIN -j DROP
	$ipt -A INPUT -p tcp --tcp-flags ACK,PSH PSH -j DROP
	$ipt -A INPUT -p tcp --tcp-flags ACK,URG URG -j DROP

	if test x$ipv6 = xyes -a $ipt = $IP6TABLES; then
	    icmp="icmpv6"
	else
	    icmp="icmp"
	fi
	$ipt -A INPUT -p $icmp -m limit --limit 10/s --${icmp}-type 0  -j ACCEPT
	$ipt -A INPUT -p $icmp -m limit --limit 10/s --${icmp}-type 3  -j ACCEPT
	$ipt -A INPUT -p $icmp -m limit --limit 10/s --${icmp}-type 8  -j ACCEPT
	$ipt -A INPUT -p $icmp -m limit --limit 10/s --${icmp}-type 11 -j ACCEPT

	$ipt -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
	$ipt -A INPUT -i lo -j ACCEPT

	for p in $ACCEPT_TRAFFIC
	do
	    port=$(echo $p |awk -F: '{ print $1 }')
	    proto=$(echo $p |awk -F: '{ print $2 }')
	    acl=$(echo $p |awk -F: '{ print $3 }')
	    if test "$acl"; then
		for ip in ${acl//,/ }
		do
		    if test x$ipv6 = xyes -a $ipt = $IP6TABLES; then
			ip=$(ip4to6 $ip)
		    fi
		    if test "$port" = all; then
			if test "$proto" = all; then
			    $ipt -A INPUT --source $ip -j ACCEPT
			else
			    $ipt -A INPUT --source $ip --protocol $proto -j ACCEPT
			fi
		    else
			$ipt -A INPUT --source $ip --protocol $proto --dport $port -j ACCEPT
		    fi
		done
	    else
		if test "$proto"; then
		    $ipt -A INPUT --protocol $proto --dport $port -j ACCEPT
		else
		    $ipt -A INPUT --protocol udp --dport $port -j ACCEPT
		    $ipt -A INPUT --protocol tcp --dport $port -j ACCEPT
		fi
	    fi
	done

	LOGDROP=${LOGDROP:-"no"}
	if test x$LOGDROP = xyes; then
	    $ipt -A INPUT -j LOG
	fi
    done

    ret=0
    if type -t CUSTOM_RULES >/dev/null 2>&1; then
	CUSTOM_RULES
	ret=$?
    fi

    return $ret
}

function do_flush
{
    $IPTABLES -F
    $IPTABLES -X
    $IPTABLES -Z

    if grep -q nat /proc/net/ip_tables_names; then
	$IPTABLES -t nat -F
	$IPTABLES -t nat -X
	$IPTABLES -t nat -Z
    fi
    if test x$ipv6 = xyes; then
	$IP6TABLES -F
	$IP6TABLES -X
	$IP6TABLES -Z
    fi
}

function do_disable
{
    $IPTABLES -P INPUT   ACCEPT
    $IPTABLES -P FORWARD ACCEPT
    $IPTABLES -P OUTPUT  ACCEPT
    if test x$ipv6 = xyes; then
	$IP6TABLES -P INPUT ACCEPT
	$IP6TABLES -P OUTPUT ACCEPT
	$IP6TABLES -P FORWARD ACCEPT
    fi
    do_flush
}

function do_status
{
    echo "####  table ipv4 : filter  ####"
    $IPTABLES -vnL
    if test x$ipv6 = xyes; then
	echo "####  table ipv6 : filter  ####"
	$IP6TABLES -vnL
    fi
}

function do_apply
{
    SAVFILE=$(dirname ${CONFFILE})/firewall-ipv4.save
    SAV6FILE=$(dirname ${CONFFILE})/firewall-ipv6.save
    if ! $SAVE >$SAVFILE; then
	echo Error while saving current iptables ruleset
	exit 1
    fi >&2
    if test x$ipv6 = xyes; then
	if ! $SAVE6 >$SAV6FILE; then
	    echo Error while saving current ip6tables ruleset
	    exit 1
	fi
    fi >&2

    do_disable
    do_start

    echo -n "Can you establish a new SSH connection to this server? (y/N) "
    read -n1 -t "${TIMEOUT:-10}" ret 2>&1 || :
    case "${ret:-}" in
	(y*|Y*)
	    echo
	    echo ... Great
	    ;;
	(*)
	    if [[ -z "${ret:-}" ]]; then
		echo apparently not...
	    else
		echo
	    fi
	    echo -n Timeout: Reverting to old ruleset...
	    $RESTORE <$SAVFILE
	    if test x$ipv6 = xyes; then
		$RESTORE6 <$SAV6FILE
	    fi
	    echo done.
	    exit 255
	    ;;
    esac
}

do_init
case "$1" in
    start|restart)
	if test -z $PS1; then
	    mlog starting $NAME
	    do_disable
	    do_start && success || failure
	    echo
	else
	    do_apply
	fi
	;;

    stop|disable)
	mlog stopping $NAME
	do_disable && success || failure
	echo
	;;

    apply)
	do_apply
	;;

    status)
	do_status
	;;

    *)
	echo "Usage: $SCRIPTNAME {start|stop|disable|restart|apply|status}" >&2
	exit 3
	;;
esac

exit 0
