#!/bin/sh
### BEGIN INIT INFO
# Provides: firewall
# Required-start: $network
# Required-stop:
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Firewall init script
# Description:       Firewall init script
### END INIT INFO
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}

. /etc/rc.d/init.d/functions
. /etc/sysconfig/network
{% endif %}
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}

. /lib/lsb/init-functions

failure()
{
    log_failure_msg
}

success()
{
    log_success_msg
}
{% endif %}

mlog()
{
    echo -n $@
}

DESC="Firewall init script"
SCRIPTNAME=$0
NAME=`basename $SCRIPTNAME`

# Set defaults if settings are missing
[ -z "$IPTABLES" ] && IPTABLES=/sbin/iptables
[ -z "$IPTABLES_CONF" ] && IPTABLES_CONF=/etc/firewall/iptables.rules
[ -z "$IPTABLES_SCRIPT" ] && IPTABLES_SCRIPT=/etc/firewall/iptables.script

case "$1" in
    start)
	if [ ! -f $IPTABLES_CONF ]; then
	    if $IPTABLES_SCRIPT; then
		if $0 save; then
		   echo "Cannot load iptables rules, generating one from script"
		else
		    echo "Cannot load iptables rules nor script" >&2
		    exit 1
		fi
	    else
		echo "Cannot load iptables rules, script errors" >&2
		exit 1
	    fi
	fi
	echo "Starting IP Tables"
	echo 1 >/proc/sys/net/ipv4/ip_forward
	if ! start-stop-daemon --start --background --quiet --exec "$IPTABLES-restore" --test >/dev/null; then
	    echo "Daemon already started" >&2
	    exit 2
	elif ! start-stop-daemon --start --background --quiet --exec "$IPTABLES-restore" -- <$IPTABLES_CONF>/dev/null; then
	    echo "Failed to start firewall" >&2
	    exit 3
	fi
	echo "Firewall ready for action"
	;;

    stop)
	echo "Stopping IP Tables"
	echo 0 >/proc/sys/net/ipv4/ip_forward
	for table in $(cat /proc/net/ip_tables_names)
	do
	    if ! $IPTABLES -t $table -F &>/dev/null && \
		    $IPTABLES -t $table -X &>/dev/null && \
		    $IPTABLES -t $table -Z &>/dev/null; then
		test "$fail" && fail="$fail, $table" || fail=$table
	    fi
	done
	if test "$fail"; then
	    echo "Failed flushing table(s) $fail" >&2
	    exit 4
	fi
	for table in filter nat mangle raw
	do
	    if grep -qw $table /proc/net/ip_tables_names; then
		$IPTABLES -t $table -P OUTPUT ACCEPT
	    fi
	done
	for table in filter mangle
	do
	    if grep -qw $table /proc/net/ip_tables_names; then
		$IPTABLES -t $table -P INPUT ACCEPT
		$IPTABLES -t $table -P FORWARD ACCEPT
	    fi
	done
	for table in nat mangle raw
	do
	    if grep -qw $table /proc/net/ip_tables_names; then
		$IPTABLES -t $table -P PREROUTING ACCEPT
	    fi
	done
	for table in nat mangle
	do
	    if grep -qw $table /proc/net/ip_tables_names; then
		$IPTABLES -t $table -P POSTROUTING ACCEPT
	    fi
	done
	echo "Firewall unloaded, ready for pwnage" >&2
	;;

    restart)
	$0 stop
	sleep 2
	$0 start
	;;

    save)
	echo "Saving IP Tables"
	if ! $IPTABLES-save >$IPTABLES_CONF; then
	    echo "Failed dumping tables" >&2
	    exit 5
	fi
	echo "Successfully saved"
	;;

    status)
	if ! $IPTABLES --table nat -nL | grep MASQUERADE >/dev/null; then
	    echo "No NAT?"
	    exit 3
	fi
	echo "Natted"
	;;

    load)
	echo "Loading new rules!"
	if test -x "$IPTABLES_SCRIPT"; then
	    $IPTABLES_SCRIPT
	elif test -e "$IPTABLES_SCRIPT"; then
	    . $IPTABLES_SCRIPT
	else
	    echo "Unable to find $IPTABLES_SCRIPT" >&2
	    exit 1
	fi
	;;

    *)
	echo "usage: $0 {start|stop|restart|save|load}"
	exit 3
	;;
esac

exit 0
