#!/bin/sh

. {{ iptables_conf_dir }}/Alias
. {{ iptables_conf_dir }}/Policy
. {{ iptables_conf_dir }}/NAT
{% if ipsec_tunnels is defined %}
. {{ iptables_conf_dir }}/IPSEC
{% endif %}
{% if gre_definition is defined %}
. {{ iptables_conf_dir }}/GRE
{% endif %}
{% for nic in iface_definition %}
{% if nic['name'] is defined and nic['ifname'] is defined and nic['ifname'] != "lo" %}
. {{ iptables_conf_dir }}/{{ nic['name'] }}
{% endif %}
{% endfor %}
