ADMIP="{% if mngmttrusted_ip is defined %}{% for remote in mngmttrusted_ip %}{{ remote }},{% endfor %}{% endif %}127.0.0.1"
{% if dns_firewall_acl is defined %}
DNSFILTER="{% for remote in dns_firewall_acl %}{{ remote }},{% endfor %}127.0.0.1"
{% endif %}
{% if lan_network != "any" %}
LAN_NET={{ lan_network }}
{% endif %}
{% if munin_monitored == true %}
MUNINFILTER="{% for remote in munin_queryhost %}{{ remote }},{% endfor %}127.0.0.1"
{% endif %}
{% if nagios_monitored == true %}
NAGIOSFILTER="{% for remote in nagios_queryhost %}{{ remote }},{% endfor %}127.0.0.1"
{% endif %}
{% if ldap_firewall is defined %}
LDAPFILTER=""
{% endif %}
