{% if iface_definition is defined %}
{% for nic in iface_definition if nic['name'] is defined %}
{% if nic['gw'] is not defined and nic['name'] != "lo" %}
iptables --append INPUT --in-interface {{ nic['ifname'] }} --jump ACCEPT
{% endif %}
{% endfor %}
{% endif %}
