{{ ansible_default_ipv4['address'] }}	{{ ansible_fqdn }}	{{ ansible_hostname }}
127.0.0.1	{{ ansible_fqdn }}	{{ ansible_hostname }}
127.0.0.1	localhost.localdomain	localhost
{% if hosts_override is defined %}
{% for entry in hosts_override %}
{{ entry }}
{% endfor %}
{% endif %}
