Hostname		"{{ ansible_fqdn }}"
BaseDir			"{{ collectd_base_dir }}"
PidFile			"/var/run/collectd.pid"
PluginDir		"{{ collectd_plugin_dir }}"
TypesDB			"{{ collectd_share_dir }}/types.db"
Interval		{{ collectd_interval }}
ReadThreads		{{ collectd_read_threads }}

{% for plugin in collectd_default_plugins %}
LoadPlugin		{{ plugin }}
{% endfor %}
{% if ansible_swaptotal_mb is defined and ansible_swaptotal_mb > 0 %}
LoadPlugin		swap
{% endif %}

LoadPlugin		interface
<Plugin interface>
{% for itf in ansible_interfaces %}
{% if itf != "lo0" and itf != "lo" and "vif" not in itf %}
    Interface		"{{ itf }}"
{% endif %}
{% endfor %}
</Plugin>

Loadplugin		df
<Plugin df>
{% if collectd_watch_partitions is defined %}
{% for watch in collectd_watch_partitions %}
    MountPoint		"{{ watch }}"
{% endfor %}
{% else %}
    MountPoint		"/"
{% endif %}
</Plugin>

LoadPlugin		network
<Plugin network>
{% if ansible_fqdn == collectd_upstream or collectd_is_proxy is defined %}
    Listen		"*"
{% if collectd_is_proxy is defined %}
    Forward		true
{% endif %}
{% else %}
    Server		"{{ collectd_upstream }}"
{% endif %}
</Plugin>

Include			"{{ collectd_conf_dir }}/collect.d/*.conf"

{% if collectd_syslog_level is defined %}
LoadPlugin		syslog
<Plugin syslog>
    LogLevel		"{{ collectd_syslog_level }}"
</Plugin>
{% else %}
LoadPlugin		logfile
<Plugin logfile>
    LogLevel		"{{ collectd_log_level }}"
    File		"/var/log/collectd.log"
    Timestamp		true
</Plugin>
{% endif %}

LoadPlugin		rrdtool
<Plugin rrdtool>
    DataDir		"{{ collectd_base_dir }}/rrd"
    CacheFlush		120
    WritesPerSecond	50
</Plugin>
{% if collectd_graphite_front is defined %}

LoadPlugin			write_graphite
<Plugin write_graphite>
    <Carbon>
	Host			"{{ collectd_graphite_front }}"
	Port			"{% if collectd_graphite_front_port is defined %}{{ collectd_graphite_front_port }}{% else %}2003{% endif %}"
	EscapeCharacter		"_"
	EsparateInstances	true
	StoreRates		false
	AlwaysAppendDS		false
    </Carbon>
</Plugin>
{% endif %}
