/var/log/collectd.log {
    daily
    delaycompress
    missingok
    notifempty
    rotate {{ collectd_log_retention }}
    sharedscripts
    postrotate
        {{ service_bin }} collectd restart >/dev/null 2>/dev/null || true
    endscript
}
