listen_addr           = {{ libvirt_listen_addr }}
{% if libvirt_network == true %}
vnc_tls               = 1
vnc_tls_x509_cert_dir = /etc/libvirt/ssl
{% endif %}
vnc_password          = "{{ libvirt_vnc_password }}"
user                  = "root"
group                 = "{{ gid_zero }}"
