{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
table <private_networks>        \
{                               \
    10.0.0.0/8,                 \
    169.254.0.0/24,             \
    172.16.0.0/12,              \
    192.168.0.0/16              \
}

table <my_ip>		\
{			\
{% if webtrusted_ip is defined %}
{% for trust in webtrusted_ip %}
    {{ trust }},	\
{% endfor %}
{% endif %}
    127.0.0.1		\
}
{% if pf_mailpub is defined %}

table <trusted_mx>	\
{			\
{% for remote in pf_mailpub %}
    {{ remote }},	\
{% endfor %}
    127.0.0.1		\
}
{% endif %}
{% if pf_nspub is defined %}

table <trusted_ns>	\
{			\
{% for remote in pf_nspub %}
    {{ remote }},	\
{% endfor %}
    127.0.0.1		\
}
{% endif %}

{% if mngmttrusted_ip is defined %}
adm_ip = '{ {% for host in mngmttrusted_ip %}{{ host }} {% endfor %}}'
{% endif %}
apipa_net = '169.254.0.0/24'
{% if dhcp_one is defined or dhcp_too is defined %}
dhcp_ip = '{ {% if dhcp_one is defined %}{{ dhcp_one }} {% endif %}{% if dhcp_too is defined %}{{ dhcp_too }} {% endif %}}'
{% endif %}
ext_net = '! <private_networks>'
{% if pf_sipgw is defined %}
sippub_net = '{ {% for host in pf_sipgw %}{{ host }} {% endfor %}}'
{% endif %}
{% if pf_blacklist is defined %}
staticbl = '{ {% for host in pf_blacklist %}{{ host }} {% endfor %}}'
{% endif %}
{% if iface_source is defined %}
{% for lan in iface_source if lan['network'] is defined and lan['ifname'] is defined and lan['gw'] is not defined %}
{{ lan['ifname'] }}_net = '{{ lan['network'] }}'
{% endfor %}
{% endif %}

defaulttcp_port = '{ {% for port in pf_default_tcp_port %}{{ port }} {% endfor %}}'
defaultudp_port = '{ {% for port in pf_default_udp_port %}{{ port }} {% endfor %}}'
siptcp_port = '{ {{ pf_siptcp_port }} }'
sipudp_port = '{ {{ pf_sipudp_port }} }'

{% if carp_sync_if is defined %}
c = carp
{% endif %}
{% if ipsec_tunnels is defined %}
e = esp
{% endif %}
{% if gre_definition is defined %}
g = gre
{% endif %}
i = icmp
{% if igmpproxy_downstream is defined %}
m = igmp
{% endif %}
{% if ipsec_tunnels is defined %}
n = ipencap
{% endif %}
{% if ospf_interfaces is defined %}
o = ospf
{% endif %}
{% if carp_sync_if is defined %}
s = pfsync
{% endif %}
t = tcp
tu = '{ tcp udp }'
tui = '{ tcp udp icmp }'
u = udp
