{% for tunnel in gre_definition %}
{% if tunnel['otremote'] is defined and tunnel['itremote'] is defined and tunnel['otip'] is defined and tunnel['itip'] is defined %}
pass in quick proto $g from {{ tunnel['otremote'] }} to {{ tunnel['otip'] }}
pass in quick on {{ tunnel['ifname'] }} from {{ tunnel['itremote'] }} to {{ tunnel['itip'] }}
{% endif %}
{% endfor %}
