{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
{% if pf_state_tracking %}
{% set ukeep = "" %}
{% else %}
{% set ukeep = " keep state" %}
{% endif %}
{% for tunnel in ipsec_tunnels %}
{% if tunnel['pfmode'] is defined %}
{% if tunnel['pfmode'] == "fw" and tunnel['pfmodehost'] is defined %}
{% set remnet = "{ " ~ tunnel['pfmodehost'] ~ " }" %}
{% elif tunnel['pfmode'] == "open" %}
{% set remnet = "{ " ~ tunnel['remotenet'] ~ " }" %}
{% endif %}
{% else %}
{% set remnet = "{ " ~ tunnel['remotenet'] ~ " }" %}
{% endif %}
{% if tunnel['pfmode'] is not defined or tunnel['pfmode'] != "acl" %}
pass in on enc0 inet from {{ remnet }} to { {{ tunnel['localnet'] }} }
pass in inet from { {{ tunnel['localnet'] }} } to {{ remnet }}
{% elif tunnel['pfmodeacl'] is defined %}
{% for acl in tunnel['pfmodeacl'] if acl['src'] is defined or acl['dst'] is defined %}
{% if acl['src'] is defined %}
{% set loc = "{ " ~ acl['src'] ~ " }" %}
{% else %}
{% set loc = "any" %}
{% endif %}
{% if acl['dst'] is defined %}
{% set dst = "{ " ~ acl['dst'] ~ " }" %}
{% else %}
{% set dst = "any" %}
{% endif %}
{% if acl['nic'] is defined %}
{% set nic = " on " ~ acl['nic'] %}
{% else %}
{% set nic = "" %}
{% endif %}
pass in{{ nic }} inet from {{ loc }} to {{ dst }}
{% endfor %}
{% endif %}
{% for reply in iface_source if reply['gw'] is defined and reply['ifname'] is defined and reply['ip'] is defined %}
{% if reply['ip'] == tunnel['localgw'] %}
pass in quick on {{ reply['ifname'] }} inet proto $u from {{ tunnel['remotegw'] }} to {{ tunnel['localgw'] }} port { isakmp ipsec-nat-t } reply-to ( {{ reply['ifname'] }} {{ reply['gw'] }} ){{ ukeep }}
pass in quick on {{ reply['ifname'] }} inet proto $e from {{ tunnel['remotegw'] }} to {{ tunnel['localgw'] }} reply-to ( {{ reply['ifname'] }} {{ reply['gw'] }} )
{% endif %}
{% endfor %}
pass in on enc0 inet proto $n from {{ tunnel['remotegw'] }} to {{ tunnel['localgw'] }}
{% endfor %}
