{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
include "/etc/pf.d/Alias"
include "/etc/pf.d/Policy"
{% if vlan_root_if is defined %}
include "/etc/pf.d/QoS"
{% endif %}
include "/etc/pf.d/Shaping"
{% if gre_definition is defined %}
include "/etc/pf.d/GRE"
{% endif %}
{% if carp_sync_if is defined %}
include "/etc/pf.d/Redundancy"
{% endif %}
{% if ospf_interfaces is defined %}
include "/etc/pf.d/OSPF"
{% endif %}
{% if iface_source is defined %}
{% for elt in iface_source if elt['gw'] is defined %}
include "/etc/pf.d/{{ elt['name'] }}"
{% endfor %}
{% endif %}
{% if ipsec_tunnels is defined %}
include "/etc/pf.d/IPSEC"
{% endif %}
include "/etc/pf.d/Services"
{% if igmpproxy_downstream is defined %}
include "/etc/pf.d/IGMP"
{% endif %}
{% if iface_source is defined %}
{% for elt in iface_source if elt['gw'] is not defined %}
include "/etc/pf.d/{{ elt['name'] }}"
{% endfor %}
{% endif %}
