{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
set limit states {{ pf_state_limit }}
set timeout src.track {{ pf_sourcetrack_timeout }}
set skip on lo
{% if pf_state_tracking %}
set state-policy {{ pf_state_policy }}
{% if pf_state_policy == "if-bound" %}
set state-defaults if-bound
{% endif %}
{% endif %}
match in all scrub (no-df random-id min-ttl {{ pf_min_ttl }} reassemble tcp max-mss {{ pf_max_segment_size }}) set tos {{ pf_default_tos }}
block in quick from $apipa_net
anchor fail2ban
pass out
{% if iface_source is defined %}
{% for elt in iface_source if elt['ifname'] is defined %}
{% if pf_blacklist is defined and elt['gw'] is defined %}
block drop in quick on {{ elt['ifname'] }} from $staticbl
{% endif %}
{% if elt['blindroute'] is defined %}
{% for net in elt['blindroute'] %}
pass in quick on {{ elt['ifname'] }} from {{ net }}
{% endfor %}
{% endif %}
{% if elt['ip'] is defined and elt['gw'] is defined %}
match out on {{ elt['ifname'] }} from <private_networks> to $ext_net nat-to {{ elt['ip'] }}
pass out quick from {{ elt['ip'] }} route-to ( {{ elt['ifname'] }} {{ elt['gw'] }} )
{% endif %}
{% endfor %}
{% endif %}
{% if i_strongly_believe_ipv6_would_die_before_ipv4 is defined %}
block drop in quick inet6
{% endif %}
