{% if pf_state_tracking %}
{% set ikeep = "" %}
{% set tkeep = " flags S/SA" %}
{% set ukeep = "" %}
{% else %}
{% set ikeep = " icmp-type echoreq code 0" %}
{% set tkeep = " flags S/SA modulate state" %}
{% set ukeep = " keep state" %}
{% endif %}
{% if item['ifname'] is defined %}
block in       on {{ item['ifname'] }} inet proto $t from any to ( {{ item['ifname'] }} ) port {{ ssh_port }}
{% if item['carpid'] is defined %}
block in       on {{ item['ifname'] }} inet proto $t from any to ( carp{{ item['vhid'] }} ) port {{ ssh_port }}
{% if ssh_port != 22 %}
block in       on {{ item['ifname'] }} inet proto $t from any to ( carp{{ item['vhid'] }} ) port ssh
{% endif %}
{% endif %}
{% if item['gw'] is defined %}
pass  in quick on {{ item['ifname'] }} inet proto $i from <my_ip> to {{ item['ip'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ ikeep }}
{% if mngmttrusted_ip is defined %}
pass  in quick on {{ item['ifname'] }} inet proto $i from $adm_ip to {{ item['ip'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ ikeep }}
pass  in quick on {{ item['ifname'] }} inet proto $t from $adm_ip to ( {{ item['ifname'] }} ) port {{ ssh_port }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ tkeep }}
{% endif %}
{% if item['rdr'] is defined %}
{% for rdr in item['rdr'] if rdr['proto'] is defined and rdr['port'] is defined and rdr['target'] is defined %}
{% if ukeep != "" and ( rdr['proto'] == "$tu" or rdr['proto'] == "{ tcp udp }" or rdr['proto'] == "$tui" or rdr['proto'] == "{ tcp udp icmp }" or rdr['proto'] == "" ) %}
pass  in quick on {{ item['ifname'] }} inet proto $t from {% if rdr['from'] is defined %}{{ rdr['from'] }}{% else %}$ext_net{% endif %} to {% if rdr['pub'] is defined %}{{ rdr['pub'] }}{% else %}{{ item['ip'] }}{% endif %} port {% if rdr['pubport'] is defined %}{{ rdr['pubport'] }}{% else %}{{ rdr['port'] }}{% endif %} rdr-to {{ rdr['target'] }} port {{ rdr['port'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ tkeep }}
pass  in quick on {{ item['ifname'] }} inet proto $u from {% if rdr['from'] is defined %}{{ rdr['from'] }}{% else %}$ext_net{% endif %} to {% if rdr['pub'] is defined %}{{ rdr['pub'] }}{% else %}{{ item['ip'] }}{% endif %} port {% if rdr['pubport'] is defined %}{{ rdr['pubport'] }}{% else %}{{ rdr['port'] }}{% endif %} rdr-to {{ rdr['target'] }} port {{ rdr['port'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ ukeep }}
{% elif ukeep != "" and ( rdr['proto'] == "$tui" or rdr['proto'] == "{ tcp udp icmp }" or rdr['proto'] == "{ icmp tcp udp }" or rdr['proto'] == "{ icmp udp tcp }" ) %}
pass  in quick on {{ item['ifname'] }} inet proto $i from {% if rdr['from'] is defined %}{{ rdr['from'] }}{% else %}$ext_net{% endif %} to {% if rdr['pub'] is defined %}{{ rdr['pub'] }}{% else %}{{ item['ip'] }}{% endif %} port {% if rdr['pubport'] is defined %}{{ rdr['pubport'] }}{% else %}{{ rdr['port'] }}{% endif %} rdr-to {{ rdr['target'] }} port {{ rdr['port'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ ikeep }}
pass  in quick on {{ item['ifname'] }} inet proto $t from {% if rdr['from'] is defined %}{{ rdr['from'] }}{% else %}$ext_net{% endif %} to {% if rdr['pub'] is defined %}{{ rdr['pub'] }}{% else %}{{ item['ip'] }}{% endif %} port {% if rdr['pubport'] is defined %}{{ rdr['pubport'] }}{% else %}{{ rdr['port'] }}{% endif %} rdr-to {{ rdr['target'] }} port {{ rdr['port'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ tkeep }}
pass  in quick on {{ item['ifname'] }} inet proto $u from {% if rdr['from'] is defined %}{{ rdr['from'] }}{% else %}$ext_net{% endif %} to {% if rdr['pub'] is defined %}{{ rdr['pub'] }}{% else %}{{ item['ip'] }}{% endif %} port {% if rdr['pubport'] is defined %}{{ rdr['pubport'] }}{% else %}{{ rdr['port'] }}{% endif %} rdr-to {{ rdr['target'] }} port {{ rdr['port'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ ukeep }}
{% elif rdr['proto'] == "$t" or rdr['proto'] == "tcp" or rdr['proto'] == "{ tcp }" %}
pass  in quick on {{ item['ifname'] }} inet proto {{ rdr['proto'] }} from {% if rdr['from'] is defined %}{{ rdr['from'] }}{% else %}$ext_net{% endif %} to {% if rdr['pub'] is defined %}{{ rdr['pub'] }}{% else %}{{ item['ip'] }}{% endif %} port {% if rdr['pubport'] is defined %}{{ rdr['pubport'] }}{% else %}{{ rdr['port'] }}{% endif %} rdr-to {{ rdr['target'] }} port {{ rdr['port'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} ){{ tkeep }}
{% else %}
pass  in quick on {{ item['ifname'] }} inet proto {{ rdr['proto'] }} from {% if rdr['from'] is defined %}{{ rdr['from'] }}{% else %}$ext_net{% endif %} to {% if rdr['pub'] is defined %}{{ rdr['pub'] }}{% else %}{{ item['ip'] }}{% endif %} port {% if rdr['pubport'] is defined %}{{ rdr['pubport'] }}{% else %}{{ rdr['port'] }}{% endif %} rdr-to {{ rdr['target'] }} port {{ rdr['port'] }} reply-to ( {{ item['ifname'] }} {{ item['gw'] }} )
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
anchor '{{ item['name'] }}-queue'
{% endif %}
