{% if vlan_root_if is defined %}
altq on {{ vlan_root_if }} cbq   qlimit 2000 queue { qvoip qinteractive qdata qbulk }
queue qvoip        bandwidth 10% qlimit  200 priority 5 cbq(red)
queue qinteractive bandwidth 20% qlimit  500 priority 4 cbq(ecn)
queue qdata        bandwidth 20% qlimit 1000 priority 2 cbq(ecn)
queue qbulk        bandwidth 30% qlimit 1000 priority 1 cbq(default)

match in inet to any flags A/SAFR queue qinteractive
match in inet to any flags FA/SAFR queue qinteractive
match in inet to any flags SA/SAFR queue qinteractive
match in inet proto $i icmp-type echoreq queue qinteractive
match in inet proto $i icmp-type unreach code needfrag queue qinteractive
match in inet proto $i queue qdata
match in inet proto $t to any port { ssh rsync } queue ( qinteractive qdata )
match in inet proto $t to any port { {{ pf_nagios_port }} {{ pf_munin_port }} } queue qinteractive
match in inet proto $t to any port { http https 8080:8100 9200 } queue ( qdata qbulk )
match in inet proto $u to any port { snmp snmp-trap } queue qinteractive
match in inet proto $t to any port { {{ pf_collectd_port }} } queue qinteractive
match in inet proto $u to any port { netbios-ns netbios-dgm } queue qbulk
match in inet proto $t to any port { netbios-ssn microsoft-ds } queue ( qdata qbulk )
match in inet proto $tu to any port { sunrpc nfsd } queue ( qdata qbulk )
match in inet proto $t to any port { 9101:9102 } queue ( qinteractive qdata )
match in inet proto $t to any port { 3389 5900 } queue qinteractive
match in inet proto $t to any port $siptcp_port queue qvoip
match in inet proto $u to any port 4569 queue qvoip
match in inet proto $u to any port $sipudp_port queue qvoip
{% endif %}
