{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
{% if pf_state_tracking %}
{% set tkeep = " flags S/SA" %}
{% set ukeep = "" %}
{% else %}
{% set tkeep = " flags S/SA modulate state" %}
{% set ukeep = " keep state" %}
{% endif %}
anchor "ftp-proxy/*"
anchor "tftp-proxy/*"
anchor "relayd/*"

block in quick from urpf-failed
{% if relayd_reverse is defined %}
pass in quick inet proto $t from { {% for host in relayd_reverse %}{{ host }} {% endfor %}} to any port { http https 8080:8100 9200 }{{ tkeep }}
{% endif %}
{% if relayd_webcache is defined %}
pass in quick inet proto $t from { {% for host in relayd_webcache %}{{ host }} {% endfor %}} to any port { http https 8080:8100 9200 }{{ tkeep }}
{% endif %}
{% if relayd_namecache is defined %}
{% if tkeep != "" %}
pass in quick inet proto $t from { {% for host in relayd_namecache %}{{ host }} {% endfor %}} to any port domain{{ tkeep }}
pass in quick inet proto $u from { {% for host in relayd_namecache %}{{ host }} {% endfor %}} to any port domain{{ ukeep }}
{% endif %}
{% endif %}
{% if relayd_mx is defined %}
pass in quick inet proto $t from { {% for host in relayd_mx %}{{ host }} {% endfor %}} to any port { smtp smtps submission pop3 pop3s imap imaps }{{ tkeep }}
{% endif %}
{% if nagios_queryhost is defined %}
pass in quick inet proto $t from { {% for host in nagios_queryhost %}{{ host }} {% endfor %}} to any port { {{ pf_nagios_port }} }{{ tkeep }}
{% endif %}
{% if pf_ansible is defined %}
pass in quick inet proto $t from { {% for host in pf_ansible %}{{ host }} {% endfor %}} to any port { {{ pf_ansible_port }} }{{ tkeep }}
{% endif %}
{% if snmp_queryhost is defined %}
pass in quick inet proto $u from { {% for host in snmp_queryhost %}{{ host }} {% endfor %}} to any port { {{ pf_snmp_port }} }{{ ukeep }}
{% endif %}
{% if munin_queryhost is defined %}
pass in quick inet proto $t from { {% for host in munin_queryhost %}{{ host }} {% endfor %}} to any port { {{ pf_munin_port }} }{{ tkeep }}
{% endif %}
{% if pf_collectd is defined %}
pass in quick inet proto $u to { {% for host in pf_collectd %}{{ host }} {% endfor %}} port { {{ pf_collectd_port }} }{{ ukeep }}
{% endif %}
{% for nic in iface_source if nic['rdrnat'] is defined and nic['ifname'] is defined and nic['gw'] is defined %}
{% set routeto = " route-to ( " ~ nic['ifname'] ~ " " ~ nic['gw'] ~ " )" %}
{% for nat in nic['rdrnat'] if nat['from'] is defined %}
{% if nat['proto'] is defined %}
{% if nat['proto'] == "$tui" or nat['proto'] == "{ tcp udp icmp }" or nat['proto'] == "{ icmp tcp udp }" or nat['proto'] == "{ icmp udp tcp }" %}
{% set proto = " proto { tcp udp icmp }" %}
{% elif nat['proto'] == "$tu" or nat['proto'] == "{ tcp udp }" or nat['proto'] == "{ udp tcp }" or nat['proto'] == "$ut" %}
{% set proto = " proto { tcp udp }" %}
{% elif nat['proto'] == "$ti" or nat['proto'] == "{ tcp icmp }" or nat['proto'] == "{ icmp tcp }" or nat['proto'] == "$it" %}
{% set proto = " proto { tcp icmp }" %}
{% elif nat['proto'] == "$ui" or nat['proto'] == "{ udp icmp }" or nat['proto'] == "{ icmp udp }" or nat['proto'] == "$iu" %}
{% set proto = " proto { udp icmp }" %}
{% elif nat['proto'] == "$i" or nat['proto'] == "{ icmp }" %}
{% set proto = " proto icmp" %}
{% elif nat['proto'] == "$u" or nat['proto'] == "{ udp }" %}
{% set proto = " proto udp" %}
{% elif nat['proto'] == "$t" or nat['proto'] == "{ tcp }" %}
{% set proto = " proto tcp" %}
{% else %}
{% set proto = "" %}
{% endif %}
{% else %}
{% set proto = "" %}
{% endif %}
{% if nat['to'] is defined %}
{% set dest = " to " ~ nat['to'] %}
{% else %}
{% set dest = " to any" %}
{% endif %}
{% if nat['outport'] is defined %}
{% set desttrail = " port " ~ nat['outport'] %}
{% else %}
{% set desttrail = "" %}
{% endif %}
{% if nat['pub'] is defined %}
{% set natto = " nat-to " ~ nat['pub'] %}
{% else %}
{% set natto = "" %}
{% endif %}
pass in quick inet{{ proto }} from {{ nat['from'] }}{{ dest }}{{ desttrail }}{{ natto }}{{ routeto }}
{% endfor %}
{% endfor %}
