{% for iface in carp_definition if iface['gw'] is defined and iface['linkbw'] is defined %}
altq on {{ iface['ifname'] }} bandwidth {{ iface['linkbw'] }} hfsc queue { q{{ iface['name'] }}prio{% if ipsec_tunnels is defined %} q{{ iface['name'] }}ipsec{% endif %} q{{ iface['name'] }}web q{{ iface['name'] }}bulk }
queue q{{ iface['name'] }}prio qlimit 200 hfsc(upperlimit {{ pf_shaping_prio_upper }}%) bandwidth {{ pf_shaping_prio_reserved }}%
{% if ipsec_tunnels is defined %}
queue q{{ iface['name'] }}ipsec qlimit 400 bandwidth {{ pf_shaping_ipsec_reserved }}% { {% for tunnel in ipsec_tunnels %}{% if tunnel['localgw'] == iface['ip'] %}q{{ tunnel['name'] }} {% endif %}{% endfor %}}
{% for tunnel in ipsec_tunnels if tunnel['localgw'] == iface['ip'] %}
queue q{{ tunnel['name'] }} hfsc(realtime {{ pf_shaping_ipsec_reserved / 2 }}%) bandwidth {{ pf_shaping_ipsec_per_tunnel }}%
{% endfor %}
{% endif %}
queue q{{ iface['name'] }}web qlimit 500 hfsc(realtime ({{ pf_shaping_web_upper }}%, {{ pf_shaping_web_delay * 1000 }}, {{ pf_shaping_web_lower }}%)) bandwidth {{ pf_shaping_web_reserved }}%
queue q{{ iface['name'] }}bulk qlimit 1000 hfsc(realtime 5%, default, ecn) bandwidth 1%
match on {{ iface['ifname'] }} inet proto $t to any port { ssh 222 1022 1664:1680 4949:4500 5666:5700 } queue ( q{{ iface['name'] }}prio q{{ iface['name'] }}bulk  )
match on {{ iface['ifname'] }} inet proto $t to any port { http https 8080:8900 9200 } queue q{{ iface['name'] }}web
{% if ipsec_tunnels is defined %}
{% for tunnel in ipsec_tunnels if tunnel['localgw'] == iface['ip'] %}
match tagged q{{ tunnel['name'] }} queue q{{ tunnel['name'] }}
{% endfor %}
{% endif %}
{% endfor %}
