{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
{% if item['hwfilter'] is defined %}
{% set dstif = "bridge" ~ item['vhid'] %}
{% set filter = " tagged " ~ item['name'] ~ "_trusted" %}
{% else %}
{% set dstif = item['ifname'] %}
{% set filter = "" %}
{% endif %}
{% if pf_state_tracking %}
{% set ikeep = "" %}
{% set tkeep = " flags S/SA" %}
{% set ukeep = "" %}
{% else %}
{% set ikeep = " icmp-type 8 code 0" %}
{% set tkeep = " flags S/SA modulate state" %}
{% set ukeep = " keep state" %}
{% endif %}
{% if item['carpid'] is defined %}
block in       on {{ dstif }} inet proto $t from any to ( carp{{ item['vhid'] }} ) port {{ ssh_port }}
{% if ssh_port != 22 %}
block in       on {{ dstif }} inet proto $t from any to ( carp{{ item['vhid'] }} ) port ssh
{% endif %}
{% endif %}
{% if item['admin'] is defined %}
{% if item['admin'] == true %}
pass  in quick on {{ dstif }} inet proto $t from {{ item['network'] }} to ( {{ item['ifname'] }} ) port {{ ssh_port }}{{ filter }}{{ tkeep }}
pass  in quick on {{ dstif }} inet proto $i from {{ item['network'] }} to ( {{ item['ifname'] }} ){{ filter }}{{ ikeep }}
{% endif %}
{% endif %}
{% if item['vlanacl'] is defined %}
{% for vlan in item['vlanacl'] %}
{% for dstlan in iface_source if dstlan['ifname'] == vlan %}
{% if dstlan['rdomain'] is defined and ((item['rdomain'] is defined and item['rdomain'] != dstlan['rdomain']) or item['rdomain'] is not defined) %}
{% set rdomain = " rdomain " ~ dstlan['rdomain'] %}
{% else %}
{% set rdomain = "" %}
{% endif %}
{% if ukeep != "" %}
pass  in       on {{ dstif }} inet proto $i from {{ item['network'] }} to ${{ vlan }}_net{{ rdomain }}{{ filter }}{{ ikeep }}
pass  in       on {{ dstif }} inet proto $t from {{ item['network'] }} to ${{ vlan }}_net{{ rdomain }}{{ filter }}{{ tkeep }}
pass  in       on {{ dstif }} inet proto $u from {{ item['network'] }} to ${{ vlan }}_net{{ rdomain }}{{ filter }}{{ ukeep }}
{% else %}
pass  in       on {{ dstif }} inet proto $tui from {{ item['network'] }} to ${{ vlan }}_net{{ rdomain }}{{ filter }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% if item['dhcp'] is defined and ( dhcp_one is defined or dhcp_too is defined ) %}
{% if item['dhcp'] == true %}
pass  in quick on {{ dstif }} inet proto $u from 0.0.0.0 port bootpc to $dhcp_ip port bootps{{ filter }}{{ ukeep }}
pass  in quick on {{ dstif }} inet proto $u from any port bootpc to 255.255.255.255 port bootps{{ filter }}{{ ukeep }}
pass  in quick on {{ dstif }} inet proto $u from $dhcp_ip port bootps to 255.255.255.255 port bootpc{{ filter }}{{ ukeep }}
{% endif %}
{% endif %}
{% if item['internet'] is defined %}
{% if item['internet'] == true %}
{% set fromsource = item['network'] %}
{% elif item['internet'] != false %}
{% set fromsource = "{ " ~ item['internet'] ~ " }" %}
{% endif %}
{% if fromsource is defined %}
{% if item['ftp'] is defined %}
{% if item['ftp'] == true %}
pass  in quick on {{ dstif }} inet proto $t from {{ fromsource }} to $ext_net port ftp divert-to 127.0.0.1 port 8021{{ filter }}{{ tkeep }}
pass  in quick on {{ dstif }} inet proto $t from {{ fromsource }} to $ext_net port tftp divert-to 127.0.0.1 port 6969{{ filter }}{{ tkeep }}
{% endif %}
{% endif %}
{% if relayd_mx is defined and iface_source is defined %}
{% for netif in iface_source if netif['ifname'] is defined and netif['gw'] is defined %}
pass  in quick on {{ dstif }} inet proto $t from {{ fromsource }} to ( {{ netif['ifname'] }} ) port smtp rdr-to 127.0.0.1 port 8000{{ filter }}{{ tkeep }}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% if relayd_namecache is defined %}
pass  in quick on {{ dstif }} inet proto $t from {{ item['network'] }} to any port domain rdr-to 127.0.0.1 port 8001{{ filter }}{{ tkeep }}
{% endif %}
{% if relayd_reverse is defined and iface_source is defined %}
{% for netif in iface_source if netif['ifname'] is defined and netif['gw'] is defined %}
pass  in quick on {{ dstif }} inet proto $t from {{ item['network'] }} to ( {{ netif['ifname'] }} ) port http divert-to 127.0.0.1 port 8002{{ filter }}{{ tkeep }}
pass  in quick on {{ dstif }} inet proto $t from {{ item['network'] }} to ( {{ netif['ifname'] }} ) port https divert-to 127.0.0.1 port 8003{{ filter }}{{ tkeep }}
{% endfor %}
{% endif %}
{% if fromsource is defined %}
{% if relayd_mx is defined and iface_source is defined %}
{% for netif in iface_source if netif['ifname'] is defined and netif['gw'] is defined %}
pass  in quick on {{ dstif }} inet proto $t from {{ fromsource }} to ( {{ netif['ifname'] }} ) port smtps divert-to 127.0.0.1 port 8004{{ filter }}{{ tkeep }}
pass  in quick on {{ dstif }} inet proto $t from {{ fromsource }} to ( {{ netif['ifname'] }} ) port submission divert-to 127.0.0.1 port 8005{{ filter }}{{ tkeep }}
pass  in quick on {{ dstif }} inet proto $t from {{ fromsource }} to ( {{ netif['ifname'] }} ) port imaps divert-to 127.0.0.1 port 8006{{ filter }}{{ tkeep }}
{% endfor %}
{% endif %}
{% if relayd_webcache is defined %}
pass  in quick on {{ dstif }} inet proto $t from {{ fromsource }} to $ext_net port http divert-to 127.0.0.1 port 8007{{ filter }}{{ tkeep }}
{% endif %}
pass  in       on {{ dstif }} inet proto $i from {{ fromsource }} to $ext_net{{ filter }}{{ ikeep }}
pass  in       on {{ dstif }} inet proto $t from {{ fromsource }} to $ext_net port $defaulttcp_port{{ filter }}{{ tkeep }}
pass  in       on {{ dstif }} inet proto $u from {{ fromsource }} to $ext_net port $defaultudp_port{{ filter }}{{ ukeep }}
{% endif %}
