alias_database                       = hash:/etc/aliases
alias_maps                           = hash:/etc/aliases
append_dot_mydomain                  = no
biff                                 = no
{% if authmailrelay is defined or mailmx is defined %}
broken_sasl_auth_clients             = yes
{% endif %}
{% if smtp_devel is defined %}
default_transport                    = discard
{% endif %}
html_directory                       = no
{% if mailrelay == true %}
inet_interfaces                      = all
{% else %}
inet_interfaces                      = loopback-only
{% endif %}
{% if mailmx is defined %}
local_recipient_maps                 = $alias_maps
{% endif %}
{% if authmailrelay is defined %}
local_transport                      = relay
{% endif %}
mailbox_size_limit                   = {{ mail_boxsizelimit }}
{% if mailrelay == false %}
masquerade_domains                   = {{ dirdomain }}
{% endif %}
message_size_limit                   = {{ mail_msgsizelimit }}
mydestination                        = localhost, $myhostname
myhostname                           = {{ ansible_fqdn }}
mynetworks                           = {% if mailrelay == true and lan_network != "any" %}{{ lan_network }} {% endif %}127.0.0.0/8
myorigin                             = $myhostname
readme_directory                     = no
recipient_delimiter                  = +
{% if mailrelay == false %}
relayhost                            = {{ smtp_hostrelay }}
smtp_generic_maps                    = regexp:/etc/postfix/masqueradefrom
{% else %}
{% if mailmx is not defined %}
smtp_tls_session_cache_database      = btree:${data_directory}/smtp_cache
smtp_tls_note_starttls_offer         = yes
{% else %}
smtp_connect_timeout                 = 120s
{% endif %}
{% endif %}
smtpd_banner                         = $myhostname ESMTP
smtpd_helo_required                  = yes
{% if mailmx is not defined and authmailrelay is not defined %}
smtpd_recipient_restrictions         = reject_non_fqdn_sender,
				       reject_non_fqdn_hostname,
				       reject_non_fqdn_recipient,
				       permit_mynetworks,
{% if mailrelay == true %}
				       check_relay_domains
{% else %}
				       reject
{% endif %}
smtpd_sender_restrictions            = warn_if_reject,
				       reject_non_fqdn_hostname,
				       reject_invalid_hostname,
				       permit
{% else %}
smtpd_recipient_restrictions         = reject_non_fqdn_recipient,
				       permit_mynetworks,
				       permit_sasl_authenticated,
{% if authmailrelay is defined %}
				       reject_unknown_sender_domain,
				       reject_unknown_recipient_domain,
				       reject_unlisted_recipient,
				       reject_invalid_hostname,
				       reject_non_fqdn_sender,
{% for rbl in postfix_rbl %}
				       reject_rbl_client {{ rbl }},
{% endfor %}
				       reject_unauth_destination
smtpd_sender_restrictions            = warn_if_reject,
				       reject_non_fqdn_hostname,
				       reject_invalid_hostname,
				       permit
{% else %}
				       reject_unauth_destination
{% endif %}
{% endif %}
{% if mailrelay == true %}
{% if mailmx is defined or authmailrelay is defined %}
smtpd_sasl_auth_enable               = yes
smtpd_sasl_authenticated_header      = yes
smtpd_sasl_security_options          = noanonymous
{% endif %}
smtpd_tls_CAfile                     = {% if mailmx is defined %}/var/lib/bm-ca/cacert{% else %}/etc/postfix/ssl/cachain{% endif %}.pem
{% if mailmx is defined %}
smtpd_tls_cert_file                  = /etc/ssl/certs/bm_cert.pem
smtpd_tls_key_file                   = /etc/ssl/certs/bm_cert.pem
{% else %}
smtpd_tls_cert_file                  = /etc/postfix/ssl/server.crt
smtpd_tls_key_file                   = /etc/postfix/ssl/server.key
{% endif %}
smtpd_tls_loglevel                   = 1
smtpd_tls_received_header            = yes
smtpd_tls_security_level             = may
{% if mailmx is not defined %}
smtpd_tls_session_cache_database     = btree:${data_directory}/smtpd_cache
smtpd_tls_session_cache_timeout      = 600s
{% endif %}
smtpd_use_tls                        = yes
tls_random_source                    = dev:{{ random_source }}
{% endif %}
{% if smtp_devel is defined or mailrelay == true %}
transport_maps                       = {% if mailmx is defined %}hash:/etc/postfix/master_relay_transport, {% endif %}hash:/etc/postfix/transport
{% endif %}
{% if mailmx is defined or authmailrelay is defined %}
virtual_alias_maps                   = hash:/etc/postfix/virtual_alias
virtual_mailbox_domains              = hash:/etc/postfix/virtual_domains
virtual_mailbox_maps                 = hash:/etc/postfix/virtual_mailbox
{% if mailmx is defined %}
virtual_transport                    = error:mailbox does not exist
{% endif %}
{% endif %}
