command[check_mailq]={{ nagios_probe_dir }}/check_mailq -w {{ mailq_warning_threshold }} -c {{ mailq_critical_threshold }}
command[check_postfix]={{ nagios_probe_dir }}/check_postfix
command[check_smtp]={{ nagios_probe_dir }}/check_smtp -H {{ ansible_fqdn }} -p {{ smtp_port }}
command[check_smtps]={{ nagios_probe_dir }}/check_smtp -H {{ ansible_fqdn }} -p {{ smtps_port }}
command[check_smtp_submission]={{ nagios_probe_dir }}/check_smtp -H {{ ansible_fqdn }} -p {{ smtp_submission_port }}
