*.{{ dirdomain }}	smtp:{{ smtp_hostmx }}
{{ dirdomain }}	smtp:{{ smtp_hostmx }}
{% if smtp_devel_domains is defined %}
{% for domain in smtp_devel_domains %}
{{ domain }}	smtp
{% endfor %}
{% endif %}
{% if smtp_devel is not defined %}
{% if authmailrelay is defined %}
*	smtp
{% else %}
*	smtp:{{ smtp_hostrelay }}
{% endif %}
{% endif %}
