/var/log/mysql/*.log {
    compress
    daily
    missingok
    nocreate
    rotate {{ mysql_log_retention }}
    sharedscripts
    postrotate
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
	test -x /usr/bin/mysqladmin || exit 0
{% if mysql_log_slowqueries %}
	touch /var/log/mysql/mysql-slow.log
	chown {{ mysql_user }}:{{ gid_adm }} /var/log/mysql/mysql-slow.log
{% endif %}
	MYADMIN="/usr/bin/mysqladmin --defaults-file=/etc/mysql/debian.cnf"
	if test -z "`$MYADMIN ping 2>/dev/null`"; then
	    if killall -q -s0 -umysql mysqld; then
		exit 1
	    fi 
	else
	    $MYADMIN flush-logs
	fi
{% else %}
	{{ service_bin }} mysql reload
{% endif %}
    endscript
}
