[mysql_innodb]
env.warning 0
env.critical 0

[mysql*]
user root
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
env.mysqlopts --defaults-file={{ mysql_conf_dir }}/debian.cnf
{% endif %}
env.critical {{ mysql_crit_space * 1024 * 1024 }}
