[client]
port			= {{ mysql_port }}
socket			= {{ mysql_sock_dir }}/{{ mysql_socket }}

[mysqld_safe]
nice			= 0
socket			= {{ mysql_sock_dir }}/{{ mysql_socket }}

[mysqld]
basedir			= /usr
{% if mysql_public %}
bind-address		= {{ ansible_default_ipv4['address'] }}
{% else %}
bind-address		= 127.0.0.1
{% endif %}
datadir			= {{ mysql_lib_dir }}
expire_logs_days	= {{ mysql_expirelogdays }}
key_buffer		= {{ mysql_keybuffer }}
lc-messages-dir		= /usr/share/mysql
{% if mysql_log_slowqueries %}
log_slow_queries	= /var/log/mysql/mysql-slow.log
long_query_time		= {{ mysql_log_slowqueries_time }}
{% endif %}
max_allowed_packet	= {{ mysql_maxallowedpacket }}
max_binlog_size		= {{ mysql_maxbinlogsize }}
max_connections		= {{ mysql_maxconnections }}
myisam-recover		= BACKUP
pid-file		= {{ mysql_sock_dir }}/{{ mysql_pid }}
read_buffer_size	= {{ mysql_readbuffersize }}
sort_buffer_size	= {{ mysql_sortbuffersize }}
user			= {{ mysql_user }}
port			= {{ mysql_port }}
query_cache_limit	= {{ mysql_querycachelimit }}
query_cache_size	= {{ mysql_querycachesize }}
skip-external-locking
socket			= {{ mysql_sock_dir }}/{{ mysql_socket }}
thread_cache_size	= {{ mysql_threadcachesize }}
thread_stack		= {{ mysql_threadstack }}
tmpdir			= /tmp
table_cache		= {{ mysql_tablecache }}
thread_concurrency	= {{ mysql_threadconcurrency }}
{% if mysql_replication != false %}
server-id		= {{ mysql_replication }}
log_bin			= /var/log/mysql/mysql-bin.log
{% endif %}

[mysqldump]
max_allowed_packet	= 16M
quick
quote-names

[mysql]

[isamchk]
key_buffer		= {{ mysql_keybuffer }}

!includedir {{ mysql_conf_dir }}/conf.d/
