__version__ = 19
[misc]
queue_complete = ""
https_port = 9090
folder_rename = 1
allow_64bit_tools = 1
rss_rate = 60
https_key = server.key
cleanup_list = {{ sabnzb_cleanup_list }}
cache_limit = ""
par_option = ""
web_color = gold
replace_spaces = 0
web_color2 = dark
dirscan_speed = 5
enable_filejoin = 1
create_group_folders = 0
api_key = {{ sabnzb_api_key }}
no_penalties = 0
bandwidth_limit = 0
dirscan_dir = downloads/queue
disable_api_key = 0
email_to = sabnzbd@{{ dirdomain }},
{% if sabnzb_password is defined %}
password = {{ sabnzb_password }}
{% else %}
password = ""
{% endif %}
permissions = ""
auto_disconnect = 1
movie_extra_folder = 0
enable_date_sorting = 0
replace_dots = 0
movie_sort_extra = -cd%1
ionice = ""
enable_unzip = 1
download_free = ""
port = {{ sabnzb_listen_port }}
email_dir = ""
email_full = 0
log_dir = logs
admin_dir = admin
nzb_backup_dir = ""
tv_sort_countries = 1
date_categories = tv
ssl_type = v23
date_sort_string = ""
schedlines = ,
host = {{ sabnzb_listen_host }}
ignore_samples = 0
enable_tsjoin = 1
auto_browser = 0
pause_on_post_processing = 1
enable_unrar = 1
email_account = ""
email_server = {{ smtp_hostrelay }}
config_lock = 0
tv_sort_string = %sn/%0sx%0e %en.%ext
dirscan_priority = 0
{% if sabnzb_password is defined and sabnzb_username is defined %}
username = {{ sabnzb_username }}
{% else %}
username = ""
{% endif %}
download_dir = downloads/incomplete
size_limit = ""
enable_par_cleanup = 1
safe_postproc = 1
cache_dir = cache
complete_dir = downloads/complete
replace_illegal = 1
par2_multicore = 0
warned_old_queue = 0
language = en
check_new_rel = 1
enable_https = 0
no_dupes = 0
top_only = 1
quick_check = 1
movie_sort_string = ""
email_from = sab@{{ dirdomain }}
web_dir2 = Mobile
dirscan_script = None
email_endjob = 1
tv_categories = ,
unpack_check = 1
send_group = 0
refresh_rate = 0
movie_categories = movies,
script_dir = bin
email_pwd = ""
ignore_wrong_unrar = 0
nice = ""
enable_movie_sorting = 0
https_cert = server.cert
fail_on_crc = 0
auto_sort = 0
dirscan_opts = 3
web_dir = Plush
queue_complete_pers = 1
enable_tv_sorting = 1
folder_max_length = 256
password_file = ""
ignore_unrar_dates = 0
never_repair = 0
rss_filenames = 0
use_pickle = 0
pre_script = None
sfv_check = {% if sabnzb_sfv_check %}1{% else %}0{% endif %}

email_rss = 0
allow_streaming = 0
api_warnings = 1
pause_on_pwrar = 1
login_realm = SABnzbd
nzb_key = {{ sabnzb_nzb_key }}
ampm = 0
[logging]
max_log_size = 5242880
log_level = 1
log_backups = 5
enable_cherrypy_logging = 0
log_new = 0
[newzbin]
username = ""
https = 1
bookmark_rate = 60
bookmarks = 0
password = ""
unbookmark = 1
url = www.newzbin2.es
[nzbmatrix]
username = ""
apikey = ""
del_bookmark = 1
[categories]
[[tv]]
priority = -100
pp = ""
name = tv
script = Default
newzbin = TV
dir = TV
[[unknown]]
priority = -100
pp = ""
name = unknown
script = Default
newzbin = Unknown
dir = Unknown
[[resources]]
priority = -100
pp = ""
name = resources
script = Default
newzbin = Resources
dir = Resources
[[apps]]
priority = -100
pp = ""
name = apps
script = Default
newzbin = Apps
dir = Apps
[[movies]]
priority = -100
pp = ""
name = movies
script = Default
newzbin = Movies
dir = Movies
[[consoles]]
priority = -100
pp = ""
name = consoles
script = Default
newzbin = Consoles
dir = Consoles
[[books]]
priority = -100
pp = ""
name = books
script = Default
newzbin = Books
dir = Books
[[games]]
priority = -100
pp = ""
name = games
script = Default
newzbin = Games
dir = Games
[[jose]]
priority = -100
pp = ""
name = jose
script = Default
newzbin = jose
dir = jose
[[anime]]
priority = -100
pp = ""
name = anime
script = Default
newzbin = Anime
dir = Anime
[[music]]
priority = -100
pp = ""
name = music
script = Default
newzbin = Music
dir = Music
[[pda]]
priority = -100
pp = ""
name = pda
script = Default
newzbin = PDA
dir = PDA
[[emulation]]
priority = -100
pp = ""
name = emulation
script = Default
newzbin = Emulation
dir = Emulation
[[*]]
priority = 0
pp = 3
name = *
script = post_process_all
newzbin = ""
dir = ""
[servers]
[[{{ sabnzb_nntp_backend }}:{{ sabnzb_nntp_backend_port }}]]
username = {{ sabnzb_nntp_backend_user }}
enable = 1
name = {{ sabnzb_nntp_backend }}:{{ sabnzb_nntp_backend_port }}
fillserver = 0
connections = {{ sabnzb_nntp_backend_maxconnections }}
{% if sabnzb_nntp_backend_port == 443 %}
ssl = 1
{% else %}
ssl = 0
{% endif %}
host = {{ sabnzb_nntp_backend }}
timeout = {{ sabnzb_nntp_backend_timeout }}
password = {{ sabnzb_nntp_backend_pass }}
optional = 0
port = {{ sabnzb_nntp_backend_port }}
retention = 0
[growl]
growl_enable = 0
