#!/bin/sh

DOWNLOAD_DIR={{ sabnzb_home }}/downloads/complete
IGNORE_EXTENSIONS="{{ sabnzb_ignore_extensions }}"

find $DOWNLOAD_DIR -type f -exec chmod 0664 {} \;
find $DOWNLOAD_DIR -type d -exec chmod 0775 {} \;
find $DOWNLOAD_DIR -exec chown {{ sabnzb_user }}:{{ sabnzb_group }} {} \;

for dropped in $IGNORE_EXTENSIONS
do
    find $DOWNLOAD_DIR -type f -name "*.$dropped" -exec rm -f {} \;
done

exit 0
