$ModLoad imfile
{% for channel in sabnzb_rsyslog_channels %}

$InputFileName		/var/log/sabnzbd/{{ channel }}.log
$InputFileTag		{{ channel }}:
$InputFileStateFile	{{ channel }}
{% if channel == "sabnzb.error" %}
$InputFileSeverity	error
{% else %}
$InputFileSeverity	info
{% endif %}
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
