sendmail	{{ sendmail_libexec }}/sendmail
send-mail	{{ sendmail_libexec }}/sendmail
mailq		{{ sendmail_libexec }}/sendmail
{% if ansible_distribution != "FreeBSD %}
makemap		{{ sendmail_libexec }}/makemap
{% else %}
makemap		/usr/sbin/makemap
{% endif %}
newaliases	{{ sendmail_libexec }}/sendmail
hoststat	{{ sendmail_libexec }}/sendmail
purgestat	{{ sendmail_libexec }}/sendmail
