command[check_mailq]={{ sudo_bin }} {{ nagios_probe_dir }}/check_mailq -w {{ mailq_warning_threshold }} -c {{ mailq_critical_threshold }}
command[check_sendmail]={{ nagios_probe_dir }}/check_sendmail
