{% if ansible_distribution != "OpenBSD" and ansible_distribution != "FreeBSD" %}
sinclude(`/usr/share/sendmail-cf/m4/cf.m4')

{% endif %}
divert(0)
VERSIONID(`De3pthro4t')
OSTYPE(`{% if ansible_distribution == "OpenBSD" %}openbsd{% else %}{% if ansible_distribution == "FreeBSD" %}freebsd6{% else %}linux{% endif %}{% endif %}')
define(`__OSTYPE__',                    `')
define(`confDOMAIN_NAME',               `{{ dirdomain }}')
define(`confMIME_FORMAT_ERRORS',        `False')
define(`confSMTP_LOGIN_MSG',            `{{ ansible_fqdn }} ESMTP')
define(`confTIME_ZONE',                 `USE_TZ')
define(`confTO_IDENT',                  `0s')
{% if publicmailrelay is defined %}
define(`confLOCAL_SHELL_PATH',          `/bin/false')
define(`confPRIVACY_FLAGS',             ``noexpn,novrfy,noverb,noretrn'')
{% endif %}
define(`confMIN_QUEUE_AGE',             `2h')
define(`confTO_QUEUEWARN',              `4h')
define(`confTO_QUEUERETURN',            `5d')
define(`confCONNECTION_RATE_THROTTLE',  `5')
define(`confMAX_DAEMON_CHILDREN',       `10')
define(`confMAX_QUEUE_CHILDREN',        `2')
define(`confREFUSE_LA',                 `3')
{% if munin_monitored == true %}
define(`STATUS_FILE',                   `/var/spool/in.st')
{% endif %}
{% if publicmailrelay is not defined %}

FEATURE(`accept_unqualified_senders')
FEATURE(`promiscuous_relay')
{% endif %}
MASQUERADE_AS(`{{ dirdomain }}')
FEATURE(`allmasquerade')
FEATURE(`always_add_domain')
FEATURE(`masquerade_envelope')

define(`confCW_FILE',                   `/etc/mail/local-host-names')
define(`confMAIL_HUB',                  `{{ smtp_relay }}')
FEATURE(`use_cw_file')
MAILER(`smtp')
