{% if ansible_distribution != "OpenBSD" and ansible_distribution != "FreeBSD" %}
sinclude(`/usr/share/sendmail-cf/m4/cf.m4')

{% endif %}
divert(0)
VERSIONID(`ansible')
OSTYPE(`{% if ansible_distribution == "OpenBSD" %}openbsd{% else %}{% if ansible_distribution == "FreeBSD" %}freebsd6{% else %}linux{% endif %}{% endif %}')
define(`__OSTYPE__',                    `')

define(`confCF_VERSION',                `Submit')
define(`confDONT_INIT_GROUPS',          `True')
define(`confPID_FILE',                  `/var/run/sm-client.pid')
define(`confTIME_ZONE',                 `USE_TZ')
{% if munin_monitored == true %}
define(`STATUS_FILE',                   `/var/spool/out.st')
{% endif %}

FEATURE(`use_ct_file')
FEATURE(`msp',                          `[{{ smtp_relay }}]')
