interval {{ relayd_interval }}
timeout {{ relayd_timeout }}
prefork {{ relayd_prefork }}

{% if relayd_namecache is defined %}
table <namecache> { {% for remote in relayd_namecache %}{{ remote }} {% endfor %}}
{% endif %}
{% if relayd_mx is defined %}
table <mailmx> { {% for remote in relayd_mx %}{{ remote }} {% endfor %}}
{% endif %}
{% if relayd_webcache is defined %}
table <webcache> { {% for remote in relayd_webcache %}{{ remote }} {% endfor %}}
{% endif %}
{% if relayd_reverse is defined %}
table <webreverse> { {% for remote in relayd_reverse %}{{ remote }} {% endfor %}}
{% endif %}
{% if relayd_mx is defined %}

relay mailrelay {
    listen on 127.0.0.1 port 8000
    forward to <mailmx> port 25 check tcp
}
{% endif %}
{% if relayd_namecache is defined %}

relay namecache {
    listen on 127.0.0.1 port 8001
    forward to <namecache> port 53 check tcp
}
{% endif %}
{% if relayd_reverse is defined %}

relay webreverse {
    listen on 127.0.0.1 port 8002
    forward to <webreverse> port 80 check tcp
}

relay webreversessl {
    listen on 127.0.0.1 port 8003
    forward to <webreverse> port 443 check tcp
}
{% endif %}
{% if relayd_mx is defined %}

relay mailsmtps {
    listen on 127.0.0.1 port 8004
    forward to <mailmx> port 465 check tcp
}

relay mailsubmission {
    listen on 127.0.0.1 port 8005
    forward to <mailmx> port 587 check tcp
}

relay mailmx {
    listen on 127.0.0.1 port 8006
    forward to <mailmx> port 993 check tcp
}
{% endif %}
{% if relayd_webcache is defined %}

relay webcache {
    listen on 127.0.0.1 port 8007
    forward to <webcache> port 3127 check tcp
}
{% endif %}
