ldap-server		"{% if ldap_host is defined %}{{ ldap_host }}{% else %}{{ dirhost }}{% endif %}";
ldap-port		636;
ldap-username		"cn=dhcp,ou=services,{{ dirbase }}";
ldap-password		"{{ ldap_dhcp_psk }}";
ldap-base-dn		"ou=dhcp,{{ dirbase }}";
ldap-debug-file		"/var/log/dhcp-startup.log";
ldap-dhcp-server-cn	"{{ ansible_hostname }}";
ldap-method		dynamic;
ldap-ssl		ldaps;
ldap-tls-ca-file	"/etc/{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}pki/tls{% else %}ssl{% endif %}/certs/{{ keyorg }}.pem";
ldap-tls-reqcert	hard;
