#!/bin/sh

export PATH=/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin

if test -s /var/run/dhcpd.pid; then
    pid=`cat /var/run/dhcpd.pid`
    if ! ps ax | grep "^[ 	]*$pid[ 	]"; then
	service {% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}isc-dhcp-server{% endif %} restart
    fi
else
    service {% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}isc-dhcp-server{% endif %} restart
fi

exit 0
