[git]
client = '{{ git_bin }}'
default_branch = 'master'
repositories[] = {% if git_repositories is defined %}{% for repo in git_repositories %}'{{ git_root }}/{{ repo }}'
{% endfor %}{% else %}'{{ git_root }}'{% endif %}

[app]
debug = false
cache = true

[filetypes]

[binary_filetypes]
bin = true
