#!/bin/sh

check_version()
{
    local checkfile ip ret hwaddr firmware

    checkfile=/tmp/bite
    ip=$1
    shift

    if wget --no-proxy -q http://$ip/ -O $checkfile; then
	if grep "<title>SPA504G Configuration Utility</title>" $checkfile >/dev/null; then
	    ret=504
	elif grep "<title>SPA303 Configuration Utility</title>" $checkfile >/dev/null; then
	    ret=303
	elif grep "Product Name:.*SPA-942" $checkfile >/dev/null; then
	    ret=942
	else
	    echo "No match for phone model, patch needed"
	fi
    else
	echo "can't contact the phone... exiting..."
    fi >&2
# pause X, mon cul !
#   hwaddr=`grep "MAC Address:" $checkfile | sed 's|.*MAC Address:.*>([0-9a-fA-F:]{12})<.*|\1|'`
    hwaddr=`grep "MAC Address:" $checkfile | sed 's|.*MAC Address:[^<]*<[^<]*<[^>]*>\([0-9a-fA-F:]*\)<.*|\1|'`
    firmware=`grep "Software Version:" $checkfile | sed 's|.*Software Version:[^<]*<[^<]*<[^>]*>\([0-9a-zA-Z()\.]*\)<.*|\1|'`
    firmware=`echo $firmware | sed 's|(|\\\\(|g' | sed 's|)|\\\\)|g'`
    rm -f $checkfile
    test "$ret" || exit 1
    if test "$3"; then
	echo $1=$ret $2=$hwaddr $3=$firmware
    elif test "$2"; then
	echo $1=$ret $2=$hwaddr
    elif test "$1"; then
	echo $1=$ret
    else
	echo $ret
    fi
}

create_conf()
{
    local hostname hwaddr i model outfile vlan_conf vlan_pc

    vlan_conf=$1
    vlan_pc=$2
    shift 2
    model=$1
    hwaddr=`echo "$2" | sed 's/\(.\{2\}\):\?\(.\{2\}\):\?\(.\{2\}\):\?\(.\{2\}\):\?\(.\{2\}\):\?\(.\{2\}\)/\1:\2:\3:\4:\5:\6/' | tr '[A-Z]' '[a-z]'`
    outfile=$SPA/spa$hwaddr.cfg
    shift 2
    i=1
    while test "$1"
    do
	if test "$i" = 5; then
	    echo "Can't setup more than 4 accounts per phone"
	    echo "Ignoring next ones..."
	    break
	fi >&2
	USERNAME=$1 ; SIPACCOUNT=$2 ; SIPPASSWORD=$3
	eval "USERNAME$i='$USERNAME' SIPACCOUNT$i=$SIPACCOUNT SIPPASSWORD$i=$SIPPASSWORD"
	shift 3
	echo "Username $i: $USERNAME"
	echo "SIP account $i: $SIPACCOUNT"
	echo "SIP password $i: $SIPPASSWORD"
	i=`expr $i + 1`
    done
    hostname="SIP$SIPACCOUNT1"
    ip=`get_phone_ip $SIPACCOUNT1`
    if test "$ip" = DHCP; then
	netcfg=$ip
    else
	netcfg="Static IP"
    fi

    echo "Phone: $hostname [$hwaddr]"
    echo "Local ip: $ip [$netcfg]"
    echo "Asterisk: $ASTERISK_IP"
    echo "Conf server: $PROVISION_IP"
    echo "The generated file will be put here:"
    echo "    $outfile"

    echo -n "Is this OK ? (y/n) "
    read RESPONSE
    case $RESPONSE in
	Y|y|yes) ;;
	*)  echo "Abort on user exit."; exit 0;;
    esac

    echo "<flat-profile>" >$outfile

    if test "$netcfg" != DHCP; then
	if test "$model" = 942; then
	    echo "<Current_IP group=\"Info/System_Information\">$ip</Current_IP>"
	    echo "<Current_Gateway group=\"Info/System_Information\">$GW</Current_Gateway>"
	    echo "<Current_Netmask group=\"Info/System_Information\">$NETMASK</Current_Netmask>"
	fi
	echo "<Static_IP group=\"System/_Static_IP_Settings\">$ip</Static_IP>"
	echo "<Gateway group=\"System/_Static_IP_Settings\">$GW</Gateway>"
	echo "<NetMask group=\"System/_Static_IP_Settings\">$NETMASK</NetMask>"
    fi >>$outfile

    if test "$model" = 942; then
	echo "<DHCP group=\"Info/System_Information\">$netcfg</DHCP>"
	echo "<Connection_Type group=\"System/Internet_Connection_Type_\">$netcfg</Connection_Type>"
    else
	echo "<Connection_Type group=\"Info/System_Information\">$netcfg</Connection_Type>"
    fi >>$outfile

    cat <<EOF >>$outfile
<Host_Name group="Info/System_Information">$hostname</Host_Name>
<Domain group="Info/System_Information">$DOMAIN</Domain>
<Primary__DNS group="Info/System_Information">$DNSHOST</Primary__DNS>
<Secondary__DNS group="Info/System_Information">$DNSRESC</Secondary__DNS>
<MAC_Address group="Info/Product_Information">$MACADDR</MAC_Address>
<Enable_Web_Server group="System/System_Configuration">Yes</Enable_Web_Server>
<Web_Server_Port group="System/System_Configuration">80</Web_Server_Port>
<Enable_Web_Admin_Access group="System/System_Configuration">Yes</Enable_Web_Admin_Access>
<Admin_Passwd group="System/System_Configuration"></Admin_Passwd>
<User_Password group="System/System_Configuration"></User_Password>
<HostName group="System/Optional_Network_Configuration">$hostname</HostName>
<Primary_DNS group="System/Optional_Network_Configuration">$DNSHOST</Primary_DNS>
<Secondary_DNS group="System/Optional_Network_Configuration">$DNSRESC</Secondary_DNS>
<DNS_Server_Order group="System/Optional_Network_Configuration">Manual</DNS_Server_Order>
<DNS_Query_Mode group="System/Optional_Network_Configuration">Parallel</DNS_Query_Mode>
<Debug_Level group="System/Optional_Network_Configuration">0</Debug_Level>
<Primary_NTP_Server group="System/Optional_Network_Configuration">pool.ntp.org</Primary_NTP_Server>
EOF

    if test "$vlan_conf" = true; then
	echo "<Enable_VLAN group=\"System/VLAN_Settings\">Yes</Enable_VLAN>"
	echo "<VLAN_ID group=\"System/VLAN_Settings\">$VLAN_VOIP</VLAN_ID>"
	echo "<Enable_PC_Port_VLAN_Tagging group=\"System/VLAN_Settings\">Yes</Enable_PC_Port_VLAN_Tagging>"
	echo "<PC_Port_VLAN_ID group=\"System/VLAN_Settings\">$vlan_pc</PC_Port_VLAN_ID>"
	if test "$model" = 942; then
	    echo "<Operational_VLAN_ID group=\"Info/Phone_Status\">$VLAN_VOIP</Operational_VLAN_ID>"
	fi
    else
	echo "<Enable_VLAN group=\"System/VLAN_Settings\">No</Enable_VLAN>"
	echo "<VLAN_ID group=\"System/VLAN_Settings\">1</VLAN_ID>"
    fi >>$outfile

    cat <<EOF >>$outfile
<Enable_CDP group="System/VLAN_Settings">Yes</Enable_CDP>
<SIP_User_Agent_Name group="SIP/SIP_Parameters">\$VERSION</SIP_User_Agent_Name>
<SIP_Server_Name group="SIP/SIP_Parameters">\$VERSION</SIP_Server_Name>
<Use_Compact_Header group="SIP/SIP_Parameters">No</Use_Compact_Header>
<RFC_2543_Call_Hold group="SIP/SIP_Parameters">Yes</RFC_2543_Call_Hold>
<Random_REG_CID_On_Reboot group="SIP/SIP_Parameters">No</Random_REG_CID_On_Reboot>
<SIP_TCP_Port_Min group="SIP/SIP_Parameters">5060</SIP_TCP_Port_Min>
<SIP_TCP_Port_Max group="SIP/SIP_Parameters">5080</SIP_TCP_Port_Max>
<Linksys_Key_System group="SIP/Linksys_Key_System_Parameters">No</Linksys_Key_System>
<Multicast_Address group="SIP/Linksys_Key_System_Parameters">224.168.168.168:6061</Multicast_Address>
<Force_LAN_Codec group="SIP/Linksys_Key_System_Parameters">none</Force_LAN_Codec>
<Provision_Enable group="Provisioning/Configuration_Profile">Yes</Provision_Enable>
<Resync_On_Reset group="Provisioning/Configuration_Profile">Yes</Resync_On_Reset>
<Resync_Random_Delay group="Provisioning/Configuration_Profile">0</Resync_Random_Delay>
<Resync_At__HHmm_ group="Provisioning/Configuration_Profile">03:00</Resync_At__HHmm_>
<Resync_Periodic group="Provisioning/Configuration_Profile">0</Resync_Periodic>
<Resync_Error_Retry_Delay group="Provisioning/Configuration_Profile">$SYNCERR</Resync_Error_Retry_Delay>
<Forced_Resync_Delay group="Provisioning/Configuration_Profile">0</Forced_Resync_Delay>
<Resync_From_SIP group="Provisioning/Configuration_Profile">Yes</Resync_From_SIP>
<Resync_After_Upgrade_Attempt group="Provisioning/Configuration_Profile">Yes</Resync_After_Upgrade_Attempt>
<Resync_Fails_On_FNF group="Provisioning/Configuration_Profile">Yes</Resync_Fails_On_FNF>
<Profile_Rule group="Provisioning/Configuration_Profile">http://$PROVISION_IP/phones/cisco/spa\\$MAC.cfg</Profile_Rule>
<Upgrade_Enable group="Provisioning/Firmware_Upgrade">Yes</Upgrade_Enable>
<Upgrade_Error_Retry_Delay group="Provisioning/Firmware_Upgrade">$SYNCERR</Upgrade_Error_Retry_Delay>
<Upgrade_Rule group="Provisioning/Firmware_Upgrade">http://$PROVISION_IP/phones/cisco/firmware-50x-30x.bin</Upgrade_Rule>
<Time_Zone group="Regional/Miscellaneous">$TZ</Time_Zone>
EOF

    if test "$DAYLIGHT"; then
	cat <<EOF >>$outfile
<Daylight_Saving_Time_Rule group="Regional/Miscellaneous">$DAYLIGHT</Daylight_Saving_Time_Rule>
EOF
    fi

    if test "$model" = 942; then
	cat <<EOF >>$outfile
<Dictionary_Server_Script group="Regional/Miscellaneous">serv=http://$PROVISION_IP/phones/cisco/;d0=Bulgarian;x0=lang942-bg.xml;d1=Croatian;x1=lang942-hr.xml;d2=Czech;x2=lang942-cz.xml;d3=Dansk;x3=lang942-dk.xml;d4=Deustch;x4=lang942-de.xml;d5=Dutch;x5=lang942-nl.xml;d6=English;x6=lang942-en.xml;d7=French;x7=lang942-fr.xml;d8=Hungarian;x8=lang942-hu.xml;d9=Italian;x9=lang942-it.xml;d10=Polski;x10=lang942-pl.xml;d11=Portugese;x11=lang942-pt.xml;d12=Romanian;x12=lang942-ro.xml;d13=Russian;x13=lang942-ru.xml;d14=Slovenscina;x14=lang942-si.xml;d15=Slovack;x15=lang942-sk.xml;d16=Spanish;x16=lang942-es.xml;d17=Swedish;x17=lang942-se.xml;d18=Turkish;x18=lang942-tr.xml;d19=Jocker;x19=lang942-no.xml;d20=Default;x20=lang942.xml</Dictionary_Server_Script>
EOF
    else
	cat <<EOF >>$outfile
<Dictionary_Server_Script group="Regional/Miscellaneous">serv=http://$PROVISION_IP/phones/cisco/;d0=Czech;x0=lang504-cz.xml;d1=Dansk;x1=lang504-dk.xml;d2=Deustch;x2=lang504-de.xml;d3=Dutch;x3=lang504-nl.xml;d4=English;x4=lang504-en.xml;d5=French;x5=lang504-fr.xml;d6=Hungarian;x6=lang504-hu.xml;d7=Italian;x7=lang504-it.xml;d8=Polski;x8=lang504-pl.xml;d9=Portugese;x9=lang504-pt.xml;d10=Russian;x10=lang504-ru.xml;d11=Spanish;x11=lang504-es.xml;d12=Swedish;x12=lang504-se.xml;d13=Jocker;x13=lang504-no.xml;d14=Default;x14=lang504.xml</Dictionary_Server_Script>
EOF
    fi

    cat <<EOF >>$outfile
<Language_Selection group="Regional/Miscellaneous">$LANGUAGE</Language_Selection>
<Voice_Mail_Number group="Phone/General">*97</Voice_Mail_Number>
<Station_Name group="Phone/General">$hostname</Station_Name>
<Text_Logo group="Phone/General">Smile%0aOpen Source%0aSolutions.</Text_Logo>
<BMP_Picture_Download_URL group="Phone/General">http://$PROVISION_IP/phones/cisco/logo.bmp</BMP_Picture_Download_URL>
<Select_Logo group="Phone/General">Text Logo</Select_Logo>
<Select_Background_Picture group="Phone/General">BMP Picture</Select_Background_Picture>
<Extension_1_ group="Phone/Line_Key_1">1</Extension_1_>
<Short_Name_1_ group="Phone/Line_Key_1">\$USER</Short_Name_1_>
<Share_Call_Appearance_1_ group="Phone/Line_Key_1">private</Share_Call_Appearance_1_>
EOF

    if test "$USERNAME2"; then
	echo '<Extension_2_ group="Phone/Line_Key_2">2</Extension_2_>'
    else
	echo '<Extension_2_ group="Phone/Line_Key_2">Disabled</Extension_2_>'
    fi >>$outfile

    cat <<EOF >>$outfile
<Short_Name_2_ group="Phone/Line_Key_2">\$USER</Short_Name_2_>
<Share_Call_Appearance_2_ group="Phone/Line_Key_2">private</Share_Call_Appearance_2_>
EOF

    if test "$USERNAME3"; then
	echo '<Extension_3_ group="Phone/Line_Key_3">3</Extension_3_>'
    else
	echo '<Extension_3_ group="Phone/Line_Key_3">Disabled</Extension_3_>'
    fi >>$outfile

    cat <<EOF >>$outfile
<Short_Name_3_ group="Phone/Line_Key_3">\$USER</Short_Name_3_>
<Share_Call_Appearance_3_ group="Phone/Line_Key_3">private</Share_Call_Appearance_3_>
EOF
    if test "$USERNAME4"; then
	echo '<Extension_4_ group="Phone/Line_Key_4">4</Extension_4_>'
    elif test $maxaccounts -gt 3; then
	echo '<Extension_4_ group="Phone/Line_Key_4">Disabled</Extension_4_>'
    fi >>$outfile

    if test $maxaccounts -gt 3; then
	cat <<EOF >>$outfile
<Short_Name_4_ group="Phone/Line_Key_4">\$USER</Short_Name_4_>
<Share_Call_Appearance_4_ group="Phone/Line_Key_4">private</Share_Call_Appearance_4_>
EOF
    fi

    cat <<EOF >>$outfile
<Handset_Input_Gain group="Phone/Audio_Input_Gain__dB_">0</Handset_Input_Gain>
<Headset_Input_Gain group="Phone/Audio_Input_Gain__dB_">0</Headset_Input_Gain>
<Speakerphone_Input_Gain group="Phone/Audio_Input_Gain__dB_">6</Speakerphone_Input_Gain>
<Line_Enable_1_ group="Ext_1/General">Yes</Line_Enable_1_>
<Share_Ext_1_ group="Ext_1/Share_Line_Appearance">private</Share_Ext_1_>
<Subscription_Expires_1_ group="Ext_1/Share_Line_Appearance">3600</Subscription_Expires_1_>
<SIP_Transport_1_ group="Ext_1/SIP_Settings">UDP</SIP_Transport_1_>
<SIP_Port_1_ group="Ext_1/SIP_Settings">5060</SIP_Port_1_>
<SIP_100REL_Enable_1_ group="Ext_1/SIP_Settings">No</SIP_100REL_Enable_1_>
<Auth_Resync-Reboot_1_ group="Ext_1/SIP_Settings">Yes</Auth_Resync-Reboot_1_>
<SIP_Remote-Party-ID_1_ group="Ext_1/SIP_Settings">No</SIP_Remote-Party-ID_1_>
<Proxy_1_ group="Ext_1/Proxy_and_Registration">$ASTERISK_IP</Proxy_1_>
<Use_Outbound_Proxy_1_ group="Ext_1/Proxy_and_Registration">No</Use_Outbound_Proxy_1_>
<Use_OB_Proxy_In_Dialog_1_ group="Ext_1/Proxy_and_Registration">No</Use_OB_Proxy_In_Dialog_1_>
<Register_1_ group="Ext_1/Proxy_and_Registration">Yes</Register_1_>
<Make_Call_Without_Reg_1_ group="Ext_1/Proxy_and_Registration">No</Make_Call_Without_Reg_1_>
<Register_Expires_1_ group="Ext_1/Proxy_and_Registration">3600</Register_Expires_1_>
<Ans_Call_Without_Reg_1_ group="Ext_1/Proxy_and_Registration">No</Ans_Call_Without_Reg_1_>
<Use_DNS_SRV_1_ group="Ext_1/Proxy_and_Registration">No</Use_DNS_SRV_1_>
<Proxy_Fallback_Intvl_1_ group="Ext_1/Proxy_and_Registration">3600</Proxy_Fallback_Intvl_1_>
<Proxy_Redundancy_Method_1_ group="Ext_1/Proxy_and_Registration">Normal</Proxy_Redundancy_Method_1_>
<Display_Name_1_ group="Ext_1/Subscriber_Information">$USERNAME1</Display_Name_1_>
<User_ID_1_ group="Ext_1/Subscriber_Information">$SIPACCOUNT1</User_ID_1_>
<Password_1_ group="Ext_1/Subscriber_Information">$SIPPASSWORD1</Password_1_>
<Use_Auth_ID_1_ group="Ext_1/Subscriber_Information">No</Use_Auth_ID_1_>
<Auth_ID_1_ group="Ext_1/Subscriber_Information">$SIPACCOUNT1</Auth_ID_1_>
<Preferred_Codec_1_ group="Ext_1/Audio_Configuration">G729a</Preferred_Codec_1_>
<Use_Pref_Codec_Only_1_ group="Ext_1/Audio_Configuration">No</Use_Pref_Codec_Only_1_>
<Second_Preferred_Codec_1_ group="Ext_1/Audio_Configuration">G711a</Second_Preferred_Codec_1_>
<Third_Preferred_Codec_1_ group="Ext_1/Audio_Configuration">G711u</Third_Preferred_Codec_1_>
<G729a_Enable_1_ group="Ext_1/Audio_Configuration">Yes</G729a_Enable_1_>
<G726-16_Enable_1_ group="Ext_1/Audio_Configuration">Yes</G726-16_Enable_1_>
<G726-24_Enable_1_ group="Ext_1/Audio_Configuration">Yes</G726-24_Enable_1_>
<G726-32_Enable_1_ group="Ext_1/Audio_Configuration">Yes</G726-32_Enable_1_>
<G726-40_Enable_1_ group="Ext_1/Audio_Configuration">Yes</G726-40_Enable_1_>
<Silence_Supp_Enable_1_ group="Ext_1/Audio_Configuration">No</Silence_Supp_Enable_1_>
<DTMF_Tx_Method_1_ group="Ext_1/Audio_Configuration">Auto</DTMF_Tx_Method_1_>
<Dial_Plan_1_ group="Ext_1/Dial_Plan">(*xx|[3469]11|0|00|[2-9]xxxxxx|1xxx[2-9]xxxxxxS0|xxxxxxxxxxxx.)</Dial_Plan_1_>
<Enable_IP_Dialing_1_ group="Ext_1/Dial_Plan">Yes</Enable_IP_Dialing_1_>
<Line_Enable_2_ group="Ext_2/General">Yes</Line_Enable_2_>
<Share_Ext_2_ group="Ext_2/Share_Line_Appearance">private</Share_Ext_2_>
<Subscription_Expires_2_ group="Ext_2/Share_Line_Appearance">3600</Subscription_Expires_2_>
<SIP_Transport_2_ group="Ext_2/SIP_Settings">UDP</SIP_Transport_2_>
<SIP_Port_2_ group="Ext_2/SIP_Settings">5061</SIP_Port_2_>
<SIP_100REL_Enable_2_ group="Ext_2/SIP_Settings">No</SIP_100REL_Enable_2_>
<Auth_Resync-Reboot_2_ group="Ext_2/SIP_Settings">Yes</Auth_Resync-Reboot_2_>
<SIP_Remote-Party-ID_2_ group="Ext_2/SIP_Settings">No</SIP_Remote-Party-ID_2_>
<Proxy_2_ group="Ext_2/Proxy_and_Registration">$ASTERISK_IP</Proxy_2_>
<Use_Outbound_Proxy_2_ group="Ext_2/Proxy_and_Registration">No</Use_Outbound_Proxy_2_>
<Use_OB_Proxy_In_Dialog_2_ group="Ext_2/Proxy_and_Registration">No</Use_OB_Proxy_In_Dialog_2_>
<Register_2_ group="Ext_2/Proxy_and_Registration">Yes</Register_2_>
<Make_Call_Without_Reg_2_ group="Ext_2/Proxy_and_Registration">No</Make_Call_Without_Reg_2_>
<Register_Expires_2_ group="Ext_2/Proxy_and_Registration">3600</Register_Expires_2_>
<Ans_Call_Without_Reg_2_ group="Ext_2/Proxy_and_Registration">No</Ans_Call_Without_Reg_2_>
<Use_DNS_SRV_2_ group="Ext_2/Proxy_and_Registration">No</Use_DNS_SRV_2_>
<Proxy_Fallback_Intvl_2_ group="Ext_2/Proxy_and_Registration">3600</Proxy_Fallback_Intvl_2_>
<Proxy_Redundancy_Method_2_ group="Ext_2/Proxy_and_Registration">Normal</Proxy_Redundancy_Method_2_>
EOF

    if test "$USERNAME2"; then
	cat <<EOF >>$outfile
<Display_Name_2_ group="Ext_2/Subscriber_Information">$USERNAME2</Display_Name_2_>
<User_ID_2_ group="Ext_2/Subscriber_Information">$SIPACCOUNT2</User_ID_2_>
<Password_2_ group="Ext_2/Subscriber_Information">$SIPPASSWORD2</Password_2_>
<Use_Auth_ID_2_ group="Ext_2/Subscriber_Information">No</Use_Auth_ID_2_>
<Auth_ID_2_ group="Ext_2/Subscriber_Information">$SIPACCOUNT2</Auth_ID_2_>
EOF
    fi

    cat <<EOF >>$outfile
<Preferred_Codec_2_ group="Ext_2/Audio_Configuration">G729a</Preferred_Codec_2_>
<Use_Pref_Codec_Only_2_ group="Ext_2/Audio_Configuration">No</Use_Pref_Codec_Only_2_>
<Second_Preferred_Codec_2_ group="Ext_2/Audio_Configuration">G711a</Second_Preferred_Codec_2_>
<Third_Preferred_Codec_2_ group="Ext_2/Audio_Configuration">G711u</Third_Preferred_Codec_2_>
<G729a_Enable_2_ group="Ext_2/Audio_Configuration">Yes</G729a_Enable_2_>
<G726-16_Enable_2_ group="Ext_2/Audio_Configuration">Yes</G726-16_Enable_2_>
<G726-24_Enable_2_ group="Ext_2/Audio_Configuration">Yes</G726-24_Enable_2_>
<G726-32_Enable_2_ group="Ext_2/Audio_Configuration">Yes</G726-32_Enable_2_>
<G726-40_Enable_2_ group="Ext_2/Audio_Configuration">Yes</G726-40_Enable_2_>
<Silence_Supp_Enable_2_ group="Ext_2/Audio_Configuration">No</Silence_Supp_Enable_2_>
<DTMF_Tx_Method_2_ group="Ext_2/Audio_Configuration">Auto</DTMF_Tx_Method_2_>
<Dial_Plan_2_ group="Ext_2/Dial_Plan">(*xx|[3469]11|0|00|[2-9]xxxxxx|1xxx[2-9]xxxxxxS0|xxxxxxxxxxxx.)</Dial_Plan_2_>
<Enable_IP_Dialing_2_ group="Ext_2/Dial_Plan">Yes</Enable_IP_Dialing_2_>
<Line_Enable_3_ group="Ext_3/General">Yes</Line_Enable_3_>
<Share_Ext_3_ group="Ext_3/Share_Line_Appearance">private</Share_Ext_3_>
<Shared_User_ID_3_ group="Ext_3/Share_Line_Appearance"/>
<Subscription_Expires_3_ group="Ext_3/Share_Line_Appearance">3600</Subscription_Expires_3_>
<SIP_Transport_3_ group="Ext_3/SIP_Settings">UDP</SIP_Transport_3_>
<SIP_Port_3_ group="Ext_3/SIP_Settings">5062</SIP_Port_3_>
<SIP_100REL_Enable_3_ group="Ext_3/SIP_Settings">No</SIP_100REL_Enable_3_>
<Auth_Resync-Reboot_3_ group="Ext_3/SIP_Settings">Yes</Auth_Resync-Reboot_3_>
<SIP_Remote-Party-ID_3_ group="Ext_3/SIP_Settings">No</SIP_Remote-Party-ID_3_>
<Proxy_3_ group="Ext_3/Proxy_and_Registration">$ASTERISK_IP</Proxy_3_>
<Use_Outbound_Proxy_3_ group="Ext_3/Proxy_and_Registration">No</Use_Outbound_Proxy_3_>
<Use_OB_Proxy_In_Dialog_3_ group="Ext_3/Proxy_and_Registration">No</Use_OB_Proxy_In_Dialog_3_>
<Register_3_ group="Ext_3/Proxy_and_Registration">Yes</Register_3_>
<Make_Call_Without_Reg_3_ group="Ext_3/Proxy_and_Registration">No</Make_Call_Without_Reg_3_>
<Register_Expires_3_ group="Ext_3/Proxy_and_Registration">3600</Register_Expires_3_>
<Ans_Call_Without_Reg_3_ group="Ext_3/Proxy_and_Registration">No</Ans_Call_Without_Reg_3_>
<Use_DNS_SRV_3_ group="Ext_3/Proxy_and_Registration">No</Use_DNS_SRV_3_>
<Proxy_Fallback_Intvl_3_ group="Ext_3/Proxy_and_Registration">3600</Proxy_Fallback_Intvl_3_>
<Proxy_Redundancy_Method_3_ group="Ext_3/Proxy_and_Registration">Normal</Proxy_Redundancy_Method_3_>
EOF

    if test "$USERNAME3"; then
	cat <<EOF >>$outfile
<Display_Name_3_ group="Ext_3/Subscriber_Information">$USERNAME3</Display_Name_3_>
<User_ID_3_ group="Ext_3/Subscriber_Information">$SIPACCOUNT3</User_ID_3_>
<Password_3_ group="Ext_3/Subscriber_Information">$SIPPASSWORD3</Password_3_>
<Use_Auth_ID_3_ group="Ext_3/Subscriber_Information">No</Use_Auth_ID_3_>
<Auth_ID_3_ group="Ext_3/Subscriber_Information">$SIPACCOUNT3</Auth_ID_3_>
EOF
    fi

    cat <<EOF >>$outfile
<Preferred_Codec_3_ group="Ext_3/Audio_Configuration">G729a</Preferred_Codec_3_>
<Use_Pref_Codec_Only_3_ group="Ext_3/Audio_Configuration">No</Use_Pref_Codec_Only_3_>
<Second_Preferred_Codec_3_ group="Ext_3/Audio_Configuration">G711a</Second_Preferred_Codec_3_>
<Third_Preferred_Codec_3_ group="Ext_3/Audio_Configuration">G711u</Third_Preferred_Codec_3_>
<G729a_Enable_3_ group="Ext_3/Audio_Configuration">Yes</G729a_Enable_3_>
<G726-16_Enable_3_ group="Ext_3/Audio_Configuration">Yes</G726-16_Enable_3_>
<G726-24_Enable_3_ group="Ext_3/Audio_Configuration">Yes</G726-24_Enable_3_>
<G726-32_Enable_3_ group="Ext_3/Audio_Configuration">Yes</G726-32_Enable_3_>
<G726-40_Enable_3_ group="Ext_3/Audio_Configuration">Yes</G726-40_Enable_3_>
<Silence_Supp_Enable_3_ group="Ext_3/Audio_Configuration">No</Silence_Supp_Enable_3_>
<DTMF_Tx_Method_3_ group="Ext_3/Audio_Configuration">Auto</DTMF_Tx_Method_3_>
<Dial_Plan_3_ group="Ext_3/Dial_Plan">(*xx|[3469]11|0|00|[2-9]xxxxxx|1xxx[2-9]xxxxxxS0|xxxxxxxxxxxx.)</Dial_Plan_3_>
<Enable_IP_Dialing_3_ group="Ext_3/Dial_Plan">Yes</Enable_IP_Dialing_3_>
<Line_Enable_4_ group="Ext_4/General">Yes</Line_Enable_4_>
<Share_Ext_4_ group="Ext_4/Share_Line_Appearance">private</Share_Ext_4_>
<Subscription_Expires_4_ group="Ext_4/Share_Line_Appearance">3600</Subscription_Expires_4_>
<SIP_Transport_4_ group="Ext_4/SIP_Settings">UDP</SIP_Transport_4_>
<SIP_Port_4_ group="Ext_4/SIP_Settings">5063</SIP_Port_4_>
<SIP_100REL_Enable_4_ group="Ext_4/SIP_Settings">No</SIP_100REL_Enable_4_>
<EXT_SIP_Port_4_ group="Ext_4/SIP_Settings"/>
<Auth_Resync-Reboot_4_ group="Ext_4/SIP_Settings">Yes</Auth_Resync-Reboot_4_>
<SIP_Remote-Party-ID_4_ group="Ext_4/SIP_Settings">No</SIP_Remote-Party-ID_4_>
<Proxy_4_ group="Ext_4/Proxy_and_Registration">$ASTERISK_IP</Proxy_4_>
<Use_Outbound_Proxy_4_ group="Ext_4/Proxy_and_Registration">No</Use_Outbound_Proxy_4_>
<Use_OB_Proxy_In_Dialog_4_ group="Ext_4/Proxy_and_Registration">No</Use_OB_Proxy_In_Dialog_4_>
<Register_4_ group="Ext_4/Proxy_and_Registration">Yes</Register_4_>
<Make_Call_Without_Reg_4_ group="Ext_4/Proxy_and_Registration">No</Make_Call_Without_Reg_4_>
<Register_Expires_4_ group="Ext_4/Proxy_and_Registration">3600</Register_Expires_4_>
<Ans_Call_Without_Reg_4_ group="Ext_4/Proxy_and_Registration">No</Ans_Call_Without_Reg_4_>
<Use_DNS_SRV_4_ group="Ext_4/Proxy_and_Registration">No</Use_DNS_SRV_4_>
<Proxy_Fallback_Intvl_4_ group="Ext_4/Proxy_and_Registration">3600</Proxy_Fallback_Intvl_4_>
<Proxy_Redundancy_Method_4_ group="Ext_4/Proxy_and_Registration">Normal</Proxy_Redundancy_Method_4_>
EOF

    if test $maxaccounts -gt 3; then
	if test "$USERNAME4"; then
	    cat <<EOF >>$outfile
<Display_Name_4_ group="Ext_4/Subscriber_Information">$USERNAME4</Display_Name_4_>
<User_ID_4_ group="Ext_4/Subscriber_Information">$SIPACCOUNT4</User_ID_4_>
<Password_4_ group="Ext_4/Subscriber_Information">$SIPPASSWORD4</Password_4_>
<Use_Auth_ID_4_ group="Ext_4/Subscriber_Information">No</Use_Auth_ID_4_>
<Auth_ID_4_ group="Ext_4/Subscriber_Information">$SIPACCOUNT4</Auth_ID_4_>
EOF
	fi

	cat <<EOF >>$outfile
<Preferred_Codec_4_ group="Ext_4/Audio_Configuration">G729a</Preferred_Codec_4_>
<Use_Pref_Codec_Only_4_ group="Ext_4/Audio_Configuration">No</Use_Pref_Codec_Only_4_>
<Second_Preferred_Codec_4_ group="Ext_4/Audio_Configuration">G711a</Second_Preferred_Codec_4_>
<Third_Preferred_Codec_4_ group="Ext_4/Audio_Configuration">G711u</Third_Preferred_Codec_4_>
<G729a_Enable_4_ group="Ext_4/Audio_Configuration">Yes</G729a_Enable_4_>
<G726-16_Enable_4_ group="Ext_4/Audio_Configuration">Yes</G726-16_Enable_4_>
<G726-24_Enable_4_ group="Ext_4/Audio_Configuration">Yes</G726-24_Enable_4_>
<G726-32_Enable_4_ group="Ext_4/Audio_Configuration">Yes</G726-32_Enable_4_>
<G726-40_Enable_4_ group="Ext_4/Audio_Configuration">Yes</G726-40_Enable_4_>
<Silence_Supp_Enable_4_ group="Ext_4/Audio_Configuration">No</Silence_Supp_Enable_4_>
<DTMF_Tx_Method_4_ group="Ext_4/Audio_Configuration">Auto</DTMF_Tx_Method_4_>
<Dial_Plan_4_ group="Ext_4/Dial_Plan">(*xx|[3469]11|0|00|[2-9]xxxxxx|1xxx[2-9]xxxxxxS0|xxxxxxxxxxxx.)</Dial_Plan_4_>
<Enable_IP_Dialing_4_ group="Ext_4/Dial_Plan">Yes</Enable_IP_Dialing_4_>
EOF
    fi

    cat <<EOF >>$outfile
<Cfwd_No_Ans_Delay group="User/Call_Forward">20</Cfwd_No_Ans_Delay>
<CW_Setting group="User/Supplementary_Services">Yes</CW_Setting>
<Block_CID_Setting group="User/Supplementary_Services">No</Block_CID_Setting>
<Block_ANC_Setting group="User/Supplementary_Services">No</Block_ANC_Setting>
<DND_Setting group="User/Supplementary_Services">No</DND_Setting>
<Secure_Call_Setting group="User/Supplementary_Services">No</Secure_Call_Setting>
<Dial_Assistance group="User/Supplementary_Services">No</Dial_Assistance>
<Auto_Answer_Page group="User/Supplementary_Services">Yes</Auto_Answer_Page>
<Time_Format group="User/Supplementary_Services">24hr</Time_Format>
<Date_Format group="User/Supplementary_Services">day/month</Date_Format>
<Miss_Call_Shortcut group="User/Supplementary_Services">Yes</Miss_Call_Shortcut>
</flat-profile>
EOF

    chown $UIDD:$GIDD $outfile
    chmod $PERM $outfile
}

get_phone_ip()
{
    local account ip

    account=$1
    ip=`host SIP$account.$DOMAIN | awk '/has address/{print $4}'`
    if test "$ip"; then
	echo $ip
    else
	echo DHCP
    fi
}

setconf()
{
    local daylight domain gw host lang has_vlan pass server tz zone

    domain=sip.intra.{{ dirdomain }}
    netmask={{ sip_netmask }}
    daylight="start=3/-1/7/2:0:0;end=10/-1/7/2:0:0;save=1:0:0"
    server={{ sip_ip }}
    config={{ ansible_default_ipv4['address'] }}
    pass=sigipsr
    lang=english
    gw={{ sip_gw }}
    tz=GMT+01:00

    echo ASTERISK_IP=$server
    echo PROVISION_IP=$config
    echo DEFPASS=$pass
    echo "DAYLIGHT='$daylight'"
    echo DOMAIN=$domain
    echo GW=$gw
    echo LANGUAGE=$lang
    echo NETMASK=$netmask
    echo PASS=$pass
    echo TZ=$tz
    echo UPGRADE_FIRMWARE_942=http://$config/phones/cisco/firmware-942.bin
    echo UPGRADE_FIRMWARE_504=http://$config/phones/cisco/firmware-504.bin
    echo UPGRADE_FIRMWARE_303=http://$config/phones/cisco/firmware-303.bin
}

usage()
{
    cat <<EOF
Usage:  ${0##*/} [options]
Options:
    -h, --help            this help message
EOF
}

unset USERNAME1 USERNAME2 USERNAME3 USERNAME4

UIDD=root
GIDD=asterisk
DNSHOST={{ dns_one }}
DNSRESC={{ dns_too }}
SPA=/var/www/phones/cisco
SYNCERR=172800 #periodic resync value
PERM=0640
VLANS=false

if ! which host 2>/dev/null; then
    echo "Missing dns-utils package" >&2
# @centos => bind-utils, bind-libs
    exit 1
fi >/dev/null

while test "$1"
do
    case "$1" in
    -h|--help)
	usage
	exit 0
	;;
    *)
	usage
	exit 1
	;;
    esac
    shift
done

while :
do
    echo "Enter target phone IP address:"
    read IPADDR
    if test -z "$IPADDR"; then
	echo "Unable to read IP address" >&2
	continue
    elif ! ping -c 1 $IPADDR >/dev/null 2>&1; then
	echo "Unable to reach phone [$IPADDR]" >&2
	continue
    else
	break
    fi
    echo "please try again!"
done
eval `setconf $VLANS`
eval `check_version $IPADDR MODEL MACADDR FW`
echo "Assuming HWADDR=$MACADDR"

case $MODEL in
    942)
	provposta="27823=http%3A%2F%2F$PROVISION_IP%2Fphones%2Fcisco%2Fspa%24MAC.cfg"
	provpostb="28015="
	provpostc="27951="
	logopost="32046=http%3A%2F%2F$PROVISION_IP%2Fphones%2Fcisco%2Flogo.bmp"
	deepshit="32686=UTGB%0aPhone%0aServices"
	confurl=http://$IPADDR/admin/asipura.spa
	upgradeurl=$UPGRADE_FIRMWARE_942
	reqFW="6.1.5(a)"
	maxaccounts=4
	;;

    504)
	provposta="21359=http%3A%2F%2F$PROVISION_IP%2Fphones%2Fcisco%2Fspa%24MAC.cfg"
	provpostb="21295="
	provpostc="21487="
	logopost="26797=http%3A%2F%2F$PROVISION_IP%2Fphones%2Fcisco%2Flogo.bmp"
	deepshit="32686=UTGB%0aPhone%0aServices"
	confurl=http://$IPADDR/admin/acisco.csc
	upgradeurl=$UPGRADE_FIRMWARE_504
	reqFW="7.4.8a"
	maxaccounts=4
	;;

    303)
	provposta="21359=http%3A%2F%2F$PROVISION_IP%2Fphones%2Fcisco%2Fspa%24MAC.cfg"
	provpostb="21295="
	provpostc="21487="
	logopost="26797=http%3A%2F%2F$PROVISION_IP%2Fphones%2Fcisco%2Flogo.bmp"
	deepshit="27437=UTGB%0aPhone%0aServices"
	confurl=http://$IPADDR/admin/acisco.csc
	upgradeurl=$UPGRADE_FIRMWARE_303
	reqFW="7.5.3"
	maxaccounts=3
	;;

    *)
	echo "Unsupported phone model. Patch needed..." >&2
	exit 2
	;;
esac

if test "$reqFW" != "$FW"; then
    echo -n "Requesting for firmware upgrade... "
    if ! wget --no-proxy -q http://$IPADDR/upgrade?$upgradeurl -O /dev/null; then
	echo FAIL
	exit 3
    fi
    echo OK
fi

cpt=1
while :
do
    echo "Enter NAME Firstname (no accent nor special character):"
    a=
    while test -z "$a"
    do
	read a
    done
    eval "USERNAME$cpt='$a'"

    echo "Enter SIP extension:"
    a=
    while test -z "$a"
    do
	read a
    done
    eval "SIPACCOUNT$cpt=$a"

    echo "Enter SIP password or leave blank for default office password:"
    read a
    test "$a" && eval "SIPPASSWORD$cpt=$a" || eval "SIPPASSWORD$cpt=$DEFPASS"

    test $cpt = $maxaccounts && break
    while :
    do
	echo "Is there an other user on this phone?"
	read a
	test "$a" = y -o "$a" = Y -o "$a" = yes -o "$a" = Yes && break
	test "$a" = n -o "$a" = N -o "$a" = no -o "$a" = No && break
	echo "Please answer using [yes/no]" >&2
    done
    cpt=`expr $cpt + 1`
    test "$a" = n -o "$a" = N -o "$a" = no -o "$a" = No && break
done

#users, static for now, won't be trunked yet
vlan_pc=3

create_conf $VLANS $vlan_pc $MODEL $MACADDR "$USERNAME1" $SIPACCOUNT1 $SIPPASSWORD1 "$USERNAME2" $SIPACCOUNT2 $SIPPASSWORD2 "$USERNAME3" $SIPACCOUNT3 $SIPPASSWORD3 "$USERNAME4" $SIPACCOUNT4 $SIPPASSWORD4 "" "" ""

if test "$reqFW" != "$FW"; then
    echo "Waiting for effective firmware upgrade."
    echo -n "This may take a while..."

    win=0
    phail=0
    while test $win -le 10
    do
	if ping -c1 -w1 -q $IPADDR; then
	    win=`expr $win + 1`
	else
	    win=0
	fi >/dev/null 2>&1
	phail=`expr $phail + 1`
	if test $phail -gt 60; then
	    echo "The phone does not want you."
	    echo "Have a break..."
	    exit 42
	fi >&2
	sleep 2
    done
fi

echo "Configuring $IPADDR"
echo -n "> Set provisionning server... "
if ! wget --no-proxy -q --post-data="$provposta" $confurl -O /dev/null; then
    echo FAIL
    exit 1
fi
echo OK

#echo -n "Setting failover provisionning (who)... "
#if ! wget --no-proxy -q --post-data="$provpostb" $confurl -O /dev/null; then
#    echo FAIL
#else echo OK; fi

#echo -n "Setting failover provisionning (hoo)... "
#if ! wget --no-proxy -q --post-data="$provpostc" $confurl -O /dev/null; then
#    echo FAIL
#else echo OK; fi

echo -n "Setting corporate logo... "
if ! wget --no-proxy -q --post-data="$logopost" $confurl -O /dev/null; then
    echo FAIL
else echo OK; fi

sleep 5

echo "Rebooting phone"
wget --no-proxy -q http://$IPADDR/admin/reboot -O - >/dev/null 2>&1

echo "Done !"

exit 0
