#!/bin/sh

PRG=`basename $0`
test -f /etc/virtual.conf   && . /etc/virtual.conf
test "$ALERT_ADDRESS"       || ALERT_ADDRESS={{ contact }}
test "$BACKUP_STORAGE"      || BACKUP_STORAGE=/media/backups
test "$EXCLUDE_FROM_BACKUP" || EXCLUDE_FROM_BACKUP=
test "$OK_ADDRESS"          || OK_ADDRESS={{ contact }}
test "$REMOTE"              || REMOTE={{ backup_remote }}
test "$RSYNC_CONF"          || RSYNC_CONF=conf

BACKUP_STORAGE_XEN=$BACKUP_STORAGE/{{ backup_remote }}/xen
DIR_CONF=/etc/xl-{{ backup_remote }}
XEN_CMD=/usr/sbin/xl
DIR_SWAP=$BACKUP_STORAGE/tmp
VIRT_BACKUP=/usr/local/sbin/XENbackup

error()
{
    echo "Error: $@" >&2
    exit 1
}

heybuddy()
{
    cpt=0
    while test $cpt -le 10
    do
	ssh $REMOTE ls && break
	cpt=`expr $cpt + 1`
	sleep 1
    done >/dev/null 2>&1
}

mlog()
{
    date
    echo " => $@ <=" >&4
}

rund=`ps ax | awk 'BEG{c=0}/V[E]backup/{c=c+1}END{print c}'`
if test $rund -gt 2; then
    error Former $PRG job still processing
fi

# Configuration test
if test x$1 = xtest; then
    echo "ALERT_ADDRESS=$ALERT_ADDRESS"
    echo "BACKUP_STORAGE=$BACKUP_STORAGE"
    echo "EXCLUDE_FROM_BACKUP=$EXCLUDE_FROM_BACKUP"
    echo "OK_ADDRESS=$OK_ADDRESS"
    echo "REMOTE-$REMOTE"
    echo "RSYNC_CONF=$RSYNC_CONF"
    echo "BACKUP_STORAGE_XEN=$BACKUP_STORAGE_XEN"
    echo "XEN_CMD=$XEN_CMD"
    echo "DIR_CONF=$DIR_CONF"

    test -d $DIR_CONF || error $BACKUP_STORAGE is not a directory
    ssh $REMOTE $XEN_CMD info || error unable to execute $XEN_CMD on $REMOTE
    rsync -q $REMOTE::$RSYNC_CONF || error unable to connect to $REMOTE::$RSYNC_CONF
    test -d $BACKUP_STORAGE || error $BACKUP_STORAGE is not a directory
    ssh $REMOTE test -x $VIRT_BACKUP || error $VIRT_BACKUP missing

    echo "CONFIG OK"
    exit 0
fi

MESSAGE="Backing up remote: $REMOTE `date`"
SUBJECT=REPORT
DEST=$OK_ADDRESS

LOGFILE=/var/tmp/$PRG-`date +%d%m%y`
>$LOGFILE
exec 4<> $LOGFILE
mlog XEN Backup
if ssh $REMOTE test -x $VIRT_BACKUP >/dev/null 2>&1; then
    for VM in `ssh $REMOTE "ls /etc/xen/conf/*.conf" | sed 's|.*/\([^/]*\)\.conf|\1|'`
    do
	if echo $EXCLUDE_FROM_BACKUP | egrep -q "(^|\s)$VM(\s|$)" >/dev/null 2>&1; then
	    mlog Skipping $VM @EXCLUDE_FROM_BACKUP
	    continue
	fi

	mlog Backing $VM up
	if ! ssh $REMOTE $VIRT_BACKUP -cdv $VM -s $QUOTA; then
	    MESSAGE="$MESSAGE\nPROBLEM while snapshotting: $VM"
	    SUBJECT=WARNING
	    mlog Failed $VM
	else
	    mlog Fetching $VM snapshot
	    if ! rsync -avWx --delete --numeric-ids $REMOTE:$DIR_SWAP/$VM $BACKUP_STORAGE_XEN/; then
		MESSAGE="$MESSAGE\nPROBLEM while backing VM $VM up"
		SUBJECT=WARNING
		mlog Failed $VM
	    else
		mlog Cleanup $VM
		if ! ssh $REMOTE rm -f $DIR_SWAP/$VM/*; then
		    MESSAGE="$MESSAGE\nPROBLEM while cleaning up after $VM backup"
		    SUBJECT=WARNING
		    mlog Failed cleanup $VM
		fi
		mlog Done $VM
	    fi
	fi
    done
else
    MESSAGE="$MESSAGE\n$VIRT_BACKUP missing"
    SUBJECT=WARNING
    mlog no $VIRT_BACKUP
fi


mlog End of backup
MESSAGE="$MESSAGE\n`date`"
test x$SUBJECT != xREPORT && DEST="$ALERT_ADDRESS $DEST"
echo $MESSAGE | mailx -s "[$SUBJECT] backup $REMOTE" $DEST
echo $MESSAGE
exec 4>&-

exit 0
