#!/bin/sh

PRG=`basename $0`
NICE_LEVEL=19
test -f /etc/virtual.conf   && . /etc/virtual.conf
test "$ALERT_ADDRESS"       || ALERT_ADDRESS={{ contact }}
test "$EXCLUDE_FROM_BACKUP" || EXCLUDE_FROM_BACKUP=
test "$OK_ADDRESS"          || OK_ADDRESS={{ contact }}
test "$RSYNC_CONF"          || RSYNC_CONF=conf

XEN_CMD=/usr/sbin/xl
VIRT_BACKUP=/usr/local/sbin/XENbackup

error()
{
    echo "Error: $@" >&2
    exit 1
}

mlog()
{
    date
    echo " => $@ <=" >&4
}

rund=`ps ax | awk 'BEG{c=0}/V[E]backup/{c=c+1}END{print c}'`
if test $rund -gt 2; then
    error Former $PRG job still processing
fi

# Configuration test
if test x$1 = xtest; then
    echo "ALERT_ADDRESS=$ALERT_ADDRESS"
    echo "EXCLUDE_FROM_BACKUP=$EXCLUDE_FROM_BACKUP"
    echo "OK_ADDRESS=$OK_ADDRESS"
    echo "RSYNC_CONF=$RSYNC_CONF"
    echo "XEN_CMD=$XEN_CMD"

    $XEN_CMD info || error unable to execute $XEN_CMD
    vgs $VGLUN || error $VGLUN not attached

    echo "CONFIG OK"
    exit 0
fi

MESSAGE="Backing up `hostname` `date`"
SUBJECT=REPORT
DEST=$OK_ADDRESS

LOGFILE=/var/tmp/$PRG-`date +%d%m%y`
>$LOGFILE
exec 4<> $LOGFILE
mlog XEN Backup
for VM in `ls /etc/xen/conf/*.conf | sed 's|.*/\([^/]*\)\.conf|\1|'`
do
    if echo $EXCLUDE_FROM_BACKUP | egrep -q "(^|\s)$VM(\s|$)" >/dev/null 2>&1; then
	mlog Skipping $VM @EXCLUDE_FROM_BACKUP
	continue
    fi

    mlog Backing $VM up
    SUSPEND=false
    if xl list | grep "^$VM[ ]*" | grep ' [r-][b-]----' >/dev/null; then
	xl sysrq $VM s
	if ! xl pause $VM; then
	    mlog Failed snapshotting $VM
	    continue
	fi
	xl sysrq $VM s
	SUSPEND=true
    fi
    >/tmp/dumpeddisks
    for disk in `grep "'phy:" /etc/xen/conf/$VM.conf | sed 's|[^:]*:\([^,]*\),.*|\1|'`
    do
	if ! test -e $disk; then
	    mlog Skipping $disk, which seems absent
	    continue
	elif test $disk | grep database; then
	    mlog Skipping $disk, which is database
	    continue
	fi
	rname="$disk-snap`date +%s`"
	nname="`basename $disk`-snap`date +%s`"
	test "$DEBUG" && echo creating snapshot $nname
	if ! lvcreate -L $SNAPSIZE -s -n $nname $disk; then
	    mlog Failed creating $nname snapshot
	    continue
	fi
	echo $disk:$rname >>/tmp/dumpeddisks
    done
    if $SUSPEND; then
	if ! xl unpause $VM; then
	    mlog CRITICAL: failed restoring $VM
	fi
    fi
    while read line
    do
	eval `echo $line | sed 's|\([^:]*\):\(.*\)|device=\1 snapshot=\2|'`
	test "$DEBUG" && echo dumping $snapshot to $VGLUN/`basename $device`
	if ! lvs $VGLUN | grep `basename $device`; then
	    if ! lvcreate -n`basename $device` -L$size iscsi; then
		mlog failed create $device backup lv
		continue
	    fi
	fi
	if ! nice -n$NICE_LEVEL dd if=$snapshot of=/dev/iscsi/`basename $device`; then
	    mlog CRITICAL: failed dumping $snapshot
	fi
	lvremove -f $snapshot || mlog WARNING: failed purging $snapshot
    done </tmp/dumpeddisks
done

mlog End of backup
MESSAGE="$MESSAGE\n`date`"
test x$SUBJECT != xREPORT && DEST="$ALERT_ADDRESS $DEST"
echo $MESSAGE | mailx -s "[$SUBJECT] backup `hostname`" $DEST
echo $MESSAGE
exec 4>&-

exit 0
