AKEYSPATH={{ authorized_keys_source }}/authorized_keys
{% if apt_proxy is defined %}
APT={{ apt_proxy }}
{% endif %}
BACKUP_STORAGE=/media/backups
BRCHILD_GATEWAY={{ brchild_gw }}
{% if brchild_gwalt is defined %}
{% for gw in brchild_gwalt %}
#BRCHILD_GATEWAY={{ gw }}
{% endfor %}
{% endif %}
BRCHILD_NETMASK={{ brchild_netmask }}
{% if brif is defined %}
BRIDGE={{ brif }}
{% else %}
BRIDGE=br0
{% if brif_alt is defined %}
{% for br in brif_alt %}
#BRIDGE={{ br }}
{% endfor %}
{% endif %}
{% endif %}
{% if brdomain is defined %}
DOMAIN={{ brdomain }}
{% if brdomain_alt is defined %}
{% for domain in brdomain_alt %}
#DOMAIN={{ domain }}
{% endfor %}
{% endif %}
{% else %}
DOMAIN={{ ansible_domain }}
{% endif %}
DNS="{% if virt_dns is defined %}{{ virt_dns }}{% else %}{{ dns_one }} {{ dns_too }}{% endif %}"
{% if exclude_from_backups is defined %}
EXCLUDE_FROM_BACKUP="{% for host in exclude_from_backups %}{{ host }} {% endfor %}"
{% else %}
EXCLUDE_FROM_BACKUP=false
{% endif %}
{% if kvm_data_storage is defined %}
KVM_STORAGE={{ kvm_data_storage }}
{% endif %}
MAILHOST={{ smtp_hostrelay }}
MODEL_DIR=/media/xen
QUOTA=5G
{% if backup_remote is defined %}
REMOTE={{ backup_remote }}
{% endif %}
{% if backup_vglun is defined %}
VGLUNDEV={{ backup_vglun }}
VGLUN={{ backup_vglun_name }}
{% endif %}
{% if xen_data_storage is defined %}
XEN_STORAGE={{ xen_data_storage }}
{% else %}
VZ_ROOT=/var/lib/vz
VZ_STORAGE=$VZ_ROOT/private
{% endif %}
