#!/bin/sh

PRG=`basename $0`
test -f /etc/virtual.conf   && . /etc/virtual.conf
test "$ALERT_ADDRESS"       || ALERT_ADDRESS={{ contact }}
test "$BACKUP_STORAGE"      || BACKUP_STORAGE=/media/backups
test "$EXCLUDE_FROM_BACKUP" || EXCLUDE_FROM_BACKUP=
test "$OK_ADDRESS"          || OK_ADDRESS={{ contact }}
test "$REMOTE"              || REMOTE={{ backup_remote }}
test "$RSYNC_CONF"          || RSYNC_CONF=conf
test "$VZ_STORAGE"          || RSYNC_CONF=/var/lib/vz/private

BACKUP_STORAGE_VZ=$BACKUP_STORAGE/{{ backup_remote }}/vz
DIR_CONF=/etc/vz-{{ backup_remote }}
VZ_CMD=/usr/sbin/vzctl
VZLIST_CMD=/usr/sbin/vzlist
DIR_SWAP=$BACKUP_STORAGE/tmp

error()
{
    echo "Error: $@" >&2
    exit 1
}

heybuddy()
{
    cpt=0
    while test $cpt -le 10
    do
	ssh $REMOTE ls && break
	cpt=`expr $cpt + 1`
	sleep 1
    done >/dev/null 2>&1
}

mlog()
{
    date
    echo " => $@ <=" >&3
}

rund=`ps ax | awk 'BEG{c=0}/V[E]backup/{c=c+1}END{print c}'`
if test $rund -gt 2; then
    error Former $PRG job still processing
fi

# Configuration test
if test x$1 = xtest; then
    echo "ALERT_ADDRESS=$ALERT_ADDRESS"
    echo "BACKUP_STORAGE=$BACKUP_STORAGE"
    echo "EXCLUDE_FROM_BACKUP=$EXCLUDE_FROM_BACKUP"
    echo "OK_ADDRESS=$OK_ADDRESS"
    echo "REMOTE-$REMOTE"
    echo "RSYNC_CONF=$RSYNC_CONF"
    echo "BACKUP_STORAGE_VZ=$BACKUP_STORAGE_VZ"
    echo "VZ_CMD=$VZ_CMD"
    echo "DIR_CONF=$DIR_CONF"
    echo "VZ_STORAGE=$VZ_STORAGE"

    test -d $DIR_CONF || error $BACKUP_STORAGE is not a directory
    ssh $REMOTE $VZ_CMD info || error unable to execute $VZ_CMD on $REMOTE
    ssh $REMOTE test -d $DIR_REMOTE_VMS || error unable to find $DIR_REMOTE_VMS on $REMOTE
    rsync -q $REMOTE::$RSYNC_CONF || error unable to connect to $REMOTE::$RSYNC_CONF
    test -d $BACKUP_STORAGE || error $BACKUP_STORAGE is not a directory
    ssh $REMOTE test -x $VIRT_BACKUP || error $VIRT_BACKUP missing

    echo "CONFIG OK"
    exit 0
fi

MESSAGE="Backing up remote: $REMOTE `date`"
SUBJECT=REPORT
DEST=$OK_ADDRESS

LOGFILE=/var/tmp/$PRG-`date +%d%m%y`
>$LOGFILE
exec 4<> $LOGFILE
mlog VZ Backup
ssh $REMOTE ls $VZ_STORAGE | grep -vE '(lost\+found|vztmp)' | sort >/tmp/vm_backup_remote
if test -s /tmp/vm_backup_remote; then
    ls $BACKUP_STORAGE_VZ | grep -vE '(lost\+found|vztmp)' | sort >/tmp/vm_backup_local
    if test -s /tmp/vm_backup_local
	if diff -y /tmp/vm_backup_remote /tmp/vm_backup_local; then
	    diff -y /tmp/vm_backup_remote /tmp/vm_backup_local | grep ">" | awk -F ">" '{print $2}' | sed "s/\t//" >/tmp/vm_delete
	    if test -s /tmp/vm_delete; then
		for remove in `cat /tmp/vm_delete`
		do
		    mlog Purging $remove
		    rm -fr $BACKUP_STORAGE_VZ/$remove
		done
	    fi
	    rm -f /tmp/vm_delete
	fi
    fi
    rm -f /tmp/vm_backup_local
    for VM in `cat /tmp/vm_backup_remote`
    do
	if echo $EXCLUDE_FROM_BACKUP | grep -qE "(^|\s)$VM(\s|$)" >/dev/null 2>&1; then
	    mlog Skipping $VM @EXCLUDE_FROM_BACKUP
	    continue
	fi

	RESTART=false
	if ssh $REMOTE $VZLIST_CMD -o name | grep "^$VM$"; then
	    RESTART=true
	    mlog Stopping $VM during backup
	    if ! ssh $REMOTE $VZ_CMD stop $VM; then
		MESSAGE="$MESSAGE\nPROBLEM while stopping: $VM"
		SUBJECT=WARNING
		mlog Failed $VM
		continue
	    fi
	fi
	mlog Backing $VM up
	if ! rsync -avWx --delete --numeric-ids $REMOTE:$VZ_STORAGE/$VM $BACKUP_STORAGE_VZ/; then
	    MESSAGE="$MESSAGE\nPROBLEM while backing VM $VM up"
	    SUBJECT=WARNING
	    mlog Failed $VM
	elif $RESTART; then
	    mlog Restarting $VM
	    if ! ssh $REMOTE $VZ_CMD start $VM; then
		MESSAGE="$MESSAGE\nPROBLEM while starting: $VM"
		SUBJECT=WARNING
		mlog Failed $VM
	    else
		mlog Done $VM
	    fi
	else
	    mlog Done $VM
	fi
    done
else
    MESSAGE="$MESSAGE\nNo VE to backup"
    SUBJECT=WARNING
    mlog no VE to backup
fi


mlog End of backup
MESSAGE="$MESSAGE\n`date`"
test x$SUBJECT != xREPORT && DEST="$ALERT_ADDRESS $DEST"
echo $MESSAGE | mailx -s "[$SUBJECT] backup $REMOTE" $DEST
echo $MESSAGE
exec 4>&-

exit 0
