menu background boot-screens/splash.png
include boot-screens/stdmenu.cfg
menu hshift 19
menu width 40
menu margin 0

default debian
menu title Servers

menu begin openbsd
    label -
	menu label OpenBSD 5.5 64bit
	kernel memdisk
	append initrd=installers/openbsd/5.5/amd64/floppy55.fs

    label -
	menu label OpenBSD 5.5 32bit
	kernel memdisk
	append initrd=installers/openbsd/5.5/i386/floppy55.fs

    label -
	menu label OpenBSD 5.4 64bit
	kernel memdisk
	append initrd=installers/openbsd/5.4/amd64/floppy54.fs

    label -
	menu label OpenBSD 5.4 32bit
	kernel memdisk
	append initrd=installers/openbsd/5.4/i386/floppy54.fs

    label -
	menu label OpenBSD 5.3 64bit
	kernel memdisk
	append initrd=installers/openbsd/5.3/amd64/floppy53.fs

    label -
	menu label OpenBSD 5.3 32bit
	kernel memdisk
	append initrd=installers/openbsd/5.3/i386/floppy53.fs

    label -
	menu label OpenBSD 5.2 64bit
	kernel memdisk
	append initrd=installers/openbsd/5.2/amd64/floppy52.fs

    label -
	menu label OpenBSD 5.2 32bit
	kernel memdisk
	append initrd=installers/openbsd/5.2/i386/floppy52.fs
menu end

menu begin netbsd
    label -
	menu label NetBSD 6.1.4 64bit
	kernel installers/netbsd/6.1.4/amd64/pxeboot_ia32.bin
	append initrd=installers/netbsd/6.1.4/amd64/netbsd-INSTALL.gz

    label -
	menu label NetBSD 6.1.4 32bit
	kernel installers/netbsd/6.1.4/i386/pxeboot_ia32.bin
	append initrd=installers/netbsd/6.1.4/i386/netbsd-INSTALL.gz
menu end

menu begin debian
    label -
	menu label Debian Wheezy 64bit
	kernel installers/wheezy/amd64/linux
	append initrd=installers/wheezy/amd64/initrd.gz locale={{ lang_locale_short }}

    label -
	menu label Debian Wheezy 32bit
	kernel installers/wheezy/i386/linux
	append initrd=installers/wheezy/i386/initrd.gz locale={{ lang_locale_short }}

    label -
	menu label Debian Squeeze 64bit moded-initrd
	kernel installers/squeeze/amd64/linux
	append initrd=installers/squeeze/amd64/initrd.mod.gz locale={{ lang_locale_short }}

    label -
	menu label Debian Squeeze 64bit
	kernel installers/squeeze/amd64/linux
	append initrd=installers/squeeze/amd64/initrd.gz locale={{ lang_locale_short }}

    label -
	menu label Debian Squeeze 32bit
	kernel installers/squeeze/i386/linux
	append initrd=installers/squeeze/i386/initrd.gz locale={{ lang_locale_short }}
menu end

menu begin centos
    label -
	menu label CentOS 6.5 64bit
	kernel installers/centos65/amd64/linux
	append initrd=installers/centos65/amd64/initrd ramdisk_size=100000 ksdevice=bootif ip=dhcp ks=http://{{ repo_http_backend }}/rhel/ks/x86_64.ks

    label -
	menu label CentOS 6.5 32bit
	kernel installers/centos65/i386/linux
	append initrd=installers/centos65/i386/initrd ramdisk_size=100000 ksdevice=bootif ip=dhcp ks=http://{{ repo_http_backend }}/rhel/ks/i386.ks

    label -
	menu label CentOS 6 64bit
	kernel installers/centos6/amd64/linux
	append initrd=installers/centos6/amd64/initrd ramdisk_size=100000 ksdevice=bootif ip=dhcp ks=http://{{ repo_http_backend }}/rhel/ks/x86_64.ks

    label -
	menu label CentOS 6 32bit
	kernel installers/centos6/i386/linux
	append initrd=installers/centos6/i386/initrd ramdisk_size=100000 ksdevice=bootif ip=dhcp ks=http://{{ repo_http_backend }}/rhel/ks/i386.ks
menu end

menu begin ubuntu
    label -
	menu label Ubuntu Trusty 64bit
	kernel installers/trusty/amd64/linux
	append initrd=installers/trusty/amd64/initrd.gz locale={{ lang_locale_short }}

    label -
	menu label Ubuntu Trusty 32bit
	kernel installers/trusty/i386/linux
	append initrd=installers/trusty/i386/initrd.gz locale={{ lang_locale_short }}

    label -
	menu label Ubuntu Precise 64bit
	kernel installers/precise/amd64/linux
	append initrd=installers/precise/amd64/initrd.gz locale={{ lang_locale_short }}

    label -
	menu label Ubuntu Precise 32bit
	kernel installers/precise/i386/linux
	append initrd=installers/precise/i386/initrd.gz locale={{ lang_locale_short }}
menu end
