menu background boot-screens/splash.png
include boot-screens/stdmenu.cfg
menu hshift 19
menu width 40
menu margin 0

default SystemRescueCD
menu title Tools

menu title Tools
    menu label Tools
    menu exit

    label -
	menu label SystemRescueCD
	kernel sysrcd/2.6/isolinux/rescuecd
	append vga=791 scandelay=5 initrd=sysrcd/2.6/isolinux/initram.igz netboot=http://{{ repo_http_backend }}/sysrcd/2.6/sysrcd.dat locale={{ lang_locale_short }}

    label -
	menu label UBCD
	kernel boot/syslinux/menu.c32
	append ubcd/menus/syslinux/main.cfg
menu end
