production:
  host: {{ graylog_mongodb_backend }}
  port: {{ mongodb_bind_port }}
{% if mongodb_app_user %}username: {{ mongodb_app_user }}{% endif %}
{% if mongodb_app_password %}password: {{ mongodb_app_password }}{% endif %}
  database: {{ mongodb_app_db }}
