/var/log/nginx/*.log {
    compress
    create 0640 {{ apache_runtime_user }} {{ gid_adm }}
    daily
    delaycompress
    missingok
    notifempty
    rotate {{ nginx_log_retention }}
    sharedscripts
    prerotate
    if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
	run-parts /etc/logrotate.d/httpd-prerotate; \
    fi; \
    endscript
    postrotate
	test -f /var/run/nginx.pid && kill -USR1 `cat /var/run/nginx.pid`
    endscript
}
