user					{{ nginx_runtime_user }};
worker_processes			{{ nginx_worker_processes }};
error_log				{{ nginx_log_dir }}/error.log;
pid					/var/run/nginx.pid;

events {
    worker_connections			{{ nginx_worker_connections }};
}

http {
    include				{{ nginx_conf_dir }}/mime.types;
    log_format		main		'$remote_addr - $remote_user [$time_local] "$request" '
					'$status $body_bytes_sent "$http_referer" '
					'"$http_user_agent" "$http_x_forwarded_for"';
    access_log				{{ nginx_log_dir }}/access.log	main;
    default_type			application/octet-stream;
    keepalive_timeout			{{ nginx_keepalive_timeout }};
{% if nginx_with_naxsi == true %}
    include				{{ nginx_conf_dir }}/naxsi_core.rules;
{% endif %}
    gzip				on;
    gzip_disable			"msie6";
    sendfile				{% if nginx_sendfile_enabled %}on{% else %}off{% endif %};
{% if nginx_server_names_hash_bucket_size is defined %}
    server_names_hash_bucket_size	{{ nginx_server_names_hash_bucket_size }};
{% endif %}
    server_tokens			off;
    types_hash_max_size			{{ nginx_types_hash_max_size }};

    include				{{ nginx_conf_dir }}/conf.d/*.conf;
    include				{{ nginx_conf_dir }}/sites-enabled/*.conf;
}

include					{{ nginx_conf_dir }}/global.d/*.conf;
