server
{
    listen					{{ http_port }};
    server_name					{{ server_name }}.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log					{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;
{% if smokeping_public is defined %}
    rewrite		^(.*)$			https://{{ server_name }}.{{ ansible_domain }}$1;
}

server
{
    listen					{{ https_port }};
    server_name					{{ server_name }}.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/ssl-{{ server_name }}.log	main;
    error_log					{{ nginx_log_dir }}/ssl-error-{{ server_name }}.log;
    ssl						on;
    ssl_certificate				{{ nginx_conf_dir }}/ssl/server.crt;
    ssl_certificate_key				{{ nginx_conf_dir }}/ssl/server.key;
    ssl_client_certificate			{{ nginx_conf_dir }}/ssl/service-chain.crt;
    ssl_ciphers					HIGH:!ADH:!MD5;
    ssl_protocols				SSLv3 TLSv1;
    ssl_session_timeout				5m;
    ssl_verify_client				optional;
{% endif %}

    location /cgi-bin/
    {
	gzip					off;
	root					/usr/lib;
	include					{{ nginx_conf_dir }}/fastcgi_params;
	fastcgi_param	SCRIPT_FILENAME		/usr/lib$fastcgi_script_name;
	fastcgi_pass				unix:/var/run/fcgiwrap.socket;
    }

    location ~ \.cgi$
    {
	fastcgi_intercept_errors		on;
	root					/var/www;
	include					{{ nginx_conf_dir }}/fastcgi_params;
	fastcgi_param	SCRIPT_FILENAME		/var/www/smokeping/$fastcgi_script_name;
	fastcgi_pass				unix:/var/run/fcgiwrap.socket;
    }

    location /smokeping/
    {
	root					/var/www;
	index					smokeping.cgi;
	gzip					off;
    }

    location /
    {
	rewrite		^(.*)$			https://{{ server_name }}.{{ ansible_domain }}/smokeping$1;
    }
}
