$InputFileName		{{ nginx_log_dir }}/plain-{{ server_name }}.log
$InputFileTag		nginx-{{ server_name }}:
$InputFileStateFile	nginx-{{ server_name }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor

$InputFileName		{{ nginx_log_dir }}/plain-error-{{ server_name }}.log
$InputFileTag		nginx-error-{{ server_name }}:
$InputFileStateFile	nginx-error-{{ server_name }}
$InputFileSeverity	error
$InputFileFacility	local7
$InputRunFileMonitor
{% if use_https %}

$InputFileName		{{ nginx_log_dir }}/ssl-{{ server_name }}.log
$InputFileTag		nginx-{{ server_name }}:
$InputFileStateFile	nginx-{{ server_name }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor

$InputFileName		{{ nginx_log_dir }}/ssl-error-{{ server_name }}.log
$InputFileTag		nginx-error-{{ server_name }}:
$InputFileStateFile	nginx-error-{{ server_name }}
$InputFileSeverity	error
$InputFileFacility	local7
$InputRunFileMonitor
{% endif %}
