server
{
    listen				{{ http_port }};
    server_name				{{ server_name }}.{{ ansible_domain }};
    access_log				{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log				{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;
    root				{{ nginx_home_dir }};
    proxy_set_header	Host		$host;
    proxy_set_header	X-Real-IP	$remote_addr;
    proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    proxy_read_timeout			180;

    location /
    {
	proxy_pass			http://{{ server_name }}{% if proxy_to_file %}-negativeone{% elif proxy_root_dir %}/{{ proxy_root_dir }}{% endif %};
	proxy_redirect			off;
    }
}
