server
{
    types
    {
	application/x-ns-proxy-autoconfig	dat;
    }

    listen		{{ http_port }};
    server_name		wpad.{{ ansible_domain }} wpad.{{ dirdomain }} wpad;
    access_log		{{ nginx_log_dir }}/plain-wpad.log	main;
    error_log		{{ nginx_log_dir }}/plain-error-wpad.log;

    location /
    {
	root		{{ apache_serverroot }}/wpad;
	index		wpad.dat;
    }
}
