server
{
    listen					{% if transmission_firewall is defined %}{{ ansible_eth1['ipv4']['address'] }}:{{ http_port }}{% else %}{{ http_port }}{% endif %};
    server_name					{{ server_name }}.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log					{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;
{% if transmission_public is defined %}
    rewrite		^(.*)$			https://{{ server_name }}.{{ ansible_domain }}$1;
}

server
{
    listen					{% if transmission_firewall is defined %}{{ ansible_eth1['ipv4']['address'] }}:{{ https_port }}{% else %}{{ https_port }}{% endif %};
    server_name					{{ server_name }}.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/ssl-{{ server_name }}.log	main;
    error_log					{{ nginx_log_dir }}/ssl-error-{{ server_name }}.log;
    ssl						on;
    ssl_certificate				{{ nginx_conf_dir }}/ssl/server.crt;
    ssl_certificate_key				{{ nginx_conf_dir }}/ssl/server.key;
    ssl_client_certificate			{{ nginx_conf_dir }}/ssl/service-chain.crt;
    ssl_ciphers					HIGH:!ADH:!MD5;
    ssl_protocols				SSLv3 TLSv1;
    ssl_session_timeout				5m;
    ssl_verify_client				optional;
{% endif %}

    location /
    {
	proxy_pass				http://{{ transmission_listen_host }}:{{ transmission_listen_port }}/;
	proxy_set_header	Host		$host;
	proxy_set_header	X-Real-IP	$remote_addr;
	proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    }
}

server
{
    listen					{% if transmission_firewall is defined %}{{ ansible_eth1['ipv4']['address'] }}:{{ http_port }}{% else %}{{ http_port }}{% endif %};
    server_name					what.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/plain-what.log	main;
    error_log					{{ nginx_log_dir }}/plain-error-what.log;
{% if transmission_public is defined %}
    rewrite		^			https://what.{{ ansible_domain }};
}

server
{
    listen					{% if transmission_firewall is defined %}{{ ansible_eth1['ipv4']['address'] }}:{{ https_port }}{% else %}{{ https_port }}{% endif %};
    server_name					what.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/ssl-what.log	main;
    error_log					{{ nginx_log_dir }}/ssl-error-what.log;
    ssl						on;
    ssl_certificate				{{ nginx_conf_dir }}/ssl/server.crt;
    ssl_certificate_key				{{ nginx_conf_dir }}/ssl/server.key;
    ssl_client_certificate			{{ nginx_conf_dir }}/ssl/service-chain.crt;
    ssl_ciphers					HIGH:!ADH:!MD5;
    ssl_protocols				SSLv3 TLSv1;
    ssl_session_timeout				5m;
    ssl_verify_client				optional;
{% endif %}
    root					{{ transmission_home_dir }}/downloads/complete;

    location /
    {
	autoindex				on;
{% if transmission_public_access is defined %}
{% for remote in transmission_public_access %}
	allow					{{ remote }};
{% endfor %}
	allow					127.0.0.1;
	deny					all;
{% endif %}
    }
}
