server
{
    listen		{{ http_port }};
    server_name		{{ server_name }}.{{ ansible_domain }} {{ server_name }}{% if vhost_alias is defined %} {{ vhost_alias }}{% endif %};
    access_log		{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log		{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;
    root		{{ served_directory }};

{% if nginx_default_index is defined or nginx_autoindex is defined %}
    location /
    {
{% if nginx_default_index is defined %}
	index		{{ nginx_default_index }};
{% endif %}
{% if nginx_autoindex %}
	autoindex	on;
{% endif %}
    }
{% endif %}
}
