server
{
    listen					{{ http_port }};
    server_name					{{ server_name }} {{ server_name }}.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log					{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;
    rewrite		^(.*)$			https://{{ server_name }}.{{ ansible_domain }}$1 permanent;
}

server
{
    listen					{{ https_port }};
    server_name					{{ server_name }}.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/ssl-{{ server_name }}.log	main;
    error_log					{{ nginx_log_dir }}/ssl-error-{{ server_name }}.log;
    ssl						on;
    ssl_certificate				{{ nginx_conf_dir }}/ssl/server.crt;
    ssl_certificate_key				{{ nginx_conf_dir }}/ssl/server.key;
    ssl_client_certificate			{{ nginx_conf_dir }}/ssl/service-chain.crt;
    ssl_ciphers					HIGH:!ADH:!MD5;
    ssl_protocols				SSLv3 TLSv1;
    ssl_session_timeout				5m;
    ssl_verify_client				optional;
    root					{{ vlist_root }};

    location /
    {
	index					index.html;
    }
{% if 0 == 1 %}
FIXME
template
{% endif %}
    location /hypnos/
    {
	proxy_pass				https://hypnos.adm.intra.unetresgrossebite.com:8443/
	proxy_set_header	Host		$host;
	proxy_set_header	X-Real-IP	$remote_addr;
	proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    }
    location /ker/
    {
	proxy_pass				https://ker.adm.intra.unetresgrossebite.com:8443/
	proxy_set_header	Host		$host;
	proxy_set_header	X-Real-IP	$remote_addr;
	proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    }
    location /nemesis/
    {
	proxy_pass				https://nemesis.adm.intra.unetresgrossebite.com:8443/
	proxy_set_header	Host		$host;
	proxy_set_header	X-Real-IP	$remote_addr;
	proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    }
    location /oneiroi/
    {
	proxy_pass				https://oneiroi.adm.intra.unetresgrossebite.com:8443/
	proxy_set_header	Host		$host;
	proxy_set_header	X-Real-IP	$remote_addr;
	proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    }
    location /thanatos/
    {
	proxy_pass				https://thanatos.adm.intra.unetresgrossebite.com:8443/
	proxy_set_header	Host		$host;
	proxy_set_header	X-Real-IP	$remote_addr;
	proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    }
}
