mail
{
    auth_http					127.0.0.1:8085/nginx;
    proxy					on;
    ssl_prefer_server_ciphers			on;
    ssl_protocols				TLSv1 SSLv3;
    ssl_ciphers					HIGH:!ADH:!MD5:@STRENGTH;
    ssl_session_cache				shared:TLSSL:16m;
    ssl_session_timeout				10m;
    ssl_certificate 				/etc/ssl/certs/bm_cert.pem;
    ssl_certificate_key 			/etc/ssl/certs/bm_cert.pem;

    server
    {
	listen					{{ imap_port }};
	protocol				imap;
	starttls				on;
	auth_http_header	X-Auth-Port	1143;
    }

    server
    {
	listen					{{ imaps_port }};
	protocol				imap;
	ssl					on;
	auth_http_header	X-Auth-Port	1143;
    }

    server
    {
	listen					{{ pop_port }};
	protocol				pop3;
	starttls				on;
	auth_http_header	X-Auth-Port	1110;
    }

    server
    {
	listen					{{ pops_port }};
	protocol				pop3;
	ssl					on;
	auth_http_header	X-Auth-Port	1110;
    }
}
