server
{
    listen				{{ http_port }};
    server_name				{{ server_name }}.{{ ansible_domain }};
    access_log				{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log				{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;
    root				{{ nginx_home_dir }};
    proxy_set_header	Host		$host;
    proxy_set_header	X-Real-IP	$remote_addr;
    proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    proxy_read_timeout			180;

    location /
    {
	proxy_pass			http://{% if ansible_eth1 is defined %}{{ ansible_eth1["ipv4"]["address"] }}{% else %}{{ ansible_default_ipv4["address"] }}{% endif %}:9200/;
	proxy_redirect			off;
    }
}
{% if ansible_eth1 is defined %}

server
{
    listen				{{ ansible_eth0['ipv4']['address'] }}:9200;
    server_name				{{ server_name }}.{{ ansible_domain }};
    access_log				{{ nginx_log_dir }}/plain-9200-{{ server_name }}.log	main;
    error_log				{{ nginx_log_dir }}/plain-error-9200-{{ server_name }}.log;
    root				{{ nginx_home_dir }};
    proxy_set_header	Host		$host;
    proxy_set_header	X-Real-IP	$remote_addr;
    proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    proxy_read_timeout			180;

    location /
    {
	proxy_pass			http://{% if ansible_eth1 is defined %}{{ ansible_eth1["ipv4"]["address"] }}{% else %}{{ ansible_default_ipv4["address"] }}{% endif %}:9200/;
	proxy_redirect			off;
    }
}
{% endif %}
