server
{
    listen					{{ http_port }};
    server_name					{{ server_name }}.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log					{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;
{% if sabnzb_public is defined %}
    rewrite		^(.*)$			https://{{ server_name }}.{{ ansible_domain }}$1;
}

server
{
    listen					{{ https_port }};
    server_name					{{ server_name }}.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/ssl-{{ server_name }}.log	main;
    error_log					{{ nginx_log_dir }}/ssl-error-{{ server_name }}.log;
    ssl						on;
    ssl_certificate				{{ nginx_conf_dir }}/ssl/server.crt;
    ssl_certificate_key				{{ nginx_conf_dir }}/ssl/server.key;
    ssl_client_certificate			{{ nginx_conf_dir }}/ssl/service-chain.crt;
    ssl_ciphers					HIGH:!ADH:!MD5;
    ssl_protocols				SSLv3 TLSv1;
    ssl_session_timeout				5m;
    ssl_verify_client				optional;
{% endif %}
    set			$mobile_rewrite		nope;
    if ($http_user_agent ~* "(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino")
    {
	set		$mobile_rewrite		perform;
    }
    if ($http_user_agent ~* "^(1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-)")
    {
	set		$mobile_rewrite		perform;
    }
    if ($mobile_rewrite = perform)
    {
	rewrite		^(.*)/sabnzbd(.*)	$1/m$2 permanent;
    }
    if ($mobile_rewrite = nope)
    {
	rewrite		(.*)/sabnzbd(.*)	$1$2;
    }

    location /
    {
	proxy_pass				http://{{ sabnzb_listen_host }}:{{ sabnzb_listen_port }}/;
	proxy_set_header	Host		$host;
	proxy_set_header	X-Real-IP	$remote_addr;
	proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    }
}

server
{
    listen					{{ http_port }};
    server_name					downloads.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/plain-downloads.log	main;
    error_log					{{ nginx_log_dir }}/plain-error-downloads.log;
{% if sabnzb_public is defined %}
    rewrite		^			https://downloads.{{ ansible_domain }};
}

server
{
    listen					{{ https_port }};
    server_name					downloads.{{ ansible_domain }};
    access_log					{{ nginx_log_dir }}/ssl-downloads.log	main;
    error_log					{{ nginx_log_dir }}/ssl-error-downloads.log;
    ssl						on;
    ssl_certificate				{{ nginx_conf_dir }}/ssl/server.crt;
    ssl_certificate_key				{{ nginx_conf_dir }}/ssl/server.key;
    ssl_client_certificate			{{ nginx_conf_dir }}/ssl/service-chain.crt;
    ssl_ciphers					HIGH:!ADH:!MD5;
    ssl_protocols				SSLv3 TLSv1;
    ssl_session_timeout				5m;
    ssl_verify_client				optional;
{% endif %}
    root					{{ sabnzb_home }}/downloads/complete;

    location /
    {
	autoindex				on;
{% if sabnzb_public_access is defined %}
{% for remote in sabnzb_public_access %}
	allow					{{ remote }};
{% endfor %}
	allow					127.0.0.1;
	deny					all;
{% endif %}
    }
}
