server
{
    listen		{{ http_port }};
    server_name		{{ server_name }}.{{ ansible_domain }}{% if ansible_domain != dirdomain %} {{ server_name }}.{{ dirdomain }}{% endif %};
    access_log		{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log		{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;
    root		/var/www/kibana;
}
