server
{
    listen			{{ http_port }};
    server_name			{{ ansible_fqdn }}{% if vhost_alias is defined %} {{ vhost_alias }}{% endif %};
    access_log			{{ nginx_log_dir }}/plain-{{ server_name }}.log	main;
    error_log			{{ nginx_log_dir }}/plain-error-{{ server_name }}.log;

    location /
    {
	rewrite	^		https://{{ ansible_fqdn }}$request_uri? redirect;
    }
    location /nginx_status
    {
	stub_status		on;
	access_log		off;
	allow			127.0.0.1;
	deny			all;
    }
    location /soap
    {
	proxy_pass		http://127.0.0.1:8080/soap;
	client_max_body_size	10m;   
    }
}


server
{
    listen			{{ https_port }};
    server_name			{{ ansible_fqdn }}{% if vhost_alias is defined %} {{ vhost_alias }}{% endif %};
    access_log			{{ nginx_log_dir }}/ssl-{{ server_name }}.log	main;
    error_log			{{ nginx_log_dir }}/ssl-error-{{ server_name }}.log;
    ssl				on;
    ssl_certificate		/etc/ssl/certs/bm_cert.pem;
    ssl_certificate_key		/etc/ssl/certs/bm_cert.pem;
    ssl_session_timeout		5m;
    error_page	401		/errors-pages/401.html;

    location /
    {
	if ($request_uri ~ ^/errors-pages)
	{
	    break;
	}
	proxy_pass		http://127.0.0.1:8079/;
    }
    location /errors-pages
    {
	alias			/usr/share/bm-client-access/errors-pages;
    }
    location /templates/
    {
	proxy_pass		http://127.0.0.1:8079/templates/;
    }
    location /webmail/
    {
	client_max_body_size	0;
	proxy_pass		http://127.0.0.1:8079/webmail/;
    }
    location /adminconsole/
    {
	gzip			on;
	gzip_min_length		1000;
	gzip_proxied		any;
	gzip_types		text/plain application/xml text/css text/javascript;
	gzip_disable		"MSIE [1-6]\.";
	proxy_pass		http://127.0.0.1:8079/adminconsole/;
	client_max_body_size	10m;	
    }
    location /setup/
    {
	auth_basic		"Blue Mind Setup";
	auth_basic_user_file	/etc/nginx/sw.htpasswd;
	proxy_pass		http://127.0.0.1:8080/setup/;
    }
    location /soap
    {
	proxy_pass		http://127.0.0.1:8080/soap;
	client_max_body_size	10m;   
    }
    location /services
    {
	proxy_pass		http://127.0.0.1:8085/services;
	client_max_body_size	10m;	
    }
    location /freebusy
    {
	proxy_pass		http://127.0.0.1:8085/freebusy;
    }
    location /Microsoft-Server-ActiveSync
    {
	proxy_pass		http://127.0.0.1:8082/Microsoft-Server-ActiveSync;
	proxy_read_timeout	1200s;
	client_max_body_size	10m;	
    }
    location /cal/
    {
	gzip			on;
	gzip_min_length		1000;
	gzip_proxied		any;
	gzip_types		text/plain application/xml text/css text/javascript text/json;
	gzip_disable		"MSIE [1-6]\.";
	proxy_pass		http://127.0.0.1:8079/cal/;
	client_max_body_size	10m;	
    }
    location /contact/
    {
	gzip			on;
	gzip_min_length		1000;
	gzip_proxied		any;
	gzip_types		text/plain application/xml text/css text/javascript text/json;
	gzip_disable		"MSIE [1-6]\.";
	proxy_pass		http://127.0.0.1:8079/contact/;
	client_max_body_size	10m;	
    }
    location /settings/
    {
	proxy_pass		http://127.0.0.1:8079/settings/;
    }
    location /help/
    {
	proxy_pass		http://127.0.0.1:8099/help/;
    }
}
