#!/bin/sh

BASE_URL="http://weathermap.{{ ansible_domain }}/weathermap.png"
unset http_proxy
cd {{ apache_serverroot }}/mrtg/vortex

wget --no-proxy $BASE_URL -O weathermap-`date +%y%m%d%H%M`.png

exit $?
