#!/bin/sh

{% if weathermap_alternative == "weathermap4rrd" %}
weathermap4rrd
{% elif weathermap_alternative == "network-weathermap" %}
cd {{ apache_serverroot }}/wmap
./weathermap
{% endif %}

exit $?
