#!/bin/sh

echo Updating RPM repositories indexes
cd {{ apache_serverroot }}/rhel
for i in *
do
    cd $i
    echo " -- updating RHEL $i repository index"
    if find . -name '*.rpm' >/dev/null 2>&1; then
	createrepo `pwd`
    fi
    cd ..
done

echo Updating FreeBSD repositories indexes
cd {{ apache_serverroot }}/freebsd
for i in `find . -type d -name packages`
do
    cd $i/All
    eval `echo $i | sed 's|.*/releases/\([^/]*\)/\([^/]*\)/.*|arch=\1 dist=\2|'`
    echo " -- updating FreeBSD repository $dist-$arch index"
    if find . -name '*.tbz' >/dev/null 2>&1; then
	for package in *
	do
	    latest=`echo $package | sed 's|-[0-9,_\.-]*\.tbz||'`
	    ln -sf `pwd`/$package `pwd`/../Latest/$latest.tbz
	done
    fi
    if find . -name '*.txz' >/dev/null 2>&1; then
	for package in *
	do
	    latest=`echo $package | sed 's|-[0-9,_\.-]*\.txz||'`
	    ln -sf `pwd`/$package `pwd`/../Latest/$latest.txz
	done
    fi
    cd -
done

exit 0
