is_master = {% if graylog_is_master == true %}tru{% else %}fals{% endif %}e
output_batch_size = {{ graylog_batch_size }}
processbuffer_processors = {{ graylog_processors }}
outputbuffer_processors = {{ graylog_oprocessors }}
plugin_dir = {{ graylog_server_dir }}/plugin
syslog_listen_port = {{ syslog_port }}
syslog_enable_udp = {% if graylog_use_gelf == true %}fals{% else %}tru{% endif %}e
syslog_enable_tcp = {% if graylog_use_gelf == true %}fals{% else %}tru{% endif %}e
syslog_store_full_message = true
elasticsearch_config_file = /etc/graylog/elasticsearch.yml
elasticsearch_url = http://{{ graylog_elasticsearch_backend }}:9200/
elasticsearch_index_name = {{ graylog_elasticsearch_index }}
force_syslog_rdns = false
mongodb_useauth = {% if mongodb_app_user %}tru{% else %}fals{% endif %}e
mongodb_host = {{ graylog_mongodb_backend }}
mongodb_database = {{ mongodb_app_db }}
mongodb_port = {{ mongodb_bind_port }}
{% if mongodb_app_user %}
mongodb_user = {{ mongodb_app_user }}
{% if mongodb_app_password %}
mongodb_password = {{ mongodb_app_password }}
{% endif %}
{% endif %}
mongodb_max_connections = 100
mongodb_threads_allowed_to_block_multiplier = 5
use_gelf = {% if graylog_use_gelf == true %}tru{% else %}fals{% endif %}e
{% if graylog_use_gelf == true %}
gelf_listen_address = {{ graylog_gelf_bind_addr }}
gelf_listen_port = {{ graylog_gelf_bind_port }}
{% endif %}
