[DEFAULT]
bantime   = 600
backend   = auto
destemail = {{ contact }}
ignoreip  = {% if mngmttrusted_ip is defined %}{% for host in mngmttrusted_ip %}{{ host }} {% endfor %}{% endif %}127.0.0.1/8

maxretry  = 3
mta       = sendmail

{% if ansible_distribution == "OpenBSD" %}
banaction = pf-drop-all
{% else %}
banaction = iptables-multiport
{% endif %}
chain     = INPUT
protocol  = tcp

action_    = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mw  = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]
action     = %(action_mwl)s

[ssh]
enabled  = true
port     = {{ ssh_port }}
filter   = sshd
logpath  = /var/log/authlog
maxretry = 3

[dropbear]
enabled  = false
port     = {{ ssh_port }}
filter   = sshd
logpath  = /var/log/dropbear
maxretry = 6

[pam-generic]
enabled   = false
filter    = pam-generic
port      = all
{% if ansible_distribution == "OpenBSD" %}
banaction = pf-drop-all
{% else %}
banaction = iptables-allports
{% endif %}
port      = anyport
logpath   = /var/log/authlog
maxretry  = 6

[xinetd-fail]
enabled   = false
filter    = xinetd-fail
port      = all
{% if ansible_distribution == "OpenBSD" %}
banaction = pf-drop-all
{% else %}
banaction = iptables-multiport-log
{% endif %}
logpath   = /var/log/daemon
maxretry  = 2

[ssh-ddos]
enabled  = true
port     = {{ ssh_port }}
filter   = sshd-ddos
logpath  = /var/log/authlog
maxretry = 6

[apache]
enabled  = false
port     = http,https
filter   = apache-auth
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
logpath  = /var/log/httpd/*error*.log
{% else %}
logpath  = /var/log/apache*/*error*.log
{% endif %}
maxretry = 6

[apache-multiport]
enabled   = false
port      = http,https
filter    = apache-auth
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
logpath   = /var/log/httpd/*error*.log
{% else %}
logpath   = /var/log/apache*/*error*.log
{% endif %}
maxretry  = 6

[apache-noscript]
enabled  = false
port     = http,https
filter   = apache-noscript
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
logpath  = /var/log/httpd/*error*.log
{% else %}
logpath  = /var/log/apache*/*error*.log
{% endif %}
maxretry = 6

[apache-overflows]
enabled  = false
port     = http,https
filter   = apache-overflows
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
logpath  = /var/log/httpd/*error*.log
{% else %}
logpath  = /var/log/apache*/*error*.log
{% endif %}
maxretry = 2

[vsftpd]
enabled  = false
port     = ftp,ftp-data,ftps,ftps-data
filter   = vsftpd
logpath  = /var/log/vsftpd.log
maxretry = 6

[proftpd]
enabled  = false
port     = ftp,ftp-data,ftps,ftps-data
filter   = proftpd
logpath  = /var/log/proftpd/proftpd.log
maxretry = 6

[pure-ftpd]
enabled  = false
port     = ftp,ftp-data,ftps,ftps-data
filter   = pure-ftpd
logpath  = /var/log/authlog
maxretry = 6

[wuftpd]
enabled  = false
port     = ftp,ftp-data,ftps,ftps-data
filter   = wuftpd
logpath  = /var/log/authlog
maxretry = 6

[postfix]
enabled  = {% if mailrelay == true %}tru{% else %}fals{% endif %}e
port     = smtp,ssmtp
filter   = postfix
logpath  = /var/log/maillog

[couriersmtp]
enabled  = false
port     = smtp,ssmtp
filter   = couriersmtp
logpath  = /var/log/maillog

[courierauth]
enabled  = false
port     = smtp,ssmtp,imap2,imap3,imaps,pop3,pop3s
filter   = courierlogin
logpath  = /var/log/maillog

[sasl]
enabled  = {% if mailrelay == true %}tru{% else %}fals{% endif %}e
port     = smtp,ssmtp,imap2,imap3,imaps,pop3,pop3s
filter   = sasl
logpath  = /var/log/maillog

[dovecot]
enabled = false
port    = smtp,ssmtp,imap2,imap3,imaps,pop3,pop3s
filter  = dovecot
logpath = /var/log/maillog

[named-refused-udp]
enabled  = false
port     = domain
protocol = udp
filter   = named-refused
logpath  = {{ named_log_dir }}/security.log

[named-refused-tcp]
enabled  = false
port     = domain
protocol = tcp
filter   = named-refused
logpath  = {{ named_log_dir }}/security.log

[recidivist]
enabled  = true
filter   = recidivist
action   = iptables-allports[name=recidivist]
logpath  = /var/log/fail2ban.log
maxretry = 5
findtime = 604800
bantime  = 604800
