/var/log/fail2ban.log {
    compress
    create 640 root {{ gid_adm }}
    delaycompress
    missingok
    rotate {{ fail2ban_log_week_retention }}
    weekly
    postrotate
	fail2ban-client set logtarget /var/log/fail2ban.log >/dev/null || true
    endscript
}
