iscsid.startup = {{ iscsid_bin }}
node.startup = automatic
node.leading_login = Yes
{% if iscsi_chap_user is defined and iscsi_chap_pass is defined %}
node.session.auth.authmethod = CHAP
node.session.auth.username = {{ iscsi_chap_user }}
node.session.auth.password = {{ iscsi_chap_pass }}
#node.session.auth.username_in = username_in
#node.session.auth.password_in = password_in
{% if iscsi_chap_discover is defined %}
discovery.sendtargets.auth.authmethod = CHAP
discovery.sendtargets.auth.username = {{ iscsi_chap_user }}
discovery.sendtargets.auth.password = {{ iscsi_chap_pass }}
#discovery.sendtargets.auth.username_in = username_in
#discovery.sendtargets.auth.password_in = password_in
{% endif %}
{% endif %}
node.session.timeo.replacement_timeout = {{ iscsi_replacement_timeout }}
node.conn[0].timeo.login_timeout = {{ iscsi_login_timeout }}
node.conn[0].timeo.logout_timeout = {{ iscsi_logout_timeout }}
node.conn[0].timeo.noop_out_interval = {{ iscsi_noopout_interval }}
node.conn[0].timeo.noop_out_timeout = {{ iscsi_noopout_timeout }}
node.session.err_timeo.abort_timeout = {{ iscsi_abort_timeout }}
node.session.err_timeo.lu_reset_timeout = {{ iscsi_lurst_timeout }}
node.session.err_timeo.tgt_reset_timeout = {{ iscsi_tgtrst_timeout }}
node.session.initial_login_retry_max = {{ iscsi_login_retry }}
node.session.cmds_max = {{ iscsi_cmds_queue }}
node.session.queue_depth = {{ iscsi_queue_depth }}
node.session.xmit_thread_priority = {{ iscsi_thread_prio }}
{% if iscsi_initialr2t %}
node.session.iscsi.InitialR2T = Yes
{% else %}
node.session.iscsi.InitialR2T = No
{% endif %}
{% if iscsi_immediatedata %}
node.session.iscsi.ImmediateData = Yes
{% else %}
node.session.iscsi.ImmediateData = No
{% endif %}
node.session.iscsi.FirstBurstLength = {{ iscsi_firstburst }}
node.session.iscsi.MaxBurstLength = {{ iscsi_maxburst }}
node.conn[0].iscsi.MaxRecvDataSegmentLength = {{ iscsi_maxsegmentrecv }}
node.conn[0].iscsi.MaxXmitDataSegmentLength = {{ iscsi_maxsegmentxmit }}
discovery.sendtargets.iscsi.MaxRecvDataSegmentLength = {{ iscsi_discovery_maxsegmentrecv }}
node.session.nr_sessions = {{ iscsi_nr_sessions }}
{% if iscsi_fastabort %}
node.session.iscsi.FastAbort = Yes
{% else %}
node.session.iscsi.FastAbort = No
{% endif %}
