define command {
    command_name	check_tcp
    command_line	$PLUGINSDIR$/check_tcp  -H $HOSTADDRESS$ -p $ARG1$
}

define command {
    command_name	check_http
    command_line	$PLUGINSDIR$/check_http -H $HOSTADDRESS$
}

define command {
    command_name	check_https
    command_line	$PLUGINSDIR$/check_http -H $HOSTADDRESS$ -S
}

define command {
    command_name	check_dig
    command_line 	$PLUGINSDIR$/check_dig -H $HOSTADDRESS$ -l $ARG1$
}

define command {
    command_name	check_nsdec
    command_line	/usr/lib/nagios/plugins/check_dns -H '$HOSTNAME$' -s {{ dns_one }}
}

define command {
    command_name	check_nsrev
    command_line	/usr/lib/nagios/plugins/check_dns -H '$HOSTADDRESS$' -s {{ dns_one }}
}

define command {
    command_name	check_ftp
    command_line	$PLUGINSDIR$/check_ftp -H $HOSTADDRESS$
}

define command {
    command_name	check_nrpe
    command_line	$PLUGINSDIR$/check_nrpe -H $HOSTADDRESS$ -t {{ nagios_nrpe_timeout }} -u -c $ARG1$
}

define command {
    command_name	check_nrpe_port
    command_line	$PLUGINSDIR$/check_nrpe -H $HOSTADDRESS$ -p $ARG1$ -t {{ nagios_nrpe_timeout }} -u -c $ARG2$
}

define command {
    command_name	check_nrpe_args
    command_line	$PLUGINSDIR$/check_nrpe -H $HOSTADDRESS$ -t {{ nagios_nrpe_timeout }} -u -c $ARG1$ -a $ARG2$ $ARG3$ $ARG4$ $ARG5$
}

define command {
    command_name	check_ping
    command_line	$PLUGINSDIR$/check_ping -H $HOSTADDRESS$ -w 3000,100% -c 5000,100% -p 1
}

define command {
    command_name	check_ssh
    command_line	$PLUGINSDIR$/check_ssh -H $HOSTADDRESS$
}

define command {
    command_name	check_smtp
    command_line	$PLUGINSDIR$/check_smtp -H $HOSTADDRESS$
}

define command {
    command_name	check_smtps
    command_line	$PLUGINSDIR$/check_smtp -H $HOSTADDRESS$ -S
}

define command {
    command_name	check_https_certificate
    command_line	$PLUGINSDIR$/check_http -H $HOSTADDRESS$ -C 30
}

define command {
    command_name	check_hpjd
    command_line	$PLUGINSDIR$/check_hpjd -H $HOSTADDRESS$ -C $SNMPCOMMUNITYREAD$
}

define command {
    command_name	check_oracle_listener
    command_line	$PLUGINSDIR$/check_oracle --tns $HOSTADDRESS$
}

define command {
    command_name	check_mssql_connexion
    command_line	$PLUGINSDIR$/check_mssql_health --hostname $HOSTADDRESS$ --username "$MSSQLUSER$" --password "$MSSQLPASSWORD$" --mode connection-time
}

define command {
    command_name	check_ldap
    command_line	$PLUGINSDIR$/check_ldap -H $HOSTADDRESS$ -b "$LDAPBASE$" -D $DOMAINUSER$ -P "$DOMAINPASSWORD$"
}

define command {
    command_name	check_ldaps
    command_line	$PLUGINSDIR$/check_ldaps -H $HOSTADDRESS$ -b "$LDAPBASE$" -D $DOMAINUSER$ -P "$DOMAINPASSWORD$"
}

define command {
    command_name	check_mysql_connexion
    command_line	$PLUGINSDIR$/check_mysql -H $HOSTADDRESS$ -u $MYSQLUSER$ -p $MYSQLPASSWORD$
}

define command {
    command_name	check_esx_host
    command_line	$PLUGINSDIR$/check_esx3.pl -D $VCENTER$ -H $HOSTADDRESS$ -u $VCENTERLOGIN$ -p $VCENTERPASSWORD$ l $ARG1$
}

define command {
    command_name	check_esx_vm
    command_line	$PLUGINSDIR$/check_esx3.pl -D $VCENTER$ -N $HOSTALIAS$ -u $VCENTERLOGIN$ -p $VCENTERLOGIN$ -l $ARG1$
}

define command {
    command_name	check_linux_host_alive
    command_line	$USER1$/check_tcp -H $HOSTADDRESS$ -p 22 -t 3
}

define command {
    command_name	check_host_alive
    command_line	$USER1$/check_ping -H $HOSTADDRESS$ -w 1,50% -c 2,70% -p 1
}

define command {
    command_name	check_windows_host_alive
    command_line	$USER1$/check_tcp -H $HOSTADDRESS$ -p 139 -t 3
}

define command {
    command_name	check_local_disk
    command_line	$USER1$/check.sh $HOSTADDRESS$ -c $ARG1$ SERVICE $USER1$
}

define command {
    command_name	check_port
    command_line	/bin/ping localhost -c 1
}

define command {
    command_name	check_mysql
    command_line	$USER1$/check_dummy.sh 2
}

define command {
    command_name	check_dummy
    command_line	$USER1$/check_dummy.sh $ARG1$
}

define command {
    command_name	super_event_kill_everyone
    command_line	$USER1$/check.sh $HOSTADDRESS$ -c $ARG1$ SERVICE $_HOSTDELLSUCK$
}

define command {
    command_name	check_http2
    command_line	$USER1$/check_dummy.sh 1
}

define command {
    command_name	check-host-alive
#    command_line	$USER1$/check.sh $HOSTADDRESS$ -c $ARG1$ HOST $_HOSTDELLSUCK$ $SERVICEDESC:srv-1:Service-2$ $SERVICEDESC::Service-30$ $HOSTADDRESS:$  $HOSTGROUPALIAS:linux-servers$
    command_line	{{ nagios_probe_dir }}/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1
}

define command {
    command_name	check_vm_cpu
    command_line	$USER1$/check_esx3.pl -H lulu
}

define command {
    command_name	notify-host-by-email
    command_line	$USER1$/sendmailhost.pl "$NOTIFICATIONTYPE$" "$HOSTNAME$" "$HOSTSTATE$" "$HOSTADDRESS$" "$HOSTOUTPUT$" "$SHORTDATETIME$" "$CONTACTEMAIL$"
}

define command {
    command_name	notify-service-by-email
    command_line	$USER1$/sendmailservices.pl "$NOTIFICATIONTYPE$" "$SERVICEDESC$" "$HOSTALIAS$" "$HOSTADDRESS$" "$SERVICESTATE$" "$SHORTDATETIME$" "$SERVICEOUTPUT$" "$CONTACTEMAIL$" "$SERVICENOTESURL$"
}

define command {
    command_name	nmap_discovery
    command_line	$USER1$/nmap_discovery_runner.py -t $NMAPTARGETS$
}

define command {
    command_name	vmware_esx_discovery
    command_line	$USER1$/vmware_discovery_runner.py -V $VCENTER$ -u $VCENTERLOGIN$ -p $VCENTERPASSWORD$ -r "lower|nofqdn"
}

define command {
    command_name	check-sw-firmware
    command_line	{{ nagios_probe_dir }}/check_sw -H '$HOSTADDRESS$' -C shinken -t firmware
}

define command {
    command_name	check-sw-model
    command_line	{{ nagios_probe_dir }}/check_sw -H '$HOSTADDRESS$' -C shinken -t model
}

define command {
    command_name        check-sw-ports
    command_line        {{ nagios_probe_dir }}/check_sw -H '$HOSTADDRESS$' -C shinken -t ports
}

define command {
    command_name        check-sw-portadm
    command_line        {{ nagios_probe_dir }}/check_sw -H '$HOSTADDRESS$' -C shinken -t adm -p '$ARG1$'
}

define command {
    command_name        check-sw-portchange
    command_line        {{ nagios_probe_dir }}/check_sw -H '$HOSTADDRESS$' -C shinken -t lastchange -p '$ARG1$'
}

define command {
    command_name        check-sw-portcheck
    command_line        {{ nagios_probe_dir }}/check_sw -H '$HOSTADDRESS$' -C shinken -t portcheck -p '$ARG1$'
}

define command {
    command_name        check-sw-portstats
    command_line        {{ nagios_probe_dir }}/check_sw -H '$HOSTADDRESS$' -C shinken -t portstats -p '$ARG1$'
}

define command {
    command_name        check-sw-uptime
    command_line        {{ nagios_probe_dir }}/check_sw -H '$HOSTADDRESS$' -C shinken -t uptime
}

define command {
    command_name        check_syno
    command_line        {{ nagios_probe_dir }}/check_syno -H '$HOSTADDRESS$' -C shinken -t '$ARG1$'
}

define command {
    command_name        check_pfsense
    command_line        {{ nagios_probe_dir }}/check_pfsense -H '$HOSTADDRESS$' -C shinken -t '$ARG1$'
}

define command {
    command_name	check_usrbt
    command_line	{{ nagios_probe_dir }}/check_http -H '$HOSTADDRESS$' -e '401 Unauthorized'
}

define command {
    command_name	check_phone
    command_line	{{ nagios_probe_dir }}/check_http -H '$HOSTADDRESS$' -e '200 OK'
}
