{% for grp in shinken_contact_groups if grp['name'] is defined and grp['members'] is defined %}
define contactgroup {
    alias		{{ grp['name'] }}
    contactgroup_name	{{ grp['name'] }}
    members		{% for dude in grp['members'] %}{{ dude }},{% endfor %}

}
{% endfor %}
