ETC={{ shinken_conf_dir }}
VAR=/var/lib/shinken
BIN=/usr/bin
RUN=/var/run/shinken
RGROUP={{ shinken_group }}
RUSER={{ shinken_user }}
LOG=/var/log/shinken
SHINKENCFG="$ETC/nagios.cfg"
SHINKENSPECIFICCFG="$ETC/shinken-specific.cfg"
ARBITERDAEMON=$BIN/shinken-arbiter

if test -r $SHINKENCFG; then
    tmppid=`grep 'lock_file=' $SHINKENCFG | grep -v '#' | tail -n 1 | awk -F '=' '{print $2}'`
    ARBITERPID=${tmppid-$RUN/arbiterd.pid}
else
    ARBITERPID="$RUN/arbiterd.pid"
fi
if ! test -d $RUN; then
    mkdir -p $RUN
fi
chown $RUSER:$GROUP $RUN

ARBITERDEBUGFILE="$LOG/arbiter-debug.log"
SCHEDULERCFG="$ETC/schedulerd.ini"
SCHEDULERDAEMON=$BIN/shinken-scheduler
SCHEDULERPID="$RUN/schedulerd.pid"
SCHEDULERDEBUGFILE="$LOG/scheduler-debug.log"
POLLERCFG="$ETC/pollerd.ini"
POLLERDAEMON=$BIN/shinken-poller
POLLERPID="$RUN/pollerd.pid"
POLLERDEBUGFILE="$LOG/poller-debug.log"
REACTIONNERCFG="$ETC/reactionnerd.ini"
REACTIONNERDAEMON=$BIN/shinken-reactionner
REACTIONNERPID="$RUN/reactionnerd.pid"
REACTIONNERDEBUGFILE="$LOG/reactionner-debug.log"
BROKERCFG="$ETC/brokerd.ini"
BROKERDAEMON=$BIN/shinken-broker
BROKERPID="$RUN/brokerd.pid"
BROKERDEBUGFILE="$LOG/broker-debug.log"
RECEIVERCFG="$ETC/receiverd.ini"
RECEIVERDAEMON=$BIN/shinken-receiver
RECEIVERPID="$RUN/receiverd.pid"
RECEIVERDEBUGFILE="$LOG/receiver-debug.log"
NICENESS=5
