$USER1$={{ nagios_probe_dir }}
$USER2$=public

# Where your plugins are located
$PLUGINSDIR$={{ nagios_probe_dir }}

##Now Activie directory and Ldap
$DOMAINUSER$=shinken_user
$DOMAINPASSWORD$=superpassword
$LDAPBASE$=dc=eu,dc=society,dc=com

### MSSQL credentials
$MSSQLUSER$=someuser
$MSSQLPASSWORD$=somepassowrd

### Mysql credentials
$MYSQLUSER$=root
$MYSQLPASSWORD$=root

#### vSphere (ESX) part
$VCENTER$=vcenter.mydomain.com
$VCENTERLOGIN$=someuser
$VCENTERPASSWORD$=somepassowrd

#### Discovery Part
# default snmp community
$SNMPCOMMUNITYREAD$=PUBLIC
# what to discover by default
$NMAPTARGETS$=localhost www.google.fr
