{% for elt in nagios_servicegroups %}

define servicegroup {
    servicegroup_name	{{ elt }}
    alias		{{ elt }}
}

define host {
    name		{{ elt }}
    use			generic-host
    contacts		root
    register		0
}
{% endfor %}
