#!/bin/sh

CFGDIR={{ shinken_conf_dir }}

has_new()
{
    find fetched.d -type f | grep '[a-z]' >/dev/null
    return $?
}

apply_new()
{
    local object

    for object in hosts services discovery
    do
	test -d objects.back/$object || mkdir -p objects.back/$object
	rm -f objects.back/$object/*
	mv objects/$object/* objects.back/$object/
	case "$object" in
	    discovery)
		cp -p static/* objects/$object/
		;;
	    *)
		mv fetched.d/$object/* objects/$object/
		;;
	esac
    done
}

recover_old()
{
    local object

    for object in hosts services discovery
    do
	rm -f objects/$object/*
	mv objects.back/$object/* objects/$object/
	case "$object" in
	    discovery)
		rm -f objects/$object/*
		;;
	    *)
		mv objects/$object/* fetched.d/$object/
		;;
	esac
    done
}

cd $CFGDIR
if has_new; then
    apply_new
    if ! /etc/init.d/shinken check; then
	recover_old
	exit 1
    elif test "x$1" = "xcheck"; then
	recover_old
    else
	/etc/init.d/shinken restart
    fi
else
    echo no new configuration
fi

exit $?
