tries = 10
passive_ftp = off
waitretry = 3
header = From: {{ ansible_fqdn }} <root@{{ ansible_fqdn }}>
{% if webproxy is defined %}
http_proxy = http://{{ webproxy }}:3128/
https_proxy = http://{{ webproxy }}:3128/
{% endif %}
use_proxy = on
