package Script::Config;

use strict;
use Exporter;

our @ISA = qw( Exporter );
our @EXPORT = qw( $HOSTNAME $INACT_DAY $MAIL_TO $VMLIST_URL $POPUP_WIDTH $POPUP_HEIGHT $LOG_FILE );
our $HOSTNAME = `hostname --fqdn`;
our $INACT_DAY = 30;
our $MAIL_TO = "{{ contact|replace @ \\@ }}";
our $VMLIST_URL = "https://{{ vlist_front }}/";
our $POPUP_WIDTH = 300;
our $POPUP_HEIGHT = 150;
our $LOG_FILE = "/tmp/vm_manager.log";

1;
