package Script::Tools;

use strict;
use Exporter;

our @ISA = qw( Exporter );
our @EXPORT = qw( &send_mail &get_content_file &exec_cmd &display_tab );

sub send_mail
{
    my ( $file, $to, $subject ) = @_;

    if( -e "/usr/sbin/sendmail" ) {
	open( MAIL, "|/usr/sbin/sendmail -t" ) or die( "open: $!" );
	print MAIL "To: $to\n";
	print MAIL "Subject: $subject\n";
	print MAIL `cat $file`;
	close( MAIL );
    }
    else
    {
	system "cat $file | /usr/local/bin/smtp_send.pl -t $to -f root@`hostname` -s \"$subject\" -r {{ smtp_hostrelay }} >/dev/null";
    }
}

sub get_content_file
{
    my ( $filename, $tab ) = @_;
    my $line;

    open( FD, "<$filename" ) or die "open: $!";

    while( defined( $line = <FD> ) )
    {
	chomp( $line );
	push( @$tab, $line ) if ( $line !~ /^\s*#/ );
    }
    close( FD );
}

sub exec_cmd
{
    my ( $cmd ) = @_;

    system( "$cmd 2>&1" ) if ( $cmd );
}

sub exec_cmd_tohtml
{
    my ( $cmd ) = @_;

    print "<pre>";
    exec_cmd( $cmd );
    print "</pre>";
}

sub display_tab
{
    my ( $tab ) = @_;

    foreach my $item ( @$tab )
    {
	print STDOUT "$item\n";
    }
}

1;
