{% if syslog_do_tcp %}
$ModLoad imtcp
$InputTCPServerRun {{ syslog_port }}
$AllowedSender TCP, {% if syslog_sender_list %}{{ syslog_sender_list }}{% else %}127.0.0.1{% endif %}
{% endif %}

{% if syslog_do_relp %}
$ModLoad imrelp
$InputRELPServerRun {{ syslog_relp_port }}
{% endif %}
{% if syslog_do_udp %}
$ModLoad imudp
$UDPServerRun {{ syslog_port }}
$AllowedSender UDP, {% if syslog_sender_list %}{{ syslog_sender_list }}{% else %}127.0.0.1{% endif %}
{% endif %}

$template RemoteStore, "/var/log/remote/%HOSTNAME%/%timegenerated:1:10:date-rfc3339%"
:source, !isequal, "localhost" ?RemoteStore
