function FindProxyForUrl(url, host)
{
    if (isPlainHostName(host) ||
	dnsDomainIs(host, ".{{ dirdomain }}"))
	return "DIRECT";

    return "PROXY {{ webproxy }}:{{ squid_http_port }}; PROXY {{ webproxy }}:{{ squid_transparent_port }} DIRECT";
}
