{{ redis_log_dir }}/*.log
{
    compress
    copytruncate
    daily
    missingok
    notifempty
    rotate {{ redis_log_retention }}
{% if no_rsyslog is defined %}
    sharedscripts
    postrotate
	{{ service_bin }} redis restart >/dev/null 2>&1 || true
    endscript
{% endif %}
}
