daemonize yes
pidfile {{ redis_run_dir }}/redis-server.pid
port {{ redis_bind_port }}
bind {{ redis_bind_addr }}
timeout 0

loglevel notice
{% if no_rsyslog is not defined %}
syslog-enabled yes
syslog-ident {{ redis_syslog_ident }}
syslog-facility {{ redis_syslog_facility }}
{% else %}
logfile {{ redis_log_dir }}/redis.log
{% endif %}
slowlog-log-slower-than 10000
slowlog-max-len 128

databases 16

save 900 1
save 300 10
save 60 10000

rdbcompression yes
dbfilename dump.rdb
dir {{ redis_lib_dir }}
{% if redis_required_password is defined %}
requirepass {{ redis_required_password }}
{% endif %}
maxclients 512
maxmemory {{ ansible_memtotal_mb * 1024 * 1024 * 75 / 100 }}
maxmemory-policy volatile-lru
vm-enabled no
vm-swap-file {{ redis_lib_dir }}/redis.swap

appendonly no
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb

hash-max-zipmap-entries 512
hash-max-zipmap-value 64
list-max-ziplist-entries 512
list-max-ziplist-value 64
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
activerehashing yes
