{% if ansible_distribution == "OpenBSD" %}
/var/log/aculog		uucp:dialer	660  7     *    24    Z
/var/log/authlog	root:wheel	640  7     *    168   Z
/var/log/daemon				640  5     30   *     Z
/var/log/cron		root:{{ gid_zero }}	600  3     10   *     Z
/var/log/lpd-errs			640  7     10   *     Z
/var/log/maillog			600  7     *    24    Z
/var/log/messages			644  5     100  *     Z
{% if collectd_monitored == true %}
/var/log/collectd.log	root:{{ gid_zero }}	644  {{ collectd_log_retention }}     100  *     Z
{% endif %}
{% if munin_monitored == true %}
/var/log/munin/munin-node.log	root:{{ gid_zero }}	644  {{ muninnode_log_retention }}     100  *     Z
{% endif %}
/var/log/ppp.log			640  7     250  *     Z
/var/log/pflog				600  3     250  *     ZB "pkill -HUP -u root -U root -t - -x pflogd"
/var/log/secure				600  7     *    168   Z
/var/log/syslog				644  5     30   *     Z
/var/log/xferlog			640  7     250  *     Z
/var/log/wtmp				644  7     *    $W6D4 B
{% endif %}
{% if ansible_distribution == "FreeBSD" %}
/var/log/all.log			600  7	   *	@T00  J
/var/log/amd.log			644  7	   100	*     J
/var/log/auth.log			600  7     100  @0101T JC
/var/log/console.log			600  5	   100	*     J
/var/log/cron				600  3	   100	*     JC
/var/log/daily.log			640  7	   *	@T00  JN
/var/log/debug.log			600  7     100  *     JC
/var/log/kerberos.log			600  7	   100	*     J
/var/log/lpd-errs			644  7	   100	*     JC
/var/log/maillog			640  7	   *	@T00  JC
/var/log/messages			644  5	   100	@0101T JC
{% if collectd_monitored %}
/var/log/collectd.log	root:{{ gid_zero }}	644  {{ collectd_log_retention }}	   100	*     JC
{% endif %}
{% if munin_monitored == true %}
/var/log/munin/munin-node.log	root:{{ gid_zero }}	644  {{ muninnode_log_retention }}	   *	@T00  Z    /var/run/munin/munin-node.pid
{% endif %}
/var/log/syslog				644  5	   100	*     JC
/var/log/monthly.log			640  12	   *	$M1D0 JN
/var/log/pflog				600  3	   100	*     JB    /var/run/pflogd.pid
/var/log/ppp.log	root:network	640  3	   100	*     JC
/var/log/security			600  10	   100	*     JC
/var/log/sendmail.st			640  10	   *	168   BN
/var/log/utx.log			644  3     *	@01T05 B
/var/log/weekly.log			640  5	   1	$W6D0 JN
/var/log/wtmp				644  3	   *	@01T05 B
/var/log/xferlog			600  7	   100	*     JC
{% endif %}
