[{{ asterisk_ami_user }}]
secret = {{ asterisk_ami_pass }}
deny = 0.0.0.0/0.0.0.0
permit = 127.0.0.1/255.255.255.0
read = system,call,log,verbose,command,agent,user
write = system,call,log,verbose,command,agent,user
