[settings]
iaxusers => ldap,"ou=sip,{{ dirbase }}",iax
iaxpeers => ldap,"ou=sip,{{ dirbase }}",iax
sipusers => ldap,"ou=sip,{{ dirbase }}",sip
sippeers => ldap,"ou=sip,{{ dirbase }}",sip
sipregs => ldap,"ou=sip,{{ dirbase }}",sip
voicemail => ldap,"ou=sip,{{ dirbase }}",voicemail
voicemail_data => ldap,"ou=sip,{{ dirbase }}",voicemail
extensions => ldap,"ou=sip,{{ dirbase }}",extensions
;meetme => mysql,general
queues => ldap,"ou=sip,{{ dirbase }}",queue
queue_members => ldap,"ou=sip,{{ dirbase }}",queue_member
;musiconhold => mysql,general
;queue_log => mysql,general
