[general]
static=yes
writeprotect=no
clearglobalvars=no

[from-free]
switch => Realtime/@

[internal]
exten => _0.,1,Set(trunk={{ outtrunk }})
exten => _0.,2,Dial(${trunk}/${EXTEN})
switch => Realtime/@

[default]
include => internal
include => from-free
