#!/bin/sh

for peer in `ldapsearch -x -D cn=asterisk,ou=services,{{ dirbase }} -w {{ ldap_asterisk_psk }} -b ou=accounts,ou=sip,{{ dirbase }} "(AstAccountName=*)" | awk -F: '/^AstAccountName:/{print $2}'`
do
    asterisk -rx "sip show peer $peer load"
done >/dev/null

exit 0
