/var/log/asterisk/debug /var/log/asterisk/messages /var/log/asterisk/queue_log {
    daily
    delaycompress
    missingok
    rotate {{ asterisk_log_retention }}
    sharedscripts
    postrotate
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
	/usr/sbin/invoke-rc.d asterisk logger-reload >/dev/null 2>&1
{% else %}
	/usr/sbin/asterisk -rx 'logger reload' >/dev/null 2>&1
{% endif %}
    endscript
}
