[_general]
url=ldaps://{{ ldap_host }}:636/
protocol=3
basedn={{ dirbase }}
user=cn=asterisk,ou=services,{{ dirbase }}
pass={{ ldap_asterisk_psk }}

[config]
additionalFilter=(objectClass=AstConfig)
filename=AstConfigFilename
category=AstConfigCategory
variable_name=AstConfigVariableName
variable_value=AstConfigVariableValue
cat_metric=AstConfigCategoryMetric
commented=AstConfigCommented

[extensions]
context=AstContext
exten=AstExtension
priority=AstPriority
app=AstApplication
appdata=AstApplicationData
additionalFilter=(objectClass=AsteriskExtension)

[sip]
name = cn
amaflags = AstAccountAMAFlags
callgroup = AstAccountCallGroup
callerid = AstAccountCallerID
directmedia = AstAccountDirectMedia
context = AstAccountContext
dtmfmode = AstAccountDTMFMode
fromuser = AstAccountFromUser
fromdomain = AstAccountFromDomain
fullcontact = AstAccountFullContact
host = AstAccountHost
insecure = AstAccountInsecure
mailbox = AstAccountMailbox
md5secret = AstAccountRealmedPassword
secret = AstAccountSecret
nat = AstAccountNAT
deny = AstAccountDeny
permit = AstAccountPermit
pickupgroup = AstAccountPickupGroup
port = AstAccountPort
qualify = AstAccountQualify
restrictcid = AstAccountRestrictCID
rtptimeout = AstAccountRTPTimeout
rtpholdtimeout = AstAccountRTPHoldTimeout
type = AstAccountType
disallow = AstAccountDisallowedCodec
allow = AstAccountAllowedCodec
MusicOnHold = AstAccountMusicOnHold
regseconds = AstAccountExpirationTimestamp
regcontext = AstAccountRegistrationContext
regexten = AstAccountRegistrationExten
CanCallForward = AstAccountCanCallForward
ipaddr = AstAccountIPAddress
defaultuser = AstAccountDefaultUser
regserver = AstAccountRegistrationServer
lastms = AstAccountLastQualifyMilliseconds
useragent = AstAccountUserAgent
additionalFilter=(objectClass=AsteriskSIPUser)

[iax]
amaflags = AstAccountAMAFlags
callerid = AstAccountCallerID
context = AstAccountContext
fullcontact = AstAccountFullContact
host = AstAccountHost
mailbox = AstAccountMailbox
md5secret = AstAccountRealmedPassword
deny = AstAccountDeny
permit = AstAccountPermit
port = AstAccountPort
qualify = AstAccountQualify
type = AstAccountType
disallow = AstAccountDisallowedCodec
allow = AstAccountAllowedCodec
regseconds = AstAccountExpirationTimestamp
regcontext = AstAccountRegistrationContext
regexten = AstAccountRegistrationExten
notransfer = AstAccountNoTransfer
lastms = AstAccountLastQualifyMilliseconds
additionalFilter=(objectClass=AsteriskIAXUser)

[testfamily]
MyUSERID = uid
additionalFilter=(objectClass=*)

[accounts]
amaflags = AstAccountAMAFlags
callgroup = AstAccountCallGroup
callerid = AstAccountCallerID
directmedia = AstAccountDirectMedia
context = AstAccountContext
dtmfmode = AstAccountDTMFMode
fromuser = AstAccountFromUser
fromdomain = AstAccountFromDomain
fullcontact = AstAccountFullContact
host = AstAccountHost
insecure = AstAccountInsecure
mailbox = AstAccountMailbox
md5secret = AstAccountRealmedPassword
nat = AstAccountNAT
deny = AstAccountDeny
permit = AstAccountPermit
pickupgroup = AstAccountPickupGroup
port = AstAccountPort
qualify = AstAccountQualify
restrictcid = AstAccountRestrictCID
rtptimeout = AstAccountRTPTimeout
rtpholdtimeout = AstAccountRTPHoldTimeout
type = AstAccountType
disallow = AstAccountDisallowedCodec
allow = AstAccountAllowedCodec
MusicOnHold = AstAccountMusicOnHold
regseconds = AstAccountExpirationTimestamp
regcontext = AstAccountRegistrationContext
regexten = AstAccountRegistrationExten
CanCallForward = AstAccountCanCallForward
additionalFilter=(objectClass=AstAccount)

[voicemail]
;context = AstVoicemailContext ; looks like schema defines AstContext as MUST attr
context = AstContext
mailbox = AstVoicemailMailbox
password = AstVoicemailPassword
fullname = AstVoicemailFullname
email = AstVoicemailEmail
pager = AstVoicemailPager
attach = AstVoicemailOptions
;tz = AstVMTZ ; lot of unfound objects ...
;saycid = AstVMSaycid
;dialout = AstVMDialout
;callback = AstVMCallback
;review = AstVMReview
;operator = AstVMOperator
;envelope = AstVMEnvelope
;sayduration = AstVMSayduration
;saydurationm = AstVMSaydurationm
;sendvoicemail = AstVMSendvoicemail
;delete = AstVMDelete
;nextaftercmd = AstVMNextastercmd
;forcename = AstVMForcename
;forcegreetings = AstVMForcegreetings
;hidefromdir = AstVMHidefromdir
stamp = AstVoicemailTimestamp
additionalFilter = (objectClass=AsteriskVoicemail)
