$ModLoad imfile
{% for channel in asterisk_rsyslog_channels %}

$InputFileName		/var/log/asterisk/{{ channel }}.log
$InputFileTag		asterisk-{{ channel }}:
$InputFileStateFile	asterisk-{{ channel }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
