[general]
defaultexpirey=1800
maxexpiry=3600
minexpiry=60

{% if sipregister is defined %}
{% for item in sipregister %}
register => {{ item }}
{% endfor %}
allowexternaldomains=yes
{% endif %}

realm={{ ansible_default_ipv4['address'] }}
context=from-free
allowguest=yes
allowoverlap=dtmf
;realm={{ dirdomain }}
udpbindaddr=0.0.0.0
tcpenable=no
tcpbindaddr=0.0.0.0
tlsenable=no
tlsbindaddr=0.0.0.0
transport=udp
srvlookup=yes
rtcachefriends=yes
rtsavesysname=no
rtupdate=yes
rtautoclear=no
ignoreregexpire=yes
tos_sip=cs3
tos_audio=ef
tos_video=af41
tos_text=af41
cos_sip=3
cos_audio=5
cos_video=4
cos_text=3
t1min=100
timert1=500
timerb=60000
maxforwards=42

[basic-options](!)
        dtmfmode=rfc2833
        context=internal
        type=friend

[natted-phone](!,basic-options)
        directmedia=no
        host=dynamic

[public-phone](!,basic-options)
        directmedia=yes

[my-codecs](!)
        disallow=all
        allow=ilbc
        allow=g729
        allow=gsm
        allow=g723
        allow=ulaw

[ulaw-phone](!)
        disallow=all
        allow=ulaw
