#!/bin/sh

DEST={{ contact }}

checktunnel()
{
    local wan gw locnet remnet attempt{% if carp_definition is not defined %} nic{% endif %} basenet locip remip

    wan=$1
    gw=$2
    locnet=$3
    remnet=$4
    attempt=0
    basenet=`echo $locnet | sed 's|[\.0]*/.*||'`
{% if carp_definition is defined %}
    locip=`netstat -nr | grep "[ \t]$basenet.*carp" | awk 'END{print $2}'`
{% elif vlan_definition is defined %}
    nic=`netstat -nr | grep "[ \t]$basenet[^ \t]*[ \t]*link#.*vlan" | awk 'END{print $8}'`
    locip=`ifconfig $nic | awk '/inet/{print $2}'`
{% else %}
    nic=`netstat -nr | grep "[ \t]$basenet[^ \t]*[ \t]*link#" | awk 'END{print $8}'`
    locip=`ifconfig $nic | awk '/inet/{print $2}'`
{% endif %}
    basenet=`echo $remnet | sed 's|/.*||'`
    eval `echo $basenet | sed 's|\([^\.]*\)\.\([^\.]*\)\.\([^\.]*\)\.\([^\.]*\)\.|basenet=\1.\2.\3. remip=\4|'`
    remip=`expr $remip + 1`
    remip=$basenet$remip
    if test -z "$locip" -o -z "$remip"; then
	return
    fi
    while test $attempt -lt 3
    do
	ping -c 1 -w 3 -S $wan $gw && break
	attempt=`expr $attempt + 1`
	sleep 2
    done >/dev/null 2>&1
    if test $attempt -ge 3; then
	echo "$gw unreachable" >>/tmp/$Prg.report
	return
    fi

    attempt=0
    while test $attempt -lt 3
    do
	ping -c 1 -w 5 -S $locip $remip && break
	attempt=`expr $attempt + 1`
	sleep 2
    done
    if test $attempt -lt 3; then
	return
    fi

    (
	echo "t quick from-$locnet-to-$remnet"
	echo "t main from-$locnet-to-$remnet"
    )>>/var/run/isakmpd.fifo
    ipsecctl -sf | grep $gw | sed 's|/32||g' | ipsecctl -d -f-
    ipsecctl -ss -k | grep -A2 $gw | sed 's|/32||g' | ipsecctl -d -f-
    sleep 2
    pfctl -k $gw -k $wan
    pfctl -k $wan -k $gw
    echo "c from-$locnet-to-$remnet" >>/var/run/isakmpd.fifo
    attempt=0
    while test $attempt -lt 10
    do
	ping -c 1 -w 5 -S $locip $remip && break
	attempt=`expr $attempt + 1`
	sleep 2
    done
    if test $attempt -lt 10; then
	echo "$remnet recovered" >>/tmp/$Prg.report
	return
    fi
    echo "$remnet unable to recover" >>/tmp/$Prg.report
}

{% if carp_definition is defined %}
if test "`ifconfig carp | awk 'BEGIN{c=0}{if ($2 == "MASTER") c = c + 1}END{print c}'`" -lt 2; then
    exit 0
fi

{% endif %}
/usr/local/sbin/ipsec_resync >/dev/null 2>&1
>/tmp/$Prg.report

{% for tunnel in ipsec_tunnels if tunnel['localgw'] is defined and tunnel['remotegw'] is defined and tunnel['localnet'] is defined and tunnel['remotenet'] is defined %}
checktunnel {{ tunnel['localgw'] }} {{ tunnel['remotegw'] }} {{ tunnel['localnet'] }} {{ tunnel['remotenet'] }} &
{% endfor %}

sleep 100
if grep 'unable to recover' /tmp/$Prg.report; then
    SUBJECT='[WARNING] Unable to recover some tunnels'
elif grep 'unreachable' /tmp/$Prg.report; then
    SUBJECT='[ERROR] Unable to reach some gateways'
elif test -s /tmp/$Prg.report; then
    SUBJECT='[REPORT] Succesfully reloaded tunnels'
else
    rm -f /tmp/$Prg.report
    exit 0
fi >/dev/null 2>&1

cat /tmp/$Prg.report | mail -s "$SUBJECT" $DEST
rm -f /tmp/$Prg.report

exit 0
