loc = "{ {{ item['localnet'] }} }"
rem = "{ {{ item['remotenet'] }} }"
ike esp from $loc to $rem \
    local {{ item['localgw'] }} peer {{ item['remotegw'] }} \
    main  auth hmac-{{ item['p1auth'] }} enc {{ item['p1enc'] }} {% if item['p1group'] is defined %}group {{ item['p1group'] }} {% endif %}\
    quick auth hmac-{{ item['p2auth'] }} enc {{ item['p2enc'] }} {% if item['p2group'] is defined %}group {{ item['p2group'] }} {% endif %}\
{% if item['psk'] is defined %}
    psk "{{ item['psk'] }}" \
{% endif %}
    tag q{{ item['name'] }}
