#!/bin/sh

export PATH=/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin

TMPFILE=/tmp/.chkhpraid.$$

cciss_vol_status {{ hpraid_dev }} >$TMPFILE
if ! grep 'status: OK' $TMPFILE >/dev/null; then
    cat $TMPFILE | mail -S '[CRITICAL] HP RAID FAILURE on {{ ansible_fqdn }}' {{ contact }}
fi

rm -f $TMPFILE

exit 0
