#!/usr/bin/perl -w

use strict;
use CGI;
use File::Basename;

my ( $FILENAME, $DIRNAME, $SUFFIX ) = fileparse( $0 );
my $USER = "{{ vmmanager_user }}";
my $SRV_LIST = "$DIRNAME/srv_list.txt";
my $REMOTE_SCRIPT = "{{ vmmanager_root }}/scripts/list_all_vm.pl";
my $HTML_FILE = "{{ vmlist_root }}/index.html";

main();

sub get_content_file
{
    my ( $filename, $tab ) = @_;
    my $line;

    open( FD, "<$filename" ) or die "open: $!";

    while( defined( $line = <FD> ) )
    {
	chomp( $line );
	push( @$tab, $line ) if ( $line !~ /^\s*#/ );
    }
    close( FD );
}

sub set_html_header
{
    my ( $filename ) = @_;
    my $cgi = CGI->new();
    my $date = `date +"%H:%M:%S - %d/%m/%Y"`;
    chomp( $date );

    open( FD, ">>$filename" ) or die ( "open: $!" );
    print FD "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">
    <head>
	<title>{{ keyorg }} Virtual Hosts</title>
	<link rel=\"stylesheet\" type=\"text/css\" href=\"/css/global.css\" />
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />
	<meta http-equiv=\"Refresh\" content=\"300\" />
    </head>
    <body>
	<H2>{{ keyorg }} environements list (last update: $date)</H2>";
close( FD );
}

sub set_html_bottom
{
    my ( $filename ) = @_;
    my $cgi = CGI->new();

    open( FD, ">>$filename" ) or die ( "open: $!" );
    print FD "
    </body>
</html>";
    close( FD );
}

sub display_vm_list
{
    my ( $vm_txt, $srv ) = @_;
    my @vm_list = split( /\n/, $vm_txt );

    print FD "
	<div class=\"col\">
	    <pre>";
    foreach my $vm ( @vm_list )
    {
	print FD "
		<a style=\"text-decoration:none\" href='https://vlist.lvl.intranet/$srv/cgi-bin/vm_manager.cgi#$vm'>$vm</a>";
    }

    print FD "
	    </pre>
	</div>
	<br><br>";
}

sub main
{
    my $cgi = CGI->new();
    my @srv_list = ();
    my $output;
    my $err_code = 0;
    my $errors = "";
    my $lastdomain = "";

    system( "rm -f ${HTML_FILE}.bak" );
    set_html_header( "${HTML_FILE}.bak" );
    get_content_file( $SRV_LIST, \@srv_list );

    open( FD, ">>${HTML_FILE}.bak" ) or die ( "open: $!" );
    foreach ( @srv_list )
    {
	my $srv = $_;
	my @fqdn = split('\.', $srv);
	my $hostname = $fqdn[0];
	my $domain = uc $fqdn[1];
	print "Getting data for $hostname\n";
	if ( $lastdomain ne $domain )
	{
	    print FD $cgi->hr;
	    print FD "
	<H2>$domain</H2><br/>";
	}
	$lastdomain = $domain;
	print FD "
	<H3>Virtual environments hosted on <u><a href=\"https://vlist.lvl.intranet/$hostname/\">$hostname</a></u>:</H3>";

	$output = `ssh -o ConnectTimeout=10 $USER\@$srv "$REMOTE_SCRIPT -a"`;
	if ( $? != 0 )
	{
	    $output = "Unable to connect to $srv";
	    $errors .= "$output\n";
	    $err_code = 1;
	}
	else
	{
	    display_vm_list( $output, $hostname );
	}
    }
    close( FD );

    set_html_bottom( "${HTML_FILE}.bak" );

    system( "mv ${HTML_FILE}.bak ${HTML_FILE}" );
    if ( $err_code == 1 )
    {
	`echo "Unable to reach:\n$errors" | mail -s "[WARNING] VList unable to reach some host servers" {{ contact|replace @ \\@ }}`;
    }

    exit( 0 );
}
