/var/log/snort/*.log /var/log/snort/alert {
    daily
    rotate {{ snort_log_retention }}
    compress
    missingok
    notifempty
    create 0640 {{ snort_user }} {{ gid_adm }}
    sharedscripts
    postrotate
	if test -x /usr/sbin/invoke-rc.d; then \
	    invoke-rc.d snort restart; \
	elif test -x /sbin/service; then \
	    /sbin/service snort restart; \
	else \
	    /etc/init.d/snort restart; \
	fi >/dev/null; 
    endscript
}
