ipvar HOME_NET {{ lan_network }}
ipvar EXTERNAL_NET {{ ext_network }}
ipvar DNS_SERVERS [{% if snort_dns_list %}{{ snort_dns_list }}{% else %}{{ dns_one }},{{ dns_too }}{% endif %}]
ipvar SMTP_SERVERS [{% if snort_smtp_list %}{{ snort_smtp_list }}{% else %}{{ smtp_relay }}{% endif %}]
ipvar HTTP_SERVERS [{{ snort_http_servers }}]
ipvar SQL_SERVERS [{{ snort_sql_servers }}]
ipvar TELNET_SERVERS $HOME_NET
ipvar SSH_SERVERS $HOME_NET
ipvar FTP_SERVERS $HOME_NET
ipvar SIP_SERVERS [{{ snort_sip_servers }}]
ipvar AIM_SERVERS [64.12.24.0/23,64.12.28.0/23,64.12.161.0/24,64.12.163.0/24,64.12.200.0/24,205.188.3.0/24,205.188.5.0/24,205.188.7.0/24,205.188.9.0/24,205.188.153.0/24,205.188.179.0/24,205.188.248.0/24]
{% if mngmttrusted_ip is defined %}
ipvar PUB_IPS [{% for host in mngmttrusted_ip %}{{ host }},{% endfor %}127.0.0.1]
{% endif %}

portvar HTTP_PORTS [80,81,82,83,84,85,86,87,88,89,90,311,383,591,593,631,901,1220,1414,1741,1830,2301,2381,2809,3037,3057,3128,3443,3702,4343,4848,5250,6080,6988,7000,7001,7144,7145,7510,7777,7779,8000,8008,8014,8028,8080,8085,8088,8090,8118,8123,8180,8181,8222,8243,8280,8300,8500,8800,8888,8899,9000,9060,9080,9090,9091,9443,9999,10000,11371,34443,34444,41080,50000,50002,55555] 
portvar SHELLCODE_PORTS !80
portvar ORACLE_PORTS 1024:
portvar SSH_PORTS [{% for port in snort_ssh_ports %}{% if port != 22 %}{{ port }},{% endif %}{% endfor %}22]
portvar FTP_PORTS [21,2100,3535]
portvar SIP_PORTS [5060,5061,5600]
portvar FILE_DATA_PORTS [$HTTP_PORTS,110,143]
portvar GTP_PORTS [2123,2152,3386]

var RULE_PATH {{ snort_conf_dir }}/rules
var SO_RULE_PATH {{ snort_conf_dir }}/so_rules
var PREPROC_RULE_PATH {{ snort_conf_dir }}/preproc_rules

config daq: pcap
config daq_mode: passive
config daq_dir: {{ snort_daq_dir }}
config disable_decode_alerts
config disable_tcpopt_experimental_alerts
config disable_tcpopt_obsolete_alerts
config disable_tcpopt_ttcp_alerts
config disable_tcpopt_alerts
config disable_ipopt_alerts
config enable_decode_oversized_alerts
config checksum_mode: all
config checksum_drop: all
config logdir: {{ snort_log_dir }}
config set_gid: {{ snort_user }}
config set_uid: {{ snort_group }}
config snaplen: 1500
config pcre_match_limit: 3500
config pcre_match_limit_recursion: 1500
config detection: search-method ac-split search-optimize max-pattern-len 20
config event_queue: max_queue 8 log 5 order_events content_length
config ppm: max-pkt-time 250, fastpath-expensive-packets, pkt-log
config ppm: max-rule-time 200, threshold 3, suspend-expensive-rules, suspend-timeout 20, rule-log alert
config paf_max: 16000
config profile_rules: filename profile.rules
config profile_preprocs: filename profile.preprocs

dynamicpreprocessor directory {{ snort_lib_dir }}/snort_dynamicpreprocessor/
dynamicengine {{ snort_lib_dir }}/snort_dynamicengine/libsf_engine.so
dynamicdetection directory {{ snort_lib_dir }}/snort_dynamicrules

preprocessor arpspoof: -unicast
preprocessor normalize_ip4
preprocessor normalize_tcp: ips ecn stream
preprocessor normalize_icmp4
preprocessor reputation: memcap 500, priority whitelist, nested_ip both, whitelist $RULE_PATH/white_list.rules, blacklist $RULE_PATH/black_list.rules 
preprocessor frag3_global: max_frags 65536
preprocessor frag3_engine: policy windows detect_anomalies overlap_limit 10 min_fragment_length 100 timeout 180
preprocessor stream5_global: track_tcp yes, track_udp yes, track_icmp no, max_tcp 65536, max_udp 32768, memcap 69632, max_active_responses 2, min_response_seconds 5
preprocessor stream5_tcp: policy windows, dont_store_large_packets, detect_anomalies, require_3whs 180, overlap_limit 10, small_segments 3 bytes 150, timeout 180, \
    ports server 21 22 23 25 53 80 110 111 135 136 137 139 143 443 465 513 514 993 995 1664 1668 3000 3306 8000 8080
preprocessor stream5_udp: timeout 180
preprocessor perfmonitor: time 300 file {{ snort_log_dir }}/snort.stats pktcnt 50000
preprocessor ftp_telnet: global inspection_type stateful encrypted_traffic no check_encrypted
preprocessor ftp_telnet_protocol: telnet ayt_attack_thresh 20 normalize ports { 23 } detect_anomalies
preprocessor ftp_telnet_protocol: ftp server default def_max_param_len 100 ports { 21 }
preprocessor ftp_telnet_protocol: ftp client default max_resp_len 256 bounce yes ignore_telnet_erase_cmds yes telnet_cmds yes
preprocessor sfportscan: proto  { all } scan_type { all } memcap { 10000000 }{% if mngmttrusted_ip is defined %} ignore_scanners { $PUB_IPS }{% endif %} sense_level { low }
preprocessor dns: ports { 53 } enable_rdata_overflow
preprocessor rpc_decode: no_alert_multiple_requests no_alert_large_fragments no_alert_incomplete
preprocessor dcerpc2: disabled
preprocessor dnp3: disabled
#preprocessor modbus: ports { 502 }
preprocessor sip: max_sessions 40000, ports { 5060 5061 5600 }, max_uri_len 512, max_call_id_len 80, max_requestName_len 20, max_from_len 256, max_to_len 256, max_via_len 1024, max_contact_len 512, max_content_len 2048, \
   methods { invite cancel ack bye register options refer subscribe update join info message notify benotify do qauth sprack publish service unsubscribe prack }
preprocessor ssh: server_ports { {% for port in snort_ssh_ports %}{% if port != 22 %}{{ port }} {% endif %}{% endfor %}22 } max_client_bytes 19600 max_encrypted_packets 20 max_server_version_len 100 enable_respoverflow enable_ssh1crc32
preprocessor ssl: ports { 443 465 563 636 989 992 993 994 995 }, trustservers, noinspect_encrypted
preprocessor http_inspect: global iis_unicode_map unicode.map 1252 compress_depth 16384 decompress_depth 16384
preprocessor http_inspect_server: server default enable_cookie normalize_utf apache_whitespace no ascii no bare_byte no directory no double_decode no iis_backslash no iis_delimiter no iis_unicode no multi_slash no utf_8 no u_encode yes webroot no chunk_length 500000 server_flow_depth 512 client_flow_depth 512 post_depth 512 oversize_dir_length 500 max_header_length 750 max_headers 100 max_spaces 200 \
    http_methods { GET POST PUT SEARCH MKCOL COPY MOVE LOCK UNLOCK NOTIFY POLL LINK UNLINK OPTIONS HEAD DELETE TRACE TRACK CONNECT } ports { 80 3000 8000 8080 } non_rfc_char { 0x00 0x01 0x02 0x03 0x04 0x05 0x06 0x07 } small_chunk_length { 10 5 }
preprocessor smtp: ports { 25 465 587 691 } inspection_type stateful log_mailfrom log_rcptto log_email_hdrs normalize cmds xlink2state { disabled } max_command_line_len 512 max_header_line_len 1000 max_response_line_len 512 \
    normalize_cmds { AUTH DEBUG EHLO HELO IDENT RCOT VRFY STARTTLS HELP ETRN SEND XAUTH } alt_max_command_line_len 260 { MAIL } alt_max_command_line_len 300 { RCPT } alt_max_command_line_len 500 { HELP HELO ETRN EHLO } alt_max_command_line_len 255 { EXPN VRFY DEBUG } alt_max_command_line_len 246 { SEND AUTH ETRN DATA STARTTLS XAUTH } valid_cmds { ATRN AUTH CHUNKING DATA DEBUG EHLO ESND ETRN EVFY EXPN HELO HELP IDENT MAIL QUIT RCPT RSET SEND STARTTLS TIME VRFY XAUTH }
preprocessor pop: ports { 110 } b64_decode_depth 0 qp_decode_depth 0 bitenc_decode_depth 0 uu_decode_depth 0
preprocessor imap: ports { 143 } b64_decode_depth 0 qp_decode_depth 0 bitenc_decode_depth 0 uu_decode_depth 0
preprocessor sensitive_data: alert_threshold 20

output unified2: filename unified.log, limit 256, vlan_event_types
output alert_syslog: LOG_AUTHPRIV LOG_ALERT

include classification.config
include reference.config
include $RULE_PATH/local.rules
include $RULE_PATH/community.rules
include $RULE_PATH/app-detect.rules
{% if snort_complete %}
include $RULE_PATH/attack-responses.rules
include $RULE_PATH/backdoor.rules
include $RULE_PATH/bad-traffic.rules
{% endif %}
include $RULE_PATH/blacklist.rules
{% if snort_complete %}
include $RULE_PATH/botnet-cnc.rules
{% endif %}
include $RULE_PATH/browser-chrome.rules
include $RULE_PATH/browser-firefox.rules
include $RULE_PATH/browser-ie.rules
include $RULE_PATH/browser-other.rules
include $RULE_PATH/browser-plugins.rules
include $RULE_PATH/browser-webkit.rules
{% if snort_complete %}
include $RULE_PATH/chat.rules
{% endif %}
include $RULE_PATH/content-replace.rules
{% if snort_complete %}
include $RULE_PATH/ddos.rules
include $RULE_PATH/dns.rules
include $RULE_PATH/dos.rules
include $RULE_PATH/experimental.rules
{% endif %}
include $RULE_PATH/exploit-kit.rules
{% if snort_complete %}
include $RULE_PATH/exploit.rules
{% endif %}
include $RULE_PATH/file-executable.rules
include $RULE_PATH/file-flash.rules
include $RULE_PATH/file-identify.rules
include $RULE_PATH/file-image.rules
include $RULE_PATH/file-java.rules
include $RULE_PATH/file-multimedia.rules
include $RULE_PATH/file-office.rules
include $RULE_PATH/file-other.rules
include $RULE_PATH/file-pdf.rules
{% if snort_complete %}
include $RULE_PATH/finger.rules
include $RULE_PATH/ftp.rules
include $RULE_PATH/icmp-info.rules
include $RULE_PATH/icmp.rules
include $RULE_PATH/imap.rules
{% endif %}
include $RULE_PATH/indicator-compromise.rules
include $RULE_PATH/indicator-obfuscation.rules
include $RULE_PATH/indicator-scan.rules
include $RULE_PATH/indicator-shellcode.rules
{% if snort_complete %}
include $RULE_PATH/info.rules
{% endif %}
include $RULE_PATH/malware-backdoor.rules
include $RULE_PATH/malware-cnc.rules
include $RULE_PATH/malware-other.rules
include $RULE_PATH/malware-tools.rules
{% if snort_complete %}
include $RULE_PATH/misc.rules
include $RULE_PATH/multimedia.rules
include $RULE_PATH/mysql.rules
{% endif %}
include $RULE_PATH/netbios.rules
{% if snort_complete %}
include $RULE_PATH/nntp.rules
include $RULE_PATH/oracle.rules
{% endif %}
include $RULE_PATH/os-linux.rules
include $RULE_PATH/os-mobile.rules
include $RULE_PATH/os-other.rules
include $RULE_PATH/os-solaris.rules
include $RULE_PATH/os-windows.rules
{% if snort_complete %}
include $RULE_PATH/other-ids.rules
include $RULE_PATH/p2p.rules
include $RULE_PATH/phishing-spam.rules
{% endif %}
include $RULE_PATH/policy-multimedia.rules
include $RULE_PATH/policy-other.rules
include $RULE_PATH/policy-social.rules
include $RULE_PATH/policy-spam.rules
{% if snort_complete %}
include $RULE_PATH/pop2.rules
include $RULE_PATH/pop3.rules
{% endif %}
include $RULE_PATH/protocol-dns.rules
include $RULE_PATH/protocol-finger.rules
include $RULE_PATH/protocol-ftp.rules
include $RULE_PATH/protocol-icmp.rules
include $RULE_PATH/protocol-imap.rules
include $RULE_PATH/protocol-nntp.rules
include $RULE_PATH/protocol-pop.rules
include $RULE_PATH/protocol-rpc.rules
include $RULE_PATH/protocol-scada.rules
include $RULE_PATH/protocol-services.rules
include $RULE_PATH/protocol-snmp.rules
include $RULE_PATH/protocol-telnet.rules
include $RULE_PATH/protocol-tftp.rules
include $RULE_PATH/protocol-voip.rules
include $RULE_PATH/pua-adware.rules
include $RULE_PATH/pua-other.rules
include $RULE_PATH/pua-p2p.rules
include $RULE_PATH/pua-toolbars.rules
{% if snort_complete %}
include $RULE_PATH/rpc.rules
include $RULE_PATH/rservices.rules
include $RULE_PATH/scada.rules
include $RULE_PATH/scan.rules
{% endif %}
include $RULE_PATH/server-apache.rules
include $RULE_PATH/server-iis.rules
include $RULE_PATH/server-mail.rules
include $RULE_PATH/server-mssql.rules
include $RULE_PATH/server-mysql.rules
include $RULE_PATH/server-oracle.rules
include $RULE_PATH/server-other.rules
include $RULE_PATH/server-samba.rules
include $RULE_PATH/server-webapp.rules
{% if snort_complete %}
include $RULE_PATH/shellcode.rules
include $RULE_PATH/smtp.rules
include $RULE_PATH/snmp.rules
include $RULE_PATH/specific-threats.rules
include $RULE_PATH/spyware-put.rules
{% endif %}
include $RULE_PATH/sql.rules
{% if snort_complete %}
include $RULE_PATH/telnet.rules
include $RULE_PATH/tftp.rules
include $RULE_PATH/virus.rules
include $RULE_PATH/voip.rules
include $RULE_PATH/web-activex.rules
include $RULE_PATH/web-attacks.rules
include $RULE_PATH/web-cgi.rules
include $RULE_PATH/web-client.rules
include $RULE_PATH/web-coldfusion.rules
include $RULE_PATH/web-frontpage.rules
include $RULE_PATH/web-iis.rules
include $RULE_PATH/web-misc.rules
include $RULE_PATH/web-php.rules
{% endif %}
include $RULE_PATH/x11.rules
include $PREPROC_RULE_PATH/preprocessor.rules
include $PREPROC_RULE_PATH/decoder.rules
include $PREPROC_RULE_PATH/sensitive-data.rules
include $SO_RULE_PATH/bad-traffic.rules
include $SO_RULE_PATH/chat.rules
include $SO_RULE_PATH/dos.rules
include $SO_RULE_PATH/exploit.rules
include $SO_RULE_PATH/icmp.rules
include $SO_RULE_PATH/imap.rules
include $SO_RULE_PATH/misc.rules
include $SO_RULE_PATH/multimedia.rules
include $SO_RULE_PATH/netbios.rules
include $SO_RULE_PATH/nntp.rules
include $SO_RULE_PATH/p2p.rules
include $SO_RULE_PATH/smtp.rules
include $SO_RULE_PATH/snmp.rules
include $SO_RULE_PATH/specific-threats.rules
include $SO_RULE_PATH/web-activex.rules
include $SO_RULE_PATH/web-client.rules
include $SO_RULE_PATH/web-iis.rules
include $SO_RULE_PATH/web-misc.rules
include threshold.conf
