#!/bin/sh

export PATH=/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin

if test -s /var/run/snort_*.pid; then
    pid=`cat /var/run/snort_*.pid`
    if ! ps ax | grep "^[ 	]*$pid[ 	]"; then
{% if ansible_system == "Linux" %}
	service snort restart
{% else %}
	/etc/rc.d/snort restart
{% endif %}
    fi
else
{% if ansible_system == "Linux" %}
    service snort restart
{% else %}
    /etc/rc.d/snort restart
{% endif %}
fi

exit 0
