PIDFILE=/var/run/unbound/unbound.pid
RESOLVCONF=false
RESOLVCONF_FORWARDERS=true
ROOT_TRUST_ANCHOR_FILE={{ unbound_homedir }}/root.key
ROOT_TRUST_ANCHOR_UPDATE=true
UNBOUND_ENABLE=true

if ! test -d /var/run/unbound; then
    mkdir -p /var/run/unbound
    chown {{ unbound_user }}:{{ unbound_group }} /var/run/unbound
fi
