server:
{% if unbound_opencache == true %}
    access-control:			0.0.0.0/0 allow
{% else %}
    access-control:			0.0.0.0/0 deny
{% for acl in unbound_acl %}
    access-control:			{{ acl }} allow
{% endfor %}
{% endif %}
    add-holddown:			2592000
    auto-trust-anchor-file:		"{{ unbound_homedir }}/root.key"
    cache-max-ttl:			86400
    cache-min-ttl:			3600
    chroot:				""
    del-holddown:			2592000
    directory:				"{{ unbound_conf_dir }}"
{% if unbound_dnssec == true %}
    dlv-anchor-file:			"{{ unbound_homedir }}/dlv.isc.org.key"
{% endif %}
    do-daemonize:			yes
    do-ip4:				yes
    do-ip6:				no
    do-not-query-address:		127.0.0.0/8
    do-not-query-address:		::1
    do-not-query-localhost:		yes
    edns-buffer-size:			4096
    extended-statistics:		yes
{% if unbound_dnssec == true %}
    harden-dnssec-stripped:		yes
{% endif %}
    harden-glue:			yes
    harden-large-queries:		yes
    harden-referral-path:		no
    harden-short-bufsize:		no
    hide-identity:			yes
    hide-version:			yes
    identity:				""
{% if unbound_liar == true %}
    include:				"{{ unbound_conf_dir }}/blocklist.conf"
{% endif %}
    incoming-num-tcp:			10
    infra-cache-lame-size:		10k
    infra-cache-numhosts:		10000
    infra-cache-slabs:			4
    infra-host-ttl:			900
    infra-lame-ttl:			900
    interface:				0.0.0.0
    interface-automatic:		no
    jostle-timeout:			200
    keep-missing:			31622400
    key-cache-size:			4m
    key-cache-slabs:			4
{% if unbound_localzones is defined %}
{% for zone in unbound_localzones %}
    local-zone:				"{{ zone }}" nodefault
{% endfor %}
{% endif %}
    log-time-ascii:			yes
    logfile:				""
    module-config:			"{% if unbound_dnssec %}validator {% endif %}iterator"
    msg-buffer-size:			65552
    msg-cache-size:			4m
    msg-cache-slabs:			4
    neg-cache-size:			1m
    num-queries-per-thread:		1024
    num-threads:			1
    outgoing-interface:			{{ ansible_default_ipv4["address"] }}
    outgoing-num-tcp:			10
    outgoing-port-avoid:		"3200-3208,25345"
    outgoing-port-permit:		32768
    outgoing-range:			4096
    pidfile:				"/var/run/unbound/unbound.pid"
    port:				53
    prefetch:				no
    prefetch-key:			no
    private-domain:			"{{ dirdomain }}"
    root-hints:				"{{ unbound_homedir }}/root.hint"
    rrset-cache-size:			4m
    rrset-cache-slabs:			4
    so-rcvbuf:				0
    statistics-interval:		0
    statistics-cumulative:		no
    target-fetch-policy:		"3 2 1 0 0"
{% if unbound_trustds != false %}
    trust-anchor:			"{{ unbound_trustds }}"
{% endif %}
    unwanted-reply-threshold:		10000000
    use-caps-for-id:			yes
    use-syslog:				yes
    username:				"{{ unbound_user }}"
    val-bogus-ttl:			60
    val-clean-additional:		yes
    val-log-level:			0
    val-nsec3-keysize-iterations:	"1024 150 2048 500 4096 2500"
    val-permissive-mode:		no
    val-sig-skew-max:			86400
    val-sig-skew-min:			3600
    verbosity:				1
    version:				""
{% if unbound_remotectl == true %}

remote-control:
    control-cert-file:			"{{ unbound_conf_dir }}/unbound_control.pem"
    control-enable:			yes
    control-interface:			127.0.0.1
    control-key-file:			"{{ unbound_conf_dir }}/unbound_control.key"
    control-port:			953
    server-cert-file:			"{{ unbound_conf_dir }}/unbound_server.pem"
    server-key-file:			"{{ unbound_conf_dir }}/unbound_server.key"
{% endif %}
{% if unbound_upstream != false %}
{% for upstream in unbound_upstream %}

forward-zone:
    name:				"{{ upstream }}"
{% for addr in unbound_upstream[upstream] %}
    forward-addr:			{{ addr }}
{% endfor %}
{% endfor %}
{% endif %}
