#!/bin/sh

cd {{ pydio_lib_dir }}/data
for share_root in files personal/*
do
    find $share_root -exec chown {{ apache_runtime_user }}:{{ apache_runtime_group }} {} \;
    find $share_root -type f -exec chmod 0644 {} \;
    find $share_root -type d -exec chmod 0755 {} \;
done

exit 0
