auto lo
iface lo inet loopback
{% set netmask = "255.255.255.255" %}
{% if iface_definition is defined %}
{% for iface in iface_definition %}
{% if iface['ifname'] != "lo" %}

auto {{ iface['ifname'] }}
{% if iface['ip'] is defined %}
iface {{ iface['ifname'] }} inet static
    address {{ iface['ip'] }}
{% if iface['netmask'] is defined %}
{% set netmask = iface['netmask'] %}
{% else %}
{% set netmask = "255.255.0.0" %}
{% endif %}
    netmask {{ netmask }}
{% if iface['gw'] is defined and netmask != "255.255.255.255" %}
    gateway {{ iface['gw'] }}
{% endif %}
{% else %}
iface {{ iface['ifname'] }} inet manual
{% endif %}
{% if iface['mtu'] is defined %}
    mtu {{ iface['mtu'] }}
{% endif %}
{% if iface['bridgeon'] is defined %}
    bridge_interface {{ iface['bridgeon'] }}
    bridge_stp off
    bridge_fd 0
{% endif %}
{% if iface['bondon'] is defined %}
{% if iface['bondmode'] is defined %}
{% set bondmode = iface['bondmode'] %}
{% else %}
{% set bondmode = "active-backup" %}
{% endif %}
{% if iface['bondprimary'] is defined %}
{% set bondprim = iface['bondprimary'] %}
{% else %}
{% set bondprim = iface['bondon'][0] %}
{% endif %}
    bond-slaves{% for nic in iface['bondon'] %} {{ nic }}{% endfor %}

    bond_mode {{ bondmode }}
    bond_primary {{ bondprim }}
    bond_miimon 100
    bond_updelay 200
    bond_downdelay 200
{% endif %}
{% if iface['routefor'] is defined %}
{% for route in iface['routefor'] %}
{% if iface['gw'] is not defined %}
    post-up /sbin/route add -net {{ route }}
    pre-down /sbin/route del -net {{ route }}
{% elif netmask != "255.255.255.255" %}
    post-up /sbin/route add {{ route }} {{ iface['gw'] }}
    pre-down /sbin/route del {{ route }} {{ iface['gw'] }}
{% else %}
    post-up /sbin/route add {{ route }} dev {{ iface['ifname'] }}
{% if route == iface['gw'] %}
    post-up /sbin/route add default gw {{ route }}
    pre-down /sbin/route del default gw {{ route }}
{% endif %}
    pre-down /sbin/route del {{ route }} dev {{ iface['ifname'] }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% if iface['ipalias'] is defined %}
{% set cpt = 0 %}
{% for host in iface['ipalias'] %}

auto {{ iface['ifname'] }}:{{ cpt }}
iface {{ iface['ifname'] }}:{{ cpt }} inet static
    address {{ host }}
    netmask {{ netmask }}
{% set cpt = cpt + 1 %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if gre_definition is defined %}
{% for tunnel in gre_definition %}
{% if tunnel['itip'] is defined and tunnel['itremote'] is defined and tunnel['otip'] is defined and tunnel['otremote'] is defined %}
{% if tunnel['itnetmask'] is defined %}
{% set itmask = tunnel['itnetmask'] %}
{% else %}
{% set itmask = "255.255.255.255" %}
{% endif %}

auto {{ tunnel['ifname'] }}
iface {{ tunnel['ifname'] }} inet static
    address {{ tunnel['itip'] }}
    netmask {{ itmask }}
    up ifconfig {{ tunnel['ifname'] }} multicast
    pre-up iptunnel add {{ tunnel['ifname'] }} mode gre remote {{ tunnel['otremote'] }} local {{ tunnel['otip'] }} ttl 255
    pointopoint {{ tunnel['itremote'] }}
    post-down iptunnel del {{ tunnel['ifname'] }}
{% endif %}
{% endfor %}
{% endif %}
