{% if carp_definition is defined %}
{% set iface_source = carp_definition %}
{% elif vlan_definition is defined %}
{% set iface_source = vlan_definition %}
{% elif iface_definition is defined %}
{% set iface_source = iface_definition %}
{% endif %}
{% for nic in iface_source %}
{% if nic['gw'] is defined and found is not defined %}
{% set found = true %}
{% if ospf_areas is defined %}
{% set prio = " -priority 56" %}
{% else %}
{% set prio = "" %}
{% endif %}
{{ nic['gw'] }}{{ prio }}
{% endif %}
{% endfor %}
