{% if item['ip'] is defined %}
{% if item['netmask'] is defined %}
{% set netmask = item['netmask'] %}
{% else %}
{% set netmask = "255.255.0.0" %}
{% endif %}
{% if item['broadcast'] is defined %}
{% set broadcast = " " ~ item['broadcast'] %}
{% else %}
{% set broadcast = "" %}
{% endif %}
{% set sttif = "inet " ~ item['ip'] ~ " " ~ netmask ~ broadcast %}
{% else %}
{% set sttif = "up" %}
{% endif %}
{% if item['ifname'] is defined and item['vid'] is defined %}
{% set specif = " vlan " ~ item['vid'] ~ " vlandev " ~ item['ifname'] %}
{% elif item['ifname'] is defined and item['vhid'] is defined %}
{% if item['advbase'] is defined %}
{% set advbase = " advbase " ~ item['advbase'] %}
{% elif carp_advbase is defined %}
{% set advbase = " advbase " ~ carp_advbase %}
{% else %}
{% set advbase = "" %}
{% endif %}
{% if item['advskew'] is defined %}
{% set advskew = " advskew " ~ item['advskew'] %}
{% elif carp_advskew is defined %}
{% set advskew = " advskew " ~ carp_advskew %}
{% else %}
{% set advskew = " advskew 100" %}
{% endif %}
{% if carp_passprefix is defined %}
{% set carppass = "pass " ~ carp_passprefix ~ item['ifname'] %}
{% else %}
{% set carppass = "pass ansiblecarppass" ~ item['ifname'] %}
{% endif %}
{% set dev = " carpdev " ~ item['ifname'] %}
{% set specif = " vhid " ~ item['vhid'] ~ advbase ~ advskew ~ dev ~ carppass %}
{% else %}
{% set specif = "" %}
{% endif %}
{% if item['mtu'] is defined %}
{% set mtu = " mtu " ~ item['mtu'] %}
{% else %}
{% set mtu = "" %}
{% endif %}
{{ sttif }}{{ specif }}{{ mtu }}
{% if item['ipalias'] is defined and netmask is defined %}
{% for host in item['ipalias'] %}
inet alias {{ host }} {{ netmask }}
{% endfor %}
{% endif %}
{% if item['routefor'] is defined %}
{% for route in item['routefor'] %}
{% if item['gw'] is defined and (netmask is not defined or netmask != "255.255.255.255") %}
!route add {{ route }} {{ item['gw'] }}
{% elif item['vid'] is defined %}
!route add {{ route }} -link -iface vlan{{ item['vid'] }}
{% else %}
!route add {{ route }} -link -iface {{ item['ifname'] }}
{% endif %}
{% endfor %}
{% endif %}
{% if i_strongly_believe_ipv6_would_die_before_ipv4 is defined %}
-inet6
{% endif %}
{% if item['rdomain'] is defined %}
rdomain {{ item['rdomain'] }}
{% endif %}
