{% if item['itip'] is defined and item['otip'] is defined and item['itremote'] is defined and item['otremote'] is defined %}
{% if item['itnetmask'] is defined %}
{% set netmask = item['itnetmask'] %}
{% else %}
{% set netmask = "255.255.255.255" %}
{% endif %}
{{ item['itip'] }} {{ item['itremote'] }} netmask {{ netmask }} link0 up
tunnel {{ item['otip'] }} {{ item['otremote'] }}
{% endif %}
{% if i_strongly_believe_ipv6_would_die_before_ipv4 is defined %}
-inet6
{% endif %}
