{% if igmpproxy_quickleave == true %}
quickleave
{% endif %}
{% for nic in ansible_interfaces %}
{% if nic in igmpproxy_downstream %}
phyint {{ nic }} downstream
{% elif nic == igmpproxy_upstream %}
phyint {{ nic }} upstream
{% if igmpproxy_upstream_altnet is defined %}
    altnet {{ igmpproxy_upstream_altnet }}
{% endif %}
{% else %}
phyint {{ nic }} disabled
{% endif %}
{% endfor %}
