{% if webtrusted_ip is defined %}
{% for remote in webtrusted_ip %}
Allow from	{{ remote }}
{% endfor %}
{% endif %}
{% if lan_network != "any" %}
Allow from	{{ lan_network }}
{% endif %}
Allow from	127.0.0.1
