ServerRoot		{{ apache_conf_dir }}
ServerName		{{ ansible_fqdn }}
ServerAdmin		{{ contact }}
ServerTokens		Minimal
ServerSignature		On
{% if ansible_distribution != "CentOS" and ansible_distribution != "RedHat" %}
LockFile		{{ apache_lock_dir }}/accept.lock
{% endif %}
Timeout			{{ apache_timeout }}
KeepAliveTimeout	{{ apache_keepalive_timeout }}
KeepAlive		{% if apache_keepalive %}On{% else %}Off{% endif %}

{% if ansible_distribution != "CentOS" and ansible_distribution != "RedHat" %}
Include			{{ apache_conf_dir }}/mods-enabled/*.load
Include			{{ apache_conf_dir }}/mods-enabled/*.conf
{% else %}
Include			mods-enabled/*.load
Include			mods-enabled/*.conf
{% endif %}

HostnameLookups		Off
User			{{ apache_runtime_user }}
Group			{{ apache_runtime_group }}
{% if syslog_ip and no_rsyslog is defined %}
ErrorLog		syslog:local1
{% else %}
ErrorLog		{{ apache_log_dir }}/error.log
{% endif %}
LogLevel		warn
AccessFileName		.htaccess
TraceEnable		off

<Files ~ "^\.ht">
    Order		allow,deny
    Deny from		all
</Files>
<FilesMatch "\.shtml(\..+)?$">
    SetOutputFilter	INCLUDES
</FilesMatch>

<IfModule mod_log_config.c>
{% if mod_forensic %}
    LogFormat		"%{forensic-id}n %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""	combined
    LogFormat		"%{forensic-id}n %h %l %u %t \"%r\" %>s %b"					common
    LogFormat		"%{forensic-id}n %h %l %u %t %v %r %>s %b"					proxy
{% else %}
    LogFormat		"%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""	combined
    LogFormat		"%h %l %u %t \"%r\" %>s %b"					common
    LogFormat		"%h %l %u %t %v %r %>s %b"					proxy
{% endif %}
    LogFormat		"%{Referer}i -> %U"		referer
    LogFormat           "%{User-agent}i"		agent
{% if apache_is_proxy == true %}
    CustomLog		{{ apache_log_dir }}/proxy.log	proxy
{% else %}
    CustomLog		{{ apache_log_dir }}/access.log	common
    CustomLog		{{ apache_log_dir }}/other_vhosts_access.log combined
{% endif %}
</IfModule>
<IfModule perchild.c>
    NumServers		{{ apache_tunings_perchild_numservers }}
    StartThreads	{{ apache_tunings_perchild_startthreads }}
    MinSpareThreads	{{ apache_tunings_perchild_minsparethreads }}
    MaxSpareThreads	{{ apache_tunings_perchild_maxsparethreads }}
    MaxThreadsPerChild	{{ apache_tunings_perchild_maxthreadsperchild }}
    MaxRequestsPerChild	{{ apache_tunings_maxrequestsperchild }}
    AcceptMutex		fcntl
</IfModule>
<IfModule prefork.c>
    StartServers	{{ apache_tunings_prefork_numservers }}
    MinSpareServers	{{ apache_tunings_prefork_minspareservers }}
    MaxSpareServers	{{ apache_tunings_prefork_maxspareservers }}
    MaxClients		{{ apache_tunings_prefork_maxclients }}
    MaxRequestsPerChild	{{ apache_tunings_maxrequestsperchild }}
</IfModule>
<IfModule worker.c>
    StartServers	{{ apache_tunings_worker_numservers }}
    MaxClients		{{ apache_tunings_worker_maxclients }}
    MinSpareThreads	{{ apache_tunings_worker_maxsparethreads }}
    MaxSpareThreads	{{ apache_tunings_worker_minsparethreads }}
    ThreadsPerChild	{{ apache_tunings_worker_threadsperchild }}
    MaxRequestsPerChild	{{ apache_tunings_maxrequestsperchild }}
</IfModule>

{% if ansible_distribution != "CentOS" and ansible_distribution != "RedHat" %}
Include                 {{ apache_conf_dir }}/ports.conf
Include                 {{ apache_conf_dir }}/conf.d/*.conf
Include                 {{ apache_conf_dir }}/sites-enabled/*
{% else %}
Include                 ports.conf
Include                 conf.d/*.conf
Include                 sites-enabled/*
{% endif %}
