{{ apache_log_dir }}/*log {
    daily
    delaycompress
    missingok
    notifempty
    rotate {{ apache_log_retention }}
    sharedscripts
    postrotate
	{{ service_bin }} {% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}httpd{% else %}apache2{% endif %} restart >/dev/null 2>&1 || true
    endscript
}
