Listen {{ http_port }}
NameVirtualHost *:{{ http_port }}
{% if use_https %}
<IfModule mod_ssl.c>
    Listen {{ https_port }}
    NameVirtualHost *:{{ https_port }}
</IfModule>
<IfModule mod_gnutls.c>
    Listen {{ https_port }}
    NameVirtualHost *:{{ https_port }}
</IfModule>
{% endif %}
