$ModLoad imfile

$InputFileName		{{ apache_log_dir }}/error.log
$InputFileTag		apache-error:
$InputFileStateFile	apache-error
$InputFileSeverity	error
$InputFileFacility	local7
$InputRunFileMonitor

{% if apache_is_proxy %}
$InputFileName		{{ apache_log_dir }}/proxy.log
$InputFileTag		apache-proxy:
$InputFileStateFile	apache-proxy
{% else %}
$InputFileName		{{ apache_log_dir }}/access.log
$InputFileTag		apache-access:
$InputFileStateFile	apache-access
{% endif %}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
