<IfModule mod_ssl.c>
    AddType		application/x-509-ca-cert	.crt
    AddType		application/x-pkcs7-crl		.crl
    SSLCipherSuite					ECDH-RSA-AES128-SHA256:RC4-SHA:HIGH:!ADH:!MD5:!aNULL:!EDH
    SSLHonorCipherOrder					On
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
    SSLMutex						file:${APACHE_RUN_DIR}/ssl_mutex
{% endif %}
    SSLPassPhraseDialog					builtin
    SSLProtocol						-ALL +SSLv3 +TLSv1
# requires update (still security? RC4 has long been corrupted yet)
#   SSLProtocol						-ALL +SSLv3 +TLSv1.1 +TLSv1.2
    SSLSessionCache					shmcb:${APACHE_RUN_DIR}/ssl_scache(512000)
    SSLSessionCacheTimeout				300
    SSLRandomSeed	startup				builtin
    SSLRandomSeed	startup				file:{{ random_source }} 512
    SSLRandomSeed	connect				builtin
    SSLRandomSeed	connect				file:{{ random_source }} 512
</IfModule>
