<IfModule mod_status.c>
    ExtendedStatus		On

    <VirtualHost *:{{ http_port }}>
	ServerName		localhost

	<Location /server-status>
	    Allow from		127.0.0.1
	    Deny from		all
	    Order		deny,allow
	    SetHandler		server-status
	</Location>

	<IfModule mod_proxy.c>
	    ProxyStatus		On
	</IfModule>

	<IfModule mod_php.c>
	    DocumentRoot	/var/www
	    <Location />
		Allow from	127.0.0.1
		Deny from	all
	    </Location>
	</IfModule>
    </VirtualHost>
</IfModule>
