<VirtualHost *:{{ http_port }}>
    ServerAdmin				{{ contact }}
    ServerName				{{ server_name }}
    ServerAlias				{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias				{{ server_name }}.{{ ansible_domain }}
{% endif %}
{% if vhost_alias is defined %}
    ServerAlias		{{ vhost_alias }}
{% endif %}
    Loglevel				warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog				"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog				"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog				syslog:local1
{% else %}
    CustomLog				{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog				{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    DocumentRoot			{{ apache_serverroot }}/moin
    RewriteEngine			On
    RewriteRule	^/$			http://{{ server_name }}.{{ ansible_domain }}/Wiki
    ScriptAlias	/Wiki			{{ apache_serverroot }}/moin/wiki/moin.cgi
    ScriptAlias	/cgi-bin/		/usr/lib/cgi-bin/
    Alias	/wiki			/usr/share/moin/htdocs/
    Alias	/moin_static194/	/usr/share/moin/htdocs/
    <Directory />
	Options			-FollowSymLinks
	AllowOverride		None
    </Directory>
    <Directory {{ apache_serverroot }}/moin>
	Options			FollowSymLinks MultiViews
	AllowOverride		None
	Order			allow,deny
	Allow from		all
    </Directory>
    <Directory /usr/lib/cgi-bin>
	AllowOverride		None
	Options			+ExecCGI -MultiViews +SymLinksIfOwnerMatch
	Order			allow,deny
	Allow from		all
    </Directory>
</VirtualHost>
