<VirtualHost *:{{ http_port }}>
    ServerAdmin							{{ contact }}
    ServerName							{{ server_name }}
    ServerAlias							{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias							{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel							warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog							"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog							"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog							syslog:local1
{% else %}
    CustomLog							{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog							{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    RedirectMatch	permanent (.*)				https://vlist.{{ dirdomain }}/{{ server_name }}/
</VirtualHost>
{% if vlist_upstream is defined %}
Listen *:8443
<VirtualHost *:8443>
    ServerAdmin							{{ contact }}
    ServerName							{{ server_name }}
    ServerAlias							{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias							{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel							warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog							"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog							"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog							syslog:local1
{% else %}
    CustomLog							{{ apache_log_dir }}/ssl-{{ server_name }}.log common
    ErrorLog							{{ apache_log_dir }}/ssl-error-{{ server_name }}.log
{% endif %}
    SSLEngine							On
    SSLCertificateFile						{{ apache_conf_dir }}/ssl/server.crt
    SSLCertificateChainFile					{{ apache_conf_dir }}/ssl/service-chain.crt
    SSLCertificateKeyFile					{{ apache_conf_dir }}/ssl/server.key
    DocumentRoot						{{ vmmanager_root }}
    ScriptAlias		/cgi-bin/				{{ vmmanager_root }}/cgi-bin/
    Alias		/icons/					{{ vmmanager_root }}/icons/
    <Directory {{ vmmanager_root }}>
	Options							None
	AllowOverride						None
	Order							deny,allow
	Deny from						all
	Allow from						{{ vlist_upstream }}
	RedirectMatch	^/$					/cgi-bin/vlist_manager.cgi
	RedirectMatch	^/vlist_popup.cgi(.*)$			/cgi-bin/vlist_popup.cgi$1
	RedirectMatch	^/vlist_manager_action.cgi(.*)$		/cgi-bin/vlist_manager_action.cgi$1
	RedirectMatch	^/vlist_manager.cgi(.*)$		/cgi-bin/vlist_manager.cgi$1
	RedirectMatch	^/cgi-bin/icons/(.*)			/icons/$1
	RedirectMatch	^/cgi-bin/css/(.*)			/css/$1
	RedirectMatch	^(.*)/popup.cgi(.*)$			/cgi-bin/vlist_popup.cgi$2
	RedirectMatch	^(.*)/vm_manager_action.cgi(.*)$	/cgi-bin/vlist_manager_action.cgi$2
	RedirectMatch	^(.*)/vm_manager.cgi(.*)$		/cgi-bin/vlist_manager.cgi$2
    </Directory>
</VirtualHost>
{% endif %}
<VirtualHost *:{{ https_port }}>
    ServerAdmin							{{ contact }}
    ServerName							{{ server_name }}
    ServerAlias							{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias							{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel							warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog							"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog							"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog							syslog:local1
{% else %}
    CustomLog							{{ apache_log_dir }}/ssl-{{ server_name }}.log common
    ErrorLog							{{ apache_log_dir }}/ssl-error-{{ server_name }}.log
{% endif %}
    SSLEngine							On
    SSLCertificateFile						{{ apache_conf_dir }}/ssl/server.crt
    SSLCertificateChainFile					{{ apache_conf_dir }}/ssl/service-chain.crt
    SSLCertificateKeyFile					{{ apache_conf_dir }}/ssl/server.key
    DocumentRoot						{{ vmmanager_root }}
    ScriptAlias		/cgi-bin/				{{ vmmanager_root }}/cgi-bin/
    Alias		/icons/					{{ vmmanager_root }}/icons/
    <Directory {{ vmmanager_root }}>
	Options							None
	AllowOverride						None
	Order							deny,allow
	Allow from						all
	AuthName						"VM Manager authentication"
	AuthBasicProvider					ldap
	AuthType						Basic
        AuthzLDAPAuthoritative					On
	AuthLDAPUrl						"ldaps://{{ dirhost }}/ou=users,{{ dirbase }}?cn"
	Require							valid-user
	RedirectMatch	^/$					/cgi-bin/vm_manager.cgi
	RedirectMatch	^/cgi-bin/icons/(.*)			/icons/$1
	RedirectMatch	^/cgi-bin/css/(.*)			/css/$1
    </Directory>
</VirtualHost>
