<VirtualHost *:{{ http_port }}>
    ServerAdmin			{{ contact }}
    ServerName			{{ ansible_hostname }}
    ServerAlias			{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias			{{ server_name }}.{{ dirdomain }}
{% endif %}
{% if dirdomain != ansible_domain %}
    ServerAlias			{{ ansible_hostname }}.{{ dirdomain }}
{% endif %}
    Loglevel			warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog			"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog			"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog			syslog:local1
{% else %}
    CustomLog			{{ apache_log_dir }}/plain-{{ server_name }}.log combined
    ErrorLog			{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    DocumentRoot		{{ apache_serverroot }}/munin
    <Directory />
	Options			FollowSymLinks
	AllowOverride		None
	Order			allow,deny
	Allow from		all
	ExpiresActive		On
	ExpiresDefault		M310
    </Directory>
    ScriptAlias	/munin-cgi/munin-cgi-graph	/var/www/cgi-bin/munin-cgi-graph
    ScriptAlias	/cgi-bin/munin-cgi-graph	/var/www/cgi-bin/munin-cgi-graph
    <Location /munin-cgi/munin-cgi-graph>
	Options			+ExecCGI
	<IfModule mod_fcgid.c>
	    SetHandler		fcgid-script
	</IfModule>
	<IfModule mod_fastcgi.c>
	    SetHandler		fastcgi-script
	</IfModule>
	<IfModule !mod_fastcgi.c>
	    <IfModule !mod_fcgid.c>
		SetHandler	cgi-script
	    </IfModule>
	</IfModule>
    </Location>
    ScriptAlias	/munin-cgi/munin-cgi-html	/var/www/cgi-bin/munin-cgi-html
    ScriptAlias	/cgi-bin/munin-cgi-html		/var/www/cgi-bin/munin-cgi-html
    <Location /munin-cgi/munin-cgi-html>
	Options			+ExecCGI
	<IfModule mod_fcgid.c>
	    SetHandler		fcgid-script
	</IfModule>
	<IfModule mod_fastcgi.c>
	    SetHandler		fastcgi-script
	</IfModule>
	<IfModule !mod_fastcgi.c>
	    <IfModule !mod_fcgid.c>
		SetHandler	cgi-script
	    </IfModule>
	</IfModule>
    </Location>
    <Directory /var/www/html/munin>
	Options			Indexes FollowSymLinks Multiviews
    </Directory>
    <Directory /var/www/html/munin/static>
	Options			-Indexes
    </Directory>
    <Directory /var/www/cgi-bin>
	Options			-MultiViews +FollowSymLinks
    </Directory>
</VirtualHost>
