<VirtualHost *:{{ http_port }}>
    ServerAdmin			{{ contact }}
    ServerName			{{ server_name }}
    ServerAlias			{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias			{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel			warn
    CustomLog			{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog			{{ apache_log_dir }}/plain-error-{{ server_name }}.log
    RewriteEngine		On
    RewriteRule		^/(.*)	https://{{ server_name }}.{{ ansible_domain }}/$1	[L,R]
</VirtualHost>
<VirtualHost *:{{ https_port }}>
    ServerAdmin			{{ contact }}
    ServerName			{{ server_name }}
    ServerAlias			{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias			{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel			warn
    CustomLog			{{ apache_log_dir }}/ssl-{{ server_name }}.log common
    ErrorLog			{{ apache_log_dir }}/ssl-error-{{ server_name }}.log
    SSLEngine			On
    SSLCertificateFile		{{ apache_conf_dir }}/ssl/server.crt
    SSLCertificateChainFile	{{ apache_conf_dir }}/ssl/service-chain.crt
    SSLCertificateKeyFile	{{ apache_conf_dir }}/ssl/server.key
    DocumentRoot		{{ newznab_root }}/www
</VirtualHost>
