<VirtualHost *:{{ http_port }}>
    ServerAdmin			{{ contact }}
    ServerName			{{ server_name }}.{{ ansible_domain }}
    ServerAlias			{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias			{{ ansible_hostname }}.{{ dirdomain }}
{% endif %}
{% if dirdomain != ansible_domain %}
    ServerAlias			{{ server_name }}.{{ dirdomain }}
{% endif %}
    Loglevel			warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog			"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog			"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog			syslog:local1
{% else %}
    CustomLog			{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog			{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    DocumentRoot		{{ apache_serverroot }}/snorby/public
    <Directory {{ apache_serverroot }}/snorby/public>
	Order			deny,allow
	Allow from		all
	AllowOverride		all
	Options			-MultiViews
    </Directory>
</VirtualHost>
