<VirtualHost *:{{ http_port }}>
    ServerName			DEFAULT{{ http_port }}
    <Location />
	Deny from		all
    </Location>
    <Location /robots.txt>
	Allow from		all
    </Location>
    <Location /error/>
	Allow from		all
    </Location>
    <Location /include/>
	Allow from		all
    </Location>
</VirtualHost>
<VirtualHost _default_:{{ https_port }}>
    ServerName			DEFAULT{{ https_port }}
    ServerAlias			{{ ansible_fqdn }}
    SSLEngine			On
    SSLCertificateFile		{{ apache_conf_dir }}/ssl/server.crt
    SSLCertificateKeyFile	{{ apache_conf_dir }}/ssl/server.key
    SSLCertificateChainFile	{{ apache_conf_dir }}/ssl/service-chain.crt
    <Location />
	Deny from		all
    </Location>
    <Location /error/>
	Allow from		all
    </Location>
    <Location /include/>
	Allow from		all
    </Location>
</VirtualHost>
