<VirtualHost *:{{ http_port }}>
    <IfModule mod_mime.c>
	AddType	application/x-ns-proxy-autoconfig	.dat
    </IfModule>
    <IfModule mod_dir.c>
	DirectoryIndex					wpad.dat
    </IfModule>
    ServerAdmin		{{ contact }}
    ServerName		{{ server_name }}.{{ ansible_domain }}
    ServerAlias		{{ server_name }}.{{ dirdomain }}
    ServerAlias		{{ server_name }}
    Loglevel		warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog		"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog		"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog		syslog:local1
{% else %}
    CustomLog		{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog		{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    DocumentRoot	{{ served_directory }}
    <Directory />
	Order		deny,allow
	Allow from	all
    </Directory>
</VirtualHost>
