<VirtualHost *:{{ http_port }}>
    ServerAdmin					{{ contact }}
    ServerName					{{ server_name }}
    ServerAlias					{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias					{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel					warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog					"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog					"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog					syslog:local1
{% else %}
    CustomLog					{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog					{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    RewriteEngine				On
    RewriteRule		^/(.*)			https://{{ server_name }}.{{ ansible_domain }}/$1	[L,R]
</VirtualHost>
<VirtualHost *:{{ https_port }}>
    ServerAdmin					{{ contact }}
    ServerName					{{ server_name }}
    ServerAlias					{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias					{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel					warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog					"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog					"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog					syslog:local1
{% else %}
    CustomLog					{{ apache_log_dir }}/ssl-{{ server_name }}.log common
    ErrorLog					{{ apache_log_dir }}/ssl-error-{{ server_name }}.log
{% endif %}
    SSLEngine					On
    SSLCertificateFile				{{ apache_conf_dir }}/ssl/server.crt
    SSLCertificateChainFile			{{ apache_conf_dir }}/ssl/service-chain.crt
    SSLCertificateKeyFile			{{ apache_conf_dir }}/ssl/server.key
    DocumentRoot				{{ vlist_root }}
    <Directory {{ vlist_root }}>
	Order					deny,allow
	Allow from				all
        AuthName				"VM Manager authentication"
        AuthBasicProvider			ldap
        AuthType				Basic
        AuthzLDAPAuthoritative			On
	AuthLDAPUrl				"ldaps://{{ dirhost }}/ou=users,{{ dirbase }}?cn"
        Require					valid-user
    </Directory>
    RewriteEngine				On
    RewriteRule		^$			/index.html
{% if 0 == 1 %}
FIXME
template
{% endif %}
    ProxyPass		/nemesis/		https://nemesis.adm.intra.unetresgrossebite.com:8443/
    ProxyPassReverse	/nemesis/		https://nemesis.adm.intra.unetresgrossebite.com:8443/
    ProxyPass		/oneiroi/		https://oneiroi.adm.intra.unetresgrossebite.com:8443/
    ProxyPassReverse	/oneiroi/		https://oneiroi.adm.intra.unetresgrossebite.com:8443/
    ProxyPass		/thanatos/		https://thanatos.adm.intra.unetresgrossebite.com:8443/
    ProxyPassReverse	/thanatos/		https://thanatos.adm.intra.unetresgrossebite.com:8443/
    ProxyPass		/ker/			https://ker.unetresgrossebite.com:8443/
    ProxyPassReverse	/ker/			https://ker.unetresgrossebite.com:8443/
    ProxyPass		/hypnos/		https://hypnos.unetresgrossebite.com:8443/
    ProxyPassReverse	/hypnos/		https://hypnos.unetresgrossebite.com:8443/
    RewriteCond		%{LA-U:REMOTE_USER}	(.+)
    RewriteRule		.			- [E=RU:%1]
    RequestHeader	set X-Remote-User	%{RU}e env=RU
</VirtualHost>
