$InputFileName		{{ apache_log_dir }}/plain-{{ server_name }}.log
$InputFileTag		apache-{{ server_name }}:
$InputFileStateFile	apache-{{ server_name }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor

$InputFileName		{{ apache_log_dir }}/plain-error-{{ server_name }}.log
$InputFileTag		apache-error-{{ server_name }}:
$InputFileStateFile	apache-error-{{ server_name }}
$InputFileSeverity	error
$InputFileFacility	local7
$InputRunFileMonitor
{% if use_https %}

$InputFileName		{{ apache_log_dir }}/ssl-{{ server_name }}.log
$InputFileTag		apache-{{ server_name }}:
$InputFileStateFile	apache-{{ server_name }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor

$InputFileName		{{ apache_log_dir }}/ssl-error-{{ server_name }}.log
$InputFileTag		apache-error-{{ server_name }}:
$InputFileStateFile	apache-error-{{ server_name }}
$InputFileSeverity	error
$InputFileFacility	local7
$InputRunFileMonitor
{% endif %}
