WSGISocketPrefix		{{ apache_conf_dir }}/wsgi
<VirtualHost *:{{ http_port }}>
    ServerAdmin			{{ contact }}
    ServerName			{{ server_name }}
    ServerAlias			{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias			{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel			warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog			"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog			"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog			syslog:local1
{% else %}
    CustomLog			{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog			{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
{% if graphite_public is defined %}
    RewriteEngine		On
    RewriteRule		^/(.*)	https://{{ server_name }}.{{ ansible_domain }}/$1	[L,R]
</VirtualHost>
<VirtualHost *:{{ https_port }}>
    ServerAdmin			{{ contact }}
    ServerName			{{ server_name }}
    ServerAlias			{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias			{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel			warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog			"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog			"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog			syslog:local1
{% else %}
    CustomLog			{{ apache_log_dir }}/ssl-{{ server_name }}.log common
    ErrorLog			{{ apache_log_dir }}/ssl-error-{{ server_name }}.log
{% endif %}
    SSLEngine			On
    SSLCertificateFile		{{ apache_conf_dir }}/ssl/server.crt
    SSLCertificateChainFile	{{ apache_conf_dir }}/ssl/service-chain.crt
    SSLCertificateKeyFile	{{ apache_conf_dir }}/ssl/server.key
{% endif %}
    DocumentRoot		/opt/graphite/webapp
    WSGIDaemonProcess graphite processes=5 threads=5 display-name='%{GROUP}' inactivity-timeout=120
    WSGIProcessGroup		graphite
    WSGIApplicationGroup	%{GLOBAL}
    WSGIImportScript		/opt/graphite/conf/graphite.wsgi process-group=graphite application-group=%{GLOBAL}
    WSGIScriptAlias	/	/opt/graphite/conf/graphite.wsgi
    Alias	/content/	/opt/graphite/webapp/content/
    <Location /content/>
	SetHandler		None
    </Location>
    Alias	/media/		{{ apache_serverroot }}/contrib/admin/media/
    <Location /media/>
	SetHandler		None
    </Location>
    <Directory /opt/graphite/conf>
	Order			deny,allow
	Allow from		all
    </Directory>
</VirtualHost>
