<VirtualHost *:{{ http_port }}>
    ServerAdmin			{{ contact }}
    ServerName			{{ server_name }}
    ServerAlias			{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias			{{ server_name }}.{{ dirdomain }}
{% endif %}
{% if dirdomain != ansible_domain %}
    ServerAlias			{{ ansible_hostname }}.{{ dirdomain }}
{% endif %}
{% if pyblosxom_vhost is defined %}
    ServerAlias			{{ pyblosxom_vhost }}
{% endif %}
    Loglevel			warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog			"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog			"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog			syslog:local1
{% else %}
    CustomLog			{{ apache_log_dir }}/plain-{{ server_name }}.log combined
    ErrorLog			{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    DocumentRoot		{{ pyblosxom_cachedir }}
    RewriteEngine		On
    RewriteRule	^/$		http://{{ ansible_fqdn }}/cgi-bin/pyblosxom.cgi
    <Directory />
	Options			FollowSymLinks
	AllowOverride		None
	Order			allow,deny
	Allow from		all
	ExpiresActive		On
	ExpiresDefault		M310
    </Directory>
    ScriptAlias	/cgi-bin/pyblosxom.cgi	/usr/lib/cgi-bin/pyblosxom.cgi
    <Location /cgi-bin/pyblosxom.cgi>
	Options			+ExecCGI
	<IfModule mod_fcgid.c>
	    SetHandler		fcgid-script
	</IfModule>
	<IfModule mod_fastcgi.c>
	    SetHandler		fastcgi-script
	</IfModule>
	<IfModule !mod_fastcgi.c>
	    <IfModule !mod_fcgid.c>
		SetHandler	cgi-script
	    </IfModule>
	</IfModule>
    </Location>
    <Directory {{ pyblosxom_cachedir }}>
	Options			-Indexes
    </Directory>
    <Directory /usr/lib/cgi-bin>
	Options			-MultiViews +FollowSymLinks
    </Directory>
</VirtualHost>
