<VirtualHost *:{{ http_port }}>
    ServerName					{{ server_name }}
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog					"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog					"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog					syslog:local1
{% else %}
    CustomLog					{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog					{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    DocumentRoot				{{ served_directory }}
    php_value		include_path		"."
    php_value		session.save_handler	"memcache"
    php_value		session.save_path	"tcp://localhost:11211?persistent=1&weight=1&timeout=1&retry_interval=15"
    php_value		date.timezone		"UTC"
    php_admin_value	apc.shm_size		"64M"
    RequestReadTimeout				body=2,minrate=500
    SetEnv		APPLICATION_ENV		"production"
    Alias		/webmail		/usr/share/bm-webmail
    <Directory /usr/share/bm-webmail>
      AllowOverride				All
      DirectoryIndex				index.php
      php_value		include_path		"/usr/share/bm-webmail/bm_libs"
    </Directory>
</VirtualHost>
