<VirtualHost *:{{ http_port }}>
    ServerAdmin						{{ contact }}
    ServerName						{{ server_name }}
    ServerAlias						{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias						{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel						warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog						"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog						"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog						syslog:local1
{% else %}
    CustomLog						{{ apache_log_dir }}/plain-{{ server_name }}.log common
    ErrorLog						{{ apache_log_dir }}/plain-error-{{ server_name }}.log
{% endif %}
    RewriteEngine					On
    RewriteRule		^/(.*)				https://{{ server_name }}.{{ ansible_domain }}/$1	[L,R]
</VirtualHost>
<VirtualHost *:{{ https_port }}>
    ServerAdmin						{{ contact }}
    ServerName						{{ server_name }}
    ServerAlias						{{ ansible_fqdn }}
{% if server_name != ansible_hostname %}
    ServerAlias						{{ server_name }}.{{ ansible_domain }}
{% endif %}
    Loglevel						warn
{% if syslog_ip and no_rsyslog is defined %}
{% if syslog_proto == "tcp" %}
    CustomLog						"|nc {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% elif syslog_proto == "udp" %}
    CustomLog						"|nc -u {{ syslog_ip }} {{ syslog_port }}" "<134> apache %h %l %u %t \"%r\"%>s %b \"%{Referer}i\" \"%{User-agent}i\""
{% endif %}
    ErrorLog						syslog:local1
{% else %}
    CustomLog						{{ apache_log_dir }}/ssl-{{ server_name }}.log common
    ErrorLog						{{ apache_log_dir }}/ssl-error-{{ server_name }}.log
{% endif %}
    SSLEngine						On
    SSLCertificateFile					{{ apache_conf_dir }}/ssl/server.crt
    SSLCertificateChainFile				{{ apache_conf_dir }}/ssl/service-chain.crt
    SSLCertificateKeyFile				{{ apache_conf_dir }}/ssl/server.key
    <IfModule mod_fcgid.c>
	AddHandler	fcgid-script			.sh
	IPCCommTimeout					120
	<Directory /usr/share/thruk>
	    Options					FollowSymLinks
	    AllowOverride				All
	    Order					allow,deny
	    Allow					from all
	    <IfModule mod_access_compat.c>
		Require	all				granted
	    </IfModule>
	</Directory>
	<Directory /etc/thruk/themes>
	    Options					FollowSymLinks
	    Allow					from all
	    <IfModule mod_access_compat.c>
		Require	all				granted
	    </IfModule>
	</Directory>
	<Directory /etc/thruk/plugins>
	    Options					FollowSymLinks
	    Allow					from all
	    <IfModule mod_access_compat.c>
		Require	all				granted
	    </IfModule>
	</Directory>
	RewriteEngine					On
	RewriteRule	^/$				/thruk/ [L,R]
	RewriteCond	%{REQUEST_METHOD}		GET
	RewriteCond	%{REQUEST_URI}			!^/thruk/startup.html
	RewriteCond	%{REQUEST_URI}			!^/thruk/side.html
	RewriteCond	%{REQUEST_URI}			!^/thruk/.*\.(css|png|js)
	RewriteCond	%{REQUEST_URI}			^/thruk
	RewriteCond	/var/cache/thruk/thruk.pid !-f
	RewriteRule	^(.*)$				/thruk/startup.html?$1 [R=302,L,NE,QSA]
	Alias		/thruk/documentation.html	/usr/share/thruk/root/thruk/documentation.html
	Alias		/thruk/startup.html		/usr/share/thruk/root/thruk/startup.html
	AliasMatch	^/thruk/(.*\.cgi|.*\.html)	/usr/share/thruk/fcgid_env.sh/thruk/$1
	AliasMatch	^/thruk/plugins/(.*?)/(.*)$	/etc/thruk/plugins/plugins-enabled/$1/root/$2
	Alias		/thruk/themes/			/etc/thruk/themes/themes-enabled/
	Alias		/thruk				/usr/share/thruk/root/thruk
	<Location /thruk>
	    Options					ExecCGI
	    AuthName					"Thruk Monitoring"
	    AuthType					Basic
	    AuthBasicProvider				ldap
	    AuthLDAPUrl					"ldaps://{{ dirhost }}/{{ dirbase }}?cn"
	    AuthzLDAPAuthoritative			On
	    Require					valid-user
	    RequestHeader	set	REMOTE_USER	%{AUTHENTICATE_uid}e
	    RequestHeader	set	X-Remote-User	%{AUTHENTICATE_uid}e
	    AuthBasicProvider				file
	    AuthUserFile				/etc/thruk/htpasswd
	    Satisfy					any
	</Location>
	<Location /thruk/cgi-bin/remote.cgi>
	    Order					Deny,Allow
	    Allow from					all
	    Satisfy					any
	</Location>
    </IfModule>
</VirtualHost>
