{% if item['netmask'] is defined %}
{% set netmask = item['netmask'] %}
{% else %}
{% set netmask = "255.255.0.0" %}
{% endif %}
{% if item['broadcast'] is defined %}
{% set broadcast = item['broadcast'] %}
{% else %}
{% set broadcast = "NONE" %}
{% endif %}
{% if item['vhid'] is defined %}
{% if carp_advbase is defined %}
{% set carpitv = "advbase " ~ carp_advbase ~ " advskew 100" %}
{% else %}
{% set carpitv = "advbase 7 advskew 100" %}
{% endif %}
{% if carp_passprefix is defined %}
{% set carppass = carp_passprefix ~ item['ifname'] %}
{% else %}
{% set carppass = "ansiblecarppass" ~ item['ifname'] %}
{% endif %}
{% set carparg = " vhid " ~ item['vhid'] ~ " " ~ carpitv ~ " carpdev " ~ item['ifname'] ~ " pass " ~ carppass %}
{% else %}
{% set carparg = "" %}
{% endif %}
inet {{ item['ip'] }} {{ netmask }} {{ broadcast }}{{ carparg }}
{% if item['ipalias'] is defined %}
{% for host in item['ipalias'] %}
inet alias {{ host }} {{ netmask }}
{% endfor %}
{% endif %}
{% if item['routefor'] is defined %}
{% for route in item['routefor'] %}
{% if item['gw'] is defined and netmask != "255.255.255.255" %}
!route add {{ route }} {{ item['gw'] }}
{% else %}
!route add {{ route }} -link -iface {{ item['ifname'] }}
{% endif %}
{% endfor %}
{% endif %}
{% if i_strongly_believe_ipv6_would_die_before_ipv4 is defined %}
-inet6
{% endif %}
{% if item['rdomain'] is defined %}
rdomain {{ item['rdomain'] }}
{% endif %}
