version 2.0

config setup
    virtual_private={% for tunnel in ipsec_tunnels %}{% if previousone is defined %},{% endif %}%v4:{{ tunnel['localnet']  }},%v4:{{ tunnel['remotenet'] }}{% set previousone = true %}{% endfor %}

    oe=off
    protostack=netkey

include /etc/ipsec.d/tunnels/*
