#!/bin/sh

DEST={{ contact }}

checktunnel()
{
    local name wan gw locnet remnet attempt basenet nic locip remip

    name=$1
    wan=$2
    gw=$3
    locnet=$4
    remnet=$5
    attempt=0
    basenet=`echo $locnet | sed 's|[\.0]*/.*||'`
    nic=`netstat -nr | grep "[ \t]$basenet[^ \t]*[ \t]*0.0.0.0" | awk 'END{print $8}'`
    locip=`ifconfig $nic | awk '/inet addr:/{print $2}' | cut -d: -f2`
    basenet=`echo $remnet | sed 's|/.*||'`
    eval `echo $basenet | sed 's|\([^\.]*\)\.\([^\.]*\)\.\([^\.]*\)\.\([^\.]*\)\.|basenet=\1.\2.\3. remip=\4|'`
    remip=`expr $remip + 1`
    remip=$basenet$remip
    if test -z "$locip" -o -z "$remip"; then
	return
    fi
    while test $attempt -lt 3
    do
	ping -c 1 -W 3 -B $wan $gw && break
	attempt=`expr $attempt + 1`
	sleep 2
    done >/dev/null 2>&1
    if test $attempt -ge 3; then
	echo "$name unreachable" >>/tmp/$Prg.report
	return
    fi

    attempt=0
    while test $attempt -lt 3
    do
	ping -c 1 -W 5 -B $locip $remip && break
	attempt=`expr $attempt + 1`
	sleep 2
    done
    if test $attempt -lt 3; then
	return
    fi

    ipsec auto --down $name
    sleep 2
    ipsec auto --up $name
    attempt=0
    while test $attempt -lt 10
    do
	ping -c 1 -W 5 -B $locip $remip && break
	attempt=`expr $attempt + 1`
	sleep 2
    done
    if test $attempt -lt 10; then
	echo "$name recovered" >>/tmp/$Prg.report
	return
    fi
    echo "$name unable to recover" >>/tmp/$Prg.report
}

>/tmp/$Prg.report

{% for tunnel in ipsec_tunnels if tunnel['name'] is defined and tunnel['localgw'] is defined and tunnel['remotegw'] is defined and tunnel['localnet'] is defined and tunnel['remotenet'] is defined %}
checktunnel {{ tunnel['name'] }} {{ tunnel['localgw'] }} {{ tunnel['remotegw'] }} {{ tunnel['localnet'] }} {{ tunnel['remotenet'] }} &
{% endfor %}

sleep 100
if grep 'unable to recover' /tmp/$Prg.report; then
    SUBJECT='[WARNING] Unable to recover some tunnels'
elif grep 'unreachable' /tmp/$Prg.report; then
    SUBJECT='[ERROR] Unable to reach some gateways'
elif test -s /tmp/$Prg.report; then
    SUBJECT='[REPORT] Succesfully reloaded tunnels'
else
    rm -f /tmp/$Prg.report
    exit 0
fi >/dev/null 2>&1

cat /tmp/$Prg.report | mail -s "$SUBJECT" $DEST
rm -f /tmp/$Prg.report

exit 0
