conn {{ item['name'] }}
    authby=secret
    auto=start
    type=tunnel
    left={{ item['localgw'] }}
    leftsubnet={{ item['localnet'] }}
    right={{ item['remotegw'] }}
    rightsubnet={{ item['remotenet'] }}
    ike={{ item['p1enc'] }}-{{ item['p1auth'] }}{% if item['p1group'] is defined %};{{ item['p1group'] }}{% endif %}

    esp={{ item['p2enc'] }}-{{ item['p2auth'] }}{% if item['p2group'] is defined %};{{ item['p2group'] }}{% endif %}
