.block_50prct { width:49%; float:left; }
.col_33prct { width:30%; position:relative; float:left; }
.col_25prct { width:23%; margin-right:20px; position:relative; float:left; }
.border_top { margin-top:15px; padding-top:15px; border-top:1px solid #E45602; }
.border_bottom { margin-bottom:15px; padding-bottom:15px; border-bottom:1px solid; }
.border_both { margin-top:15px; margin-bottom:15px; padding-top:15px; padding-bottom:15px; border-top:1px solid; border-bottom:1px solid; }
.border_left { margin-left:15px; padding-left:15px; border-left:1px solid; }
.border_right { margin-right:15px; padding-right:15px; border-right:1px solid; }
.border_side { margin-left:15px; margin-right:15px; padding-left:15px; padding-right:15px; border-left:1px; border-right:1px; }
.dble_border { border-width:2px; }
.highlight, .highlight_link a { color:#E45602; text-decoration:none; }
.highlight_link a:hover { text-decoration:underline; }
a.read_more { padding-left:15px; margin:10px 12px 0 0; position:relative; float:right; background:url(../images/chip_dble_arrow_orange.png) 0 5px no-repeat; font-weight:bold; color:#E45602; text-decoration: underline; }
a.read_more.left_floated { margin-right:0; float:left; }
a.more_about { color:#E45602; }
a.form_button { min-height:18px; padding:3px 10px 0 10px; float:right; display:block; border:1px solid #939393; background:#dcdcdc url(../images/bg_button.png) 0 0 repeat-x; text-decoration:none; font-size:109%; }
hr.solid_line { width:100%; height:1px; margin:15px 0 15px 0; padding:0; clear:both; background:#E45602; border:none; color:#E45602; }
.clearfix:after { height:0; display:block; clear:both; visibility:hidden; content:"&nbsp;"; }
.line { clear:both; }
.line_floated { width:100%; float:left; clear:both; }
.hidden { display:none; }
.left_floated { float:left; }
.right_floated { float:right; }
.txt_align_center { text-align:center; }
.orange { color:#e45602; }
.breaker {
    clear: both;
    height: 1px;
    overflow: hidden;
}
#right_col { margin-top:0px; }
#right_col .common_right_block { width:100%; margin:0 0 15px 0; padding:0; float:left; clear:both; }
#right_col .common_right_block .rnd_borders_top,
#right_col .common_right_block .rnd_borders_bot { display:block; clear:both; background:transparent; font-size:1px; }
#right_col .common_right_block .ln_01,
#right_col .common_right_block .ln_02,
#right_col .common_right_block .ln_03,
#right_col .common_right_block .ln_04,
#right_col .common_right_block .content { height:1px; display:block; overflow:hidden; background:#eff3f7; border:1px solid #eff3f7; border-top:none; border-bottom:none; }
#right_col .common_right_block .ln_02,
#right_col .common_right_block .ln_03,
#right_col .common_right_block .ln_04,
#right_col .common_right_block .content { background:#eff3f7; }
#right_col .common_right_block .ln_01 { margin:0 5px 0 5px; border:none; }
#right_col .common_right_block .ln_02 { margin:0 3px 0 3px; border-width:2px; }
#right_col .common_right_block .ln_03 { margin:0 2px 0 2px; }
#right_col .common_right_block .ln_04 { height:2px; margin:0 1px 0 1px; }
#right_col .common_right_block .content { padding:12px 8% 25px 8%; height:auto; }
#right_col .common_right_block ul li a { color: #6B828D; }
#right_col .common_right_block ul li { margin-bottom: 17px;  }
#right_col .common_right_block h2 { margin-top:0; margin-bottom:15px; font-size:164%; font-weight:normal; }
#right_col .common_right_block .read_more { margin-right:0; margin-bottom:0; }
#right_col .common_right_block .item_block { margin-bottom:5px; color:#666666; }
#right_col .common_right_block .item_block .item_date { display:block; clear:both; color:#e45602; }
#right_col .common_right_block .item_block .item_title { font-weight:bold; color:#666666; }
#right_col .common_right_block .item_block .item_summary { margin-bottom:10px; }
#right_col .common_right_block .item_block.event_block .item_date { margin-bottom:2px; }
#right_col .common_right_block .item_block.event_block .item_title { margin-bottom:15px; display:block; }
#right_col .common_right_block .item_block.event_block .item_summary { line-height:160%; }
#right_col .common_right_block .item_block.event_block .item_summary p { margin-bottom:15px; }
.common_listing_block { width:100%; margin-top:15px; padding-top:10px; float:left; clear:both; border-top:1px dotted #e45602; }
.common_listing_block.lastone { padding-bottom:10px; border-bottom:1px dotted #e45602; }
.common_listing_block h2 { margin-bottom:8px; font-size:164%; }
#right_col .common_listing_block h2 {font-weight: normal; }
.common_listing_block ul li { margin-bottom:5px; padding-left:15px; background:url(../images/chip_plus_grey.png) 2px 5px no-repeat; }
.common_listing_block .explanation_msg { margin-bottom:15px; }
.caption_block { margin:0 0 15px 0; background:#fff url(../images/bg_gradient2_cpt_block.png) 0 100% repeat-x; border:1px solid #C2CBD0; }
.caption_block .content { padding:15px 15px 0 15px; }
.caption_block .content .line img { margin-bottom:15px; }
.caption_block .content h2 { font-size:100%; }
.caption_block .content ul { margin-top:10px; padding:0 0 15px 35px; display:block; background:url(../images/chip_arrow_rect.png) 0 0 no-repeat;  }
.caption_block .content:after { height:0; display:block; clear:both; visibility:hidden; content:"&nbsp;"; }
.caption_block .subtitle_linker { margin:-6px 0 6px 15px; display:block; position:relative; clear:both; font-family:"Lucida Sans Unicode"; color:#E45602; font-size:137%; }
.caption_block .subtitle { margin-bottom:15px; display:block; clear:both; color:#E45602; font-family:"Lucida Sans Unicode"; font-size:136%; }
.caption_block .related_link { padding:2px 0 15px 50px; display:block; background:url(../images/chip_arrow_rect.png) 4% 5px no-repeat; }
.caption_block.arrowed_title .title { padding:2px 0 15px 45px; display:block; background:url(../images/chip_arrow_rect.png) 0 3px no-repeat; font-size:128%; font-weight:bold; }
.caption_block.arrowed_title .line { margin-bottom:15px; }
.caption_block.arrowed_title .line img { margin-right:10px; float:left; }
.caption_block.arrowed_links_list .content ul { padding-left:105px; background-position:65px 90%; }
.caption_block.arrowed_links_list .content ul li { margin-bottom:2px; }
.home #right_col .caption_block .content h2 { font-size:100%; }
.home #right_col .caption_block .content ul { margin:0 0 8px 0; padding:0 0 0 35px; background:url(../images/chip_arrow_rect.png) 0 0 no-repeat; }
.home #right_col .caption_block .content ul li { margin:0; padding:0; background:none; }
.caption_block.arrowed_links_list h2 { margin-right:25px; float:left; }
.caption_block.arrowed_links_list ul { padding:0 0 15px 0; display:block; }
form.common_form { clear:both; }
form.common_form fieldset { border:none; }
form.common_form .line { margin-bottom:4px; border:none; }
form.common_form .line.lastone { margin-bottom:0; }
form.common_form select { border:1px solid #cfcfcf; }
form.common_form input { padding-left:4px; border:1px solid #cfcfcf; }
form.common_form input.file { padding-left:4px; border:1px solid #cfcfcf; }
form.common_form input.multi { width:auto; margin-right:10px; border:none; }
form.common_form input.button { width:auto; min-height:21px; padding:0 2px 0 2px; display:inline; border:1px solid #939393; background:#dcdcdc url(../images/bg_button.png) 0 0 repeat-x; cursor:pointer; }
form.common_form textarea { padding-left:4px; border:1px solid #cfcfcf; }
form.common_form label,
form.common_form span.label { margin:0; padding:0; color:#556f7c; font-size:109%; font-weight:bold; }
form.common_form label.span { color:#556f7c; font-size:100%; font-weight:normal; }
form.common_form .block_50prct input.multi { display:block; float:left; clear:left; }
form.common_form .block_50prct span.label { display:block; margin-bottom:10px; }
form.common_form .label_block { width:24%; float:left; }
form.common_form .field_block { width:75%; float:right; }
form.common_form .field_block input { width:97%; }
form.common_form .field_block input.button { float:right; }
form.common_form .field_block select { width:99%; }
form.common_form .line.buttons { text-align:right; }
form.common_form .line.buttons input.stronger { font-weight:bold; }
form.common_form .line.buttons .required { margin-top:2px; float:left; }
.home h1 { margin:15px 0 15px 0; }
.home h2 a { color:#E45602; }
.products_listing_block .content p a.more_about { text-decoration:underline; }
#center_col #inner_right .content .item_block .datas a.more_about { text-decoration:underline;}
