#footer #footer_menu { margin:24px 0 10px 0; }
#footer #footer_menu li { margin-right:18px; padding-right:18px; display:inline; border-right:1px solid; font-size:145%; }
#footer #footer_menu li.lastone { margin-right:0; padding-right:0; border-right:none; }
#footer #footer_menu li a { color:#556F7C; }
#footer #footer_access_links { margin-bottom:8px; }
#footer #footer_access_links li { display:inline; font-size:109%; }
#footer #footer_access_links li { margin-right:9px; padding-right:9px; border-right:1px solid; }
#footer #footer_access_links li.lastone { margin-right:0; padding-right:0; border-right:none; border-bottom:none; }
.blog #footer_access_links { margin-top:15px; }
