#header_search_block { margin:10px 0px 10px 0; text-align:right;}
#header_search_block #search_form fieldset { margin:0; padding:0; display:inline; border:none; }
#header_search_block #search_form legend { display:none; }
#header_search_block #search_form .search_string { min-height:21px; margin-right:-1px; padding:2px 0 0 25px; float:left; background:url(../images/bg_search.png) 0 0 no-repeat #fff; border:1px solid #D6D6D6; font-size:100%; color:#465462;width:70px;}
#header_search_block #search_form label { display:none; }
#header_search_block .button { min-height:21px; padding:0 2px 0 2px; display:block; border:1px solid #939393; background:#dcdcdc url(../images/bg_button.png) 0 0 repeat-x; }
.blog #header_search_block { margin-top:19px; }
.livre_blanc#livre_blanc #header_search_block { margin-top:19px; }
#header_menu_block { text-align:center; }
#header_menu_block ul { width:70%; float:left; clear:both; margin:9px 0 0 25%; text-align:center;}
#header_menu_block ul li { min-height:22px; margin:0 20px 0px 0px; float:left; font-size:110%; }
#header_menu_block ul li a { width:auto; padding-top:2px; display:block; float:left; text-decoration: none; }
#header_menu_block ul li.current a { min-height:22px; padding-top:0; color:#ffffff; }
#header_menu_block ul li a:hover .label { text-decoration:underline;}
#header_menu_block ul li.current a:hover .label { color:#ffffff; background:url(../images/header_menu_tab_bg.png) 0 0 repeat-x; }
#header_menu_block ul li.current a span { min-height:22px; padding-top:2px; display:block; float:left; }
#header_menu_block ul li.current a .left { width:17px; background:url(../images/header_menu_tab_left.png) 0 0 no-repeat; font-size:0; }
#header_menu_block ul li.current a .right { width:17px; background:url(../images/header_menu_tab_right.png) 100% 0 no-repeat; font-size:0; }
#header_menu_block ul li.current a .label { min-height:20px; padding:0 20px; padding-top:2px; background:url(../images/header_menu_tab_bg.png) 0 0 repeat-x; font-weight:bold; }
#header_menu_block ul li.current { }
#header_menu_block ul li a { font-weight:normal; }
#header_menu_block ul li a:hover { color:#E45602; }
