body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:80%;
    margin:0;
    padding:0;
    color: #556F7C;
}
img { border:none; }
h1, h2, h3, h4 { margin:0; padding:0; font-family:"Lucida Sans Unicode"; color:#E45602; }
h1 a, h2 a, h3 a, h4 a{ color:#E45602; text-decoration:none; }
ul { margin:0; padding:0; list-style-type:none; }
p, form, input, fieldset, legend, label, dl, dt, dd { margin:0; padding:0; }
pre { font-family:Monospace; font-size:125%; }
a { color:#556F7C; text-decoration:underline; }
