#site_content { width:100%; float:left; clear:both; }
.page { width:auto; min-width:1000px; }
#header { width:100%; height:40px; float:left; clear:both; background:url(../images/bg_header.png) 0 0 repeat-x; }
.home #header { width:100%; height:40px; float:left; clear:both; background:url(../images/bg_header_home.png) 0 0 repeat-x; }
.page_internal #main_col { width:84%; float:left; }
.page_internal #main_col:after { height:0; display:block; clear:both; visibility:hidden; content:"&nbsp;"; }
#publication #main_col { padding-bottom:40px; }
#resultats #main_col { padding-bottom: 40px;}
.pics_01 #main_col { padding-bottom:75px; background:url(../images/bg_page_dirigeants.jpg) 3% 98% no-repeat; }
.pics_02 #main_col { background:url(../images/bg_page_agmi.jpg) 15% 80% no-repeat; }
.pics_03 #main_col { background:url(../images/bg_cercle_ste.jpg) 100% 20px no-repeat; }
.pics_04 #main_col { background:url(../images/bg_crayon_clients.jpg) 8% 100% no-repeat; }
.pics_05 #main_col { background:url(../images/bg_toupi_public_collect.jpg) 0 100% no-repeat; }
.pics_06 #main_col { background:url(../images/bg_orange_carriere.jpg) 3% 100% no-repeat; }
.pics_07 #main_col { background:url(../images/bg_aqurum_presse.jpg) 1% 100% no-repeat; }
.pics_08 #main_col { padding-bottom:40px; background:url(../images/bg_publication_jeu_carte.jpg) 0 100% no-repeat; }
.pics_09 #main_col { padding-bottom:40px; background:url(../images/bg_orange_citron_actu.jpg) 100% 20px no-repeat; }
.pics_10 #main_col { background:url(../images/bg_page_agmi.jpg) 11% 435px no-repeat; }
.pics_11 #main_col { background:url(../images/bg_page_offers.jpg) 93% 20px no-repeat; }
.pics_10 #main_col { background:url(../images/bg_page_cles.png) 96% 0 no-repeat; }
.page_4cols #center_col #inner_main { width:60%; float:left; }
.page_internal.blog #center_col #inner_main { width:62%; padding-left:1%; }
#inner_right { padding-top:230px; }
.page_4cols #center_col #inner_right { width:35%; float:right; }
.home #right_col { width:23%; margin-top:-300px; float:left; position:relative; clear:right; }
.page_internal #right_col { width:13%; margin-left:1.5%; margin-right:1.5%; float:right; }
.home #left_col { margin-top:0px; margin-left:16px; position:relative; }
.page_internal #left_col { width:22%; margin-left:16px; margin-right:1.5%; float:left; }
.home #center_col { width:100%; float:left; clear:both; }
.page_internal #center_col { width:74%; margin:0 0 0 0; padding:50px 0 0 0; float:left; }
.page_internal.blog #center_col { padding-top:0; margin-left:25px; width:98%; }
.pics_02 #center_col { background:url(../images/bg_page_offers.jpg) 93% 20px no-repeat; }
.pics_04 #center_col { background:url(../images/bg_taille_crayon_clients.jpg) 100% 20px no-repeat; }
.pics_06 #center_col { background:url(../images/bg_bebe_oranges_carriere.jpg) 100% 20px no-repeat; }
.pics_07 #center_col { background:transparent url(../images/bg_poisson_presse.jpg) no-repeat scroll 97% 20px; }
.pics_08 #center_col { background:url(../images/bg_publication_jeu_hazard.jpg) 95% 40px no-repeat; }
.pics_12 #center_col { background:url(../images/bg_cartes_roi_as.png) 95% 0 no-repeat; }
.page_internal.page_1col #center_col { width:100%; float:left; padding-top:0; }
#footer { width:100%; float:left; clear:both; margin-top:10px; padding:7px 0 30px 0; background:url(../images/bg_footer.png) 0 0 repeat-x; text-align:center; }
