body
{
    font-family: Verdana, Georgia, Helvetica, sans-serif;
    font-size: 0.8em;
}
h1
{
    color: #5985b4;
    font-size: 1.4em;
}
table
{
    width: 100%;
    border-collapse: collapse;
}
th
{
    font-weight: normal;
    font-style: italic;
    text-align: left;
}
tr.no
{
    color: red;
}
tr.partial
{
    color: #d58d0f;
}
tr.unknown
{
    color: #885b2c;
}
td
{
    border: 1px solid #b5b5b5;
}
