[{{ ansible_fqdn }}]
{% set itf = 'ansible_' ~ munin_interface %}
{% if munin_natted_address is defined %}
    address		{{ munin_natted_address }}
{% elif hostvars[ansible_fqdn][itf] is defined %}
{% if hostvars[ansible_fqdn][itf]['ipv4'] is defined %}
{% for elt in hostvars[ansible_fqdn][itf]['ipv4'] %}
{% if elt == 'address' %}
    address		{{ hostvars[ansible_fqdn][itf]['ipv4'][elt] }}
{% elif elt['address'] is defined %}
    address		{{ elt['address'] }}
{% endif %}
{% endfor %}
{% endif %}
{% else %}
    address		{{ ansible_default_ipv4['address'] }}
{% endif %}
{% if munin_natted_port is defined %}
    port		{{ munin_natted_port }}
{% endif %}
    use_node_name	yes
