allow		^127\.0\.0\.1$
{% for remote in munin_queryhost %}
allow		^{{ remote|replace(".", "\.", 3) }}$
{% endfor %}
background	1
host		{% if munin_hostname is defined %}{{ munin_hostname }}{% else %}{{ ansible_fqdn }}{% endif %}

group		{{ gid_zero }}
log_level	4
log_file	{{ munin_log_dir }}/munin-node.log
pid_file	{{ munin_run_dir }}/munin-node.pid
port		{{ munin_port }}
setsid		1
user		root
ignore_file	~$
ignore_file	%$
ignore_file	\.back$
ignore_file	\.bak$
ignore_file	\.old$
ignore_file	\.orig$
ignore_file	\.(rpm|dpkg-)(tmp|new|old|dist|save)$
ignore_file	\.pod$
