#! /bin/bash
### BEGIN INIT INFO
# Provides:          munin-node
# Required-Start:    $network $named $local_fs $remote_fs
# Required-Stop:     $network $named $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start/stop Munin-Node
# Description:       Start/stop Munin-Node
### END INIT INFO

PATH=/sbin:/bin:/usr/sbin:/usr/bin
DAEMON=/usr/sbin/munin-node
PIDFILE={{ munin_run_dir }}/munin-node.pid
CONFFILE=/etc/munin/munin-node.conf

log_daemon_msg()
{
    if test -z "$1"; then
	return 1
    fi
    if test -z "$2"; then
	echo -n "$1:"
	return
    fi
    echo -n "$1: $2"
}

log_progress_msg()
{
    if test -z "$1"; then
	return 1
    fi
    echo -n " $@"
}

. /lib/lsb/init-functions
test -r /etc/default/munin-node && . /etc/default/munin-node

if ! test -x $DAEMON; then
    log_failure_msg "Munin-Node appears to be uninstalled."
    exit 5
elif ! test -e $CONFFILE; then
    log_failure_msg "Munin-Node appears to be unconfigured."
    exit 6
fi

while read line
do
    line=${line%%\#*}
    set -f
    line=$(echo $line)
    set +f
    if test "$line" != "${line#pid_file }"; then
	PIDFILE=${line#pid_file }
    fi
done <$CONFFILE

verify_superuser()
{
    action=$1
    test $EUID -eq 0 && return
    log_failure_msg "Superuser privileges required for the" "\"$action\" action."
    exit 4
}

start()
{
    log_daemon_msg "Starting Munin-Node"
    mkdir -p {{ munin_run_dir }} {{ munin_log_dir }}
    chown {{ munin_user }}:{{ gid_zero }} {{ munin_run_dir }}
    chown {{ munin_user }}:{{ munin_group }} {{ munin_log_dir }}
    chmod 0755 {{ munin_run_dir }}
    chmod 0755 {{ munin_log_dir }}
    if pidofproc -p $PIDFILE $DAEMON >/dev/null; then
	log_progress_msg "started beforehand"
	log_end_msg 0
	exit 0
    fi
    start_daemon -p $PIDFILE $DAEMON $DAEMON_ARGS
    ret=$?
    attempts=0
    until pidofproc -p $PIDFILE $DAEMON >/dev/null
    do
	attempts=$(( $attempts + 1 ))
	sleep 0.05
	test $attempts -lt 20 && continue
	log_end_msg 1
	return 1
    done
    test $ret -eq 0 && log_progress_msg "done"
    log_end_msg $ret
    return $ret
}

stop()
{
    log_daemon_msg "Stopping Munin-Node"
    if test ! -r $PIDFILE; then
	pid=$(pidofproc -p $PIDFILE $DAEMON)
	if test -z "$pid"; then
	    log_progress_msg "stopped beforehand"
	    log_end_msg 0
	    return 0
	fi
	echo $pid 2>/dev/null >$PIDFILE
	if test $? -ne 0; then
	    log_end_msg 1
	    return 1
	fi
    fi
    killproc -p $PIDFILE /usr/bin/munin-node
    ret=$?
    attempts=0
    until ! pidofproc -p $PIDFILE $DAEMON >/dev/null
    do
	attempts=$(( $attempts + 1 ))
	sleep 0.05
	test $attempts -lt 20 && continue
	log_end_msg 1
	return 1
    done
    test $ret -eq 0 && log_progress_msg "done"
    log_end_msg $ret
    return $ret
}

if test "$#" -ne 1; then
    log_failure_msg "Usage: /etc/init.d/munin-node" \
		    "{start|stop|restart|force-reload|try-restart}"
    exit 2
fi

case "$1" in
    start)
	verify_superuser $1
	start
	exit $?
	;;
    stop)
	verify_superuser $1
	stop
	exit $?
	;;
    restart|force-reload)
	verify_superuser $1
	stop || exit $?
	start
	exit $?
	;;
    try-restart)
	verify_superuser $1
	pidofproc -p $PIDFILE $DAEMON >/dev/null
	if [ $? -eq 0 ]; then
	    stop || exit $?
	    start
	    exit $?
	fi
	log_success_msg "Munin-Node was stopped beforehand and thus not" \
			"restarted."
	exit 0
	;;
    reload)
	log_failure_msg "The \"reload\" action is not implemented."
	exit 3
	;;
    status)
	pid=$(pidofproc -p $PIDFILE $DAEMON)
	ret=$?
	pid=${pid% }
	if test $ret -eq 0; then
	    log_success_msg "Munin-Node is running (PID: $pid)"
	    exit 0
	elif test $ret -eq 1 -o $ret -eq 2; then
	    log_failure_msg "Munin-Node is dead, although $PIDFILE exists."
	    exit 1
	elif test $ret -eq 3; then
	    log_warning_msg "Munin-Node is not running."
	    exit 3
	fi
	log_warning_msg "Munin-Node status unknown."
	exit 4
	;;
    *)
	log_failure_msg "Usage: /etc/init.d/munin-node" \
			"{start|stop|restart|force-reload|try-restart}"
	exit 2
	;;
esac

log_failure_msg "Unexpected failure, please file a bug."
exit 1
