{{ munin_log_dir }}/munin-node.log {
    compress
    copytruncate
    create 640 root {{ gid_zero }}
    daily
    missingok
    notifempty
    rotate {{ muninnode_log_retention }}
    sharedscripts
    postrotate
	{{ service_bin }} munin-node restart >/dev/null 2>&1 || true
    endscript
}
