[df*]
env.exclude none unknown iso9660 squashfs udf romfs ramfs debugfs tmpfs binfmt_misc rpc_pipefs fuse.gvfs-fuse-daemon
env.warning 91
env.critical 96
{% if ansible_distribution == "CentOS" or ansible_distribution == "Debian" or ansible_distribution == "RedHat" or ansible_distribution == "Ubuntu" %}

[fw_*]
user root
{% endif %}

[if_*]
user root

[if_err_*]
user nobody

[ip_*]
user root
{% if ansible_distribution == "CentOS" or ansible_distribution == "Debian" or ansible_distribution == "RedHat" or ansible_distribution == "Ubuntu" %}

[ipmi_*]
user root
{% endif %}
