#!/bin/sh

export PATH=/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin

if ! ps ax | grep '[m]unin-node' >/dev/null; then
    /etc/{% if ansible_distribution == "FreeBSD" or ansible_distribution == "OpenBSD" %}rc{% else %}init{% endif %}.d/munin{% if ansible_distribution == "OpenBSD" %}_{% else %}-{% endif %}node restart
fi

exit 0
