Unattended-Upgrade::Allowed-Origins
{
    "${distro_id} stable";
    "${distro_id} ${distro_codename}-security";
//  "${distro_id} testing";
};

Unattended-Upgrade::Package-Blacklist
{
    "asterisk";
    "bacula";
};

Unattended-Upgrade::Mail "{{ contact }}";
Unattended-Upgrade::Remove-Unused-Dependencies "false";
Unattended-Upgrade::Automatic-Reboot "false";
{% if apt_bw_limit != false %}
Acquire::http::Dl-Limit "{{ apt_bw_limit }}";
{% endif %}
