#!/bin/sh

export PATH=/usr/local/sbin:/usr/sbin:/sbin:/usr/local/bin:/usr/bin:/bin

TMPFILE=/tmp/apt_removed
drop=false
mail=false
if test "$1" = remove; then
    drop=true
elif test "$1" = cron; then
    mail=true
fi

if $mail; then
    dpkg -l | awk '/^r/{print $2}' >$TMPFILE
    if test -s $TMPFILE; then
	cat $TMPFILE | mail -s'[WARNING] half-removed packages on {{ ansible_fqdn }}' {{ contact }}
    fi
    rm -f $TMPFILE
else
    for pkg in `dpkg -l | awk '/^r/{print $2}'`
    do
	echo $pkg
	if $drop; then
	    apt-get remove --purge --yes $pkg
	fi
    done
fi

exit 0
