{% if ansible_lsb["codename"] == "wheezy" %}
deb http://ftp.debian.org/debian wheezy main contrib non-free
deb http://security.debian.org wheezy/updates main contrib non-free
deb http://ftp.debian.org/debian wheezy-updates main contrib non-free
{% else %}
deb http://ftp.debian.org/debian {{ ansible_lsb["codename"] }} main contrib non-free
deb http://security.debian.org {{ ansible_lsb["codename"] }}/updates main
{% endif %}
