#!/bin/sh

export PATH=/usr/local/sbin:/usr/sbin:/sbin:/usr/local/bin:/usr/bin:/bin

TMPFILE=/tmp/dpkg-dist_removed
drop=false
mail=false
if test "$1" = remove; then
    drop=true
elif test "$1" = cron; then
    mail=true
fi

find /etc -name '*.dpkg-dist' >$TMPFILE
if test -s $TMPFILE; then
    if $mail; then
	cat $TMPFILE | mail -s'[WARNING] inactive new configurations on {{ ansible_fqdn }}' {{ contact }}
    elif $drop; then
	while read line
	do
	    test -e "$line" && rm -f "$line"
	done <$TMPFILE
    else
	cat $TMPFILE
    fi
fi
rm -f $TMPFILE

exit 0
