{% if repo_type is defined %}{{ repo_type }}{% else %}deb{% endif %} {{ repo_url }} {% if repo_dist is defined %}{{ repo_dist }}{% else %}{{ ansible_lsb['codename'] }}{% endif %} {% if repo_branches is defined %}{{ repo_branches }}{% else %}main{% endif %}
