deb http://archive.ubuntu.com/ubuntu {{ ansible_lsb["codename"] }} main restricted universe
deb http://archive.ubuntu.com/ubuntu {{ ansible_lsb["codename"] }}-updates main restricted universe
deb http://security.ubuntu.com/ubuntu {{ ansible_lsb["codename"] }}-security main restricted universe multiverse
deb http://archive.canonical.com/ubuntu {{ ansible_lsb["codename"] }} partner
