{% if ospf_fib_update == "no" %}
fib-update {{ ospf_fib_update }}
{% endif %}
hello-interval {{ ospf_hello_interval }}
retransmit-interval {{ ospf_retransmit_interval }}
router-dead-time {{ ospf_router_dead_time }}
{% if ospf_router_id is defined %}
router-id {{ ospf_router_id }}
{% endif %}
{% if ospf_router_priority is defined %}
router-priority {{ ospf_router_priority }}
{% endif %}
{% if ospf_spf_delay is defined %}
spf-delay {{ ospf_spf_delay }}
{% endif %}
{% if ospf_spf_holdtime is defined %}
spf-holdtime {{ ospf_spf_holdtime }}
{% endif %}
{% if ospf_sub_router is defined %}
stub router {{ ospf_stub_router }}
{% endif %}
{% if ospf_transmit_delay is defined %}
transmit-delay {{ ospf_transmit_delay }}
{% endif %}
{% if ospf_redistribute_net is defined or ospf_no_redistribute is defined %}

{% if ospf_no_redistribute is defined %}
{% for network in ospf_no_redistribute %}
no redistribute {{ network }}
{% endfor %}
{% endif %}
{% if ospf_redistribute_net is defined %}
{% for network in ospf_redistribute_net %}
redistribute {{ network }}
{% endfor %}
{% endif %}
{% endif %}
{% if ospf_redistribute_net is not defined %}
{% set seen = "" %}
{% for remote in ipsec_tunnels if remote['remotegw'] is defined %}
{% if remote['remotegw'] not in seen %}
no redistribute {{ remote['remotegw'] }}/32
{% endif %}
{% set seen = seen ~ "," ~ remote['remotegw'] %}
{% endfor %}
redistribute {{ ospf_redistribute }}
{% endif %}
{% for area in ospf_areas %}
{% if area['identifier'] is defined and area['interfaces'] is defined %}

area {{ area['identifier'] }} {
{% if area['stub'] is defined %}
    stub
{% endif %}
{% for nic in area['interfaces'] %}
    interface {{ nic }} {
{% for iface in ospf_interfaces %}
{% if iface['name'] is defined and iface['name'] == nic %}
{% if iface['passive'] is defined %}
	passive
{% else %}
{% if iface['metric'] is defined %}
	metric {{ iface['metric'] }}
{% endif %}
	auth-type {{ ospf_auth_type }}
{% if ospf_auth_type == "simple" %}
	auth-key "{{ ospf_auth_pass }}"
{% elif ospf_auth_type == "crypt" %}
	auth-md 1 "{{ ospf_auth_pass }}"
	auth-md-keyid 1
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
    }
{% endfor %}
}
{% endif %}
{% endfor %}
