init-state justguessing

net = '( "ping -c1 -{% if ansible_distribution == "OpenBSD" %}w{% else %}W{% endif %}2 -S {{ carp_witness_shared }} {{ carp_witness_host }}" every 5 )'

state primary
{
    init
    {
{% if ansible_distribution == "OpenBSD" %}
	run	"for i in /etc/hostname.carp*;	\
		 do	\
		     itf=${i#/etc/hostname.};	\
		     ifconfig $itf advbase 1;	\
		     ifconfig $itf advskew 0;	\
		 done;	\
{% endif %}
{% if ansible_distribution == "FreeBSD" %}
	run	" \
{% for itf in carp_definition %}
{% if itf['ifname'] is defined %}
		 ifconfig {{ itf['ifname'] }}{% if itf['vhid'] is defined %} vhid {{ itf['vhid'] }} {% endif %}advbase 1;	\
		 ifconfig {{ itf['ifname'] }}{% if itf['vhid'] is defined %} vhid {{ itf['vhid'] }} {% endif %}advskew 0;	\
{% endif %}
{% endfor %}
{% endif %}
{% if hastd_resources is defined %}
{% for resource in hastd_resources %}
		 hastctl role primary {{ resource['name'] }};	\
{% endfor %}
		 rm -f /etc/ctl.conf;	\
		 ln -s /etc/ctl-master.conf /etc/ctl.conf;	\
		 /etc/rc.d/ctld onerestart;	\
{% endif %}
{% if dhcrelay_interfaces is defined %}
		 for i in{% for itf in carp_definition %}{% if itf['dhcp'] is defined %}{% if itf['dhcp'] == true %}{% set haveone = true %} {{ itf['ifname'] }}{% endif %}{% endif %}{% endfor %}{% if haveone is not defined %}none{% endif %};	\
		 do	\
		    test $i = none && break ;	\
		    /usr/sbin/dhcrelay -i $i {{ dhcp_one }} {{ dhcp_too }};	\
		 done;	\
{% endif %}
{% if ftp_proxy_nat is defined %}
		 ftp-proxy -r -a {{ ftp_proxy_nat }};	\
{% endif %}
{% if tftp_proxy_nat is defined %}
		 tftp-proxy;	\
{% endif %}
{% if igmpproxy_downstream is defined %}
		 igmpproxy;	\
{% endif %}
{% if relayd_namecache is defined or relayd_mx is defined or relayd_webcache is defined or relayd_reverse is defined %}
		 relayctl reload;	\
{% endif %}
{% if carp_backup_route is defined %}
		 route delete default;	\
		 route add default `cat /etc/mygate`;	\
		 /usr/local/bin/pf_resync;	\
		 mail -S 'FW Failover' -f /etc/myturn {{ contact }}; \
{% endif %}
{% if ospf_areas is defined %}
		 ospfctl reload;	\
{% endif %}
		 "
    }

    if ! $net
	set-state justguessing
}

state backup
{
    init
    {
{% if ansible_distribution == "OpenBSD" %}
	run	"for i in /etc/hostname.carp*;	\
		 do	\
		     itf=${i#/etc/hostname.};	\
		     ifconfig $itf advbase 25;	\
		     ifconfig $itf advskew 254;	\
		 done;	\
{% endif %}
{% if ansible_distribution == "FreeBSD" %}
	run	" \
{% for itf in carp_definition %}
{% if itf['ifname'] is defined %}
		 ifconfig {{ itf['ifname'] }}{% if itf['vhid'] is defined %} vhid {{ itf['vhid'] }} {% endif %}advbase 25;	\
		 ifconfig {{ itf['ifname'] }}{% if itf['vhid'] is defined %} vhid {{ itf['vhid'] }} {% endif %}advskew 254;	\
{% endif %}
{% endfor %}
{% endif %}
{% if hastd_resources is defined %}
{% for resource in hastd_resources %}
		 hastctl role secondary {{ resource['name'] }};	\
{% endfor %}
		 rm -f /etc/ctl.conf;	\
		 ln -s /etc/ctl-failover.conf /etc/ctl.conf;	\
		 /etc/rc.d/ctld onerestart;	\
{% endif %}
{% if dhcrelay_interfaces is defined %}
		 pkill dhcrelay;	\
{% endif %}
{% if ftp_proxy_nat is defined %}
		 pkill ftp-proxy;	\
{% endif %}
{% if tftp_proxy_nat is defined %}
		 pkill tftp-proxy;	\
{% endif %}
{% if igmpproxy_downstream is defined %}
		 pkill igmpproxy;	\
{% endif %}
{% if carp_backup_route is defined %}
		 route delete default;	\
		 route add default `cat /etc/myigate`; \
{% endif %}
		 "
    }

    if $net
	set-state justguessing
}

state justguessing
{
    if "sleep 5" every 10 && ! $net
	set-state backup
    if $net
	set-state primary
}
