$ActionQueueFileName queue
$ActionQueueType LinkedList
$ActionQueueSaveOnShutdown on
$ActionResumeRetryCount -1
$InputFilePollInterval 10
$WorkDirectory {{ rsyslog_spool_dir }}
:syslogseverity-text, isequal, "notice" ~
:syslogfacility-text, isequal, "mark" ~
:syslogfacility-text, isequal, "uucp" ~
{% if syslog_ip is defined %}
{{ syslog_transmit_facility }}.{{ syslog_transmit_severity }}	{% if syslog_proto == "tcp" %}@{% endif %}{{ syslog_ip }}{% if syslog_port != 514 %}:{{ syslog_port }}{% endif %};RSYSLOG_ForwardFormat
{% elif syslog_esearch_ip is defined %}
$ModLoad	omelasticsearch

main_queue(queue.size="{{ syslog_queue_size }}"
	queue.dequeuebatchsize="{{ syslog_queue_batchsize }}"
	queue.workerthreads="{{ syslog_queue_workers }}")

template(name="esearchput" type="list") {
	constant(value="{")
	constant(value="\"@timestamp\":\"")
	property(name="timereported" dateformat="rfc3339")
	constant(value="\",\"host\":\"")
	property(name="hostname")
	constant(value="\",\"message\":\"")
	property(name="msg" format="json")
	constant(value="\"}")
    }

{{ syslog_transmit_facility }}.{{ syslog_transmit_severity }}	action(type="omelasticsearch"
	action.resumeretrycount="-1"
	bulkmode="on"
	queue.type="linkedlist"
	queue.size="{{ syslog_queue_size }}"
	queue.dequeuebatchsize="{{ syslog_queue_batchsize }}"
	queue.workerthreads="{{ syslog_queue_workers }}"
	searchIndex="{{ syslog_esearch_index }}"
	server="{{ syslog_esearch_ip }}"
	template="esearchput")
{% else %}
# no output module defined
{% endif %}
