[General]
config_version = 3
log_dir = Logs
web_port = {{ sickbeard_listen_port }}
web_host = {{ sickbeard_listen_host }}
web_ipv6 = 0
web_log = 1
web_root = ""
web_username = ""
web_password = ""
anon_redirect = http://derefer.me/?
use_api = 0
api_key = ""
enable_https = 0
https_cert = server.crt
https_key = server.key
use_nzbs = 1
use_torrents = 0
nzb_method = sabnzbd
usenet_retention = 50000
search_frequency = 10
download_propers = 1
quality_default = {{ sickbeard_quality_default }}
status_default = 5
flatten_folders_default = 0
provider_order = {% if nzbprovider is defined %}{{ nzbprovider }} {% endif%}nzbs_org womble_s_index sick_beard_index tvtorrents ezrss btn torrentleech usenet_crawler hdbits omgwtfnzbs
version_notify = 0
naming_pattern = %Sx%0E - %EN
naming_custom_abd = 0
naming_abd_pattern = %SN - %A-D - %EN
naming_multi_ep = 2
launch_browser = 1
use_banner = 0
use_listview = 0
metadata_xbmc = 0|0|0|0|0|0
metadata_mediabrowser = 0|0|0|0|0|0
metadata_ps3 = 0|0|0|0|0|0
metadata_wdtv = 0|0|0|0|0|0
metadata_tivo = 0|0|0|0|0|0
metadata_synology = 0|0|0|0|0|0
cache_dir = cache
root_dirs = 0|/var/www/sickbeard/store
tv_download_dir = ""
keep_processed_dir = 0
move_associated_files = 1
process_automatically = 0
rename_episodes = 1
create_missing_show_dirs = 0
add_shows_wo_dir = 0
extra_scripts = ""
git_path = ""
ignore_words = "german,french,core2hd,dutch,swedish"
[Blackhole]
nzb_dir = ""
torrent_dir = ""
[EZRSS]
ezrss = 0
[HDBITS]
hdbits = 0
hdbits_username = ""
hdbits_passkey = ""
[TVTORRENTS]
tvtorrents = 0
tvtorrents_digest = ""
tvtorrents_hash = ""
[BTN]
btn = 0
btn_api_key = ""
[TorrentLeech]
torrentleech = 0
torrentleech_key = ""
[NZBs]
nzbs = 0
nzbs_uid = ""
nzbs_hash = ""
[Womble]
womble = 0
[omgwtfnzbs]
omgwtfnzbs = 0
omgwtfnzbs_username = ""
omgwtfnzbs_apikey = ""
[SABnzbd]
{% if sabnzb_username is defined and sabnzb_password is defined %}
sab_username = {{ sabnzb_username }}
sab_password = {{ sabnzb_password }}
{% else %}
sab_username = ""
sab_password = ""
{% endif %}
sab_apikey = {{ sabnzb_api_key }}
sab_category = tv
sab_host = {{ sab_proto }}://{{ sab_host }}/
[NZBget]
nzbget_password = tegbzn6789
nzbget_category = tv
nzbget_host = ""
[XBMC]
use_xbmc = 0
xbmc_notify_onsnatch = 0
xbmc_notify_ondownload = 0
xbmc_update_library = 0
xbmc_update_full = 0
xbmc_update_onlyfirst = 0
xbmc_host = ""
xbmc_username = ""
xbmc_password = ""
[Plex]
use_plex = 0
plex_notify_onsnatch = 0
plex_notify_ondownload = 0
plex_update_library = 0
plex_server_host = ""
plex_host = ""
plex_username = ""
plex_password = ""
[Growl]
use_growl = 0
growl_notify_onsnatch = 0
growl_notify_ondownload = 0
growl_host = ""
growl_password = ""
[Prowl]
use_prowl = 0
prowl_notify_onsnatch = 0
prowl_notify_ondownload = 0
prowl_api = ""
prowl_priority = 0
[Twitter]
use_twitter = 0
twitter_notify_onsnatch = 0
twitter_notify_ondownload = 0
twitter_username = ""
twitter_password = ""
twitter_prefix = Sick Beard
[Boxcar]
use_boxcar = 0
boxcar_notify_onsnatch = 0
boxcar_notify_ondownload = 0
boxcar_username = ""
[Pushover]
use_pushover = 0
pushover_notify_onsnatch = 0
pushover_notify_ondownload = 0
pushover_userkey = ""
[Libnotify]
use_libnotify = 0
libnotify_notify_onsnatch = 0
libnotify_notify_ondownload = 0
[NMJ]
use_nmj = 0
nmj_host = ""
nmj_database = ""
nmj_mount = ""
[Synology]
use_synoindex = 0
[NMJv2]
use_nmjv2 = 0
nmjv2_host = ""
nmjv2_database = ""
nmjv2_dbloc = ""
[Trakt]
use_trakt = 0
trakt_username = ""
trakt_password = ""
trakt_api = ""
[pyTivo]
use_pytivo = 0
pytivo_notify_onsnatch = 0
pytivo_notify_ondownload = 0
pyTivo_update_library = 0
pytivo_host = ""
pytivo_share_name = ""
pytivo_tivo_name = ""
[NMA]
use_nma = 0
nma_notify_onsnatch = 0
nma_notify_ondownload = 0
nma_api = ""
nma_priority = 0
[Newznab]
newznab_data = Sick Beard Index|http://lolo.sickbeard.com/||0!!!NZBs.org|http://nzbs.org/||0!!!{% if nzbprovider is defined %}{{ nzbprovider }}|https://{{ nzb_host }}/|{{ nzb_api_key }}|1!!!{% endif %}Usenet-Crawler|http://www.usenet-crawler.com/||0
[GUI]
coming_eps_layout = {{ sickbeard_comingeps_layout }}
coming_eps_display_paused = {{ sickbeard_comingeps_paused }}
coming_eps_sort = date
