$ModLoad imfile
{% for channel in sickbeard_rsyslog_channels %}

$InputFileName		/var/log/sickbeard/{{ channel }}.log
$InputFileTag		sb-{{ channel }}:
$InputFileStateFile	sb-{{ channel }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
