acl	"query-acl"
{
{% for remote in named_queryacl %}
    {{ remote }};
{% endfor %}
};

acl	"querycache-acl"
{
{% for remote in named_queryacl %}
    {{ remote }};
{% endfor %}
};

acl	"transfer-acl"
{
{% for remote in named_transferacl %}
    {{ remote }};
{% endfor %}
};

acl	"private-acl"
{
{% for remote in named_privateacl %}
    {{ remote }};
{% endfor %}
};
