{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
zone "localhost.localdomain"
{
    type		master;
    file		"named.localhost";
    allow-update	{ none; };
};

{% elif ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
zone "."
{
    type		hint;
    file		"{{ named_conf_dir }}/db.root";
};

{% endif %}
zone "localhost"
{
    type		master;
    file		"{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}{{ named_conf_dir }}/db.local{% else %}named.localhost{% endif %}";
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
    allow-update	{ none; };
{% endif %}
};

zone "{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}1.0.0.{% endif %}127.in-addr.arpa"
{
    type		master;
    file		"{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}{{ named_conf_dir }}/db.127{% else %}named.loopback{% endif %}";
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
    allow-update	{ none; };
{% endif %}
};

zone "0.in-addr.arpa"
{
    type		master;
    file		"{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}{{ named_conf_dir }}/db.0{% else %}named.empty{% endif %}";
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
    allow-update	{ none; };
{% endif %}
};
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}

zone "255.in-addr.arpa"
{
    type	master;
    file	"{{ named_conf_dir }}/db.255";
};
{% endif %}
