#!/bin/sh

DOMAIN={{ dirdomain }}
SEARCHBASE=dlzZoneName=$DOMAIN,ou=dns,{{ dirbase }}
SEARCHUSER="cn=named,ou=services,{{ dirbase }}"
SEARCHPASS="{{ ldap_dns_psk }}"
TMPFILE=/tmp/cettepute

. /usr/local/sbin/libgenview

init_database >$TMPFILE

for host in `ldapsearch -x		\
	    -D $SEARCHUSER		\
	    -W $SEARCHPASS		\
	    -b $SEARCHBASE		\
	    "(dlzRecordId=*)" dlzHostName`
do
    print_record $host
done >>$TMPFILE

exit 0
