logging
{
{% for channel in named_channels %}
    channel		{{ channel }}_file
    {
	file		"{{ named_log_dir }}/{{ channel }}.log" versions 3 size 5m;
	severity	dynamic;
	print-time	yes;
    };
    category		{{ channel }}
    {
	{{ channel }}_file;
    };
{% endfor %}
};
{% if collectd_monitored == true %}

statistics-channels
{
    inet 127.0.0.1 port 8053;
};
{% endif %}
