include			"{{ named_conf_dir }}/named.conf.ACL";
include			"{{ named_conf_dir }}/named.conf.options";
include			"{{ named_conf_dir }}/named.conf.logs";

view "private"
{
    match-clients	{ private-acl; };
    recursion		yes;
    include		"{{ named_conf_dir }}/named.conf.default-zones";

    dlz "ldap zone"
    {
{% set closestring  = '}' %}
{% set openstring   = '{' %}
{% set userstring   = 'cn=named,ou=services,' + dirbase %}
{% set completeuser = openstring + userstring + closestring %}
{% set completepsk  = openstring + ldap_dns_psk + closestring %}
	database "ldap 2

{% if ldap_repl_casse_ou_some_shit_approchante is defined %}
	v3 simple {{ completeuser }} {{ completepsk }} { authmaster.adm.intra.unetresgrossebite.com {{ altdirhost }} }
{% else %}
	v3 simple {{ completeuser }} {{ completepsk }} { {{ dirhost }} {{ altdirhost }} }
{% endif %}

	ldap:///dlzZoneName=$zone$,ou=dns,{{ dirbase }}???objectclass=dlzZone
	ldap:///dlzHostName=$record$,dlzZoneName=$zone$,ou=dns,{{ dirbase }}?dlzTTL,dlzType,dlzPreference,dlzData,dlzIPAddr?sub?(&(objectclass=dlzAbstractRecord)(!(dlzType=soa)))
	ldap:///dlzHostName=@,dlzZoneName=$zone$,ou=dns,{{ dirbase }}?dlzTTL,dlzType,dlzData,dlzPrimaryNS,dlzAdminEmail,dlzSerial,dlzRefresh,dlzRetry,dlzExpire,dlzMinimum?sub?(&(objectclass=dlzAbstractRecord)(dlzType=soa))
	ldap:///dlzZoneName=$zone$,ou=dns,{{ dirbase }}?dlzTTL,dlzType,dlzHostName,dlzPreference,dlzData,dlzIPAddr,dlzPrimaryNS,dlzAdminEmail,dlzSerial,dlzRefresh,dlzRetry,dlzExpire,dlzMinimum?sub?(&(objectclass=dlzAbstractRecord)(!(dlzType=soa)))
	ldap:///dlzZoneName=$zone$,ou=dns,{{ dirbase }}??sub?(&(objectclass=dlzXFR)(dlzIPAddr=$client$))
";
    };
};

view "public"
{
    match-clients	{ any; };
    recursion		no;
    include		"{{ named_conf_dir }}/named.conf.default-zones";

    dlz "ldap zone"
    {
	database "ldap 2

	v3 simple {{ completeuser }} {{ completepsk }} { {{ dirhost }} {{ altdirhost }} }

	ldap:///dlzZoneName=$zone$,ou=dnspub,{{ dirbase }}???objectclass=dlzZone
	ldap:///dlzHostName=$record$,dlzZoneName=$zone$,ou=dnspub,{{ dirbase }}?dlzTTL,dlzType,dlzPreference,dlzData,dlzIPAddr?sub?(&(objectclass=dlzAbstractRecord)(!(dlzType=soa)))
	ldap:///dlzHostName=@,dlzZoneName=$zone$,ou=dnspub,{{ dirbase }}?dlzTTL,dlzType,dlzData,dlzPrimaryNS,dlzAdminEmail,dlzSerial,dlzRefresh,dlzRetry,dlzExpire,dlzMinimum?sub?(&(objectclass=dlzAbstractRecord)(dlzType=soa))
	ldap:///dlzZoneName=$zone$,ou=dnspub,{{ dirbase }}?dlzTTL,dlzType,dlzHostName,dlzPreference,dlzData,dlzIPAddr,dlzPrimaryNS,dlzAdminEmail,dlzSerial,dlzRefresh,dlzRetry,dlzExpire,dlzMinimum?sub?(&(objectclass=dlzAbstractRecord)(!(dlzType=soa)))
	ldap:///dlzZoneName=$zone$,ou=dnspub,{{ dirbase }}??sub?(&(objectclass=dlzXFR)(dlzIPAddr=$client$))
";
    };
};
