options
{
    directory		"{{ named_cachedir }}";
    auth-nxdomain	no;
{% if named_dnssec %}
    dnssec-enable	yes;
    dnssec-validation	yes;
    dnssec-lookaside	auto;
{% endif %}
    recursion		{% if named_recurse %}yes{% else %}no{% endif %};
    statistics-file	"{{ named_cachedir }}/named.stats";

    listen-on-v6	{ none; };
    allow-query		{ any; };
    allow-query-cache	{ any; };
};
