{% if named_chrooted %}
$AddUnixListenSocket	/var/named/chroot/dev/log
{% endif %}
$ModLoad imfile
{% for channel in named_channels %}

$InputFileName		{{ named_log_dir }}/{{ channel }}.log
$InputFileTag		named-{{ channel }}:
$InputFileStateFile	named-{{ channel }}
{% if channel == "security" or channel == "unmatched" %}
$InputFileSeverity	warning
{% else %}
$InputFileSeverity	info
{% endif %}
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
