url_prefix = /
use_bookmark_titles = 0
use_dynamic_titles = 1
use_strict_host_authorization = 0
cgi.cfg             = /etc/thruk/cgi.cfg
use_frames          = 1
use_feature_histogram = 0
use_feature_trends = 1
use_feature_recurring_downtime = 1
use_service_description = 0
strict_passive_mode = 1
hide_passive_icon = 0
delay_pages_after_backend_reload = 0
ssl_verify_hostnames=1
home_link = https://thruk.{{ dirdomain }}
#all_problems_link = /thruk/cgi-bin/status.cgi?style=combined&amp;hst_s0_hoststatustypes=4&amp;hst_s0_servicestatustypes=31&amp;hst_s0_hostprops=10&amp;hst_s0_serviceprops=0&amp;svc_s0_hoststatustypes=3&amp;svc_s0_servicestatustypes=28&amp;svc_s0_hostprops=10&amp;svc_s0_serviceprops=10&amp;svc_s0_hostprop=2&amp;svc_s0_hostprop=8&amp;title=All+Unhandled+Problems
#allowed_frame_links = http://my-company/
use_new_search      = 1
use_new_command_box = 1
use_ajax_search           = 1  # enable ajax search
ajax_search_hosts         = 1  # suggest hosts while typing
ajax_search_hostgroups    = 1  # suggest hostgroups while typing
ajax_search_services      = 1  # suggest services while typing (can be slow which large amount of services)
ajax_search_servicegroups = 1  # suggest servicegroups while typing
ajax_search_timeperiods   = 1  # suggest timeperiods while typing
default_theme       = Thruk
tmp_path = /var/cache/thruk
var_path = /var/lib/thruk
ssi_path = /etc/thruk/ssi/
plugin_path = /etc/thruk/plugins/
themes_path = /etc/thruk/themes/
log4perl_conf = /etc/thruk/log4perl.conf
use_pager             = 1
paging_steps          = *100, 500, 1000, 5000, all
group_paging_overview = *3,  10, 100, all
group_paging_summary  = *10, 50, 100, all
group_paging_grid     = *5,  10, 50,  all
show_long_plugin_output = popup
status_color_background = 0
info_popup_event_type = onclick
info_popup_options    = STICKY,CLOSECLICK,HAUTO,MOUSEOFF
show_notification_number = 1
show_config_edit_buttons = 0
show_backends_in_table=0
#show_logout_button=0
show_full_commandline = 1
show_full_commandline_source = check_command
perf_bar_mode = match
perf_bar_pnp_popup = 1
shown_inline_pnp = 1
# examples:
#  for pnp4nagios: /pnp4nagios/
#  for graphite:   /render/
#graph_word =
show_modified_attributes = 1
can_submit_commands = 1

<cmd_defaults>
    ahas                   = 0  # For Hosts Too
    broadcast_notification = 0  # Broadcast
    force_check            = 0  # Forced Check
    force_notification     = 0  # Forced Notification
    send_notification      = 1  # Send Notification
    sticky_ack             = 1  # Sticky Acknowledgement
    persistent_comments    = 1  # Persistent Comments
    persistent_ack         = 0  # Persistent Acknowledgement Comments
    ptc                    = 0  # For Child Hosts Too
    use_expire             = 0  # Use expire for acknowledgements (for cores which support this)
</cmd_defaults>

<cmd_quick_status>
    default                = "reschedule next check"  # text has to match the select text
    reschedule             = 1  # Reschedule next check
    downtime               = 1  # Add/remove downtimes
    comment                = 1  # Add/remove comments
    acknowledgement        = 1  # Add/remove acknowledgements
    active_checks          = 1  # Enable/disable active checks
    notifications          = 1  # Enable/disable notifications
    submit_result          = 1  # Submit passive check result
    reset_attributes       = 1  # Reset modified attributes
</cmd_quick_status>

force_sticky_ack           = 0
force_send_notification    = 0
force_persistent_ack       = 0
force_persistent_comments  = 0
downtime_duration   = 7200
expire_ack_duration = 86400
datetime_format        = %Y-%m-%d  %H:%M:%S
datetime_format_today  = %H:%M:%S
datetime_format_long   = %a %b %e %H:%M:%S %Z %Y
datetime_format_log    = %B %d, %Y  %H
datetime_format_trends = %a %b %e %H:%M:%S %Y
enable_shinken_features = 1

#<priorities>
#  5   = Business Critical
#  4   = Top Production
#  3   = Production
#  2   = Standard
#  1   = Testing
#  0   = Development
#</priorities>

<apache_status>
    # Site        http://127.0.0.1:5000/server-status
    # System      http://127.0.0.1/server-status
    # Other       http://127.0.0.1/server-status
</apache_status>

cron_file          = /var/cache/thruk/thruk_cron.tmp
cron_pre_edit_cmd  = /usr/bin/crontab -l > /var/cache/thruk/thruk_cron.tmp
cron_post_edit_cmd = /usr/bin/crontab /var/cache/thruk/thruk_cron.tmp && rm -f /var/cache/thruk/thruk_cron.tmp
thruk_bin = /usr/bin/thruk
thruk_init = /etc/init.d/thruk
first_day_of_week = 0
report_use_temp_files = 14
# report_max_objects = 1000
use_wait_feature = 1
wait_timeout = 10
<initial_menu_state>
    General        = 1
    Current_Status = 1
    Reports        = 1
    System         = 1
    Bookmarks      = 1
</initial_menu_state>
mobile_agent=iPhone,Android,IEMobile
show_error_reports = 1
skip_js_errors  = cluetip is not a function
bug_email_rcpt = samuel@unetresgrossebite.com
cookie_auth_login_url             = thruk/cgi-bin/login.cgi
cookie_auth_restricted_url        = http://localhost/thruk/cgi-bin/restricted.cgi
cookie_auth_session_timeout       = 604800
cookie_auth_session_cache_timeout = 5
#cookie_auth_domain               = .domain.com
#cookie_auth_login_hook           = ./bin/hook.sh

check_local_states = 1
backend_debug = 0
connection_pool_size = 0

<Component Thruk::Backend>
    <peer>
        name   = Shinken
        type   = livestatus
        hidden = 0
        <options>
            peer    = 127.0.0.1:50000
       </options>
       <configtool>
            core_conf      = /etc/shinken/nagios.cfg
            obj_check_cmd  = /etc/init.d/shinken check
            obj_reload_cmd = /etc/init.d/shinken reload
       </configtool>
    </peer>
</Component>

<Component Thruk::Plugin::ConfigTool>
    show_plugin_syntax_helper = 1
    thruk    = /etc/thruk/thruk_local.conf
    cgi.cfg  = /etc/thruk/cgi.cfg
    htpasswd = /etc/thruk/htpasswd
</Component>

<Component Thruk::Plugin::Panorama>
    state_provider = server
    #default_view = /path/to/defaultview
    #readonly = 0
</Component>

<Component Thruk::Plugin::Reports2>
    #report_nice_level = 5
    #report_base_url=http://host.local/thruk/cgi-bin/
    wkhtmltopdf = /usr/share/thruk/script/wkhtmltopdf
    #pnp_export = /path/to/pnp_export.sh
    report_from_email = Samuel <samuel@unetresgrossebite.com>
</Component>

<Component Thruk::Plugin::Statusmap>
    default_type    = circle #table
    default_groupby = servicegroup #parent
</Component>

<Component Thruk::Plugin::Minemap>
    #default_link = /thruk/cgi-bin/minemap.cgi
</Component>

<Component Thruk::Plugin::BP>
    #spool_dir = /var/nagios/rw/check_results
    #objects_save_file = /etc/nagios/conf.d/thruk_bp_generated.cfg
    #objects_templates_file = /etc/nagios/conf.d/thruk_bp_templates.cfg
    #objects_reload_cmd = /etc/init.d/nagios reload
    #pre_save_cmd   =
    #post_save_cmd  =
    #refresh_interval = 1
</Component>
