<LoadPlugin python>
    Globals	true
</LoadPlugin>
<Plugin python>
    ModulePath	"{{ collectd_share_dir }}/plugins/"
    Import	"elasticsearch"
    <Module "elasticsearch">
	Verbose	false
	Cluster	"{{ elasticsearch_cluster_name }}"
	Host	"{% if ansible_eth1 is defined %}{{ ansible_eth1['ipv4']['address'] }}{% else %}{{ ansible_default_ipv4['address'] }}{% endif %}"
    </Module>
</Plugin>
