cluster.name: "{{ elasticsearch_cluster_name }}"
node.name: "{{ ansible_hostname }}"
node.master: {% if elasticsearch_is_master == true %}tru{% else %}fals{% endif %}e
node.data: {% if elasticsearch_is_data == true %}tru{% else %}fals{% endif %}e
index.number_of_shards: {{ elasticsearch_number_of_shards }}
index.number_of_replicas: {{ elasticsearch_number_of_replicas }}
discovery.zen.minimum_master_nodes: {{ elasticsearch_minimum_master_nodes }}
discovery.zen.ping.timeout: {{ elasticsearch_ping_timeout }}
path.logs: {{ elasticsearch_log_dir }}
network.host: {% if ansible_eth1 is defined %}{{ ansible_eth1['ipv4']['address'] }}{% else %}{{ ansible_default_ipv4['address'] }}{% endif %}
