command[check_elasticsearch]={{ nagios_probe_dir }}/check_elasticsearch -H {% if ansible_eth1 is defined %}{{ ansible_eth1['ipv4']['address'] }}{% else %}{{ ansible_default_ipv4['address'] }}{% endif %}
