#!/bin/sh

{% if elasticsearch_master_addr is defined %}
ESEARCHMASTER={{ elasticsearch_master_addr }}
{% endif %}
HOSTNAME=`hostname`
LOGFILE={{ elasticsearch_log_dir }}/{{ elasticsearch_cluster_name }}.log
failing=false

if ps ax | grep '/e[l]asticsearch_service_check' | grep -v /bin/sh; then
    failing=true
elif tail -10 $LOGFILE | grep -E '^[^ \t]*\.(NodeDisconnectedException|OutOfMemoryError)'; then
    failing=true
elif tail -10 $LOGFILE | grep "this writer hit an OutOfMemoryError; cannot commit$"; then
    failing=true
{% if elasticsearch_master_addr is defined %}
elif ! http_proxy= curl --connect-timeout 3 --max-time 5 http://$ESEARCHMASTER:9200/_nodes/process | grep $HOSTNAME; then
    failing=true
{% endif %}
elif ! ps ax | grep 'elastic[s]earch'; then
    failing=true
fi >/dev/null 2>&1

if $failing; then
    /etc/init.d/elasticsearch stop
    sleep 2
    /etc/init.d/elasticsearch start
fi >/dev/null 2>&1

exit 0
