input
{
{% if queue_input == false %}
    tcp
    {
	type => syslog
	port => {{ syslog_port }}
    }
    udp
    {
	type => syslog
	port => {{ syslog_port }}
    }
    tcp
    {
	type => apache
	port => {{ syslog_port + 1 }}
    }
    udp
    {
	type => apache
	port => {{ syslog_port + 1 }}
    }
{% elif queue_input == "amqp" and queue_input_host %}
    rabbitmq
    {
	host     => "{{ queue_input_host }}"
	exchange => "rawlogs"
	name     => "rawlogs_consumer"
	type     => "all"
{% if queue_input_user %}
	user     => "{{ queue_input_user }}"
{% if queue_input_password %}
	password => "{{ queue_input_password }}"
{% endif %}
{% endif %}
    }
{% elif queue_input == "redis" and queue_input_host %}
    redis
    {
	data_type => "list"
	host      => "{{ queue_input_host }}"
	key       => "logstash:redis"
	type      => "all"
{% if queue_input_password %}
	password  => "{{ queue_input_password }}"
{% endif %}
    }
{% endif %}
}

{% if queue_input == false %}
filter
{
    if [type] == "syslog"
    {
	grok
	{
	    patterns_dir => "/etc/logstash/patterns"
	    match => [ "message", "<%{POSINT:syslog_pri}>%{TIMESTAMPUSEC} %{SYSLOGHOST:syslog_hostname} %{DATA:syslog_program}(?:\[%{POSINT:syslog_pid}\])?: %{GREEDYDATA:syslog_message}" ]
	    add_field => [ "received_at", "%{@timestamp}" ]
	}
	syslog_pri{ }
	date{ match => [ "TIMESTAMPUSEC", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss", "ISO8601", "UNIX", "UNIX_MS" ] }
	mutate{ rename => [ "syslog_hostname", "source_host" ] }
	mutate{ rename => [ "syslog_message", "@message" ] }
	mutate{ remove_field => [ "TIMESTAMPUSEC", "MICROSECOND" ] }
    }
    if [type] == "apache"
    {   
	grok
	{   
	    patterns_dir => "/etc/logstash/patterns"
	    match => [ "message", "<%{POSINT:syslog_pri}>%{TIMESTAMPUSEC} %{SYSLOGHOST:syslog_hostname} %{DATA:syslog_program}(?:\[%{POSINT:syslog_pid}\])?: %{APACHEACCESSLOG:syslog_message}" ]
	    add_field => [  "received_at", "%{@timestamp}" ]
	}
	syslog_pri{ }
	date{ match => [ "TIMESTAMPUSEC", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss", "ISO8601", "UNIX", "UNIX_MS" ] }
	mutate{ rename => [ "syslog_hostname", "source_host" ] }
	mutate{ rename => [ "syslog_message", "@message" ] }
	mutate{ remove_field => [ "TIMESTAMPUSEC", "MICROSECOND" ] }

	geoip
	{
	    add_tag => [ "geoip_comp" ]
	    source => "clientip"
	    fields => [ "city_name", "country_code3", "latitude", "longitude" ]
	}
	if "geoip_comp" in [tags]
	{
	    mutate{ add_field => [ "coords", "%{[geoip][longitude]}", "tmplat", "%{[geoip][latitude]}" ] }
	    mutate{ merge => [ "coords", "tmplat" ] }
	    mutate{ convert => [ "coords", "float" ] }
	    mutate{ remove_field => [ "tmplat" ] }
	}
    }
}
{% endif %}

output
{
{% if queue_output == "ampq" and queue_output_host %}
    rabbitmq
    {
	exchange_type => "fanout"
	host          => "{{ queue_output_host }}"
	type          => "all"
	name          => "rawlogs"
{% if queue_output_user %}
	user          => "{{ queue_output_user }}"
{% if queue_output_password %}
	password      => "{{ queue_output_password }}"
{% endif %}
{% endif %}
    }
{% elif queue_output == "redis" and queue_output_host %}
    redis
    {
	data_type => "list"
	host      => "{{ queue_output_host }}"
	key       => "logstash:redis"
	type      => "all"
{% if queue_output_password %}
	password  => "{{ queue_output_password }}"
{% endif %}
    }
{% elif queue_output == "gelf" and queue_output_host %}
    gelf
    {
	host     => "{{ queue_output_host }}"
	facility => "{{ ansible_hostname }}-gelf"
    }
{% elif queue_output == "elasticsearch" and queue_output_host %}
    elasticsearch_http
    {
	host => "{{ queue_output_host }}"
	port => "9200"
    }
{% else %}
    stdout {}
{% endif %}
}
