input
{
{% if queue_input == false %}    tcp
    {
	type => syslog
	port => {{ syslog_port }}
    }
    udp
    {
	type => syslog
	port => {{ syslog_port }}
    }
{% elif queue_input == "amqp" and queue_input_host %}    rabbitmq
    {
	host     => "{{ queue_input_host }}"
	exchange => "rawlogs"
	name     => "rawlogs_consumer"
	type     => "all"
{% if queue_input_user %}
	user     => "{{ queue_input_user }}"
{% if queue_input_password %}
	password => "{{ queue_input_password }}"
{% endif %}{% endif %}
    }
{% elif queue_input == "redis" and queue_input_host %}    redis
    {
	data_type => "list"
	host      => "{{ queue_input_host }}"
	key       => "logstash:redis"
	type      => "all"
{% if queue_input_password %}
	password  => "{{ queue_input_password }}"
{% endif %}
    }
{% endif %}}

{% if queue_input == false %}filter
{
    grep
    {
	type    => "syslog"
	match   => ["@message","<\d+>"]
	add_tag => "has_pri"
	drop    => false
    }

    grok
    {
	type      => "syslog"
	tags      => [ "has_pri" ]
	pattern   => [ "<%{POSINT:syslog_pri}>%{SPACE}%{GREEDYDATA:message_remainder}" ]
	add_tag   => "got_syslog_pri"
	add_field => [ "syslog_raw_message", "%{@message}" ]
    }

    syslog_pri
    {
	type => "syslog"
	tags => [ "got_syslog_pri" ]
    }

    mutate
    {
	type    => "syslog"
	tags    => [ "got_syslog_pri" ]
	replace => [ "@message", "%{message_remainder}" ]
    }

    mutate
    {
	type   => "syslog"
	tags   => [ "got_syslog_pri" ]
	remove => [ "message_remainder" ]
    }

    grok
    {
	type      => "syslog"
	pattern   => [ "%{SYSLOGTIMESTAMP:syslog_timestamp}%{SPACE}%{GREEDYDATA:message_remainder}" ]
	add_tag   => "got_syslog_timestamp"
	add_field => [ "received_at", "%{@timestamp}" ]
    }

    mutate
    {
	type    => "syslog"
	tags    => [ "got_syslog_timestamp" ]
	replace => [ "@message", "%{message_remainder}" ]
    }

    mutate
    {
	type   => "syslog"
	tags   => [ "got_syslog_timestamp" ]
	remove => [ "message_remainder" ]
    }

    date
    {
	type  => "syslog"
	tags  => [ "got_syslog_timestamp" ]
	match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss", "ISO8601", "UNIX", "UNIX_MS" ]
    }

    grok
    {
	type      => "syslog"
	pattern   => [ "%{SYSLOGHOST:syslog_hostname}%{SPACE}%{GREEDYDATA:message_remainder}" ]
	add_tag   => "got_syslog_host"
	add_field => [ "logstash_source", "%{@source_host}" ]
    }

    mutate
    {
	type    => "syslog"
	tags    => [ "got_syslog_host" ]
	replace => [ "@source_host", "%{syslog_hostname}" ]
	replace => [ "@message", "%{message_remainder}" ]
    }

    mutate
    {
	type   => "syslog"
	tags   => [ "got_syslog_host" ]
	remove => [ "message_remainder" ]
    }

    grok
    {
	type    => "syslog"
	pattern => [ "%{PROG:syslog_program}(?:\[%{POSINT:syslog_pid}\])?:%{SPACE}%{GREEDYDATA:message_remainder}" ]
	add_tag => "got_syslog_program"
    }

    mutate
    {
	type    => "syslog"
	tags    => [ "got_syslog_program" ]
	replace => [ "@message", "%{message_remainder}" ]
    }

    mutate
    {
	type   => "syslog"
	tags   => [ "got_syslog_program" ]
	remove => [ "message_remainder" ]
    }
}
{% endif %}

output
{
{% if queue_output == "ampq" and queue_output_host %}    rabbitmq
    {
	exchange_type => "fanout"
	host          => "{{ queue_output_host }}"
	type          => "all"
	name          => "rawlogs"
{% if queue_output_user %}
	user          => "{{ queue_output_user }}"
{% if queue_output_password %}
	password      => "{{ queue_output_password }}"
{% endif %}{% endif %}
    }
{% elif queue_output == "redis" and queue_output_host %}    redis
    {
	data_type => "list"
	host      => "{{ queue_output_host }}"
	key       => "logstash:redis"
	type      => "all"
{% if queue_output_password %}
	password  => "{{ queue_output_password }}"
{% endif %}
    }
{% elif queue_output == "gelf" and queue_output_host %}    gelf
    {
	host     => "{{ queue_output_host }}"
	facility => "{{ ansible_hostname }}-gelf"
    }
{% else %}    stdout {}
{% endif %}}
