base {{ dirbase }}
uri {{ ldap_proto }}://{{ dirhost }}/
ldap_version {{ ldap_version }}
{% if ldap_version < 3 and ldap_proto == "ldaps" %}
tls_checkpeer yes
tls_cacertfile /etc/{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}pki/tls{% else %}ssl{% endif %}/certs/{{ keyorg }}.pem
tls_cacertdir /etc/{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}pki/tls{% else %}ssl{% endif %}/certs
{% endif %}
nss_base_passwd ou=users,{{ dirbase }}?sub
nss_base_group ou=groups,{{ dirbase }}?sub&(gidNumber=*)
