START="{% if saslauthd_start %}yes{% else %}no{% endif %}"
DESC="SASL Authentication Daemon"
NAME=saslauthd
MECHANISMS={{ saslauthd_auth_backend }}
MECH_OPTIONS=
THREADS={{ saslauthd_threads }}
OPTIONS="{% if saslauthd_auth_backend == "ldap" %}-O /etc/saslauthd.conf {% endif %}-c -m /var/run/saslauthd"
