ldap_servers: ldaps://{{ dirhost }}
ldap_version: 3
ldap_search_base: ou=users,{{ dirbase }}
ldap_scope: sub
ldap_filter: (|(cn=%u)(|(mail=%u)(cn=%u@{{ dirdomain }})))
ldap_auth_method: bind
ldap_bind_dn: cn=cyrus,ou=services,{{ dirbase }}
ldap_bind_pw: {{ cyrus_ldap_psk }}
