SLAPD_CONF={{ ldap_dir }}/slapd.conf
SLAPD_USER={{ ldap_user }}
SLAPD_GROUP={{ ldap_group }}
SLAPD_PIDFILE=
SLAPD_SERVICES="ldap:/// ldaps:///"
SLAPD_SENTINEL_FILE={{ ldap_dir }}/noslapd
SLAPD_OPTIONS=
