BASE {{ dirbase }}
URI ldaps://{{ dirhost }}/
TLS_CACERT /etc/{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}pki/tls{% else %}ssl{% endif %}/certs/{{ keyorg }}.pem
TLS_REQCERT demand
