[slapd*]
env.server {{ ansible_fqdn }}
{% if munin_slapd_user is defined %}
env.binddn {{ munin_slapd_user }}
{% if munin_slapd_passwd is defined %}
env.bindpw {{ munin_slapd_passwd }}
{% endif %}
{% endif %}
