include			{{ ldap_dir }}/schema/asterisk.schema
include			{{ ldap_dir }}/schema/core.schema
include			{{ ldap_dir }}/schema/cosine.schema
include			{{ ldap_dir }}/schema/dhcp.schema
include			{{ ldap_dir }}/schema/dlz.schema
include			{{ ldap_dir }}/schema/dyngroup.schema
include			{{ ldap_dir }}/schema/inetorgperson.schema
include			{{ ldap_dir }}/schema/kerberos.schema
include			{{ ldap_dir }}/schema/nis.schema
include			{{ ldap_dir }}/schema/openssh-lpk.schema
include			{{ ldap_dir }}/schema/ppolicy.schema
include			{{ ldap_dir }}/schema/samba.schema

pidfile			{{ ldap_run_dir }}/slapd.pid
argsfile		{{ ldap_run_dir }}/slapd.args
loglevel		{% if devel is defined %}stats{% else %}none{% endif %}

modulepath		{{ ldap_mod_dir }}
moduleload		back_hdb
moduleload		memberof
moduleload		ppolicy
moduleload		auditlog
moduleload		dynlist
{% if ldap_master %}
moduleload		syncprov
moduleload		refint
{% endif %}
moduleload		back_monitor

sizelimit		2000
tool-threads		2
backend			hdb
{% if ldap_expose_config is defined %}

database		config
rootdn			"cn=admin,cn=config"
{% if ldap_master %}
rootpw			{{ ldaprootpw }}
{% endif %}

access to *
    by dn.exact="cn=admin,{{ dirbase }}" manage
    by * none
{% endif %}
{% if munin_monitored == true %}

database		monitor

access to *
    by dn="cn=munin,ou=services,{{ dirbase }}" read
    by dn.exact="cn=admin,{{ dirbase }}" read
    by * none
{% endif %}

database		hdb
suffix			"{{ dirbase }}"
directory		"{{ ldap_lib_dir }}"
idletimeout		3600
sasl-secprops		noanonymous,noplain,noactive

dbconfig		set_cachesize  0 104857600 0
dbconfig		set_lk_max_objects 1500
dbconfig		set_lk_max_locks 1500
dbconfig		set_lk_max_lockers 1500

lastmod			on
checkpoint		512 30

rootdn			"cn=admin,{{ dirbase }}"
{% if ldap_master %}
rootpw			{{ ldaprootpw }}
{% endif %}

index			default			pres,approx,eq,sub
index			cn,sn,uid,mail
index			objectClass		eq
index			member			pres,eq
index			memberOf		pres,eq
index			entryUUID		pres,eq
index			entryCSN		pres,eq
index			dlzType			pres,eq
index			dlzIPAddr		eq
index			sambaSID		eq
index			sambaPrimaryGroupSID	eq
index			sambaDomainName		eq
index			gidNumber		eq
index			AstAccountHost		eq
index			AstAccountCallerID	eq,sub
index			AstAccountContext	pres,eq
index			AstContext		pres,eq
index			AstExtension		eq,sub
index			AstPriority		eq
#index			AstQueueName		pres,eq
#index			AstQueueMemberof	pres,eq
index			AstVoicemailMailbox	eq
index			krbPrincipalName	pres,eq
index			krbPwdPolicyReference	pres,eq
index			dhcpHWAddress		eq
index			dhcpClassData		eq  
index			modifyTimestamp		pres,eq

{% if ldap_master %}
overlay			syncprov
syncprov-checkpoint	100 10
overlay			memberof
memberof-refint		true
memberof-dangling	error
memberof-group-oc	groupOfNames
memberof-member-ad	member
memberof-memberof-ad	memberOf
overlay			refint
refint_attributes	manager member
refint_nothing		"cn=nothing,ou=services,{{ dirbase }}"

{% endif %}
overlay			ppolicy
ppolicy_default		"cn=default,ou=policies,{{ dirbase }}"
ppolicy_use_lockout

overlay			auditlog
auditlog		/var/log/ldapaudit

overlay			dynlist
dynlist-attrset		groupOFURLs labeledURI member

TLSCACertificateFile	{{ ldap_dir }}/ssl/service-chain.crt
TLSCertificateKeyFile	{{ ldap_dir }}/ssl/server.key
TLSCertificateFile	{{ ldap_dir }}/ssl/server.crt
{% if ldap_private == false %}
security		simple_bind=128
{% endif %}
sasl-regexp		uid=([^/]*),cn=GSSAPI,cn=auth cn=$1,ou=users,{{ dirbase }}

access to dn.base="" by * read

access to dn.subtree="ou=dhcp,{{ dirbase }}"
    by dn="cn=dhcp,ou=services,{{ dirbase }}" write
    by dn="cn=repl,ou=services,{{ dirbase }}" read
access to dn.subtree="ou=dns,{{ dirbase }}"
    by dn="cn=dhcp,ou=services,{{ dirbase }}" write
    by dn="cn=named,ou=services,{{ dirbase }}" read
    by dn="cn=repl,ou=services,{{ dirbase }}" read
access to dn.subtree="ou=dnspub,{{ dirbase }}"
    by dn="cn=named,ou=services,{{ dirbase }}" read
    by dn="cn=repl,ou=services,{{ dirbase }}" read
access to dn.subtree="ou=sip,{{ dirbase }}"
    by dn="cn=asterisk,ou=services,{{ dirbase }}" write
    by dn="cn=repl,ou=services,{{ dirbase }}" read

access to attrs=userPassword
    by dn.regex="uid=.*/admin,cn=GSSAPI,cn=auth" write
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by dn="cn=bluemind,ou=services,{{ dirbase }}" read
    by self write
    by * auth
access to attrs=userPKCS12
    by dn.regex="uid=.*/admin,cn=GSSAPI,cn=auth" write
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by self write
    by * auth
access to attrs=sambaAcctFlags,sambaKickoffTime,sambaLMPassword,sambaLogoffTime,SambaLogonTime,SambaNTPassword,SambaPwdCanChange,SambaPwdMustChange,SambaSID
    by dn.regex="uid=.*/admin,cn=GSSAPI,cn=auth" write
    by dn="cn=samba,ou=services,{{ dirbase }}" read
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by self read
access to attrs=sshPublicKey,loginShell
    by dn.regex="uid=.*/admin,cn=GSSAPI,cn=auth" write
    by self write
    by * read
access to attrs=shadowLastChange
    by dn.regex="uid=.*/admin,cn=GSSAPI,cn=auth" write
    by dn="cn=bluemind,ou=services,{{ dirbase }}" read
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by anonymous auth
    by self read
access to attrs=entryUUID,createTimestamp,modifyTimestamp
    by dn="cn=bluemind,ou=services,{{ dirbase }}" read
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by anonymous auth
access to attrs=uid,uidNumber,gidNumber,homeDirectory,cn,sn,givenName,mail,memberOf,departmentNumber,o,telephoneNumber,l,title,manager,personalTitle,ou,pwdAccountLockedTime
    by dn.regex="uid=.*/admin,cn=GSSAPI,cn=auth" write
    by * read

access to dn.subtree="ou=services,{{ dirbase }}" attrs=objectclass,entry,children
    by * read
access to dn.subtree="ou=users,{{ dirbase }}" attrs=objectclass,entry,children
    by * read
access to dn.subtree="ou=groups,{{ dirbase }}" attrs=objectclass,entry,children
    by * read

access to dn.subtree="ou=emmausers,{{ dirbase }}"
    by dn="cn=bluemind,ou=services,{{ dirbase }}" read
access to dn.subtree="{{ dirbase }}"
    by dn="cn=bluemind,ou=services,{{ dirbase }}" read
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by dn="cn=kerberos,ou=services,{{ dirbase }}" read
    by dn="cn=krbadmin,ou=services,{{ dirbase }}" read
access to dn.subtree="ou=users,{{ dirbase }}"
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by dn="cn=kerberos,ou=services,{{ dirbase }}" read
    by dn="cn=krbadmin,ou=services,{{ dirbase }}" write
    by dn="cn=openvpn,ou=services,{{ dirbase }}" read
    by dn="cn=pydio,ou=services,{{ dirbase }}" read
access to dn.subtree="ou=groups,{{ dirbase }}"
    by dn="cn=repl,ou=services,{{ dirbase }}" read
access to dn.subtree="cn={{ dirdomain|upper }},{{ dirbase }}"
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by dn="cn=kerberos,ou=services,{{ dirbase }}" read
    by dn="cn=krbadmin,ou=services,{{ dirbase }}" write

access to *
    by dn="cn=repl,ou=services,{{ dirbase }}" read
    by dn="cn=kerberos,ou=services,{{ dirbase }}" read
    by dn="cn=krbadmin,ou=services,{{ dirbase }}" write
    by * none
{% if ldap_slave %}

syncrepl rid={{ ldap_slave }}
    provider=ldaps://{{ ldap_host }}
    type=refreshAndPersist
    retry="60 10 300 +"
    searchbase="{{ dirbase }}"
    schemachecking=off
    bindmethod=simple
    binddn="cn=repl,ou=services,{{ dirbase }}"
    credentials={{ ldap_repl_pass }}
    tls_cacert=/etc/{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}pki/tls{% else %}ssl{% endif %}/certs/{{ keyorg }}.pem
    tls_reqcert=demand
{% endif %}
