START {
{% if cyrus_idled %}
    lmtpsocketpath	cmd="/bin/mkdir -p {{ cyrus_run_dir }}/socket"
{% endif %}
    recover		cmd="{{ cyrus_bin }} ctl_cyrusdb -r"
{% if cyrus_idled %}
    idled		cmd="idled"
{% endif %}
{% if cyrus_murder %}
    mupdatepush		cmd="{{ cyrus_bin }} ctl_mboxlist -m"
{% endif %}
    delprune		cmd="{{ cyrus_bin }} expire -E 3"
    tlsprune		cmd="{{ cyrus_bin }} tls_prune"
}

SERVICES {
{% if cyrus_imapd == true %}
    imap		cmd="imapd -U {{ cyrus_imap_processes }}" listen="{{ imap_port }}" prefork={{ cyrus_imapd_prefork }} maxchild={{ cyrus_imapd_maxchild }} proto=tcp4 maxforkrate=4
{% endif %}
{% if cyrus_imapd_ssl == true %}
    imaps		cmd="imapd -s -U {{ cyrus_imapd_ssl_processes }}" listen="{{ imaps_port }}" prefork={{ cyrus_imapd_prefork }} maxchild={{ cyrus_imapd_ssl_maxchild }} proto=tcp4 maxforkrate=4
{% endif %}
{% if cyrus_popd == true %}
    pop3		cmd="pop3d -U {{ cyrus_popd_processes }}" listen="{{ pop_port }}" prefork={{ cyrus_popd_prefork }} maxchild={{ cyrus_popd_maxchild }} proto=tcp4 maxforkrate=4
{% endif %}
{% if cyrus_popd_ssl == true %}
    pop3s		cmd="pop3d -s -U {{ cyrus_popd_ssl_processes }}" listen="{{ pops_port }}" prefork={{ cyrus_popd_ssl_prefork }} maxchild={{ cyrus_popd_ssl_maxchild }} proto=tcp4 maxforkrate=4
{% endif %}
{% if cyrus_nntpd == true %}
    nntp		cmd="nntpd -U 5" listen="nntp" prefork=0 maxchild=100 proto=tcp4 maxforkrate=4
    nntps		cmd="nntpd -s -U 50" listen="nntps" prefork=0 maxchild=100 proto=tcp4 maxforkrate=4
{% endif %}
{% if cyrus_lmtpd == true %}
    lmtp		cmd="lmtpd -a" listen="localhost:lmtp" prefork={{ cyrus_lmtpd_prefork }} maxchild={{ cyrus_lmtpd_maxchild }} proto=tcp4 maxforkrate=4
{% else %}
    lmtpunix		cmd="lmtpd" listen="{{ cyrus_run_dir }}/socket/lmtp" prefork=0 maxchild=20
{% endif %}
    sieve		cmd="timsieved" listen="{{ lmtp_port }}" prefork={{ lmtpd_prefork }} maxchild={{ lmtpd_maxchild }} proto=tcp4
    notify		cmd="notifyd" listen="{{ cyrus_run_dir }}/socket/notify" proto="udp" prefork=1
}

EVENTS {
    squatter_1		cmd="squatter -s" at=2100
    checkpoint		cmd="ctl_cyrusdb -c" period=30
    delprune		cmd="cyr_expire -E 3" at=0401
    tlsprune		cmd="tls_prune" at=0401
}
