{% if cyrus_partitions is defined %}
{% for partition in cyrus_partitions %}
partition-{{ partition }}: {{ cyrus_imapspool_dir }}/{{ partition }}
{% endfor %}
{% endif %}
configdirectory: {{ cyrus_imap_dir }}
defaultpartition: default
partition-default: {{ cyrus_imapspool_dir }}
partition-news: {{ cyrus_nntp_dir }}
newsspool: /var/spool/news
altnamespace: yes
userprefix: {{ cyrus_share_userprefix }}
sharedprefix: {{ cyrus_share_boxprefix }}
unixhierarchysep: yes
allowusermoves: yes
singleinstancestore: yes
lmtp_downcase_rcpt: yes
admins: {{ cyrus_admins }}
{% if cyrus_lmtpd %}
lmtp_admins: {{ cyrus_lmtp_admins }}
{% endif %}
allowanonymouslogin: no
popminpoll: 0
autocreatequota: 0
umask: 077
#sendmail: /usr/sbin/sendmail
sieveusehomedir: false
sievedir: {{ cyrus_sieve_spool_dir }}
sieve_extensions: body copy fileinto imapflags vacation include
hashimapspool: true
allowplaintext: {{ cyrus_allow_plaintext }}
sasl_mech_list: PLAIN
sasl_pwcheck_method: saslauthd
sasl_auto_transition: no
virtdomains: userid
tls_cert_file: {{ cyrus_ssl_cert }}
tls_key_file: {{ cyrus_ssl_key }}
tls_ca_file: {{ cyrus_ssl_ca }}
{% if ansible_distribution == "Debian" or ansible_distributino == "OpenBSD" or ansible_distribution == "Ubuntu" %}
tls_ca_path: /etc/ssl/certs
{% endif %}
{% if ansible_distribution == "CentOS" or ansible_distributino == "RedHat" %}
tls_ca_path: /etc/pki/tls/certs
{% endif %}
tls_session_timeout: 1440
tls_cipher_list: TLSv1+HIGH:!aNULL:@STRENGTH
{% if cyrus_lmtpd %}
lmtpsocket: {{ cyrus_run_dir }}/socket/lmtp
{% endif %}
{% if cyrus_idled %}
idlesocket: {{ cyrus_run_dir }}/socket/idle
idlemethod: idled
{% endif %}
notifysocked: {{ cyrus_run_dir }}/socket/notify
syslog_prefix: cyrus
munge8bit: 0
{% if cyrus_lmtpd %}
proxy_authname: {{ cyrus_lmtp_admins }}
proxy_password: {{ cyrus_lmtp_password }}
{% endif %}
sieve_maxscripts: 10000
serverinfo: off
