[kdcdefaults]
    kdc_ports = 750,88

[realms]
    {{ dirdomain|upper }} = {
	database_name = /var/lib/krb5kdc/principal
	admin_keytab = FILE:/etc/krb5kdc/kadm5.keytab
	acl_file = /etc/krb5kdc/kadm5.acl
	key_stash_file = /etc/krb5kdc/stash
	kdc_ports = 750,88
	max_file = 10h 0m 0s
	max_newnewable_file = 7d 0h 0m 0s
	master_key_type = des3-hmac-sha1
	supported_enctypes = aes256-cts:normal arcfour-hmac:normal des3-hmac-sha1:normal des-cbc-crc:normal des:normal des:v4 des:norealm des:onlyrealm des:afs3
	default_principal_flags = +preauth
    }
