[libdefaults]
    default_realm = {{ dirdomain|upper }}
    krb4_config = /etc/krb.conf
    krb4_realms = /etc/krb.realms
    kdc_timesync = 1
    ccache_type = 4
    forwardable = true
    proxiable = true
    v4_instance_resolve = false
    fcc-mit-ticketflags = true

[realms]
    {{ dirdomain|upper }} = {
{% for kdc in kdc_hosts %}
	kdc = {{ kdc }}
{% endfor %}
{% for kdc in kdc_master %}
	master_kdc = {{ kdc }}
{% endfor %}
	admin_server = {{ kdc_admin }}
	default_domain = {{ dirdomain|lower }}
{% if kerberos_client == false %}
	database_module = openldap_ldapconf
{% endif %}
    }

[domain_realm]
    .{{ dirdomain|lower }} = {{ dirdomain|upper }}

[login]
    krb4_convert = true
    krb4_get_tickets = false
{% if kerberos_client == false %}

[dbdefaults]
    ldap_kerberos_container_dn = {{ dirbase }}

[dbmodules]
    openldap_ldapconf = {
	db_library = kldap
	ldap_kerberos_container_db = "cn={{ dirdomain|upper }},{{ dirbase }}"
	ldap_kdc_dn = "cn=kerberos,ou=services,{{ dirbase }}"
	ldap_kadmind_dn = "cn=krbadmin,ou=services,{{ dirbase }}"
	ldap_service_password_file = /etc/krb5kdc/service.keyfile
	ldap_servers = ldaps://{{ dirhost }} ldaps://{{ altdirhost }}
	ldap_conns_per_server = 5
    }
{% endif %}
