{% if item['ip'] is defined %}
{% if item['netmask'] is defined %}
{% set netmask = item['netmask'] %}
{% else %}
{% set netmask = "255.255.0.0" %}
{% endif %}
{% if item['broadcast'] is defined %}
{% set broadcast = item['broadcast'] %}
{% else %}
{% set broadcast = "NONE" %}
{% endif %}
{% set sttif = "inet " ~ item['ip'] ~ " " ~ netmask ~ " " ~ broadcast %}
{% else %}
{% set sttif = "up" %}
{% endif %}
{% if item['ifname'] is defined and item['vid'] is defined %}
{{ sttif }} vlan {{ item['vid'] }} vlandev {{ item['ifname'] }}
{% if item['ipalias'] is defined and netmask is defined %}
{% for host in item['ipalias'] %}
inet alias {{ host }} {{ netmask }}
{% endfor %}
{% endif %}
{% endif %}
{% if item['routefor'] is defined %}
{% for route in item['routefor'] %}
{% if item['gw'] is defined and (netmask is not defined or netmask != "255.255.255.255") %}
!route add {{ route }} {{ item['gw'] }}
{% else %}
!route add {{ route }} -link -iface {{ item['ifname'] }}
{% endif %}
{% endfor %}
{% endif %}
{% if i_strongly_believe_ipv6_would_die_before_ipv4 is defined %}
-inet6
{% endif %}
{% if item['rdomain'] is defined %}
rdomain {{ item['rdomain'] }}
{% endif %}
