define command {
    command_name	check_dns
    command_line	/usr/lib/nagios/plugins/check_dns -H {{ ntp_server }} -s '$HOSTADDRESS$'
}

define command {
    command_name	check_nsdec
    command_line	/usr/lib/nagios/plugins/check_dns -H '$HOSTNAME$' -s {{ dns_one }}
}

define command {
    command_name	check_nsrev
    command_line	/usr/lib/nagios/plugins/check_dns -H '$HOSTADDRESS$' -s {{ dns_one }}
}

define command {
    command_name	check_dig
    command_line	/usr/lib/nagios/plugins/check_dig -H '$HOSTADDRESS$' -l '$ARG1$'
}
