define host {
{% if nagios_natted_address is defined %}
    address				{{ nagios_natted_address }}
{% elif ansible_eth0 is defined %}
{% if ansible_eth0['ipv4'] is defined %}
{% if ansible_eth0['ipv4']['address'] is defined %}
    address				{{ ansible_eth0['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif ansible_vlan2 is defined %}
{% if ansible_vlan2['ipv4'] is defined %}
{% if ansible_vlan2['ipv4']['address'] is defined %}
    address				{{ ansible_vlan2['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif ansible_br0 is defined %}
{% if ansible_br0['ipv4'] is defined %}
{% if ansible_br0['ipv4']['address'] is defined %}
    address				{{ ansible_br0['ipv4']['address'] }}
{% endif %}
{% endif %}
{% else %}
    address				{{ ansible_default_ipv4['address'] }}
{% endif %}
    alias				{{ ansible_hostname }}
    contacts				{{ nagios_contacts }}
    host_name				{{ ansible_fqdn }}
    hostgroups				{{ nagios_hostgroups }}
    use					{{ nagios_service_class }}
}
