log_facility=daemon
pid_file={{ nagios_run_dir }}/nrpe.pid
server_port={{ nagios_port }}
{% if nagios_address is defined %}
server_address={{ nagios_address }}
{% elif ansible_eth0 is defined %}
{% if ansible_eth0['ipv4'] is defined %}
{% if ansible_eth0['ipv4']['address'] is defined %}
server_address={{ ansible_eth0['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif ansible_vlan2 is defined %}
{% if ansible_vlan2['ipv4'] is defined %}
{% if ansible_vlan2['ipv4']['address'] is defined %}
server_address={{ ansible_vlan2['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif ansible_br0 is defined %}
{% if ansible_br0['ipv4'] is defined %}
{% if ansible_br0['ipv4']['address'] is defined %}
server_address={{ ansible_br0['ipv4']['address'] }}
{% endif %}
{% endif %}
{% else %}
server_address={{ ansible_default_ipv4['address'] }}
{% endif %}
nrpe_user={{ nagios_user }}
nrpe_group={{ nagios_group }}
allowed_hosts={% for remote in nagios_queryhost %}{{ remote }},{% endfor %}127.0.0.1
dont_blame_nrpe=1
debug=0
command_timeout={{ nagios_command_timeout }}
connection_timeout={{ nagios_connection_timeout }}
command[check_nrpe_available]=/bin/echo "NRPE OK"
{% if ( ansible_virtualization_role is defined and ansible_virtualization_role == "host" ) or ansible_virtualization_role is not defined %}
command[check_hwstatus]={{ nagios_probe_dir }}/check_hwstatus
{% endif %}
command[check_ping]={{ nagios_probe_dir }}/check_ping -H {{ nagios_ping_host }} -w {% if low_latency_uplink is defined %}6{% else %}1{% endif %}00,11% -c{% if low_latency_uplink is defined %}12{% else %}5{% endif %}00,20%
command[check_dns]={{ nagios_probe_dir }}/check_dns -H {{ ntp_server }}
command[check_load]={{ nagios_probe_dir }}/check_load -w {{ nagios_threshold_warn_load }} -c {{ nagios_threshold_crit_load }}
command[check_procs]={{ nagios_probe_dir }}/check_procs -w {{ nagios_threshold_warn_processes }} -c {{ nagios_threshold_crit_processes }}
command[check_rprocs]={{ nagios_probe_dir }}/check_rprocs -w {{ nagios_threshold_warn_runprocesses }} -c {{ nagios_threshold_crit_runprocesses }}
command[check_uptime]={{ nagios_probe_dir }}/check_uptime -w {{ nagios_threshold_warn_uptime }} -c {{ nagios_threshold_crit_uptime }}
command[check_mem]={{ nagios_probe_dir }}/check_mem
{% if ansible_swaptotal_mb is defined and ansible_swaptotal_mb > 0 %}
command[check_swap]={{ nagios_probe_dir }}/check_mem swap
{% endif %}
command[check_users]={{ nagios_probe_dir }}/check_users -w {{ nagios_threshold_warn_users }} -c {{ nagios_threshold_crit_users }}
{% if ansible_system == "Linux" %}
command[check_fsck]={{ nagios_probe_dir }}/check_fsck
{% endif %}
command[check_ssh]={{ nagios_probe_dir }}/check_ssh {% if ssh_port is defined %}-p{{ ssh_port }} {% endif %}127.0.0.1
{% if nagios_watch_partitions is not defined %}
command[check_all_disks]={{ nagios_probe_dir }}/check_disk -w 10% -c 6% -e
{% else %}
{% for watch in nagios_watch_partitions %}
command[check_disk_{{ watch }}]={{ nagios_probe_dir }}/check_disk -w 10% -c 6% -p {{ watch }}
{% endfor %}
{% endif %}
command[check_fdesc]={{ nagios_probe_dir }}/check_fdesc
include_dir={% if ansible_distribution == "FreeBSD" %}/usr/local{% endif %}/etc/nagios/nrpe.d/
