{% if nagios_natted_address is defined %}
addr={{ nagios_natted_address }}
{% elif hostvars[item]['ansible_br2'] is defined %}
{% if hostvars[item]['ansible_br2']['ipv4'] is defined %}
{% if hostvars[item]['ansible_br2']['ipv4']['address'] is defined %}
addr={{ hostvars[item]['ansible_br2']['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif hostvars[item]['ansible_br0'] is defined %}
{% if hostvars[item]['ansible_br0']['ipv4'] is defined %}
{% if hostvars[item]['ansible_br0']['ipv4']['address'] is defined %}
addr={{ hostvars[item]['ansible_br0']['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif hostvars[item]['ansible_vlan2'] is defined %}
{% if hostvars[item]['ansible_vlan2']['ipv4'] is defined %}
{% if hostvars[item]['ansible_vlan2']['ipv4']['address'] is defined %}
addr={{ hostvars[item]['ansible_vlan2']['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif hostvars[item]['ansible_eth0.2'] is defined %}
{% if hostvars[item]['ansible_eth0.2']['ipv4'] is defined %}
{% if hostvars[item]['ansible_eth0.2']['ipv4']['address'] is defined %}
addr={{ hostvars[item]['ansible_eth0.2']['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif hostvars[item]['ansible_eth0'] is defined %}
{% if hostvars[item]['ansible_eth0']['ipv4'] is defined %}
{% if hostvars[item]['ansible_eth0']['ipv4']['address'] is defined %}
addr={{ hostvars[item]['ansible_eth0']['ipv4']['address'] }}
{% endif %}
{% endif %}
{% elif hostvars[item]['ansible_default_ipv4'] is defined %}
{% if hostvars[item]['ansible_default_ipv4']['address'] is defined %}
addr={{ hostvars[item]['ansible_default_ipv4']['address'] }}
{% endif %}
{% endif %}
{% if ssh_natted_port is defined %}
port={{ ssh_natted_port }}
{% else %}
{% if ssh_port != 22 %}
port={{ ssh_port }}
{% endif %}
{% endif %}
host={{ item }}
user={{ nagios_user }}
