#!/bin/sh

export PATH=/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin

{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
/etc/init.d/nagios-nrpe-server restart
{% else %}
{% if ansible_distribution == "CentOS" or ansible_distribution == "RedHat" %}
/etc/init.d/nrpe restart
{% else %}
{% if ansible_distribution == "FreeBSD" %}
/usr/local/etc/rc.d/nrpe2 restart
{% else %}
{% if ansible_distribution == "OpenBSD" %}
/etc/rc.d/nrpe restart
{% endif %}
{% endif %}
{% endif %}
{% endif %}

exit 0
