listen_addr        = {{ libvirt_listen_addr }}
{% if libvirt_network == true %}
listen_tcp         = 1
{% endif %}
listen_tls         = 1
log_level          = 2
log_outputs        = "2:syslog:libvirtd"
max_clients        = {{ libvirt_max_clients }}
max_workers        = {{ libvirt_max_workers }}
min_workers        = {{ libvirt_min_workers }}
mds_adv            = 0
tcp_port           = {{ libvirt_plain_port }}
tls_port           = {{ libvirt_tls_port }}
unix_sock_group    = {{ libvirt_group }}
unix_sock_rw_perms = "0770"

{% if libvirt_network == true %}
auth_tcp           = "sasl"
{% endif %}
auth_tls           = "sasl"
auth_unix_ro       = "none"
auth_unix_rw       = "none"
{% if libvirt_network == true %}
ca_file            = /etc/libvirt/ssl/service-ca.crt
cert_file          = /etc/libvirt/ssl/server.crt
key_file           = /etc/libvirt/ssl/server.key
{% endif %}
