test -z "$PS1" && return
test -z "$debian_chroot" -a -r /etc/debian_chroot && debian_chroot=$(cat /etc/debian_chroot)
test -f /etc/bash_completion && . /etc/bash_completion
export EDITOR=vim
export HISTTIMEFORMAT="%Y/%m/%d - %H:%M:%S "
export HISTIGNORE=ls
export LANG={{ lang_locale }}
export LC_MESSAGES={{ lang_locale }}
export LESS="-X"
export PAGER=/usr/bin/less
export SHELL=/bin/bash

case $TERM in
    xterm*|rxvt)
	TITLEBAR='\[\e]0;\h:\w\a\]'
	;;

    *)
	TITLEBAR=""
	;;
esac

if test -d /etc/profile.d; then
    for config in /etc/profile.d/*
    do
	if ! test -e $config; then
	    continue
	elif ! test -r $config; then
	    continue
	elif ! grep '#!/bin/[ba]*sh' $config >/dev/null; then
	    continue
	fi
	. $config
    done
fi
if test `id -u` = 0; then
    export PS1=$TITLEBAR'\[\e[{{ shell_prompt_style }};{{ shell_prompt_color }}m\]\h:\w\[\e[$(($??7:0));37m\]\$\[\e[0;0m\] '
else
    export PS1=$TITLEBAR'\[\e[{{ shell_prompt_style }};{{ shell_prompt_color }}m\]$USER@\h:\w\[\e[$(($??7:0));37m\]\$\[\e[0;0m\] '
fi
test -f ~/.mybashrc && . ~/.mybashrc
