#!/bin/sh

export PATH=/sbin:/usr/sbin:/bin:/usr/bin

if ! test -d {{ munin_lib_dir }}; then
    exit 2
elif ! mount 2>&1 | grep " {{ munin_lib_dir }} " >/dev/null; then
    exit 0	# whatfor?
fi

cd {{ munin_lib_dir }}

if ! find . -type f | grep '[a-z]'; then
    exit 0	# munin not started yet, not backsyncing
elif ! rsync -avWx . {{ munin_lib_dir }}static; then
    exit 1	# shithappen'
fi

sync

exit $?
