#! /bin/sh
### BEGIN INIT INFO
# Provides:          munin
# Required-Start:    $network $remote_fs
# Required-Stop:     $network $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: munin graphing tool
# Description:       munin graphing tool
### END INIT INFO

. /lib/lsb/init-functions

alias failure=log_failure_msg
alias mlog='echo -n'
alias success=log_success_msg

PRG=`basename "$0"`
RET=1

usage()
{
    echo "Usage: $PRG {start|stop|restart|status or usage}"
}

start()
{
    if test -d /var/lib/muninstatic; then
	cd /var/lib/muninstatic
	if ! rsync -avWx . /var/lib/munin; then
	    echo "Failed populating DB" >&2
	    return 1
	fi
    fi
    mkdir -p {{ munin_run_dir }} {{ munin_log_dir }}
    chown -R {{ munin_user }} {{ munin_run_dir }} {{ munin_log_dir }}
    return $?
}

knockknock
{
    if ! test -d /var/lib/munin; then
	echo "libdir missing" >&2
	return 1
    fi
    cd /var/lib/munin
    if find -type f | grep '[a-z]' >/dev/null; then
	return 0
    fi

    return 1
}

case "$1" in
    start)
	if ! knockknock; then
	    echo -n starting munin
	    start
	    success ; echo
	fi
	;;

    stop)
	/usr/local/bin/munin-backsync >/dev/null 2>&1
	;;

    status)
	if ! knockknock; then
	    echo "ca sent lsapin"
	    exit 3
	fi
	echo "pong"
	;;

    restart)
	"$0" stop
	"$0" start
	;;

    help|usage)
	usage
	;;

    *)
	usage >&2
	exit 3
	;;
esac

exit 0
