{{ munin_log_dir }}/munin-update.log {{ munin_log_dir }}/munin-graph.log {{ munin_log_dir }}/munin-html.log {{ munin_log_dir }}/munin-limits.log {
    compress
    create 640 {{ munin_user }} {{ munin_group }}
    daily
    missingok
    notifempty
    rotate {{ munin_log_retention }}
}
