$ModLoad imfile
{% for channel in munin_rsyslog_channels %}

$InputFileName		{{ munin_log_dir }}/{{ channel }}.log
$InputFileTag		{{ channel }}:
$InputFileStateFile	{{ channel }}
$InputFileSeverity	info
$InputFileFacility	local7
$InputRunFileMonitor
{% endfor %}
