listen_addr="{% if snmp_listen_address is defined %}{{ snmp_listen_address }}{% else %}{{ ansible_default_ipv4['address'] }}{% endif %}"
listen on $listen_addr
read-only community {{ snmp_community }}
system contact "{{ snmp_display_name }} (root@{{ ansible_fqdn }})"
system description "{{ ansible_distribution }}-{% if ansible_distribution_version == "NA" %}{{ ansible_kernel }}{% else %}{{ ansible_distribution_version }}{% endif %}-{{ ansible_machine }}"
system location "{{ snmp_location }}"
system services {{ snmp_system_services }}
