py = {}
py["blog_title"] = "{{ pyblosxom_title }}"
py["blog_description"] = "{{ pyblosxom_description }}"
py["blog_author"] = "{{ pyblosxom_author }}"
py["blog_email"] = "{{ pyblosxom_contact }}"
py["blog_language"] = "{{ lang_locale_shorter }}"
py["blog_encoding"] = "iso-8859-1"
py["blog_rights"] = "{% if pyblosxom_copyright is defined %}{{ pyblosxom_copyright }}{% endif %}"
{% if pyblosxom_coordinates is defined %}
py["blog_icbm"] = '48.792716,2.359279'
{% endif %}
py["datadir"] = "{{ pyblosxom_root }}"
py["depth"] = {{ pyblosxom_depth }}
py["num_entries"] = {{ pyblosxom_numentries }}
py["default_flavour"] = "html"
py["logdir"] = "/var/log/pyblosxom"
py["flavourdir"] = "{{ pyblosxom_root }}/flavours"
py["plugin_dirs"] = ["{{ pyblosxom_root }}/plugins"]
py["log_file"] = "pyblosxom.log"
py["log_level"] = "warning"
py["base_url"] = "http://{% if pyblosxom_vhost is defined %}{{ pyblosxom_vhost }}{% else %}{{ ansible_fqdn }}{% endif %}"
py["load_plugins"] = [{% if pyblosxom_plugins is defined %}{% for elt in pyblosxom_plugins %}"{{ elt }}",{% endfor %}{% endif %}]
py["staticdir"] = "{{ pyblosxom_cachedir }}"
py["static_dir"] = "{{ pyblosxom_cachedir }}"
py["static_flavours"] = ["html"]
#py["static_urls"] = ["/booklist.rss", "/booklist.html"]
py["static_monthnames"] = 1
py["static_monthnumbers"] = 0
