#!/bin/sh
### BEGIN INIT INFO
# Provides:		sickmuse
# Required-Start:	$network $syslog
# Required-Stop:	$network $syslog
# Default-Start:	2 3 4 5
# Default-Stop:		0 1 6
# Short-Description:	sickmuse collectd frontend
### END INIT INFO

DAEMON={{ sickmuse_bin }}
LOGDIR=/var/log/sickmuse
NAME="SickMuse Services"

if test -f /etc/default/sickmuse; then
    . /etc/default/sickmuse
fi

test "$PORT" || PORT={{ sickmuse_listen_port }}

case "$1" in
    start)
	if $0 status >/dev/null 2>&1; then
	    echo "$NAME already running" >&2
	    exit 2
	fi
	echo -n "Starting $NAME: "
	test -d $LOGDIR || mkdir -p $LOGDIR
	$DAEMON --port=$PORT >$LOGDIR/sickmuse.log 2>&1 &
	sleep 2
	if ! $0 status >/dev/null 2>&1; then
	    echo Failed >&2
	    exit 3
	fi
	echo done.
	;;

    stop)
	if ! $0 status >/dev/null 2>&1; then
	    echo "$NAME not running" >&2
	    exit 1
	fi
	echo -n "Stopping $NAME: "
	for i in `ps axww | grep '[s]ickmuse --port ' | awk '{print $1}'`
	do
	    kill $i || kill -9 $i || kill -6 $pid
	done >/dev/null 2>&1
	sleep 1
	if $0 status >/dev/null 2>&1; then
	    echo Failed >&2
	    exit 3
	else
	    echo done.
	fi
	;;

    status)
	if ps axww | grep '[s]ickmuse --port' >/dev/null; then
	    echo "$NAME running"
	else
	    echo "$NAME is not running"
	    exit 3
	fi
	;;

    restart)
	$0 stop
	$0 start
	;;
esac

exit 0
